openapi: 3.2.0
info:
  title: Inventory - AWS IAM Cloud Iam User API
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Cloud Iam User
paths:
  /v2/CloudIamUser:
    get:
      tags:
      - Cloud Iam User
      summary: Get
      operationId: CloudIamUser_GetAsync_get_/v2/CloudIamUser
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudIamUserViewModel'
      description: Fetch all IAM users for the user from all cloud accounts.
components:
  schemas:
    Dome9.Web.Api.Models.CloudIamUserViewModel.PermissionsBoundary:
      type: object
      properties:
        permissionsBoundaryArn:
          type: string
        permissionsBoundaryType:
          type: string
    Dome9.Web.Api.Models.CloudIamUserViewModel.SSHPublicKeyMetaDataViewModel:
      type: object
      properties:
        sshPublicKeyId:
          type: string
        status:
          type: string
        uploadDate:
          format: date-time
          type: string
        userName:
          type: string
    Dome9.Web.Api.SubTypes.CloudIamUserAttachedManagedPolicyViewModel:
      type: object
      properties:
        arn:
          type: string
        name:
          type: string
    Dome9.Web.Api.SubTypes.CloudIamUserInlinePolicyViewModel:
      type: object
      properties:
        policyName:
          type: string
        policyDocument:
          type: object
    Dome9.Web.Api.Models.CloudIamUserViewModel:
      type: object
      properties:
        externalId:
          type: string
        name:
          type: string
        accountId:
          format: int64
          type: integer
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        arn:
          type: string
        createDate:
          format: date-time
          type: string
        path:
          type: string
        passwordLastReset:
          format: date-time
          type: string
        attachedManagedPolicies:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.SubTypes.CloudIamUserAttachedManagedPolicyViewModel'
        attachedGroups:
          type: array
          items:
            type: string
        tags:
          type: object
          additionalProperties:
            type: string
        inlinePolicies:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.SubTypes.CloudIamUserInlinePolicyViewModel'
        userPermissionsBoundary:
          $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudIamUserViewModel.PermissionsBoundary'
        sshPublicKeys:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudIamUserViewModel.SSHPublicKeyMetaDataViewModel'
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
