info:
  title: Inventory - Azure
  version: v2
openapi: 3.0.0
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
paths:
  /v2/AzureAnalysisService:
    get:
      tags:
      - Azure Analysis Service
      summary: Get
      operationId: AzureAnalysisService_Get_get_/v2/AzureAnalysisService
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Azure.AnalysisService.AzureAnalysisServiceViewModel'
      description: Fetch all Analysis Service Servers for all cloud accounts
  /v2/AzureAnalysisService/{id}:
    get:
      tags:
      - Azure Analysis Service
      summary: Get
      operationId: AzureAnalysisService_Get_get_/v2/AzureAnalysisService/{id}
      parameters:
      - name: id
        in: path
        description: Dome9Id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Azure.AnalysisService.AzureAnalysisServiceViewModel'
      description: Get Analysis Service Server by Dome9Id or throw exception
  /v2/AzureApplicationGateway:
    get:
      tags:
      - Azure Application Gateway
      operationId: AzureApplicationGateway_Get_get_/v2/AzureApplicationGateway
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Azure.ApplicationGateway.AzureApplicationGatewayViewModel'
      description: ''
      summary: Get
  /v2/AzureApplicationGateway/{id}:
    get:
      tags:
      - Azure Application Gateway
      operationId: AzureApplicationGateway_Get_get_/v2/AzureApplicationGateway/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Azure.ApplicationGateway.AzureApplicationGatewayViewModel'
      description: ''
      summary: Get
  /v2/AzureApplicationSecurityGroup/{id}:
    get:
      tags:
      - Azure Application Security Group
      summary: Get By Id
      operationId: AzureApplicationSecurityGroup_GetById_get_/v2/AzureApplicationSecurityGroup/{id}
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureApplicationSecurityGroupViewModel'
      description: get a specific Application Security Group by name and resource group
  /v2/AzureApplicationSecurityGroup/CloudAccountId/{cloudAccountId}/Region/{region}:
    get:
      tags:
      - Azure Application Security Group
      summary: Get By Cloud Account And Region
      operationId: AzureApplicationSecurityGroup_GetByCloudAccountAndRegion_get_/v2/AzureApplicationSecurityGroup/CloudAccountId/{cloudAccountId}/Region/{region}
      parameters:
      - name: cloudAccountId
        in: path
        description: ''
        required: true
        schema:
          type: string
          format: uuid
      - name: region
        in: path
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureApplicationSecurityGroupViewModel'
      description: get all application security group of cloudAccount by region
  /v2/AzureApplicationSecurityGroup:
    get:
      tags:
      - Azure Application Security Group
      summary: Get
      operationId: AzureApplicationSecurityGroup_Get_get_/v2/AzureApplicationSecurityGroup
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureApplicationSecurityGroupViewModel'
      description: get all Application Security Groups
  /v2/AzureComputeGalleryImage:
    get:
      tags:
      - Azure Compute Gallery Image
      operationId: AzureComputeGalleryImage_GetAsync_get_/v2/AzureComputeGalleryImage
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Azure.ComputeGalleryImage.ViewModels.AzureComputeGalleryImageViewModel'
      description: ''
      summary: Get
  /v2/AzureCosmosDbAccount:
    get:
      tags:
      - Azure Cosmos Db Account
      operationId: AzureCosmosDbAccount_Get_get_/v2/AzureCosmosDbAccount
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Azure.CosmosDbAccount.AzureCosmosDbAccountViewModel'
      description: ''
      summary: Get
  /v2/AzureCosmosDbAccount/{id}:
    get:
      tags:
      - Azure Cosmos Db Account
      operationId: AzureCosmosDbAccount_Get_get_/v2/AzureCosmosDbAccount/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Azure.CosmosDbAccount.AzureCosmosDbAccountViewModel'
      description: ''
      summary: Get
  /v2/AzureDisk:
    get:
      tags:
      - Azure Disk
      operationId: AzureDisk_Get_get_/v2/AzureDisk
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Azure.Disk.DiskViewModel'
      description: ''
      summary: Get
  /v2/AzureDisk/{id}:
    get:
      tags:
      - Azure Disk
      operationId: AzureDisk_Get_get_/v2/AzureDisk/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Azure.Disk.DiskViewModel'
      description: ''
      summary: Get
  /v2/AzureFunction:
    get:
      tags:
      - Azure Function
      operationId: AzureFunction_Get_get_/v2/AzureFunction
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.AzureAppServiceViewModel'
      description: ''
      summary: Get
  /v2/AzureFunction/{id}:
    get:
      tags:
      - Azure Function
      operationId: AzureFunction_Get_get_/v2/AzureFunction/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Falconetix.Model.AzureAppServiceViewModel'
      description: ''
      summary: Get
  /v2/AzureKeyVault:
    get:
      tags:
      - Azure Key Vault
      operationId: AzureKeyVault_Get_get_/v2/AzureKeyVault
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Azure.KeyVault.AzureKeyVaultViewModel'
      description: ''
      summary: Get
  /v2/AzureKeyVault/{id}:
    get:
      tags:
      - Azure Key Vault
      operationId: AzureKeyVault_Get_get_/v2/AzureKeyVault/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Azure.KeyVault.AzureKeyVaultViewModel'
      description: ''
      summary: Get
  /v2/AzureKubernetes:
    get:
      tags:
      - Azure Kubernetes
      operationId: AzureKubernetes_Get_get_/v2/AzureKubernetes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesViewModel'
      description: ''
      summary: Get
  /v2/AzureKubernetes/{id}:
    get:
      tags:
      - Azure Kubernetes
      operationId: AzureKubernetes_Get_get_/v2/AzureKubernetes/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesViewModel'
      description: ''
      summary: Get
  /v2/AzureLoadBalancer:
    get:
      tags:
      - Azure Load Balancer
      operationId: AzureLoadBalancer_Get_get_/v2/AzureLoadBalancer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureLoadBalancerViewModel'
      description: ''
      summary: Get
  /v2/AzureLoadBalancer/{id}:
    get:
      tags:
      - Azure Load Balancer
      operationId: AzureLoadBalancer_Get_get_/v2/AzureLoadBalancer/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureLoadBalancerViewModel'
      description: ''
      summary: Get
  /v2/AzureLock:
    get:
      tags:
      - Azure Lock
      operationId: AzureLock_Get_get_/v2/AzureLock
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Azure.Locks.AzureLockViewModel'
      description: ''
      summary: Get
  /v2/AzureLock/{id}:
    get:
      tags:
      - Azure Lock
      operationId: AzureLock_Get_get_/v2/AzureLock/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Azure.Locks.AzureLockViewModel'
      description: ''
      summary: Get
  /v2/AzureLogicApp:
    get:
      tags:
      - Azure Logic App
      operationId: AzureLogicApp_Get_get_/v2/AzureLogicApp
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.AzureLogicAppViewModel'
      description: ''
      summary: Get
  /v2/AzureLogicApp/{id}:
    get:
      tags:
      - Azure Logic App
      summary: Get
      operationId: AzureLogicApp_Get_get_/v2/AzureLogicApp/{id}
      parameters:
      - name: id
        in: path
        description: Dome9 Id of Logic App
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Falconetix.Model.AzureLogicAppViewModel'
      description: Get specific LogicApp by Dome9 Id
  /v2/AzureLogProfile:
    get:
      tags:
      - Azure Log Profile
      operationId: AzureLogProfile_Get_get_/v2/AzureLogProfile
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Azure.LogProfile.AzureLogProfileViewModel'
      description: ''
      summary: Get
  /v2/AzurePolicyAssignment/{id}:
    get:
      tags:
      - Azure Policy Assignment
      operationId: AzurePolicyAssignment_Get_get_/v2/AzurePolicyAssignment/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Azure.PolicyAssignment.AzurePolicyAssignmentViewModel'
      description: ''
      summary: Get
  /v2/AzurePolicyAssignment:
    get:
      tags:
      - Azure Policy Assignment
      operationId: AzurePolicyAssignment_Get_get_/v2/AzurePolicyAssignment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Azure.PolicyAssignment.AzurePolicyAssignmentViewModel'
      description: ''
      summary: Get
  /v2/AzureRedisCache:
    get:
      tags:
      - Azure Redis Cache
      operationId: AzureRedisCache_Get_get_/v2/AzureRedisCache
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Azure.RedisCache.ViewModels.AzureRedisCacheViewModel'
      description: ''
      summary: Get
  /v2/AzureRedisCache/{id}:
    get:
      tags:
      - Azure Redis Cache
      operationId: AzureRedisCache_Get_get_/v2/AzureRedisCache/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Azure.RedisCache.ViewModels.AzureRedisCacheViewModel'
      description: ''
      summary: Get
  /v2/AzureResourceGroup:
    get:
      tags:
      - Azure Resource Group
      operationId: AzureResourceGroup_Get_get_/v2/AzureResourceGroup
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureResourceGroupViewModel'
      description: ''
      summary: Get
  /v2/AzureResourceGroup/{id}:
    get:
      tags:
      - Azure Resource Group
      operationId: AzureResourceGroup_Get_get_/v2/AzureResourceGroup/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureResourceGroupViewModel'
      description: ''
      summary: Get
  /v2/AzureRouteTable:
    get:
      tags:
      - Azure Route Table
      operationId: AzureRouteTable_GetAsync_get_/v2/AzureRouteTable
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Azure.RouteTable.AzureRouteTableViewModel'
      description: ''
      summary: Get
  /v2/AzureRouteTable/{id}:
    get:
      tags:
      - Azure Route Table
      operationId: AzureRouteTable_GetAsync_get_/v2/AzureRouteTable/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Azure.RouteTable.AzureRouteTableViewModel'
      description: ''
      summary: Get
  /v2/AzureSnapshot:
    get:
      tags:
      - Azure Snapshot
      operationId: AzureSnapshot_Get_get_/v2/AzureSnapshot
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Azure.Snapshot.AzureSnapshotViewModel'
      description: ''
      summary: Get
  /v2/AzureSnapshot/{id}:
    get:
      tags:
      - Azure Snapshot
      operationId: AzureSnapshot_Get_get_/v2/AzureSnapshot/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Azure.Snapshot.AzureSnapshotViewModel'
      description: ''
      summary: Get
  /v2/AzureSqlServer:
    get:
      tags:
      - Azure Sql Server
      operationId: AzureSqlServer_Get_get_/v2/AzureSqlServer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Azure.SqlServers.ViewModels.AzureSqlServerViewModel'
      description: ''
      summary: Get
  /v2/AzureSqlServer/{id}:
    get:
      tags:
      - Azure Sql Server
      operationId: AzureSqlServer_Get_get_/v2/AzureSqlServer/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Azure.SqlServers.ViewModels.AzureSqlServerViewModel'
      description: ''
      summary: Get
  /v2/AzureStorageAccounts:
    get:
      tags:
      - Azure Storage Accounts
      operationId: AzureStorageAccounts_Get_get_/v2/AzureStorageAccounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Azure.Storage.ViewModels.AzureStorageAccountViewModel'
      description: ''
      summary: Get
  /v2/AzureStorageAccounts/{id}:
    get:
      tags:
      - Azure Storage Accounts
      operationId: AzureStorageAccounts_Get_get_/v2/AzureStorageAccounts/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Azure.Storage.ViewModels.AzureStorageAccountViewModel'
      description: ''
      summary: Get
  /v2/AzureStorageBlobContainer:
    get:
      tags:
      - Azure Storage Blob Container
      operationId: AzureStorageBlobContainer_GetAll_get_/v2/AzureStorageBlobContainer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Azure.StorageBlobContainer.AzureStorageBlobContainerViewModel'
      description: ''
      summary: Get All
  /v2/AzureSubnet:
    get:
      tags:
      - Azure Subnet
      operationId: AzureSubnet_Get_get_/v2/AzureSubnet
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureSubnetViewModel'
      description: ''
      summary: Get
  /v2/AzureSubnet/{id}:
    get:
      tags:
      - Azure Subnet
      operationId: AzureSubnet_Get_get_/v2/AzureSubnet/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureSubnetViewModel'
      description: ''
      summary: Get
  /v2/AzureUser:
    get:
      tags:
      - Azure User
      operationId: AzureUser_Get_get_/v2/AzureUser
      parameters:
      - name: cloudAccountId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Azure.User.AzureUserViewModel'
      description: ''
      summary: Get
  /v2/AzureUser/{id}:
    get:
      tags:
      - Azure User
      operationId: AzureUser_Get_get_/v2/AzureUser/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Azure.User.AzureUserViewModel'
      description: ''
      summary: Get
  /v2/AzureVirtualMachine:
    get:
      tags:
      - Azure Virtual Machine
      operationId: AzureVirtualMachine_Get_get_/v2/AzureVirtualMachine
      parameters:
      - name: cloudAccountId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureVirtualMachineViewModel'
      description: ''
      summary: Get
  /v2/AzureVirtualMachine/{id}:
    get:
      tags:
      - Azure Virtual Machine
      operationId: AzureVirtualMachine_Get_get_/v2/AzureVirtualMachine/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureVirtualMachineViewModel'
      description: ''
      summary: Get
  /v2/AzureVirtualMachineImage:
    get:
      tags:
      - Azure Virtual Machine Image
      operationId: AzureVirtualMachineImage_GetAsync_get_/v2/AzureVirtualMachineImage
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Azure.VirtualMachineImage.AzureVirtualMachineImageViewModel'
      description: ''
      summary: Get
  /v2/AzureVirtualMachineScaleSet:
    get:
      tags:
      - Azure Virtual Machine Scale Set
      summary: Get
      operationId: AzureVirtualMachineScaleSet_Get_get_/v2/AzureVirtualMachineScaleSet
      parameters:
      - name: cloudAccountId
        in: query
        description: Identifier of cloud account
        required: false
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.AzureVirtualMachineScaleSetViewModel'
      description: Get all ScaleSets by CloudAccountId
  /v2/AzureVirtualNetworkPeering:
    get:
      tags:
      - Azure Virtual Network Peering
      operationId: AzureVirtualNetworkPeering_Get_get_/v2/AzureVirtualNetworkPeering
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Model.AzureVirtualNetworkPeeringViewModel'
      description: ''
      summary: Get
  /v2/AzureVirtualNetworkPeering/{id}:
    get:
      tags:
      - Azure Virtual Network Peering
      operationId: AzureVirtualNetworkPeering_Get_get_/v2/AzureVirtualNetworkPeering/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Model.AzureVirtualNetworkPeeringViewModel'
      description: ''
      summary: Get
  /v2/AzureWebApp:
    get:
      tags:
      - Azure Web App
      operationId: AzureWebApp_Get_get_/v2/AzureWebApp
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.AzureAppServiceViewModel'
      description: ''
      summary: Get
  /v2/AzureWebApp/{id}:
    get:
      tags:
      - Azure Web App
      operationId: AzureWebApp_Get_get_/v2/AzureWebApp/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Falconetix.Model.AzureAppServiceViewModel'
      description: ''
      summary: Get
tags:
- name: AccessLease
  description: Access Leases
- name: AccessLeaseInvitation
  description: Access Lease Invitations
- name: Account
- name: AccountLimitation
- name: AccountPollingInterval
- name: AccountRegistration
- name: AccountTrust
  description: "Allow you to define a trust between accounts in order to allow users in a certain account to make changes\
    \ and operation on another account.\nActions can be taken on a trustee account via a role which is defined on it. \nThe\
    \ role should be assumed by a user from the trusted account."
- name: Agent
- name: Agentless
  description: Agentless Workload Posture
- name: Alert
- name: AlibabaCloudAccount
  description: Alibaba Cloud Accounts
- name: Application
- name: Assessment
  description: Run and View Compliance Assessments
- name: AssessmentHistory
- name: AssessmentHistoryV2
  description: Compliance Assessment History
- name: Audit
  description: Audit logs
- name: Auth
- name: Aws Cloud Account
  description: Manage AWS Cloud Accounts
- name: AwsAppSync
- name: AwsBackupVault
- name: AwsConfigSettings
- name: AwsCustomerGateway
- name: AwsEcsTask
- name: AwsEks
- name: AwsElasticIp
- name: AwsElasticsearchDomain
- name: AwsEmrCluster
- name: AwsInspectorFindings
- name: AwsInspectorRuns
- name: AwsLoadBalancersNetworkInterfaces
- name: AwsOrganizations
- name: AwsQuickSightAccount
- name: AwsQuickSightGroup
- name: AwsQuickSightUser
- name: AwsQuickSightVpcConnections
- name: AwsSageMaker
- name: AwsSecurityGroup
- name: AwsSecurityGroupPolicy
- name: AwsSecurityGroupsIndex
- name: AwsUnifiedOnboarding
  description: Aws Unified Onboarding
- name: AwsVpcEndpoint
- name: AzureAnalysisService
- name: AzureApplicationGateway
- name: AzureApplicationSecurityGroup
- name: AzureCloudAccount
  description: Onboard Azure accounts
- name: AzureComputeGalleryImage
- name: AzureCosmosDbAccount
- name: AzureDisk
- name: AzureFunction
- name: AzureKeyVault
- name: AzureKubernetes
- name: AzureLoadBalancer
- name: AzureLock
- name: AzureLogicApp
- name: AzureLogProfile
- name: AzurePolicyAssignment
- name: AzureRedisCache
- name: AzureResourceGroup
- name: AzureRouteTable
- name: AzureSecurityGroup
- name: AzureSecurityGroupPolicy
  description: Azure Network Security Group Policies
- name: AzureSnapshot
- name: AzureSqlDb
- name: AzureSqlServer
- name: AzureStorageAccounts
- name: AzureStorageBlobContainer
- name: AzureSubnet
- name: AzureUser
- name: AzureVirtualMachine
- name: AzureVirtualMachineImage
- name: AzureVirtualMachineScaleSet
- name: AzureVirtualNetworkPeering
- name: AzureWebApp
- name: BigTable
- name: BillableAssets
  description: Retrieve billable assets data
- name: BillableAssetsReport
  description: Billable Assets Report
- name: Billing
- name: Clarity
- name: CloudAcmCertificate
- name: CloudAmi
- name: CloudAutoScalingGroup
- name: CloudDbInstance
- name: CloudDirectConnect
- name: CloudDynamoDb
- name: CloudEcsCluster
- name: CloudEcsService
  description: Cloud Ecs Service
- name: CloudEcsTaskDefinition
- name: CloudEfs
- name: CloudElastiCacheCluster
- name: CloudFlowLogs
- name: CloudFrontDistribution
- name: CloudGuardDutyDetector
- name: CloudIamAccountSummary
- name: CloudIamCredentialReport
- name: CloudIamGroup
- name: CloudIamPasswordPolicy
- name: CloudIamPolicy
- name: CloudIamRole
- name: CloudIamServerCertificate
- name: CloudIamUser
- name: CloudIamVirtualMfaDevice
- name: CloudInfraUser
  description: CloudInfra Users
- name: CloudInstance
  description: Cloud Instances
- name: CloudInternetGateway
- name: CloudKinesisStream
- name: CloudKms
- name: CloudKmsAlias
- name: CloudLambdaFunction
  description: Cloud Lambda Function
- name: CloudLoadBalancer
- name: CloudLogGroups
- name: CloudMetricAlarm
- name: CloudNacl
- name: CloudNetworkInterfaces
- name: CloudRedshiftCluster
- name: CloudRegion
- name: CloudRoute53Domain
- name: CloudRoute53HostedZone
- name: CloudRoute53RecordSetGroup
- name: CloudRouteTable
- name: CloudS3Bucket
  description: ''
- name: CloudSecurityGroup
  description: AWS Security Groups
- name: CloudSnsSubscription
- name: CloudSnsTopic
- name: CloudSql
- name: CloudSqs
  description: ''
- name: CloudSubnet
- name: CloudTrail
  description: CloudTrail
- name: CloudVolume
- name: CloudVpc
- name: CloudVpcPeeringConnection
- name: CloudVPNConnection
- name: CloudVpnGateway
- name: CloudWAFRegional
- name: CloudWatchEventsRule
  description: CloudWatchEventsRule
- name: ComplianceExclusion
  description: Compliance Exclusions
- name: CompliancePolicy
- name: ComplianceRemediation
  description: Compliance Remediation
- name: ComplianceRemediationOld
  description: Compliance Remediation - DEPRECATED - please use /Compliance/Remediation instead
- name: ComplianceRuleset
  description: ComplianceRuleset
- name: ContinuousComplianceNotification
  description: Continuous Compliance Notification Policies
- name: ContinuousCompliancePolicy
- name: ContinuousCompliancePolicyV2
  description: Continuous Compliance Policies
- name: EmergencyPolicy
- name: EntityFetchStatus
- name: EntityReport
- name: ExclusionOld
  description: Compliance Exclusions - DEPRECATED - please use /Compliance/Exclusion instead
- name: ExternalFindings
  description: Findings from External (3rd-party) systems
- name: Fim
- name: Finding
  description: Compliance Findings
- name: FindingsReport
  description: Compliance Findings csv reports
- name: GcpBigQuery
- name: GcpDisk
- name: GcpGkeCluster
- name: GcpImage
- name: GcpKmsKeyRing
- name: GcpProjectInfo
  description: Google Cloud Project Info
- name: GcpPubSub
- name: GcpSecurityGroup
- name: GcpServiceAccount
- name: GcpStorageBucket
- name: GenericList
  description: Generic Lists
- name: GlobalSearch
  description: Global search for all CloudGuard services
- name: GoogleCloudAccount
  description: Google Cloud Accounts
- name: GoogleCloudFirewallRule
- name: GoogleCloudFunction
- name: GoogleCloudIamPolicy
- name: GoogleCloudNetwork
  description: Google Cloud Network
- name: GoogleCloudSubnet
- name: GoogleCloudVMInstance
- name: Home
- name: IamSafeLease
  description: IAM Safety Leases
- name: IncidentsStatus
- name: InfrastructureAssessment
- name: Intelligence
  description: CloudGuard Intelligence allows you to visualize and analyze Account Activity and Network Traffic into and out
    of your cloud environment.
- name: IpAddressMetadata
  description: IP Address Metadata
- name: IpList
  description: IP Lists
- name: LicenseActivator
- name: Licensing
- name: ManagedGenericList
- name: Msp
- name: OrganizationalUnit
  description: Manage Organizational Units
- name: Permission
- name: ProtectedAsset
- name: ProtectedAssetsReport
  description: Compliance Protected Asset csv reports
- name: ProtegoStatistics
  description: Protego statistics by dates
- name: Role
  description: CloudGuard Roles
- name: RulesEngine
- name: SecurityGroup
- name: Serverless
- name: ServerlessPolicy
  description: Serverless policy
- name: ServiceAccount
  description: CloudGuard Service Accounts
- name: ServicePort
- name: Settings
  description: Account Settings
- name: ShiftLeft
  description: ShiftLeft
- name: SystemHealth
- name: TenableAccount
  description: Onboard Tenable accounts
- name: User
  description: CloudGuard account users
- name: BaseImage
  description: ''
- name: ContainerRegistryAccount
  description: Container Registry Account
- name: ContainerRegistryAccountInternal
  description: ''
- name: ContainerRegistryImageAssurancePolicy
  description: '(deprecated: move to use /v2/vulnerability/policy)'
- name: Dashboard
  description: ''
- name: EcsConfiguration
  description: ''
- name: EcsImageAssurancePolicy
  description: '(deprecated: move to use /v2/vulnerability/policy)'
- name: EcsImageScan
  description: ECS Image Scan Configuration
- name: Environment
  description: ''
- name: ImageAdmissionExclusion
  description: '[Preview feature] Kubernetes Image admission exclusions'
- name: ImageAssuranceDashboard
  description: ''
- name: ImageAssuranceReport
  description: ''
- name: KubernetesAccount
  description: Kubernetes Accounts
- name: KubernetesAccountInternal
  description: ''
- name: KubernetesAccountOld
  description: '(deprecated: this api is deprecated, please use ''/v2/kubernetes/account'' instead)'
- name: KubernetesAdmissionControl
  description: Kubernetes Admission Control
- name: KubernetesAdmissionControlPoliciesSummary
  description: ''
- name: KubernetesClusterRole
  description: ''
- name: KubernetesImage
  description: ''
- name: KubernetesImageAdmissionExclusion
  description: '[Preview feature] Kubernetes Image admission exclusions (deprecated: this api is deprecated, please use ''/v2/kubernetes/admissionControl/imageAdmissionExclusion''
    instead)'
- name: KubernetesImageAssurance
  description: Kubernetes Image Assurance
- name: KubernetesImageAssurancePolicy
  description: 'Kubernetes Image Assurance Policy (deprecated: move to use /v2/vulnerability/policy)'
- name: KubernetesIngress
  description: ''
- name: KubernetesNetworkPolicy
  description: ''
- name: KubernetesNode
  description: ''
- name: KubernetesPod
  description: ''
- name: KubernetesPodGroup
  description: Kubernetes Pod Groups
- name: KubernetesPodGroupOwner
  description: ''
- name: KubernetesPodSecurityPolicy
  description: ''
- name: KubernetesRole
  description: ''
- name: KubernetesRuntimeAssurance
  description: ''
- name: KubernetesService
  description: ''
- name: KubernetesServiceAccount
  description: ''
- name: Shiftleft
  description: ''
- name: ShiftLeftAccount
  description: ShiftLeft
- name: ShiftLeftPolicy
  description: 'ShiftLeft Policy (deprecated: move to use /v2/vulnerability/policy)'
- name: Workload
  description: ''
- name: WorkloadAccountSetting
  description: Workload Account Setting
- name: WorkloadChangeMonitoring
  description: ''
- name: WorkloadImageAssurance
  description: Workload Image Assurance
- name: WorkloadImageAssuranceInternal
  description: ''
- name: WorkloadInternal
  description: ''
- name: WorkloadRuntimeProtection
  description: ''
- name: Alerts
  description: ''
- name: Azure
  description: ''
- name: FindingOrchestration
  description: ''
- name: FindingsUpdate
  description: ''
- name: Gcp
  description: ''
- name: Remediation
  description: Remediation Actions
- name: Reports
  description: ''
- name: CloudInfraMigration
  description: infinity-portal-connect
- name: GslBuilder
  description: ''
- name: Infrastructure
  description: ''
- name: InternalLicense
  description: ''
- name: NotificationIntegrationInternal
  description: '(deprecated: This controller is deprecated and will be removed in the future)'
- name: OciCloudAccount
  description: Onboard OCI accounts
- name: PlatformReports
  description: ''
- name: Regions
  description: ''
- name: Spectral
  description: ''
- name: RestrictedWorkloadClientModules
  description: ''
- name: WorkloadClientModules
  description: ''
- name: WorkloadTelemetry
  description: ''
- name: Integration
  description: Integration
- name: IntegrationInternal
  description: ''
- name: Notification
  description: Notification
- name: NotificationInternal
  description: ''
- name: AssetMetadataSyncNow
  description: ''
- name: BusinessPriorityModifier
  description: Business Priority Rules
- name: CustomRuleset
  description: Risk Management Rulesets
- name: Dspm
  description: DSPM Controller
- name: Exposure
  description: ''
- name: GroupRiskManagement
  description: Groups Risk Management
- name: RemediationActions
  description: Remediation Actions
- name: RiskModifiers
  description: Risk Modifiers
- name: SecurityEvents
  description: ''
- name: SimilarAssetGroups
  description: ''
- name: Waf
  description: WAF Protection
- name: AwsOrganizationManagement
  description: AwsOrganizationManagement
- name: AwsOrganizationManagementOnboarding
  description: AwsOrganizationManagementOnboarding
- name: AzureOrganizationManagement
  description: AzureOrganizationManagement
- name: GcpOrganizationManagement
  description: GcpOrganizationManagement
- name: OnboardingManagement
  description: OnboardingManagement
- name: InternalSBOM
  description: ''
- name: InternalVulnerabilityAccountStatsBatch
  description: ''
- name: InternalVulnerabilityCleanup
  description: ''
- name: InternalVulnerabilityPolicy
  description: ''
- name: InternalVulnerabilityScanResults
  description: ''
- name: SBOM
  description: ''
- name: SBOMExport
  description: SBOM Export
- name: Vulnerabilities
  description: Vulnerabilities
- name: VulnerabilityAssessment
  description: ''
- name: VulnerabilityExclusions
  description: Vulnerability Exclusions
- name: VulnerabilityPolicy
  description: Vulnerability Policy
- name: VulnerabilitySBOM
  description: ''
- name: CloudApplicationLoadBalancer
  description: ''
- name: CloudNetworkLoadBalancer
  description: ''
- name: GcpMachineImage
  description: ''
- name: OciCompartment
  description: ''
- name: AssetLabelsService
  description: ''
- name: AssetOpenFindings
  description: ''
- name: EntityTypes
  description: The entity types endpoint allows you to get the supported entity types and the platform they're supported for.
- name: EvidencePath
  description: The evidence path endpoint allows you to get the evidence path for a given findingId.
- name: Exclusions
  description: The exclusion endpoint provides API to perform CRUD operations on the resource.
- name: IgnoreCves
  description: The ignore CVEs endpoint provides API to perform CRUD operations on the resource.
- name: IgnoreMalwares
  description: The ignore malwares endpoint provides API to perform CRUD operations on the resource.
- name: Rules
  description: The rules endpoint provides APIs to get the security rules data
- name: SecurityGraphIssues
  description: API for issue enrichments
- name: SecurityGraphQuery
  description: The query endpoint provides APIs to run queries (rules) to preview possible issues.
- name: EntitySchema
  description: The entity schema endpoint presents schema of toxic issues entities.
- name: SecurityIssues
  description: The Findings endpoint provides APIs query the findings store which contains findings such as security issues.
    It provides APIs to get, search and group findings.
- name: AutomatedActions
  description: The Automated Actions resource provides API to perform CRUD operations on the resource.
components:
  schemas:
    Dome9.Web.Api.Azure.AnalysisService.AzureAnalysisServiceViewModel:
      type: object
      properties:
        externalId:
          type: string
        id:
          type: string
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
        region:
          type: string
        subscriptionId:
          type: string
        resourceGroup:
          $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureResourceGroupViewModel'
        properties:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.AnalysisService.AzureAnalysisServicePropertiesViewModel'
        sku:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.AnalysisService.AzureAnalysisServiceSkuViewModel'
        tags:
          type: object
          additionalProperties:
            type: string
    Dome9.Web.Api.Models.AzureResourceGroupViewModel:
      type: object
      properties:
        id:
          type: string
        accountId:
          format: int64
          type: integer
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
        region:
          type: string
        tags:
          type: object
          additionalProperties:
            type: string
    Dome9.Web.Api.Azure.AnalysisService.AzureAnalysisServicePropertiesViewModel:
      type: object
      properties:
        asAdministrators:
          type: array
          items:
            type: string
        backupBlobContainerUri:
          type: string
        ipV4FirewallSettings:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.AnalysisService.AzureAnalysisServiceIpV4FirewallSettingsViewModel'
        gatewayDetails:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.AnalysisService.AzureAnalysisServiceGatewayDetailsViewModel'
        provisioningState:
          type: string
        querypoolConnectionMode:
          type: string
        serverFullName:
          type: string
        state:
          type: string
    Dome9.Web.Api.Azure.AnalysisService.AzureAnalysisServiceSkuViewModel:
      type: object
      properties:
        capacity:
          format: int64
          type: integer
        name:
          type: string
        tier:
          type: string
    Dome9.Web.Api.Azure.AnalysisService.AzureAnalysisServiceIpV4FirewallSettingsViewModel:
      type: object
      properties:
        enablePowerBIService:
          type: boolean
        firewallRules:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.AnalysisService.AzureAnalysisServiceIPv4FirewallRuleViewModel'
    Dome9.Web.Api.Azure.AnalysisService.AzureAnalysisServiceGatewayDetailsViewModel:
      type: object
      properties:
        dmtsClusterUri:
          type: string
        gatewayObjectId:
          type: string
        gatewayResourceId:
          type: string
    Dome9.Web.Api.Azure.AnalysisService.AzureAnalysisServiceIPv4FirewallRuleViewModel:
      type: object
      properties:
        firewallRuleName:
          type: string
        rangeStart:
          type: string
        rangeEnd:
          type: string
    Dome9.Web.Api.Azure.ApplicationGateway.AzureApplicationGatewayViewModel:
      type: object
      properties:
        id:
          type: string
        externalId:
          type: string
        accountId:
          format: int64
          type: integer
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
        region:
          type: string
        resourceGroup:
          type: string
        type:
          type: string
        operationalState:
          type: string
        provisioningState:
          type: string
        vNetName:
          type: string
        subnetName:
          type: string
        subnetExternalId:
          type: string
        tags:
          type: object
          additionalProperties:
            type: string
        requestRoutingRules:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.ApplicationGateway.RequestRoutingRulesViewModel'
        backendAddressPools:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.ApplicationGateway.BackendAddressPoolViewModel'
        backendHttpSettingsCollection:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.ApplicationGateway.BackendHttpSettingsCollectionViewModel'
        frontendIPConfigurations:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.ApplicationGateway.FrontendIPConfigurationViewModel'
        frontendPorts:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.ApplicationGateway.FrontendPortViewModel'
        gatewayIPConfigurations:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.ApplicationGateway.GatewayIPConfigurationViewModel'
        httpListeners:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.ApplicationGateway.HttpListenerViewModel'
        probes:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.ApplicationGateway.ProbeViewModel'
        sku:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.ApplicationGateway.SkuViewModel'
        wafConfiguration:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.ApplicationGateway.WafConfigurationViewModel'
        urlPathMaps:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.ApplicationGateway.UrlPathMapViewModel'
        sslCertificates:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.ApplicationGateway.SslCertificateViewModel'
        sslProfiles:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.ApplicationGateway.SslProfileViewModel'
        sslPolicyInListener:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.ApplicationGateway.SslPolicyViewModel'
        authenticationlCertificates:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.ApplicationGateway.AuthenticationlCertificateViewModel'
        diagnosticSettings:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.DiagnosticSettings.DiagnosticSettingsViewModel'
        privateLinkConfigurations:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.ApplicationGateway.PrivateLinkConfigurationsViewModel'
    Dome9.Web.Api.Azure.ApplicationGateway.RequestRoutingRulesViewModel:
      type: object
      properties:
        externalId:
          type: string
        backendAddressPoolExternalId:
          type: string
        backendHttpSettingsExternalId:
          type: string
        httpListnerExternalId:
          type: string
        name:
          type: string
        provisioningState:
          type: string
        ruleType:
          type: string
        urlPathMapId:
          type: string
    Dome9.Web.Api.Azure.ApplicationGateway.BackendAddressPoolViewModel:
      type: object
      properties:
        externalId:
          type: string
        backendIpConfigurations:
          type: array
          items:
            type: string
        backendAddresses:
          type: array
          items:
            type: string
    Dome9.Web.Api.Azure.ApplicationGateway.BackendHttpSettingsCollectionViewModel:
      type: object
      properties:
        externalId:
          type: string
        authenticationCertificatesIds:
          type: array
          items:
            type: string
        cookieBasedAffinity:
          type: string
        name:
          type: string
        port:
          format: int32
          type: integer
        protocol:
          type: string
        provisioningState:
          type: string
        requestTimeout:
          format: int32
          type: integer
    Dome9.Web.Api.Azure.ApplicationGateway.FrontendIPConfigurationViewModel:
      type: object
      properties:
        externalId:
          type: string
        name:
          type: string
        privateIPAddress:
          type: string
        privateIPAllocationMethod:
          type: string
        provisioningState:
          type: string
        subneExternaltId:
          type: string
        publicIPExternalId:
          type: string
    Dome9.Web.Api.Azure.ApplicationGateway.FrontendPortViewModel:
      type: object
      properties:
        externalId:
          type: string
        name:
          type: string
        port:
          format: int32
          type: integer
        provisioningState:
          type: string
    Dome9.Web.Api.Azure.ApplicationGateway.GatewayIPConfigurationViewModel:
      type: object
      properties:
        externalId:
          type: string
        name:
          type: string
        subnetExternalId:
          type: string
        provisioningState:
          type: string
    Dome9.Web.Api.Azure.ApplicationGateway.HttpListenerViewModel:
      type: object
      properties:
        externalId:
          type: string
        frontendIPConfigurationExternalId:
          type: string
        frontEndPortExternalId:
          type: string
        hostName:
          type: string
        name:
          type: string
        protocol:
          type: string
        provisioningState:
          type: string
        requireServerNameIndication:
          type: boolean
        sslCertificateExternalId:
          type: string
    Dome9.Web.Api.Azure.ApplicationGateway.ProbeViewModel:
      type: object
      properties:
        externalId:
          type: string
        host:
          type: string
        interval:
          format: int32
          type: integer
        name:
          type: string
        path:
          type: string
        protocol:
          type: string
        provisioningState:
          type: string
        timeout:
          format: int32
          type: integer
        unhealthyThreshold:
          format: int32
          type: integer
    Dome9.Web.Api.Azure.ApplicationGateway.SkuViewModel:
      type: object
      properties:
        capacity:
          format: int32
          type: integer
        name:
          type: string
        tier:
          type: string
    Dome9.Web.Api.Azure.ApplicationGateway.WafConfigurationViewModel:
      type: object
      properties:
        enabled:
          type: boolean
        firewallMode:
          type: string
        ruleSetType:
          type: string
        ruleSetVersion:
          type: string
        disabledRuleGroups:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.ApplicationGateway.DisabledRuleGroupViewModel'
    Dome9.Web.Api.Azure.ApplicationGateway.UrlPathMapViewModel:
      type: object
      properties:
        externalId:
          type: string
        defaultBackendAddresPoolExternalId:
          type: string
        defaultRedirectConfigurationExternalId:
          type: string
        name:
          type: string
        provisioningState:
          type: string
        pathRules:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.ApplicationGateway.PathRuleViewModel'
    Dome9.Web.Api.Azure.ApplicationGateway.SslCertificateViewModel:
      type: object
      properties:
        externalId:
          type: string
        name:
          type: string
        provisioningState:
          type: string
    Dome9.Web.Api.Azure.ApplicationGateway.SslProfileViewModel:
      type: object
      properties:
        trustedClientCertificates:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.AzureNetworkSubResourceViewModel'
        sslPolicy:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.ApplicationGateway.SslPolicyViewModel'
        clientAuthConfiguration:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.ApplicationGateway.ClientAuthConfigurationViewModel'
        provisioningState:
          type: string
        name:
          type: string
        etag:
          type: string
        type:
          type: string
        id:
          type: string
    Dome9.Web.Api.Azure.ApplicationGateway.SslPolicyViewModel:
      type: object
      properties:
        disabledSslProtocols:
          type: array
          items:
            type: string
        policyType:
          type: string
        policyName:
          type: string
        cipherSuites:
          type: array
          items:
            type: string
        minProtocolVersion:
          type: string
    Dome9.Web.Api.Azure.ApplicationGateway.AuthenticationlCertificateViewModel:
      type: object
      properties:
        externalId:
          type: string
        name:
          type: string
        provisioningState:
          type: string
    Dome9.Web.Api.Azure.DiagnosticSettings.DiagnosticSettingsViewModel:
      type: object
      properties:
        id:
          type: string
        eventHubAuthorizationRuleId:
          type: string
        eventHubName:
          type: string
        logs:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.DiagnosticSettings.LogAuditViewModel'
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.DiagnosticSettings.MetricAuditViewModel'
        storageAccount:
          type: string
        workspaceId:
          type: string
    Dome9.Web.Api.Azure.ApplicationGateway.PrivateLinkConfigurationsViewModel:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        ipConfigurations:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.ApplicationGateway.PrivateLinkIPConfigurationViewModel'
        etag:
          type: string
        type:
          type: string
        provisioningState:
          type: string
    Dome9.Web.Api.Azure.ApplicationGateway.DisabledRuleGroupViewModel:
      type: object
      properties:
        ruleGroupName:
          type: string
        rules:
          type: array
          items:
            format: int32
            type: integer
    Dome9.Web.Api.Azure.ApplicationGateway.PathRuleViewModel:
      type: object
      properties:
        externalId:
          type: string
        backendAddressPoolExternalId:
          type: string
        backendHttpSettingsExternalId:
          type: string
        name:
          type: string
        provisioningState:
          type: string
        paths:
          type: array
          items:
            type: string
    Dome9.Web.Api.Azure.AzureNetworkSubResourceViewModel:
      type: object
      properties:
        id:
          type: string
    Dome9.Web.Api.Azure.ApplicationGateway.ClientAuthConfigurationViewModel:
      type: object
      properties:
        verifyClientCertIssuerDN:
          type: boolean
        verifyClientRevocation:
          type: string
    Dome9.Web.Api.Azure.DiagnosticSettings.LogAuditViewModel:
      type: object
      properties:
        category:
          type: string
        categoryGroup:
          type: string
        enabled:
          type: boolean
        retentionDays:
          format: int32
          type: integer
        retentionStatus:
          type: boolean
    Dome9.Web.Api.Azure.DiagnosticSettings.MetricAuditViewModel:
      type: object
      properties:
        category:
          type: string
        enabled:
          type: boolean
        retentionDays:
          format: int32
          type: integer
        retentionStatus:
          type: boolean
        timeGrain:
          type: string
    Dome9.Web.Api.Azure.ApplicationGateway.PrivateLinkIPConfigurationViewModel:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        etag:
          type: string
        type:
          type: string
        privateIPAddress:
          type: string
        privateIPAllocationMethod:
          type: string
        primary:
          type: boolean
        subnetId:
          type: string
    Dome9.Web.Api.Models.AzureApplicationSecurityGroupViewModel:
      type: object
      properties:
        accountId:
          format: int64
          type: integer
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
        id:
          type: string
        externalId:
          type: string
        region:
          type: string
        resourceGroup:
          type: string
        tags:
          type: object
          additionalProperties:
            type: string
    Dome9.Web.Api.Azure.ComputeGalleryImage.ViewModels.AzureComputeGalleryImageViewModel:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        location:
          type: string
        hyperVGeneration:
          type: string
        architecture:
          type: string
        osType:
          type: string
        osState:
          type: string
        provisioningState:
          type: string
        versions:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.ComputeGalleryImage.ViewModels.AzureComputeGalleryImageVersionViewModel'
        latestVersion:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.ComputeGalleryImage.ViewModels.AzureComputeGalleryImageVersionViewModel'
        accountId:
          format: int64
          type: integer
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
    Dome9.Web.Api.Azure.ComputeGalleryImage.ViewModels.AzureComputeGalleryImageVersionViewModel:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        imageId:
          type: string
        publishedDate:
          format: int64
          type: integer
        endOfLifeDate:
          format: int64
          type: integer
    Dome9.Web.Api.Azure.CosmosDbAccount.AzureCosmosDbAccountViewModel:
      type: object
      properties:
        id:
          type: string
        externalId:
          type: string
        name:
          type: string
        region:
          type: string
        resourceGroup:
          type: string
        tags:
          type: array
          items:
            $ref: '#/components/schemas/System.Collections.Generic.KeyValuePair_System.String_System.String_'
        documentEndpoint:
          type: string
        type:
          type: string
        kind:
          type: string
        consistencyPolicy:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.CosmosDbAccount.AzureCosmosDbConsistencyPolicyViewModel'
        defaultConsistencyLevel:
          enum:
          - Eventual
          - Session
          - BoundedStaleness
          - Strong
          - ConsistentPrefix
          type: string
        readableReplications:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.CosmosDbAccount.AzureCosmosDbLocationViewModel'
        writableReplications:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.CosmosDbAccount.AzureCosmosDbLocationViewModel'
        databaseAccountOfferType:
          enum:
          - Standard
          type: string
        ipRangeFilter:
          type: array
          items:
            type: string
    Dome9.Web.Api.Azure.CosmosDbAccount.AzureCosmosDbConsistencyPolicyViewModel:
      type: object
      properties:
        defaultConsistencyLevel:
          enum:
          - Eventual
          - Session
          - BoundedStaleness
          - Strong
          - ConsistentPrefix
          type: string
        maxStalenessPrefix:
          format: int64
          type: integer
        maxIntervalInSeconds:
          format: int32
          type: integer
    Dome9.Web.Api.Azure.CosmosDbAccount.AzureCosmosDbLocationViewModel:
      type: object
      properties:
        id:
          type: string
        locationName:
          type: string
        documentEndpoint:
          type: string
        provisioningState:
          type: string
        failoverPriority:
          format: int32
          type: integer
    Dome9.Web.Api.Azure.Disk.DiskViewModel:
      type: object
      properties:
        id:
          type: string
        externalId:
          type: string
        accountId:
          format: int64
          type: integer
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
        region:
          type: string
        resourceGroup:
          type: string
        properties:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.Disk.DiskPropertiesViewModel'
        location:
          type: string
        managedBy:
          type: string
        zones:
          type: array
          items:
            type: string
        managedByExtended:
          type: array
          items:
            type: string
        sku:
          $ref: '#/components/schemas/Falconetix.Model.RuleEngine.Entities.BaseEntities.Azure.Disk.DiskSkuRuleEntity'
        tags:
          type: object
          additionalProperties:
            type: string
    Dome9.Web.Api.Azure.Disk.DiskPropertiesViewModel:
      type: object
      properties:
        osType:
          type: string
        creationData:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.Disk.DiskCreationDataViewModel'
        diskSizeGB:
          format: int64
          type: integer
        encryptionSettingsCollection:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.Disk.DiskEncryptionSettingsCollectionViewModel'
        encryption:
          type: string
        timeCreated:
          format: int64
          type: integer
        provisioningState:
          type: string
        diskIOPSReadWrite:
          format: int64
          type: integer
        diskMBpsReadWrite:
          format: int64
          type: integer
        maxShares:
          format: int64
          type: integer
        diskState:
          type: string
        diskSizeBytes:
          format: int64
          type: integer
        uniqueId:
          type: string
        networkAccessPolicy:
          type: string
        tier:
          type: string
        hyperVGeneration:
          type: string
        shareInfo:
          type: array
          items:
            type: string
    Falconetix.Model.RuleEngine.Entities.BaseEntities.Azure.Disk.DiskSkuRuleEntity:
      type: object
      properties:
        name:
          type: string
        tier:
          type: string
    Dome9.Web.Api.Azure.Disk.DiskCreationDataViewModel:
      type: object
      properties:
        createOption:
          type: string
        sourceResourceId:
          type: string
        sourceUniqueId:
          type: string
        sourceUri:
          type: string
        storageAccountId:
          type: string
        uploadSizeBytes:
          format: int64
          type: integer
        logicalSectorSize:
          format: int64
          type: integer
        galleryImageReference:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.Disk.DiskImageDiskReferenceViewModel'
        imageReference:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.Disk.DiskImageDiskReferenceViewModel'
    Dome9.Web.Api.Azure.Disk.DiskEncryptionSettingsCollectionViewModel:
      type: object
      properties:
        enabled:
          type: boolean
        encryptionSettings:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.Disk.DiskEncryptionSettingViewModel'
        encryptionSettingsVersion:
          type: string
    Dome9.Web.Api.Azure.Disk.DiskImageDiskReferenceViewModel:
      type: object
      properties:
        id:
          type: string
        lun:
          type: string
    Dome9.Web.Api.Azure.Disk.DiskEncryptionSettingViewModel:
      type: object
      properties:
        diskEncryptionKey:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.Disk.DiskDiskEncryptionKeyViewModel'
        keyEncryptionKey:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.Disk.DiskKeyEncryptionKeyViewModel'
    Dome9.Web.Api.Azure.Disk.DiskDiskEncryptionKeyViewModel:
      type: object
      properties:
        sourceVault:
          type: string
        secretUrl:
          type: string
    Dome9.Web.Api.Azure.Disk.DiskKeyEncryptionKeyViewModel:
      type: object
      properties:
        sourceVault:
          type: string
        keyUrl:
          type: string
    Falconetix.Model.AzureAppServiceViewModel:
      type: object
      properties:
        id:
          type: string
        externalId:
          type: string
        name:
          type: string
        type:
          type: string
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        subscriptionId:
          type: string
        tenantId:
          type: string
        region:
          type: string
        tags:
          type: object
          additionalProperties:
            type: string
        inner:
          $ref: '#/components/schemas/Falconetix.Model.AppServiceSiteInnerViewModel'
        functions:
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.AppServiceFunctionsViewModel'
        applicationSettings:
          $ref: '#/components/schemas/Falconetix.Model.AppServiceApplicationSettings'
    Falconetix.Model.AppServiceSiteInnerViewModel:
      type: object
      properties:
        hostNames:
          type: array
          items:
            type: string
        repositorySiteName:
          type: string
        enabled:
          type: boolean
        enabledHostNames:
          type: array
          items:
            type: string
        hostNameSslStates:
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.AppServiceHostNameSslStateViewModel'
        serverFarmId:
          type: string
        reserved:
          type: boolean
        lastModifiedTimeUtc:
          format: date-time
          type: string
        clientCertEnabled:
          type: boolean
        outboundIpAddresses:
          type: array
          items:
            type: string
        possibleOutboundIpAddresses:
          type: array
          items:
            type: string
        resourceGroup:
          type: string
        defaultHostName:
          type: string
        kind:
          type: string
    Falconetix.Model.AppServiceFunctionsViewModel:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        kind:
          type: string
        functionAppId:
          type: string
        scriptRootPathHref:
          type: string
        scriptHref:
          type: string
        configHref:
          type: string
        secretsFileHref:
          type: string
        href:
          type: string
        config:
          type: string
        files:
          type: object
          additionalProperties:
            type: string
        testData:
          type: string
        testDataHref:
          type: string
        invokeUrlTemplate:
          type: string
        language:
          type: string
        isDisabled:
          type: boolean
    Falconetix.Model.AppServiceApplicationSettings:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        kind:
          type: string
        properties:
          type: object
          additionalProperties:
            type: string
    Falconetix.Model.AppServiceHostNameSslStateViewModel:
      type: object
      properties:
        name:
          type: string
        sslState:
          type: string
        virtualIP:
          type: string
        thumbprint:
          type: string
        toUpdate:
          type: boolean
        hostType:
          type: string
    Dome9.Web.Api.Azure.KeyVault.AzureKeyVaultViewModel:
      type: object
      properties:
        id:
          type: string
        externalId:
          type: string
        accountId:
          format: int64
          type: integer
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
        region:
          type: string
        resourceGroup:
          type: string
        tags:
          type: object
          additionalProperties:
            type: string
        properties:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.KeyVault.PropertiesViewModel'
        keys:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.KeyVault.KeyViewModel'
        secrets:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.KeyVault.SecretViewModel'
        certificates:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.KeyVault.CertificateViewModel'
        diagnosticSettings:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.DiagnosticSettings.DiagnosticSettingsViewModel'
    Dome9.Web.Api.Azure.KeyVault.PropertiesViewModel:
      type: object
      properties:
        enabledForDeployment:
          type: boolean
        enabledForDiskEncryption:
          type: boolean
        enabledForTemplateDeployment:
          type: boolean
        enableSoftDelete:
          type: boolean
        sku:
          type: string
        vaultUri:
          type: string
        tenantId:
          type: string
        accessPolicies:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.KeyVault.AccessPolicyViewModel'
    Dome9.Web.Api.Azure.KeyVault.KeyViewModel:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
        kid:
          type: string
        managed:
          type: boolean
        created:
          format: date-time
          type: string
        enabled:
          type: boolean
        expires:
          format: date-time
          type: string
        notBefore:
          format: date-time
          type: string
        updated:
          format: date-time
          type: string
        identifier:
          type: string
        name:
          type: string
        version:
          type: string
    Dome9.Web.Api.Azure.KeyVault.SecretViewModel:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
        managed:
          type: boolean
        contentType:
          type: string
        created:
          format: date-time
          type: string
        enabled:
          type: boolean
        expires:
          format: date-time
          type: string
        notBefore:
          format: date-time
          type: string
        updated:
          format: date-time
          type: string
        identifier:
          type: string
        name:
          type: string
        version:
          type: string
    Dome9.Web.Api.Azure.KeyVault.CertificateViewModel:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
        x509Thumbprint:
          type: string
        certificatePolicy:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.KeyVault.CertificatePolicyViewModel'
        created:
          format: date-time
          type: string
        enabled:
          type: boolean
        expires:
          format: date-time
          type: string
        notBefore:
          format: date-time
          type: string
        updated:
          format: date-time
          type: string
        identifier:
          type: string
        name:
          type: string
        version:
          type: string
    Dome9.Web.Api.Azure.KeyVault.AccessPolicyViewModel:
      type: object
      properties:
        applicationId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        objectId:
          type: string
        tenantId:
          type: string
        permissions:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.KeyVault.PermissionsViewModel'
    Dome9.Web.Api.Azure.KeyVault.CertificatePolicyViewModel:
      type: object
      properties:
        issuerName:
          type: string
        certificateType:
          type: string
        keyProperties:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.KeyVault.CertificatePolicyKeyPropertiesViewModel'
        lifeTimeActions:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.KeyVault.CertificatePolicyLifeTimeActionViewModel'
        secretContentType:
          type: string
        x509CertificateProperties:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.KeyVault.CertificatePolicyX509PropertiesViewModel'
    Dome9.Web.Api.Azure.KeyVault.PermissionsViewModel:
      type: object
      properties:
        certificates:
          type: array
          items:
            type: string
        keys:
          type: array
          items:
            type: string
        secrets:
          type: array
          items:
            type: string
        storage:
          type: array
          items:
            type: string
    Dome9.Web.Api.Azure.KeyVault.CertificatePolicyKeyPropertiesViewModel:
      type: object
      properties:
        exportable:
          type: boolean
        keySize:
          format: int32
          type: integer
        keyType:
          type: string
        reuseKey:
          type: boolean
    Dome9.Web.Api.Azure.KeyVault.CertificatePolicyLifeTimeActionViewModel:
      type: object
      properties:
        action:
          type: string
        trigger:
          type: string
        lifeTimeValue:
          type: string
    Dome9.Web.Api.Azure.KeyVault.CertificatePolicyX509PropertiesViewModel:
      type: object
      properties:
        ekus:
          type: array
          items:
            type: string
        keyUsage:
          type: array
          items:
            type: string
        subject:
          type: string
        dnsNames:
          type: array
          items:
            type: string
    Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesViewModel:
      type: object
      properties:
        id:
          type: string
        externalId:
          type: string
        name:
          type: string
        location:
          type: string
        identity:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterIdentityViewModel'
        properties:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesPropertiesViewModel'
        diagnosticSettings:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.DiagnosticSettings.DiagnosticSettingsViewModel'
    Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterIdentityViewModel:
      type: object
      properties:
        principalId:
          type: string
        tenantId:
          type: string
        type:
          type: string
    Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesPropertiesViewModel:
      type: object
      properties:
        aadProfile:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterAADProfileViewModel'
        addonProfiles:
          type: array
          items:
            $ref: '#/components/schemas/System.Collections.Generic.KeyValuePair_System.String_Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterAddonProfileViewModel_'
        agentPoolProfiles:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterAgentPoolProfileViewModel'
        apiServerAccessProfile:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterAPIServerAccessProfileViewModel'
        dnsPrefix:
          type: string
        enablePodSecurityPolicy:
          type: boolean
        enableRBAC:
          type: boolean
        fqdn:
          type: string
        kubernetesVersion:
          type: string
        linuxProfile:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesContainerServiceLinuxProfileViewModel'
        maxAgentPools:
          format: int32
          type: integer
        networkProfile:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesContainerServiceNetworkProfileViewModel'
        nodeResourceGroup:
          type: string
        provisioningState:
          type: string
        servicePrincipalProfile:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterServicePrincipalProfileViewModel'
        windowsProfile:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterWindowsProfileViewModel'
        identityProfile:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterIdentityProfileViewModel'
        powerState:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterPowerStateViewModel'
        autoUpgradeProfile:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterAutoUpgradeProfileViewModel'
        storageProfile:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterStorageProfileViewModel'
        httpProxyConfig:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterHTTPProxyConfigViewModel'
    Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterAADProfileViewModel:
      type: object
      properties:
        clientAppID:
          type: string
        serverAppID:
          type: string
        tenantID:
          type: string
    Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterAgentPoolProfileViewModel:
      type: object
      properties:
        availabilityZones:
          type: array
          items:
            type: string
        count:
          format: int32
          type: integer
        enableAutoScaling:
          type: boolean
        enableNodePublicIP:
          type: boolean
        maxCount:
          format: int32
          type: integer
        maxPods:
          format: int32
          type: integer
        minCount:
          format: int32
          type: integer
        name:
          type: string
        nodeTaints:
          type: array
          items:
            type: string
        orchestratorVersion:
          type: string
        osDiskSizeGB:
          format: int32
          type: integer
        osType:
          type: string
        provisioningState:
          type: string
        scaleSetEvictionPolicy:
          type: string
        scaleSetPriority:
          type: string
        type:
          type: string
        vmSize:
          type: string
        vnetSubnetID:
          type: string
    Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterAPIServerAccessProfileViewModel:
      type: object
      properties:
        authorizedIPRanges:
          type: array
          items:
            type: string
        enablePrivateCluster:
          type: boolean
    Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesContainerServiceLinuxProfileViewModel:
      type: object
      properties:
        adminUsername:
          type: string
        ssh:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesContainerServiceSshConfigurationViewModel'
    Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesContainerServiceNetworkProfileViewModel:
      type: object
      properties:
        dnsServiceIP:
          type: string
        dockerBridgeCidr:
          type: string
        loadBalancerProfile:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterLoadBalancerProfileViewModel'
        loadBalancerSku:
          type: string
        networkPlugin:
          type: string
        networkPolicy:
          type: string
        podCidr:
          type: string
        serviceCidr:
          type: string
    Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterServicePrincipalProfileViewModel:
      type: object
      properties:
        clientId:
          type: string
    Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterWindowsProfileViewModel:
      type: object
      properties:
        adminUsername:
          type: string
    Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterIdentityProfileViewModel:
      type: object
      properties:
        kubeletidentity:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterKubeletIdentityViewModel'
    Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterPowerStateViewModel:
      type: object
      properties:
        code:
          type: string
    Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterAutoUpgradeProfileViewModel:
      type: object
      properties:
        upgradeChannel:
          type: string
        nodeOSUpgradeChannel:
          type: string
    Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterStorageProfileViewModel:
      type: object
      properties:
        blobCSIDriver:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterStorageProfileSettingsViewModel'
        diskCSIDriver:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterStorageProfileSettingsViewModel'
        fileCSIDriver:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterStorageProfileSettingsViewModel'
        snapshotController:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterStorageProfileSettingsViewModel'
    Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterHTTPProxyConfigViewModel:
      type: object
      properties:
        httpProxy:
          type: string
        httpsProxy:
          type: string
        noProxy:
          type: array
          items:
            type: string
        trustedCa:
          type: string
    Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterAddonProfileViewModel:
      type: object
      properties:
        config:
          type: array
          items:
            $ref: '#/components/schemas/System.Collections.Generic.KeyValuePair_System.String_System.String_'
        enabled:
          type: boolean
    Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesContainerServiceSshConfigurationViewModel:
      type: object
      properties:
        publicKeys:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesContainerServiceSshConfigurationViewModel.ContainerServiceSshPublicKeyViewModel'
    Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterLoadBalancerProfileViewModel:
      type: object
      properties:
        effectiveOutboundIPs:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterLoadBalancerProfileViewModel.ResourceReferenceViewModel'
        managedOutboundIPs:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterLoadBalancerProfileViewModel.AzureKubernetesManagedOutboundIPsViewModel'
        outboundIpPrefixes:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterLoadBalancerProfileViewModel.OutboundIPPrefixesViewModel'
        outboundIPs:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterLoadBalancerProfileViewModel.AzureKubernetesOutboundIPsViewModel'
    Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterKubeletIdentityViewModel:
      type: object
      properties:
        clientId:
          type: string
        objectId:
          type: string
    Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterStorageProfileSettingsViewModel:
      type: object
      properties:
        enabled:
          type: boolean
    ? Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesContainerServiceSshConfigurationViewModel.ContainerServiceSshPublicKeyViewModel
    : type: object
      properties:
        keyData:
          type: string
    ? Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterLoadBalancerProfileViewModel.ResourceReferenceViewModel
    : type: object
      properties:
        id:
          type: string
    ? Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterLoadBalancerProfileViewModel.AzureKubernetesManagedOutboundIPsViewModel
    : type: object
      properties:
        count:
          format: int32
          type: integer
    ? Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterLoadBalancerProfileViewModel.OutboundIPPrefixesViewModel
    : type: object
      properties:
        publicIPPrefixes:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterLoadBalancerProfileViewModel.ResourceReferenceViewModel'
    ? Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterLoadBalancerProfileViewModel.AzureKubernetesOutboundIPsViewModel
    : type: object
      properties:
        publicIPs:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.AzureKubernetesCluster.AzureKubernetesManagedClusterLoadBalancerProfileViewModel.ResourceReferenceViewModel'
    Dome9.Web.Api.Models.AzureLoadBalancerViewModel:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
        id:
          type: string
        externalId:
          type: string
        accountId:
          format: int64
          type: integer
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
        region:
          type: string
        resourceGroup:
          type: string
        loadBalancerType:
          type: string
        virtualNetworkId:
          type: string
        virtualNetworkName:
          type: string
        backendAddressPools:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureBackendAddressPoolViewModel'
        healthProbes:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureLoadBalancerProbeViewModel'
        inboundNatServices:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureInboundNatServiceViewModel'
        loadBalancingServices:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureLoadBalancingServiceViewModel'
        ipConfigurations:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureIPConfigurationViewModel'
    Dome9.Web.Api.Models.AzureBackendAddressPoolViewModel:
      type: object
      properties:
        name:
          type: string
        virtualMachines:
          type: array
          items:
            type: string
    Dome9.Web.Api.Models.AzureLoadBalancerProbeViewModel:
      type: object
      properties:
        name:
          type: string
        protocol:
          type: string
        port:
          format: int32
          type: integer
        intervalInSeconds:
          format: int32
          type: integer
        unhealthyThreshold:
          format: int32
          type: integer
        requestPath:
          type: string
    Dome9.Web.Api.Models.AzureInboundNatServiceViewModel:
      type: object
      properties:
        name:
          type: string
        virtualMachineTarget:
          type: string
        backendPort:
          format: int32
          type: integer
        frontendPort:
          format: int32
          type: integer
        protocol:
          type: string
        enableFloatingIP:
          type: boolean
    Dome9.Web.Api.Models.AzureLoadBalancingServiceViewModel:
      type: object
      properties:
        name:
          type: string
        protocol:
          type: string
        backendAddressPool:
          type: string
        backendPort:
          format: int32
          type: integer
        frontendPort:
          format: int32
          type: integer
        probe:
          type: string
        idleTimeoutInMinutes:
          format: int32
          type: integer
        loadDistribution:
          type: string
        enableFloatingIP:
          type: boolean
    Dome9.Web.Api.Models.AzureIPConfigurationViewModel:
      type: object
      properties:
        name:
          type: string
        publicIPAddress:
          type: string
        publicIPAllocationMethod:
          enum:
          - Unallocated
          - Dynamic
          - Static
          type: string
        dnsName:
          type: string
        privateIPAddress:
          type: string
        privateIPAllocationMethod:
          enum:
          - Unallocated
          - Dynamic
          - Static
          type: string
        subnet:
          type: string
    Dome9.Web.Api.Azure.Locks.AzureLockViewModel:
      type: object
      properties:
        id:
          type: string
        externalId:
          type: string
        accountId:
          format: int64
          type: integer
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
        scope:
          type: string
        region:
          type: string
        resourceGroup:
          type: string
        resource:
          type: string
        level:
          type: string
        notes:
          type: string
    Falconetix.Model.AzureLogicAppViewModel:
      type: object
      properties:
        id:
          type: string
        externalId:
          type: string
        name:
          type: string
        type:
          type: string
        location:
          type: string
        tags:
          type: object
          additionalProperties:
            type: string
        provisioningState:
          enum:
          - NotSpecified
          - Accepted
          - Running
          - Ready
          - Creating
          - Created
          - Deleting
          - Deleted
          - Canceled
          - Failed
          - Succeeded
          - Moving
          - Updating
          - Registering
          - Registered
          - Unregistering
          - Unregistered
          - Completed
          type: string
        createdTime:
          format: date-time
          type: string
        changedTime:
          format: date-time
          type: string
        state:
          enum:
          - NotSpecified
          - Completed
          - Enabled
          - Disabled
          - Deleted
          - Suspended
          type: string
        version:
          type: string
        accessEndpoint:
          type: string
        definition:
          type: object
        sku:
          $ref: '#/components/schemas/Falconetix.Model.AzureLogicAppSkuViewModel'
        integrationAccount:
          $ref: '#/components/schemas/Falconetix.Model.AzureLogicAppResourceReferenceViewModel'
        parameters:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Falconetix.Model.AzureLogicAppWorkflowParameterViewModel'
    Falconetix.Model.AzureLogicAppSkuViewModel:
      type: object
      properties:
        name:
          enum:
          - NotSpecified
          - Free
          - Shared
          - Basic
          - Standard
          - Premium
          type: string
        plan:
          $ref: '#/components/schemas/Falconetix.Model.AzureLogicAppResourceReferenceViewModel'
    Falconetix.Model.AzureLogicAppResourceReferenceViewModel:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
    Falconetix.Model.AzureLogicAppWorkflowParameterViewModel:
      type: object
      properties:
        type:
          type: string
        description:
          type: string
        value:
          type: object
        metadata:
          type: object
    Dome9.Web.Api.Azure.LogProfile.AzureLogProfileViewModel:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
        id:
          type: string
        name:
          type: string
        type:
          type: string
        properties:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.LogProfile.AzureLogProfilePropertiesViewModel'
        accountId:
          format: int64
          type: integer
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        resourceGroup:
          type: string
    Dome9.Web.Api.Azure.LogProfile.AzureLogProfilePropertiesViewModel:
      type: object
      properties:
        storageAccountId:
          type: string
        serviceBusRuleId:
          type: string
        locations:
          type: array
          items:
            type: string
        categories:
          type: array
          items:
            type: string
        retentionPolicy:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.LogProfile.AzureLogProfileRetentionPolicyViewModel'
    Dome9.Web.Api.Azure.LogProfile.AzureLogProfileRetentionPolicyViewModel:
      type: object
      properties:
        enabled:
          type: string
        days:
          format: int32
          type: integer
    Dome9.Web.Api.Azure.PolicyAssignment.AzurePolicyAssignmentViewModel:
      type: object
      properties:
        id:
          type: string
        externalId:
          type: string
        name:
          type: string
        location:
          type: string
        identity:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.AzureRestApiIdentityViewModel'
        sku:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.AzureRestApiSkuViewModel'
        properties:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.PolicyAssignment.AzurePolicyAssignmentPropertiesViewModel'
    Dome9.Web.Api.Azure.AzureRestApiIdentityViewModel:
      type: object
      properties:
        type:
          type: string
        principalId:
          type: string
        tenantId:
          type: string
    Dome9.Web.Api.Azure.AzureRestApiSkuViewModel:
      type: object
      properties:
        name:
          type: string
        tier:
          type: string
    Dome9.Web.Api.Azure.PolicyAssignment.AzurePolicyAssignmentPropertiesViewModel:
      type: object
      properties:
        displayName:
          type: string
        description:
          type: string
        policyDefinitionId:
          type: string
        scope:
          type: string
        notScopes:
          type: array
          items:
            type: string
        metadata:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.PolicyAssignment.AzurePolicyAssignmentMetadataViewModel'
        parameters:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
    Dome9.Web.Api.Azure.PolicyAssignment.AzurePolicyAssignmentMetadataViewModel:
      type: object
      properties:
        assignedBy:
          type: string
        createdOn:
          format: date-time
          type: string
        updatedOn:
          format: date-time
          type: string
[...]
