openapi: 3.2.0
info:
  title: Events Protected Assets Report API
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Protected Assets Report
paths:
  /v2/ProtectedAssetsReport/exportToCsv:
    post:
      tags:
      - Protected Assets Report
      operationId: ProtectedAssetsReport_ExportToCsv_post_/v2/ProtectedAssetsReport/exportToCsv
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                format: uuid
                type: string
                example: 00000000-0000-0000-0000-000000000000
      requestBody:
        $ref: '#/components/requestBodies/Falconetix.Model.ProtectedAssetsReport.ProtectedAssetsReportViewModel_Dome9.Web.Api.ProtectedAsset.SearchRequestViewModel_'
      description: ''
      summary: Export To Csv
  /v2/ProtectedAssetsReport/exportToCsv/downloadLink:
    post:
      tags:
      - Protected Assets Report
      operationId: ProtectedAssetsReport_ExportToCsvDownloadLink_post_/v2/ProtectedAssetsReport/exportToCsv/downloadLink
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        $ref: '#/components/requestBodies/Falconetix.Model.ProtectedAssetsReport.ProtectedAssetsReportViewModel_Dome9.Web.Api.ProtectedAsset.SearchRequestViewModel_'
      description: ''
      summary: Export To Csv Download Link
  /v2/ProtectedAssetsReport/exportToCsv/downloadCSV:
    post:
      tags:
      - Protected Assets Report
      operationId: ProtectedAssetsReport_ExportToCsvDownloadCSV_post_/v2/ProtectedAssetsReport/exportToCsv/downloadCSV
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        $ref: '#/components/requestBodies/Falconetix.Model.ProtectedAssetsReport.ProtectedAssetsReportViewModel_Dome9.Web.Api.ProtectedAsset.SearchRequestViewModel_'
      description: ''
      summary: Export To Csv DownloadCSV
components:
  schemas:
    CGN.OpenSearch.Model.CommonViewModels.FieldFilterViewModel:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
    CGN.OpenSearch.Model.CommonViewModels.AdditionalFieldsRequestViewModel:
      type: object
      properties:
        source:
          type: string
        filterFields:
          type: array
          items:
            $ref: '#/components/schemas/CGN.OpenSearch.Model.CommonViewModels.FieldFilterViewModel'
        sortField:
          $ref: '#/components/schemas/CGN.OpenSearch.Model.CommonViewModels.SortingViewModel'
    CGN.OpenSearch.Model.CommonViewModels.SearchFilterViewModel:
      type: object
      properties:
        freeTextPhrase:
          type: string
        freeTextNamePhrase:
          type: string
        freeTextForIdsPhrase:
          type: string
        fields:
          type: array
          items:
            $ref: '#/components/schemas/CGN.OpenSearch.Model.CommonViewModels.FieldFilterViewModel'
        tags:
          type: array
          items:
            $ref: '#/components/schemas/CGN.OpenSearch.Model.CommonViewModels.TagViewModel'
        includedEntityTypes:
          type: array
          items:
            type: string
        excludedEntityTypes:
          type: array
          items:
            type: string
    CGN.OpenSearch.Model.CommonViewModels.SortingViewModel:
      type: object
      properties:
        fieldName:
          type: string
        direction:
          format: int32
          type: integer
    CGN.OpenSearch.Model.CommonViewModels.TagViewModel:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    Falconetix.Model.ProtectedAssetsReport.ProtectedAssetsReportViewModel_Dome9.Web.Api.ProtectedAsset.SearchRequestViewModel_:
      type: object
      properties:
        searchRequest:
          $ref: '#/components/schemas/Dome9.Web.Api.ProtectedAsset.SearchRequestViewModel'
          description: Search request for protected assets
        recipients:
          description: Recipients for email
          type: array
          items:
            type: string
    Dome9.Web.Api.ProtectedAsset.SearchRequestViewModel:
      description: Search or filter parameters. This object is passed via url so the field names are short because quary params are limited (about 2000 chars)
      type: object
      properties:
        pageSize:
          format: int32
          description: 'page size (number of findings returned per page). default: 10.'
          maximum: 1000
          minimum: 0
          type: integer
        skipAggregations:
          type: boolean
        aggregations:
          type: array
          items:
            type: string
        sorting:
          $ref: '#/components/schemas/CGN.OpenSearch.Model.CommonViewModels.SortingViewModel'
          description: sort data
        filter:
          $ref: '#/components/schemas/CGN.OpenSearch.Model.CommonViewModels.SearchFilterViewModel'
          description: filter
        searchAfter:
          description: token for the page of findings (first page if not specified)
          type: array
          items:
            type: string
        additionalFields:
          $ref: '#/components/schemas/CGN.OpenSearch.Model.CommonViewModels.AdditionalFieldsRequestViewModel'
        optionalAggregationFields:
          type: array
          items:
            type: string
        externalAdditionalFields:
          $ref: '#/components/schemas/CGN.OpenSearch.Model.CommonViewModels.AdditionalFieldsRequestViewModel'
        filterEntitiesWithoutRiskScore:
          type: boolean
  requestBodies:
    Falconetix.Model.ProtectedAssetsReport.ProtectedAssetsReportViewModel_Dome9.Web.Api.ProtectedAsset.SearchRequestViewModel_:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Falconetix.Model.ProtectedAssetsReport.ProtectedAssetsReportViewModel_Dome9.Web.Api.ProtectedAsset.SearchRequestViewModel_'
        application/x-www-form-urlencoded:
          schema:
            $ref: '#/components/schemas/Falconetix.Model.ProtectedAssetsReport.ProtectedAssetsReportViewModel_Dome9.Web.Api.ProtectedAsset.SearchRequestViewModel_'
      required: true
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
