openapi: 3.2.0
info:
  title: Inventory - GCP Gcp Image API
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Gcp Image
paths:
  /v2/GcpImage:
    get:
      tags:
      - Gcp Image
      operationId: GcpImage_Get_get_/v2/GcpImage
      parameters:
      - name: externalId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Google.GcpImage.GcpImageViewModel'
      description: ''
      summary: Get
components:
  schemas:
    Dome9.Web.Api.Google.GcpImage.GcpImageViewModel:
      type: object
      properties:
        id:
          type: string
        externalId:
          type: string
        name:
          type: string
        creationTimestamp:
          format: int64
          type: integer
        status:
          type: string
        sourceType:
          type: string
        sourceSnapshotId:
          type: string
        sourceSnapshot:
          type: string
        sourceImage:
          type: string
        sourceDiskId:
          type: string
        sourceDisk:
          type: string
        labels:
          type: object
          additionalProperties:
            type: string
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
