openapi: 3.2.0
info:
  title: Inventory - AWS Networking and Content Delivery Cloud Route…
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Cloud Route Table
paths:
  /v2/CloudRouteTable:
    get:
      tags:
      - Cloud Route Table
      operationId: CloudRouteTable_Get_get_/v2/CloudRouteTable
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudRouteTables.CloudRouteTableViewModel'
      description: ''
      summary: Get
components:
  schemas:
    Dome9.Web.Api.CloudRouteTables.CloudPropagatingVgwViewModel:
      type: object
      properties:
        gatewayId:
          type: string
    Dome9.Web.Api.CloudRouteTables.CloudRouteTableViewModel:
      type: object
      properties:
        externalId:
          type: string
        name:
          type: string
        accountId:
          format: int64
          type: integer
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        vpcId:
          type: string
        tags:
          type: object
          additionalProperties:
            type: string
        routeTableId:
          type: string
          readOnly: true
        routes:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudRouteTables.CloudRouteViewModel'
        propagatingVgws:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudRouteTables.CloudPropagatingVgwViewModel'
        associations:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudRouteTables.CloudRouteTableAssociationViewModel'
    Dome9.Web.Api.CloudRouteTables.CloudRouteViewModel:
      type: object
      properties:
        destinationCidrBlock:
          type: string
        destinationIpv6CidrBlock:
          type: string
        destinationPrefixListId:
          type: string
        egressOnlyInternetGatewayId:
          type: string
        gatewayId:
          type: string
        instanceId:
          type: string
        instanceOwnerId:
          type: string
        natGatewayId:
          type: string
        networkInterfaceId:
          type: string
        origin:
          type: string
        state:
          type: string
        vpcPeeringConnectionId:
          type: string
        transitGatewayId:
          type: string
    Dome9.Web.Api.CloudRouteTables.CloudRouteTableAssociationViewModel:
      type: object
      properties:
        isMain:
          type: boolean
        routeTableAssociationId:
          type: string
        routeTableId:
          type: string
        subnetId:
          type: string
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
