openapi: 3.2.0
info:
  title: Inventory - AWS Security, Identity and Compliance Cloud Kms…
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Cloud Kms Alias
paths:
  /v2/CloudKmsAlias:
    get:
      tags:
      - Cloud Kms Alias
      operationId: CloudKmsAlias_Get_get_/v2/CloudKmsAlias
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudKms.CloudKmsAliasViewModel'
      description: ''
      summary: Get
components:
  schemas:
    Dome9.Web.Api.CloudKms.CloudKmsAliasViewModel:
      type: object
      properties:
        id:
          description: Id
          type: string
          readOnly: true
        externalId:
          description: ExternalId
          type: string
          readOnly: true
        name:
          description: Name
          type: string
          readOnly: true
        cloudAccountId:
          format: uuid
          description: CloudAccountId
          type: string
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        accountId:
          format: int64
          description: AccountId
          type: integer
          readOnly: true
        arn:
          description: ARN
          type: string
        externalAccountNumber:
          description: External account number
          type: string
        targetKeyId:
          description: Target key ID
          type: string
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
