openapi: 3.2.0
info:
  title: Inventory - AWS IAM Cloud Iam Password Policy API
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Cloud Iam Password Policy
paths:
  /v2/CloudIamPasswordPolicy:
    get:
      tags:
      - Cloud Iam Password Policy
      summary: Get
      operationId: CloudIamPasswordPolicy_Get_get_/v2/CloudIamPasswordPolicy
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudIamPasswordPolicy'
      description: Fetch all IAM roles for the user from all cloud accounts.
components:
  schemas:
    Dome9.Web.Api.Models.CloudIamPasswordPolicy:
      type: object
      properties:
        externalId:
          type: string
        accountId:
          format: int64
          type: integer
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        enabledInAccount:
          type: boolean
        requireNumbers:
          type: boolean
        requireSymbols:
          type: boolean
        requireLowercaseCharacter:
          type: boolean
        requireUppercaseCharacter:
          type: boolean
        minPasswordLength:
          format: int32
          type: integer
        allowUsersToChangePasswords:
          type: boolean
        hardExpiry:
          type: boolean
        maxPasswordAge:
          format: int32
          type: integer
        expirePasswords:
          type: boolean
        passwordReusePrevention:
          format: int32
          type: integer
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
