openapi: 3.2.0
info:
  title: Inventory - Azure Azure Route Table API
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Azure Route Table
paths:
  /v2/AzureRouteTable:
    get:
      tags:
      - Azure Route Table
      operationId: AzureRouteTable_GetAsync_get_/v2/AzureRouteTable
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Azure.RouteTable.AzureRouteTableViewModel'
      description: ''
      summary: Get
  /v2/AzureRouteTable/{id}:
    get:
      tags:
      - Azure Route Table
      operationId: AzureRouteTable_GetAsync_get_/v2/AzureRouteTable/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Azure.RouteTable.AzureRouteTableViewModel'
      description: ''
      summary: Get
components:
  schemas:
    Dome9.Web.Api.Azure.RouteTable.AzureRouteViewModel:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        etag:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
        addressPrefix:
          type: string
          readOnly: true
        nextHopIpAddress:
          type: string
          readOnly: true
        nextHopType:
          type: string
          readOnly: true
        provisioningState:
          type: string
          readOnly: true
    Dome9.Web.Api.Azure.RouteTable.AzureRouteTableViewModel:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
        type:
          type: string
          readOnly: true
        location:
          type: string
          readOnly: true
        tags:
          type: object
          additionalProperties:
            type: string
          readOnly: true
        routes:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.RouteTable.AzureRouteViewModel'
        subnets:
          type: array
          items:
            type: string
          readOnly: true
        disableBgpRoutePropagation:
          type: boolean
          readOnly: true
        provisioningState:
          type: string
          readOnly: true
        etag:
          type: string
          readOnly: true
        resourceGroup:
          type: string
          readOnly: true
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
