openapi: 3.2.0
info:
  title: Workload Protection SBOM Export API
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Sbomexport
paths:
  /v2/sbom/formats:
    get:
      tags:
      - Sbomexport
      summary: SBOM Format Versions
      operationId: SBOMExport_SBOMFormatVersions_get_/v2/sbom/formats
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBOMFormatVersions'
      description: Get the available SBOM formats
  /v2/sbom/export:
    get:
      tags:
      - Sbomexport
      summary: ExportSBOM
      operationId: SBOMExport_ExportSBOM_get_/v2/sbom/export
      parameters:
      - name: EnvironmentId
        in: query
        required: true
        description: the id of the environment containing the entity
        schema:
          type: string
          format: guid
        x-position: 1
      - name: EntityType
        in: query
        required: true
        description: the type of entity
        schema:
          $ref: '#/components/schemas/VlmEntityType'
        x-position: 2
      - name: ExternalId
        in: query
        required: true
        description: external id of the entity (with 'sha256:' prefix)
        schema:
          type: string
        x-position: 3
      - name: SBOMVersionFormatId
        in: query
        required: true
        description: the ID of the requaired SBOM format
        schema:
          $ref: '#/components/schemas/SBOMVersionFormatId'
        x-position: 4
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      description: Export SBOM to a file
components:
  schemas:
    VlmEntityType:
      type: string
      description: ''
      x-enumNames:
      - Instance
      - VirtualMachine
      - VMInstance
      - Lambda
      - FunctionApp
      - CloudFunction
      - KubernetesImage
      - ContainerRegistryImage
      - EcsImage
      - ShiftLeftImage
      enum:
      - Instance
      - VirtualMachine
      - VMInstance
      - Lambda
      - FunctionApp
      - CloudFunction
      - KubernetesImage
      - ContainerRegistryImage
      - EcsImage
      - ShiftLeftImage
    SBOMVersionFormatId:
      type: string
      description: ''
      x-enumNames:
      - SPDX23
      - CycloneDX15
      - CycloneDX16
      enum:
      - SPDX23
      - CycloneDX15
      - CycloneDX16
    SBOMFormatVersions:
      type: object
      additionalProperties: false
      required:
      - formats
      properties:
        formats:
          type: array
          items:
            $ref: '#/components/schemas/SBOMFormatVersionDetails'
    SBOMFormatVersionDetails:
      type: object
      additionalProperties: false
      required:
      - id
      - name
      properties:
        id:
          type: string
        name:
          type: string
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
