openapi: 3.2.0
info:
  title: Posture Management Compliance Remediation Old API
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Compliance Remediation Old
paths:
  /v2/ComplianceRemediation:
    get:
      tags:
      - Compliance Remediation Old
      summary: Get
      operationId: ComplianceRemediationOld_Get_get_/v2/ComplianceRemediation
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.RemediationOld.RemediationGetOldViewModel'
      description: Get a list of remediations for the account
    put:
      tags:
      - Compliance Remediation Old
      summary: Put
      operationId: ComplianceRemediationOld_Put_put_/v2/ComplianceRemediation
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.RemediationOld.RemediationGetOldViewModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.RemediationOld.RemediationGetOldViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.RemediationOld.RemediationGetOldViewModel'
        description: details for the remediation
        required: true
      description: Update a remediation
    post:
      tags:
      - Compliance Remediation Old
      summary: Post
      operationId: ComplianceRemediationOld_Post_post_/v2/ComplianceRemediation
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.RemediationOld.RemediationGetOldViewModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.RemediationOld.RemediationPostOldViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.RemediationOld.RemediationPostOldViewModel'
        description: details for the remediation
        required: true
      description: Add a new remediation
  /v2/ComplianceRemediation/{id}:
    delete:
      tags:
      - Compliance Remediation Old
      summary: Delete
      operationId: ComplianceRemediationOld_Delete_delete_/v2/ComplianceRemediation/{id}
      parameters:
      - name: id
        in: path
        description: the id of the remediation to delete
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
      description: Delete a remediation
components:
  schemas:
    Dome9.Web.Api.Compliance.RemediationOld.RemediationGetOldViewModel:
      required:
      - comment
      type: object
      properties:
        id:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        ruleLogicHash:
          pattern: ^[A-Za-z0-9+/]{22}?$
          type: string
        ruleName:
          type: string
        ruleId:
          type: string
        logic:
          pattern: (name|id){1} (like){1} '{1}[a-zA-Z0-9/.\-_:%"*{},;()=!&|\$#~^+@?<>\[\] À-ÖØ-öø-ÿ]+'{1}
          type: string
        rulesetId:
          format: int64
          type: integer
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        platform:
          enum:
          - Aws
          - Azure
          - Google
          - Kubernetes
          - Terraform
          - Generic
          - KubernetesRuntimeAssurance
          - ShiftLeft
          - SourceCodeAssurance
          - ImageAssurance
          - Alibaba
          - Cft
          - ContainerRegistry
          - Oci
          - CIEM
          type: string
        comment:
          type: string
        cloudBots:
          type: array
          items:
            type: string
    Dome9.Web.Api.Compliance.RemediationOld.RemediationPostOldViewModel:
      required:
      - comment
      type: object
      properties:
        ruleLogicHash:
          pattern: ^[A-Za-z0-9+/]{22}?$
          type: string
        ruleName:
          type: string
        ruleId:
          type: string
        logic:
          pattern: (name|id){1} (like){1} '{1}[a-zA-Z0-9/.\-_:%"*{},;()=!&|\$#~^+@?<>\[\] À-ÖØ-öø-ÿ]+'{1}
          type: string
        rulesetId:
          format: int64
          type: integer
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        platform:
          enum:
          - Aws
          - Azure
          - Google
          - Kubernetes
          - Terraform
          - Generic
          - KubernetesRuntimeAssurance
          - ShiftLeft
          - SourceCodeAssurance
          - ImageAssurance
          - Alibaba
          - Cft
          - ContainerRegistry
          - Oci
          - CIEM
          type: string
        comment:
          type: string
        cloudBots:
          type: array
          items:
            type: string
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
