openapi: 3.2.0
info:
  title: Network Security Cloud Security Group API
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Cloud Security Group
paths:
  /v2/cloudsecuritygroup/{id}:
    get:
      tags:
      - Cloud Security Group
      summary: Get
      operationId: CloudSecurityGroup_Get_get_/v2/cloudsecuritygroup/{id}
      parameters:
      - name: id
        in: path
        description: the AWS security group id (Dome9 internal ID / AWS securiy group ID)
        required: true
        schema:
          type: string
      - name: cloudAccountId
        in: query
        description: the security group cloud account ID (Optional)
        required: false
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudSecurityGroupWithSrlViewModel'
      description: Get a specific AWS security group
    put:
      tags:
      - Cloud Security Group
      summary: Put
      operationId: CloudSecurityGroup_Put_put_/v2/cloudsecuritygroup/{id}
      parameters:
      - name: id
        in: path
        description: the AWS security group id (Dome9 Internal Id / AWS Security group id)
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudSecurityGroupViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudSecurityGroupViewModel'
        description: updated details for the security group
        required: true
      description: Update an AWS security group
    delete:
      tags:
      - Cloud Security Group
      summary: Delete Cloud Security Group
      operationId: CloudSecurityGroup_DeleteCloudSecurityGroup_delete_/v2/cloudsecuritygroup/{id}
      parameters:
      - name: id
        in: path
        description: the AWS security group id (Dome9 Internal Id / AWS Security group id)
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      description: Delete an AWS security group
    patch:
      tags:
      - Cloud Security Group
      summary: Update Sec Group
      operationId: CloudSecurityGroup_UpdateSecGroup_patch_/v2/cloudsecuritygroup/{id}
      parameters:
      - name: id
        in: path
        description: the AWS security group id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No Content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudSecurityGroupViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudSecurityGroupViewModel'
        description: updated details for the security group. only 'IsProtected' is used in this call which defines whether to protect or unprotect the security group.
        required: true
      description: Updates an AWS security group protection mode
  /v2/cloudsecuritygroup/{id}/protection-mode:
    post:
      tags:
      - Cloud Security Group
      summary: Change Protection Mode
      operationId: CloudSecurityGroup_ChangeProtectionMode_post_/v2/cloudsecuritygroup/{id}/protection-mode
      parameters:
      - name: id
        in: path
        description: the AWS security group id (Dome9 internal ID / AWS security group ID)
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudSecurityGroupProtectionModeChangeViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudSecurityGroupProtectionModeChangeViewModel'
        description: details for the security group, including the protection mode. Only 'ProtectionMode' is required in this call (FullManage or ReadOnly).
        required: true
      description: Change the protection mode for an AWS security group
  /v2/cloudsecuritygroup/{groupid}/services/{policyType}:
    put:
      tags:
      - Cloud Security Group
      summary: Update Service For Cloud To Security Group
      operationId: CloudSecurityGroup_UpdateServiceForCloudToSecurityGroup_put_/v2/cloudsecuritygroup/{groupid}/services/{policyType}
      parameters:
      - name: groupid
        in: path
        description: the security group id (Dome9 internal ID / AWS security group id)
        required: true
        schema:
          type: string
      - name: policyType
        in: path
        description: the service type (Inbound / Outbound)
        required: true
        schema:
          type: string
          enum:
          - Inbound
          - Outbound
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudSecurityGroupServiceViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudSecurityGroupServiceViewModel'
        description: updated details for the service
        required: true
      description: Update a service (rule) for an AWS security group
    post:
      tags:
      - Cloud Security Group
      summary: Add Service Cloud To Security Group
      operationId: CloudSecurityGroup_AddServiceCloudToSecurityGroup_post_/v2/cloudsecuritygroup/{groupid}/services/{policyType}
      parameters:
      - name: groupid
        in: path
        description: the security group id (Dome9 internal ID / AWS security group id)
        required: true
        schema:
          type: string
      - name: policyType
        in: path
        description: the service type (Inbound / Outbound))
        required: true
        schema:
          type: string
          enum:
          - Inbound
          - Outbound
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudSecurityGroupServiceViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudSecurityGroupServiceViewModel'
        description: details for the service
        required: true
      description: Creat a new Service (rule) for the security group
  /v2/cloudsecuritygroup/{groupid}/services/{policyType}/{serviceid}:
    delete:
      tags:
      - Cloud Security Group
      summary: Delete Service For Cloud To Security Group
      operationId: CloudSecurityGroup_DeleteServiceForCloudToSecurityGroup_delete_/v2/cloudsecuritygroup/{groupid}/services/{policyType}/{serviceid}
      parameters:
      - name: groupid
        in: path
        description: the security group id (Dome9 internal ID / AWS security group id)
        required: true
        schema:
          type: string
      - name: policyType
        in: path
        description: the service type (Inbound / Outbound)
        required: true
        schema:
          type: string
          enum:
          - Inbound
          - Outbound
      - name: serviceid
        in: path
        description: the service id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      description: Delete a service from an AWS security group
  /v2/cloudsecuritygroup/{groupid}/tags:
    post:
      tags:
      - Cloud Security Group
      summary: Update Tags
      operationId: CloudSecurityGroup_UpdateTags_post_/v2/cloudsecuritygroup/{groupid}/tags
      parameters:
      - name: groupid
        in: path
        description: the security group id (Dome9 internal ID / AWS security group id)
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudSecurityGroupTagsChangeViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudSecurityGroupTagsChangeViewModel'
        description: the updated list of tags and their values
        required: true
      description: Update the list of tags for an AWS securitry group
  /v2/cloudsecuritygroup/{groupid}/history:
    get:
      tags:
      - Cloud Security Group
      summary: Get Security Group Revision History
      operationId: CloudSecurityGroup_GetSecurityGroupRevisionHistory_get_/v2/cloudsecuritygroup/{groupid}/history
      parameters:
      - name: groupid
        in: path
        description: the security group id (Dome9 internal ID / AWS security group id)
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: max number of revisions to return
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudSecurityGroupRevisionViewModel'
      description: Get the list of group revisions and their corresponding events for an AWS security group.
  /v2/CloudSecurityGroup:
    get:
      tags:
      - Cloud Security Group
      summary: Get
      operationId: CloudSecurityGroup_Get_get_/v2/CloudSecurityGroup
      parameters:
      - name: cloudAccountId
        in: query
        description: the cloud account id
        required: true
        schema:
          type: string
          format: uuid
      - name: regionId
        in: query
        description: the region
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudSecurityGroupViewModel'
      description: Get AWS security groups for a specific cloud account and region
    post:
      tags:
      - Cloud Security Group
      summary: Create Cloud Security Group
      operationId: CloudSecurityGroup_CreateCloudSecurityGroup_post_/v2/CloudSecurityGroup
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudSecurityGroupViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudSecurityGroupViewModel'
        description: details for the new AWS security group
        required: true
      description: Create a new AWS security group
components:
  schemas:
    Dome9.Web.Api.Models.CloudSecurityGroupRevisionViewModel:
      type: object
      properties:
        accountId:
          format: int64
          type: integer
        externalAccountNumber:
          type: string
        region:
          enum:
          - us_east_1
          - us_west_1
          - eu_west_1
          - ap_southeast_1
          - ap_northeast_1
          - us_west_2
          - sa_east_1
          - az_1_region_a_geo_1
          - az_2_region_a_geo_1
          - az_3_region_a_geo_1
          - ap_southeast_2
          - mellanox_region
          - us_gov_west_1
          - eu_central_1
          - ap_northeast_2
          - ap_south_1
          - us_east_2
          - ca_central_1
          - eu_west_2
          - eu_west_3
          - eu_north_1
          - cn_north_1
          - cn_northwest_1
          - us_gov_east_1
          - ap_east_1
          - me_south_1
          - af_south_1
          - eu_south_1
          - ap_northeast_3
          - me_central_1
          - ap_south_2
          - ap_southeast_3
          - ap_southeast_4
          - eu_central_2
          - eu_south_2
          - il_central_1
          - ca_west_1
          - mx_central_1
          - ap_southeast_5
          - ap_southeast_7
          - westus
          - eastus
          - eastus2
          - northcentralus
          - westus2
          - southcentralus
          - centralus
          - usgovlowa
          - usgovvirginia
          - northeurope
          - westeurope
          - eastasia
          - southeastasia
          - japaneast
          - japanwest
          - brazilsouth
          - australiaeast
          - australiasoutheast
          - centralindia
          - southindia
          - westindia
          - canadaeast
          - westcentralus
          - chinaeast
          - chinanorth
          - canadacentral
          - germanycentral
          - germanynortheast
          - koreacentral
          - uksouth
          - ukwest
          - koreasouth
          - francecentral
          - francesouth
          - germanywestcentral
          - usdodcentral
          - usdodeast
          - usgovarizona
          - usgovtexas
          - australiacentral
          - australiacentral2
          - chinaeast2
          - chinanorth2
          - southafricanorth
          - southafricawest
          - uaecentral
          - uaenorth
          - ussecwest
          - usseceast
          - germanynorth
          - switzerlandwest
          - norwaywest
          - norwayeast
          - switzerlandnorth
          - westus3
          - swedencentral
          - chinanorth3
          - brazilsoutheast
          - eastus2euap
          - jioindiawest
          - jioindiacentral
          - qatarcentral
          - spaincentral
          - italynorth
          - polandcentral
          - mexicocentral
          - asia
          - asia_east1
          - asia_northeast1
          - asia_south1
          - asia_southeast1
          - australia_southeast1
          - europe
          - europe_north1
          - europe_west1
          - europe_west2
          - europe_west3
          - europe_west4
          - northamerica_northeast1
          - southamerica_east1
          - us
          - us_central1
          - us_east1
          - us_east4
          - us_west1
          - us_west2
          - global
          - asia_east2
          - eur4
          - nam4
          - europe_west6
          - japan_west
          - asia_northeast2
          - asia_northeast3
          - us_west3
          - us_west4
          - asia_southeast2
          - nam3
          - nam5
          - nam6
          - nam7
          - nam10
          - nam_eur_asia1
          - eur3
          - eur5
          - asia1
          - nam11
          - eu
          - northamerica_northeast2
          - southamerica_west1
          - us_east5
          - us_south1
          - europe_central2
          - europe_southwest1
          - europe_west8
          - europe_west9
          - europe_west10
          - europe_west12
          - asia_south2
          - australia_southeast2
          - me_central1
          - me_central2
          - me_west1
          - ap_sydney_1
          - ap_melbourne_1
          - sa_saopaulo_1
          - sa_vinhedo_1
          - ca_montreal_1
          - ca_toronto_1
          - sa_santiago_1
          - eu_paris_1
          - eu_marseille_1
          - eu_frankfurt_1
          - ap_hyderabad_1
          - ap_mumbai_1
          - il_jerusalem_1
          - eu_milan_1
          - ap_osaka_1
          - ap_tokyo_1
          - mx_queretaro_1
          - eu_amsterdam_1
          - me_jeddah_1
          - ap_singapore_1
          - af_johannesburg_1
          - ap_seoul_1
          - ap_chuncheon_1
          - eu_madrid_1
          - eu_stockholm_1
          - eu_zurich_1
          - me_abudhabi_1
          - me_dubai_1
          - uk_london_1
          - uk_cardiff_1
          - us_ashburn_1
          - us_phoenix_1
          - us_sanjose_1
          - us_gov_ashburn_1
          - us_gov_chicago_1
          - us_gov_phoenix_1
          - us_langley_1
          - us_luke_1
          - uk_gov_london_1
          - uk_gov_cardiff_1
          - sa_bogota_1
          - us_chicago_1
          - sa_valparaiso_1
          - mx_monterrey_1
          - eu_jovanovac_1
          - ap_singapore_2
          type: string
        vpc:
          type: string
        revisionId:
          format: int64
          type: integer
        timestamp:
          format: date-time
          type: string
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        cloudSecurityGroup:
          type: object
        auditEvent:
          type: object
    Dome9.Web.Api.Models.CloudSecurityGroupServiceViewModel:
      required:
      - name
      - protocolType
      - openForAll
      type: object
      properties:
        inbound:
          type: boolean
        id:
          type: string
        name:
          type: string
        description:
          type: string
        protocolType:
          description: Service Protocol
          enum:
          - ALL
          - HOPOPT
          - ICMP
          - IGMP
          - GGP
          - IPV4
          - ST
          - TCP
          - CBT
          - EGP
          - IGP
          - BBN_RCC_MON
          - NVP2
          - PUP
          - ARGUS
          - EMCON
          - XNET
          - CHAOS
          - UDP
          - MUX
          - DCN_MEAS
          - HMP
          - PRM
          - XNS_IDP
          - TRUNK1
          - TRUNK2
          - LEAF1
          - LEAF2
          - RDP
          - IRTP
          - ISO_TP4
          - NETBLT
          - MFE_NSP
          - MERIT_INP
          - DCCP
          - ThreePC
          - IDPR
          - XTP
          - DDP
          - IDPR_CMTP
          - TPplusplus
          - IL
          - IPV6
          - SDRP
          - IPV6_ROUTE
          - IPV6_FRAG
          - IDRP
          - RSVP
          - GRE
          - DSR
          - BNA
          - ESP
          - AH
          - I_NLSP
          - SWIPE
          - NARP
          - MOBILE
          - TLSP
          - SKIP
          - ICMPV6
          - IPV6_NONXT
          - IPV6_OPTS
          - CFTP
          - SAT_EXPAK
          - KRYPTOLAN
          - RVD
          - IPPC
          - SAT_MON
          - VISA
          - IPCV
          - CPNX
          - CPHB
          - WSN
          - PVP
          - BR_SAT_MON
          - SUN_ND
          - WB_MON
          - WB_EXPAK
          - ISO_IP
          - VMTP
          - SECURE_VMTP
          - VINES
          - TTP
          - NSFNET_IGP
          - DGP
          - TCF
          - EIGRP
          - OSPFIGP
          - SPRITE_RPC
          - LARP
          - MTP
          - AX25
          - IPIP
          - MICP
          - SCC_SP
          - ETHERIP
          - ENCAP
          - GMTP
          - IFMP
          - PNNI
          - PIM
          - ARIS
          - SCPS
          - QNX
          - AN
          - IPCOMP
          - SNP
          - COMPAQ_PEER
          - IPX_IN_IP
          - VRRP
          - PGM
          - L2TP
          - DDX
          - IATP
          - STP
          - SRP
          - UTI
          - SMP
          - SM
          - PTP
          - ISIS
          - FIRE
          - CRTP
          - CRUDP
          - SSCOPMCE
          - IPLT
          - SPS
          - PIPE
          - SCTP
          - FC
          - RSVP_E2E_IGNORE
          - MOBILITY_HEADER
          - UDPLITE
          - MPLS_IN_IP
          - MANET
          - HIP
          - SHIM6
          - WESP
          - ROHC
          type: string
        port:
          description: indicates a port range
          type: string
        openForAll:
          description: indicates the service is open to all ports
          type: boolean
        scope:
          description: List of scopes for the service (CIDR / DNS / AWS Security group / IP List / Magic IP)
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.WebApi.Models.ScopeElementViewModel'
        icmpType:
          description: / ICMP type (when protocol is ICMP)
          enum:
          - All
          - EchoReply
          - DestinationUnreachable
          - SourceQuench
          - Redirect
          - AlternateHostAddress
          - Echo
          - RouterAdvertisement
          - RouterSelection
          - TimeExceeded
          - ParameterProblem
          - Timestamp
          - TimestampReply
          - InformationRequest
          - InformationReply
          - AddressMaskRequest
          - AddressMaskReply
          - Traceroute
          - DatagramConversionError
          - MobileHostRedirect
          - IPv6WhereAreYou
          - IPv6IAmHere
          - MobileRegistrationRequest
          - MobileRegistrationReply
          - DomainNameRequest
          - DomainNameReply
          - SKIP
          - Photuris
          type: string
        icmpv6Type:
          description: ICMP V6 type (when protocol is ICMPV6)
          enum:
          - All
          type: string
    Dome9.Web.Api.Models.CloudSecurityGroupWithSrlViewModel:
      type: object
      properties:
        securityGroupId:
          format: int64
          type: integer
        services:
          type: object
          properties:
            inbound:
              type: array
              items:
                $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudSecurityGroupServiceViewModel'
            outbound:
              type: array
              items:
                $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudSecurityGroupServiceViewModel'
        externalId:
          type: string
        isProtected:
          type: boolean
        securityGroupName:
          type: string
        description:
          type: string
        vpcId:
          type: string
        vpcName:
          type: string
        regionId:
          enum:
          - us_east_1
          - us_west_1
          - eu_west_1
          - ap_southeast_1
          - ap_northeast_1
          - us_west_2
          - sa_east_1
          - az_1_region_a_geo_1
          - az_2_region_a_geo_1
          - az_3_region_a_geo_1
          - ap_southeast_2
          - mellanox_region
          - us_gov_west_1
          - eu_central_1
          - ap_northeast_2
          - ap_south_1
          - us_east_2
          - ca_central_1
          - eu_west_2
          - eu_west_3
          - eu_north_1
          - cn_north_1
          - cn_northwest_1
          - us_gov_east_1
          - ap_east_1
          - me_south_1
          - af_south_1
          - eu_south_1
          - ap_northeast_3
          - me_central_1
          - ap_south_2
          - ap_southeast_3
          - ap_southeast_4
          - eu_central_2
          - eu_south_2
          - il_central_1
          - ca_west_1
          - mx_central_1
          - ap_southeast_5
          - ap_southeast_7
          - westus
          - eastus
          - eastus2
          - northcentralus
          - westus2
          - southcentralus
          - centralus
          - usgovlowa
          - usgovvirginia
          - northeurope
          - westeurope
          - eastasia
          - southeastasia
          - japaneast
          - japanwest
          - brazilsouth
          - australiaeast
          - australiasoutheast
          - centralindia
          - southindia
          - westindia
          - canadaeast
          - westcentralus
          - chinaeast
          - chinanorth
          - canadacentral
          - germanycentral
          - germanynortheast
          - koreacentral
          - uksouth
          - ukwest
          - koreasouth
          - francecentral
          - francesouth
          - germanywestcentral
          - usdodcentral
          - usdodeast
          - usgovarizona
          - usgovtexas
          - australiacentral
          - australiacentral2
          - chinaeast2
          - chinanorth2
          - southafricanorth
          - southafricawest
          - uaecentral
          - uaenorth
          - ussecwest
          - usseceast
          - germanynorth
          - switzerlandwest
          - norwaywest
          - norwayeast
          - switzerlandnorth
          - westus3
          - swedencentral
          - chinanorth3
          - brazilsoutheast
          - eastus2euap
          - jioindiawest
          - jioindiacentral
          - qatarcentral
          - spaincentral
          - italynorth
          - polandcentral
          - mexicocentral
          - asia
          - asia_east1
          - asia_northeast1
          - asia_south1
          - asia_southeast1
          - australia_southeast1
          - europe
          - europe_north1
          - europe_west1
          - europe_west2
          - europe_west3
          - europe_west4
          - northamerica_northeast1
          - southamerica_east1
          - us
          - us_central1
          - us_east1
          - us_east4
          - us_west1
          - us_west2
          - global
          - asia_east2
          - eur4
          - nam4
          - europe_west6
          - japan_west
          - asia_northeast2
          - asia_northeast3
          - us_west3
          - us_west4
          - asia_southeast2
          - nam3
          - nam5
          - nam6
          - nam7
          - nam10
          - nam_eur_asia1
          - eur3
          - eur5
          - asia1
          - nam11
          - eu
          - northamerica_northeast2
          - southamerica_west1
          - us_east5
          - us_south1
          - europe_central2
          - europe_southwest1
          - europe_west8
          - europe_west9
          - europe_west10
          - europe_west12
          - asia_south2
          - australia_southeast2
          - me_central1
          - me_central2
          - me_west1
          - ap_sydney_1
          - ap_melbourne_1
          - sa_saopaulo_1
          - sa_vinhedo_1
          - ca_montreal_1
          - ca_toronto_1
          - sa_santiago_1
          - eu_paris_1
          - eu_marseille_1
          - eu_frankfurt_1
          - ap_hyderabad_1
          - ap_mumbai_1
          - il_jerusalem_1
          - eu_milan_1
          - ap_osaka_1
          - ap_tokyo_1
          - mx_queretaro_1
          - eu_amsterdam_1
          - me_jeddah_1
          - ap_singapore_1
          - af_johannesburg_1
          - ap_seoul_1
          - ap_chuncheon_1
          - eu_madrid_1
          - eu_stockholm_1
          - eu_zurich_1
          - me_abudhabi_1
          - me_dubai_1
          - uk_london_1
          - uk_cardiff_1
          - us_ashburn_1
          - us_phoenix_1
          - us_sanjose_1
          - us_gov_ashburn_1
          - us_gov_chicago_1
          - us_gov_phoenix_1
          - us_langley_1
          - us_luke_1
          - uk_gov_london_1
          - uk_gov_cardiff_1
          - sa_bogota_1
          - us_chicago_1
          - sa_valparaiso_1
          - mx_monterrey_1
          - eu_jovanovac_1
          - ap_singapore_2
          type: string
        cloudAccountId:
          type: string
        cloudAccountName:
          type: string
        tags:
          type: object
          additionalProperties:
            type: string
        srl:
          type: string
    Falconetix.WebApi.Models.ScopeElementViewModel:
      type: object
      properties:
        type:
          enum:
          - CIDR
          - DNS
          - IPList
          - MagicIP
          - AWS
          - Tag
          - ASG
          - CIDRv6
          - PrefixList
          type: string
        data:
          type: object
          additionalProperties:
            type: string
    Dome9.Web.Api.Models.CloudSecurityGroupViewModel:
      type: object
      properties:
        securityGroupId:
          format: int64
          type: integer
        services:
          type: object
          properties:
            inbound:
              type: array
              items:
                $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudSecurityGroupServiceViewModel'
            outbound:
              type: array
              items:
                $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudSecurityGroupServiceViewModel'
        externalId:
          type: string
        isProtected:
          type: boolean
        securityGroupName:
          type: string
        description:
          type: string
        vpcId:
          type: string
        vpcName:
          type: string
        regionId:
          enum:
          - us_east_1
          - us_west_1
          - eu_west_1
          - ap_southeast_1
          - ap_northeast_1
          - us_west_2
          - sa_east_1
          - az_1_region_a_geo_1
          - az_2_region_a_geo_1
          - az_3_region_a_geo_1
          - ap_southeast_2
          - mellanox_region
          - us_gov_west_1
          - eu_central_1
          - ap_northeast_2
          - ap_south_1
          - us_east_2
          - ca_central_1
          - eu_west_2
          - eu_west_3
          - eu_north_1
          - cn_north_1
          - cn_northwest_1
          - us_gov_east_1
          - ap_east_1
          - me_south_1
          - af_south_1
          - eu_south_1
          - ap_northeast_3
          - me_central_1
          - ap_south_2
          - ap_southeast_3
          - ap_southeast_4
          - eu_central_2
          - eu_south_2
          - il_central_1
          - ca_west_1
          - mx_central_1
          - ap_southeast_5
          - ap_southeast_7
          - westus
          - eastus
          - eastus2
          - northcentralus
          - westus2
          - southcentralus
          - centralus
          - usgovlowa
          - usgovvirginia
          - northeurope
          - westeurope
          - eastasia
          - southeastasia
          - japaneast
          - japanwest
          - brazilsouth
          - australiaeast
          - australiasoutheast
          - centralindia
          - southindia
          - westindia
          - canadaeast
          - westcentralus
          - chinaeast
          - chinanorth
          - canadacentral
          - germanycentral
          - germanynortheast
          - koreacentral
          - uksouth
          - ukwest
          - koreasouth
          - francecentral
          - francesouth
          - germanywestcentral
          - usdodcentral
          - usdodeast
          - usgovarizona
          - usgovtexas
          - australiacentral
          - australiacentral2
          - chinaeast2
          - chinanorth2
          - southafricanorth
          - southafricawest
          - uaecentral
          - uaenorth
          - ussecwest
          - usseceast
          - germanynorth
          - switzerlandwest
          - norwaywest
          - norwayeast
          - switzerlandnorth
          - westus3
          - swedencentral
          - chinanorth3
          - brazilsoutheast
          - eastus2euap
          - jioindiawest
          - jioindiacentral
          - qatarcentral
          - spaincentral
          - italynorth
          - polandcentral
          - mexicocentral
          - asia
          - asia_east1
          - asia_northeast1
          - asia_south1
          - asia_southeast1
          - australia_southeast1
          - europe
          - europe_north1
          - europe_west1
          - europe_west2
          - europe_west3
          - europe_west4
          - northamerica_northeast1
          - southamerica_east1
          - us
          - us_central1
          - us_east1
          - us_east4
          - us_west1
          - us_west2
          - global
          - asia_east2
          - eur4
          - nam4
          - europe_west6
          - japan_west
          - asia_northeast2
          - asia_northeast3
          - us_west3
          - us_west4
          - asia_southeast2
          - nam3
          - nam5
          - nam6
          - nam7
          - nam10
          - nam_eur_asia1
          - eur3
          - eur5
          - asia1
          - nam11
          - eu
          - northamerica_northeast2
          - southamerica_west1
          - us_east5
          - us_south1
          - europe_central2
          - europe_southwest1
          - europe_west8
          - europe_west9
          - europe_west10
          - europe_west12
          - asia_south2
          - australia_southeast2
          - me_central1
          - me_central2
          - me_west1
          - ap_sydney_1
          - ap_melbourne_1
          - sa_saopaulo_1
          - sa_vinhedo_1
          - ca_montreal_1
          - ca_toronto_1
          - sa_santiago_1
          - eu_paris_1
          - eu_marseille_1
          - eu_frankfurt_1
          - ap_hyderabad_1
          - ap_mumbai_1
          - il_jerusalem_1
          - eu_milan_1
          - ap_osaka_1
          - ap_tokyo_1
          - mx_queretaro_1
          - eu_amsterdam_1
          - me_jeddah_1
          - ap_singapore_1
          - af_johannesburg_1
          - ap_seoul_1
          - ap_chuncheon_1
          - eu_madrid_1
          - eu_stockholm_1
          - eu_zurich_1
          - me_abudhabi_1
          - me_dubai_1
          - uk_london_1
          - uk_cardiff_1
          - us_ashburn_1
          - us_phoenix_1
          - us_sanjose_1
          - us_gov_ashburn_1
          - us_gov_chicago_1
          - us_gov_phoenix_1
          - us_langley_1
          - us_luke_1
          - uk_gov_london_1
          - uk_gov_cardiff_1
          - sa_bogota_1
          - us_chicago_1
          - sa_valparaiso_1
          - mx_monterrey_1
          - eu_jovanovac_1
          - ap_singapore_2
          type: string
        cloudAccountId:
          type: string
        cloudAccountName:
          type: string
        tags:
          type: object
          additionalProperties:
            type: string
    Dome9.Web.Api.Models.CloudSecurityGroupTagsChangeViewModel:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
    Dome9.Web.Api.Models.CloudSecurityGroupProtectionModeChangeViewModel:
      required:
      - protectionMode
      type: object
      properties:
        protectionMode:
          enum:
          - FullManage
          - ReadOnly
          type: string
        securityGroupId:
          type: string
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
