openapi: 3.2.0
info:
  title: Inventory - Azure Azure Load Balancer API
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Azure Load Balancer
paths:
  /v2/AzureLoadBalancer:
    get:
      tags:
      - Azure Load Balancer
      operationId: AzureLoadBalancer_Get_get_/v2/AzureLoadBalancer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureLoadBalancerViewModel'
      description: ''
      summary: Get
  /v2/AzureLoadBalancer/{id}:
    get:
      tags:
      - Azure Load Balancer
      operationId: AzureLoadBalancer_Get_get_/v2/AzureLoadBalancer/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureLoadBalancerViewModel'
      description: ''
      summary: Get
components:
  schemas:
    Dome9.Web.Api.Models.AzureLoadBalancerProbeViewModel:
      type: object
      properties:
        name:
          type: string
        protocol:
          type: string
        port:
          format: int32
          type: integer
        intervalInSeconds:
          format: int32
          type: integer
        unhealthyThreshold:
          format: int32
          type: integer
        requestPath:
          type: string
    Dome9.Web.Api.Models.AzureIPConfigurationViewModel:
      type: object
      properties:
        name:
          type: string
        publicIPAddress:
          type: string
        publicIPAllocationMethod:
          enum:
          - Unallocated
          - Dynamic
          - Static
          type: string
        dnsName:
          type: string
        privateIPAddress:
          type: string
        privateIPAllocationMethod:
          enum:
          - Unallocated
          - Dynamic
          - Static
          type: string
        subnet:
          type: string
    Dome9.Web.Api.Models.AzureInboundNatServiceViewModel:
      type: object
      properties:
        name:
          type: string
        virtualMachineTarget:
          type: string
        backendPort:
          format: int32
          type: integer
        frontendPort:
          format: int32
          type: integer
        protocol:
          type: string
        enableFloatingIP:
          type: boolean
    Dome9.Web.Api.Models.AzureLoadBalancerViewModel:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
        id:
          type: string
        externalId:
          type: string
        accountId:
          format: int64
          type: integer
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
        region:
          type: string
        resourceGroup:
          type: string
        loadBalancerType:
          type: string
        virtualNetworkId:
          type: string
        virtualNetworkName:
          type: string
        backendAddressPools:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureBackendAddressPoolViewModel'
        healthProbes:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureLoadBalancerProbeViewModel'
        inboundNatServices:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureInboundNatServiceViewModel'
        loadBalancingServices:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureLoadBalancingServiceViewModel'
        ipConfigurations:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Models.AzureIPConfigurationViewModel'
    Dome9.Web.Api.Models.AzureBackendAddressPoolViewModel:
      type: object
      properties:
        name:
          type: string
        virtualMachines:
          type: array
          items:
            type: string
    Dome9.Web.Api.Models.AzureLoadBalancingServiceViewModel:
      type: object
      properties:
        name:
          type: string
        protocol:
          type: string
        backendAddressPool:
          type: string
        backendPort:
          format: int32
          type: integer
        frontendPort:
          format: int32
          type: integer
        probe:
          type: string
        idleTimeoutInMinutes:
          format: int32
          type: integer
        loadDistribution:
          type: string
        enableFloatingIP:
          type: boolean
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
