openapi: 3.2.0
info:
  title: Inventory - Azure Azure Log Profile API
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Azure Log Profile
paths:
  /v2/AzureLogProfile:
    get:
      tags:
      - Azure Log Profile
      operationId: AzureLogProfile_Get_get_/v2/AzureLogProfile
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Azure.LogProfile.AzureLogProfileViewModel'
      description: ''
      summary: Get
components:
  schemas:
    Dome9.Web.Api.Azure.LogProfile.AzureLogProfileViewModel:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
        id:
          type: string
        name:
          type: string
        type:
          type: string
        properties:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.LogProfile.AzureLogProfilePropertiesViewModel'
        accountId:
          format: int64
          type: integer
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        resourceGroup:
          type: string
    Dome9.Web.Api.Azure.LogProfile.AzureLogProfileRetentionPolicyViewModel:
      type: object
      properties:
        enabled:
          type: string
        days:
          format: int32
          type: integer
    Dome9.Web.Api.Azure.LogProfile.AzureLogProfilePropertiesViewModel:
      type: object
      properties:
        storageAccountId:
          type: string
        serviceBusRuleId:
          type: string
        locations:
          type: array
          items:
            type: string
        categories:
          type: array
          items:
            type: string
        retentionPolicy:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.LogProfile.AzureLogProfileRetentionPolicyViewModel'
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
