openapi: 3.2.0
info:
  title: Workload Protection Shift Left API
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Shift Left
paths:
  /v2/ShiftLeft/{url}:
    get:
      tags:
      - Shift Left
      summary: Get
      operationId: ShiftLeft_Get_get_/v2/ShiftLeft/{url}
      parameters:
      - name: url
        in: path
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      description: proxy to ShiftLeft backend
  /v2/ShiftLeft/blades:
    get:
      tags:
      - Shift Left
      summary: Get Blades
      operationId: ShiftLeft_GetBlades_get_/v2/ShiftLeft/blades
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      description: proxy to ShiftLeft Cli page
  /v2/ShiftLeft/blades/{os}/{arch}:
    get:
      tags:
      - Shift Left
      summary: Get Blades Os
      operationId: ShiftLeft_GetBladesOs_get_/v2/ShiftLeft/blades/{os}/{arch}
      parameters:
      - name: os
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: arch
        in: path
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      description: proxy to ShiftLeft Cli page
components:
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
