openapi: 3.2.0
info:
  title: Inventory - AWS IAM Cloud Iam Policy API
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Cloud Iam Policy
paths:
  /v2/CloudIamPolicy/defaults:
    get:
      tags:
      - Cloud Iam Policy
      summary: Get Defaults
      operationId: CloudIamPolicy_GetDefaultsAsync_get_/v2/CloudIamPolicy/defaults
      parameters:
      - name: roleArns
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudIamPolicyViewModel'
      description: Fetch all defaults IAM policies.
  /v2/CloudIamPolicy:
    get:
      tags:
      - Cloud Iam Policy
      summary: Get
      operationId: CloudIamPolicy_GetAsync_get_/v2/CloudIamPolicy
      parameters:
      - name: roleArns
        in: query
        required: false
        schema:
          type: string
      - name: defaults
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudIamPolicyViewModel'
      description: Fetch all IAM policies.
components:
  schemas:
    Dome9.Web.Api.CloudIamPolicyViewModel:
      type: object
      properties:
        acccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        externalAccountId:
          type: string
        arn:
          type: string
        attachmentCount:
          format: int32
          type: integer
        createDate:
          format: date-time
          type: string
        defaultVersionId:
          type: string
        description:
          type: string
        isAttachable:
          type: boolean
        policyId:
          type: string
        policyName:
          type: string
        updateDate:
          format: date-time
          type: string
        version:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudIamPolicyVersionViewModel'
        tags:
          type: object
          additionalProperties:
            type: string
    Dome9.Web.Api.CloudIamPolicyVersionViewModel:
      type: object
      properties:
        versionId:
          type: string
        createDate:
          format: date-time
          type: string
        document:
          type: object
        isDefaultVersion:
          type: boolean
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
