openapi: 3.2.0
info:
  title: Intelligence Reports API
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Reports
  description: ''
paths:
  /v2/reports:
    get:
      tags:
      - Reports
      summary: Get Reports
      operationId: Reports_GetReports_get_/v2/reports
      responses:
        '200':
          description: Existing Reports Details
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FullReportResponseModel'
      description: Get reports
    post:
      tags:
      - Reports
      summary: Create Report
      operationId: Reports_CreateReport_post_/v2/reports
      requestBody:
        x-name: item
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseReportModel'
        required: true
        x-position: 1
      responses:
        '200':
          description: New Report Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOperationResponse'
    delete:
      tags:
      - Reports
      summary: Delete Reports
      operationId: Reports_DeleteReports_delete_/v2/reports
      requestBody:
        x-name: item
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteReportRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: Deleted Count
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOperationResponse'
  /v2/reports/{reportId}:
    put:
      tags:
      - Reports
      summary: Update Report
      operationId: Reports_UpdateReport_put_/v2/reports/{reportId}
      parameters:
      - name: reportId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      requestBody:
        x-name: item
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseReportModel'
        required: true
        x-position: 2
      responses:
        '200':
          description: New Report Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOperationResponse'
components:
  schemas:
    ReportFiltersItem:
      type: object
      additionalProperties: false
      required:
      - name
      - value
      properties:
        name:
          type: string
        value: {}
    ReportNotificationItem:
      type: object
      additionalProperties: false
      required:
      - type
      - value
      properties:
        type:
          type: string
        value:
          type: string
    FullReportResponseModel:
      allOf:
      - $ref: '#/components/schemas/BaseReportModel'
      - type: object
        additionalProperties: false
        required:
        - scheduleId
        - accountId
        - scheduledCron
        - lastRun
        - nextRun
        properties:
          scheduleId:
            type: integer
            format: int32
          accountId:
            type: integer
            format: int32
          scheduledCron:
            type: string
          lastRun:
            type: string
          nextRun:
            type: string
    BaseReportModel:
      type: object
      additionalProperties: false
      required:
      - reportName
      - reportType
      - filters
      - notifications
      - scheduleDetails
      properties:
        reportName:
          type: string
        reportType:
          type: string
        filters:
          type: array
          items:
            $ref: '#/components/schemas/ReportFiltersItem'
        notifications:
          type: array
          items:
            $ref: '#/components/schemas/ReportNotificationItem'
        scheduleDetails:
          $ref: '#/components/schemas/ReportScheduleDetails'
    DeleteReportRequest:
      type: object
      additionalProperties: false
      required:
      - scheduleIds
      properties:
        scheduleIds:
          type: array
          items:
            type: integer
            format: int32
    ReportOperationResponse:
      type: object
      additionalProperties: false
      required:
      - message
      properties:
        message:
          type: string
    ReportScheduleDetails:
      type: object
      additionalProperties: false
      required:
      - minuteOfHour
      - hourOfDay
      - dayOfWeek
      - dayOfMonth
      properties:
        minuteOfHour:
          type: integer
          format: int32
        hourOfDay:
          type: integer
          format: int32
        dayOfWeek:
          type:
          - integer
          - 'null'
          format: int32
        dayOfMonth:
          type:
          - integer
          - 'null'
          format: int32
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
