openapi: 3.2.0
info:
  title: Inventory - AWS Machine Learning Aws Sage Maker API
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Aws Sage Maker
paths:
  /v2/AwsSageMaker:
    get:
      tags:
      - Aws Sage Maker
      operationId: AwsSageMaker_Get_get_/v2/AwsSageMaker
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.AwsSageMaker.AwsSageMakerNotebookViewModel'
      description: ''
      summary: Get
components:
  schemas:
    Dome9.Web.Api.AwsSageMaker.AwsSageMakerNotebookViewModel:
      type: object
      properties:
        acceleratorTypes:
          type: array
          items:
            type: string
        additionalCodeRepositories:
          type: array
          items:
            type: string
        defaultCodeRepository:
          type: string
        directInternetAccess:
          type: string
        failureReason:
          type: string
        instanceType:
          type: string
        kmsKeyId:
          type: string
        networkInterfaceId:
          type: string
        notebookInstanceArn:
          type: string
        notebookInstanceLifecycleConfigName:
          type: string
        notebookInstanceName:
          type: string
        notebookInstanceStatus:
          type: string
        roleArn:
          type: string
        rootAccess:
          type: string
        securityGroups:
          type: array
          items:
            type: string
        subnetId:
          type: string
        url:
          type: string
        volumeSizeInGB:
          format: int32
          type: integer
        tags:
          type: object
          additionalProperties:
            type: string
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
