openapi: 3.2.0
info:
  title: Inventory - AWS Networking and Content Delivery Aws Vpc…
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Aws Vpc Endpoint
paths:
  /v2/AwsVpcEndpoint:
    get:
      tags:
      - Aws Vpc Endpoint
      operationId: AwsVpcEndpoint_Get_get_/v2/AwsVpcEndpoint
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.AwsVpcEndpointViewModel'
      description: ''
      summary: Get
  /v2/AwsVpcEndpoint/{id}:
    get:
      tags:
      - Aws Vpc Endpoint
      operationId: AwsVpcEndpoint_Get_get_/v2/AwsVpcEndpoint/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Falconetix.Model.AwsVpcEndpointViewModel'
      description: ''
      summary: Get
components:
  schemas:
    Falconetix.Model.VpcEndpointServiceViewModel:
      type: object
      properties:
        acceptanceRequired:
          type: boolean
        availabilityZones:
          type: array
          items:
            type: string
        baseEndpointDnsNames:
          type: array
          items:
            type: string
        managesVpcEndpoints:
          type: boolean
        owner:
          type: string
        payerResponsibility:
          type: string
        privateDnsName:
          type: string
        privateDnsNames:
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.AwsPrivateDnsDetailsViewModel'
        privateDnsNameVerificationState:
          type: string
        serviceId:
          type: string
        serviceName:
          type: string
        serviceType:
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.AwsServiceTypeDetailViewModel'
        supportedIpAddressTypes:
          type: array
          items:
            type: string
        tags:
          type: object
          additionalProperties:
            type: string
        vpcEndpointPolicySupported:
          type: boolean
    Falconetix.Model.AwsVpcEndpointViewModel:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        creationTimestamp:
          format: date-time
          type: string
        policyDocument:
          type: string
        routeTableIds:
          type: array
          items:
            type: string
        serviceName:
          type: string
        endpointServices:
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.VpcEndpointServiceViewModel'
        state:
          type: string
        vpcEndpointId:
          type: string
        vpcId:
          type: string
    Falconetix.Model.AwsPrivateDnsDetailsViewModel:
      type: object
      properties:
        privateDnsName:
          type: string
    Falconetix.Model.AwsServiceTypeDetailViewModel:
      type: object
      properties:
        serviceType:
          type: string
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
