info:
  title: Inventory - AWS Management Tools
  version: v2
openapi: 3.0.0
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
paths:
  /v2/AwsConfigSettings:
    get:
      tags:
      - Aws Config Settings
      operationId: AwsConfigSettings_Get_get_/v2/AwsConfigSettings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.AwsConfigSetting.AwsConfigSettingsViewModel'
      description: ''
      summary: Get
  /v2/AwsConfigSettings/{id}:
    get:
      tags:
      - Aws Config Settings
      operationId: AwsConfigSettings_Get_get_/v2/AwsConfigSettings/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.AwsConfigSetting.AwsConfigSettingsViewModel'
      description: ''
      summary: Get
  /v2/CloudLogGroups:
    get:
      tags:
      - Cloud Log Groups
      operationId: CloudLogGroups_Get_get_/v2/CloudLogGroups
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudLogGroups.CloudLogGroupViewModel'
      description: ''
      summary: Get
  /v2/CloudMetricAlarm:
    get:
      tags:
      - Cloud Metric Alarm
      operationId: CloudMetricAlarm_Get_get_/v2/CloudMetricAlarm
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudMetricAlarms.CloudMetricAlarmViewModel'
      description: ''
      summary: Get
  /v2/CloudTrail:
    get:
      tags:
      - Cloud Trail
      summary: Get
      operationId: CloudTrail_Get_get_/v2/CloudTrail
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudTrail.CloudTrailViewModel'
      description: Get CloudTrail events for a Dome9 user
  /v2/CloudWatchEventsRule:
    get:
      tags:
      - Cloud Watch Events Rule
      operationId: CloudWatchEventsRule_Get_get_/v2/CloudWatchEventsRule
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.EventRule.EventRuleViewModel'
      description: ''
      summary: Get
tags:
- name: AccessLease
  description: Access Leases
- name: AccessLeaseInvitation
  description: Access Lease Invitations
- name: Account
- name: AccountLimitation
- name: AccountPollingInterval
- name: AccountRegistration
- name: AccountTrust
  description: "Allow you to define a trust between accounts in order to allow users in a certain account to make changes\
    \ and operation on another account.\nActions can be taken on a trustee account via a role which is defined on it. \nThe\
    \ role should be assumed by a user from the trusted account."
- name: Agent
- name: Agentless
  description: Agentless Workload Posture
- name: Alert
- name: AlibabaCloudAccount
  description: Alibaba Cloud Accounts
- name: Application
- name: Assessment
  description: Run and View Compliance Assessments
- name: AssessmentHistory
- name: AssessmentHistoryV2
  description: Compliance Assessment History
- name: Audit
  description: Audit logs
- name: Auth
- name: Aws Cloud Account
  description: Manage AWS Cloud Accounts
- name: AwsAppSync
- name: AwsBackupVault
- name: AwsConfigSettings
- name: AwsCustomerGateway
- name: AwsEcsTask
- name: AwsEks
- name: AwsElasticIp
- name: AwsElasticsearchDomain
- name: AwsEmrCluster
- name: AwsInspectorFindings
- name: AwsInspectorRuns
- name: AwsLoadBalancersNetworkInterfaces
- name: AwsOrganizations
- name: AwsQuickSightAccount
- name: AwsQuickSightGroup
- name: AwsQuickSightUser
- name: AwsQuickSightVpcConnections
- name: AwsSageMaker
- name: AwsSecurityGroup
- name: AwsSecurityGroupPolicy
- name: AwsSecurityGroupsIndex
- name: AwsUnifiedOnboarding
  description: Aws Unified Onboarding
- name: AwsVpcEndpoint
- name: AzureAnalysisService
- name: AzureApplicationGateway
- name: AzureApplicationSecurityGroup
- name: AzureCloudAccount
  description: Onboard Azure accounts
- name: AzureComputeGalleryImage
- name: AzureCosmosDbAccount
- name: AzureDisk
- name: AzureFunction
- name: AzureKeyVault
- name: AzureKubernetes
- name: AzureLoadBalancer
- name: AzureLock
- name: AzureLogicApp
- name: AzureLogProfile
- name: AzurePolicyAssignment
- name: AzureRedisCache
- name: AzureResourceGroup
- name: AzureRouteTable
- name: AzureSecurityGroup
- name: AzureSecurityGroupPolicy
  description: Azure Network Security Group Policies
- name: AzureSnapshot
- name: AzureSqlDb
- name: AzureSqlServer
- name: AzureStorageAccounts
- name: AzureStorageBlobContainer
- name: AzureSubnet
- name: AzureUser
- name: AzureVirtualMachine
- name: AzureVirtualMachineImage
- name: AzureVirtualMachineScaleSet
- name: AzureVirtualNetworkPeering
- name: AzureWebApp
- name: BigTable
- name: BillableAssets
  description: Retrieve billable assets data
- name: BillableAssetsReport
  description: Billable Assets Report
- name: Billing
- name: Clarity
- name: CloudAcmCertificate
- name: CloudAmi
- name: CloudAutoScalingGroup
- name: CloudDbInstance
- name: CloudDirectConnect
- name: CloudDynamoDb
- name: CloudEcsCluster
- name: CloudEcsService
  description: Cloud Ecs Service
- name: CloudEcsTaskDefinition
- name: CloudEfs
- name: CloudElastiCacheCluster
- name: CloudFlowLogs
- name: CloudFrontDistribution
- name: CloudGuardDutyDetector
- name: CloudIamAccountSummary
- name: CloudIamCredentialReport
- name: CloudIamGroup
- name: CloudIamPasswordPolicy
- name: CloudIamPolicy
- name: CloudIamRole
- name: CloudIamServerCertificate
- name: CloudIamUser
- name: CloudIamVirtualMfaDevice
- name: CloudInfraUser
  description: CloudInfra Users
- name: CloudInstance
  description: Cloud Instances
- name: CloudInternetGateway
- name: CloudKinesisStream
- name: CloudKms
- name: CloudKmsAlias
- name: CloudLambdaFunction
  description: Cloud Lambda Function
- name: CloudLoadBalancer
- name: CloudLogGroups
- name: CloudMetricAlarm
- name: CloudNacl
- name: CloudNetworkInterfaces
- name: CloudRedshiftCluster
- name: CloudRegion
- name: CloudRoute53Domain
- name: CloudRoute53HostedZone
- name: CloudRoute53RecordSetGroup
- name: CloudRouteTable
- name: CloudS3Bucket
  description: ''
- name: CloudSecurityGroup
  description: AWS Security Groups
- name: CloudSnsSubscription
- name: CloudSnsTopic
- name: CloudSql
- name: CloudSqs
  description: ''
- name: CloudSubnet
- name: CloudTrail
  description: CloudTrail
- name: CloudVolume
- name: CloudVpc
- name: CloudVpcPeeringConnection
- name: CloudVPNConnection
- name: CloudVpnGateway
- name: CloudWAFRegional
- name: CloudWatchEventsRule
  description: CloudWatchEventsRule
- name: ComplianceExclusion
  description: Compliance Exclusions
- name: CompliancePolicy
- name: ComplianceRemediation
  description: Compliance Remediation
- name: ComplianceRemediationOld
  description: Compliance Remediation - DEPRECATED - please use /Compliance/Remediation instead
- name: ComplianceRuleset
  description: ComplianceRuleset
- name: ContinuousComplianceNotification
  description: Continuous Compliance Notification Policies
- name: ContinuousCompliancePolicy
- name: ContinuousCompliancePolicyV2
  description: Continuous Compliance Policies
- name: EmergencyPolicy
- name: EntityFetchStatus
- name: EntityReport
- name: ExclusionOld
  description: Compliance Exclusions - DEPRECATED - please use /Compliance/Exclusion instead
- name: ExternalFindings
  description: Findings from External (3rd-party) systems
- name: Fim
- name: Finding
  description: Compliance Findings
- name: FindingsReport
  description: Compliance Findings csv reports
- name: GcpBigQuery
- name: GcpDisk
- name: GcpGkeCluster
- name: GcpImage
- name: GcpKmsKeyRing
- name: GcpProjectInfo
  description: Google Cloud Project Info
- name: GcpPubSub
- name: GcpSecurityGroup
- name: GcpServiceAccount
- name: GcpStorageBucket
- name: GenericList
  description: Generic Lists
- name: GlobalSearch
  description: Global search for all CloudGuard services
- name: GoogleCloudAccount
  description: Google Cloud Accounts
- name: GoogleCloudFirewallRule
- name: GoogleCloudFunction
- name: GoogleCloudIamPolicy
- name: GoogleCloudNetwork
  description: Google Cloud Network
- name: GoogleCloudSubnet
- name: GoogleCloudVMInstance
- name: Home
- name: IamSafeLease
  description: IAM Safety Leases
- name: IncidentsStatus
- name: InfrastructureAssessment
- name: Intelligence
  description: CloudGuard Intelligence allows you to visualize and analyze Account Activity and Network Traffic into and out
    of your cloud environment.
- name: IpAddressMetadata
  description: IP Address Metadata
- name: IpList
  description: IP Lists
- name: LicenseActivator
- name: Licensing
- name: ManagedGenericList
- name: Msp
- name: OrganizationalUnit
  description: Manage Organizational Units
- name: Permission
- name: ProtectedAsset
- name: ProtectedAssetsReport
  description: Compliance Protected Asset csv reports
- name: ProtegoStatistics
  description: Protego statistics by dates
- name: Role
  description: CloudGuard Roles
- name: RulesEngine
- name: SecurityGroup
- name: Serverless
- name: ServerlessPolicy
  description: Serverless policy
- name: ServiceAccount
  description: CloudGuard Service Accounts
- name: ServicePort
- name: Settings
  description: Account Settings
- name: ShiftLeft
  description: ShiftLeft
- name: SystemHealth
- name: TenableAccount
  description: Onboard Tenable accounts
- name: User
  description: CloudGuard account users
- name: BaseImage
  description: ''
- name: ContainerRegistryAccount
  description: Container Registry Account
- name: ContainerRegistryAccountInternal
  description: ''
- name: ContainerRegistryImageAssurancePolicy
  description: '(deprecated: move to use /v2/vulnerability/policy)'
- name: Dashboard
  description: ''
- name: EcsConfiguration
  description: ''
- name: EcsImageAssurancePolicy
  description: '(deprecated: move to use /v2/vulnerability/policy)'
- name: EcsImageScan
  description: ECS Image Scan Configuration
- name: Environment
  description: ''
- name: ImageAdmissionExclusion
  description: '[Preview feature] Kubernetes Image admission exclusions'
- name: ImageAssuranceDashboard
  description: ''
- name: ImageAssuranceReport
  description: ''
- name: KubernetesAccount
  description: Kubernetes Accounts
- name: KubernetesAccountInternal
  description: ''
- name: KubernetesAccountOld
  description: '(deprecated: this api is deprecated, please use ''/v2/kubernetes/account'' instead)'
- name: KubernetesAdmissionControl
  description: Kubernetes Admission Control
- name: KubernetesAdmissionControlPoliciesSummary
  description: ''
- name: KubernetesClusterRole
  description: ''
- name: KubernetesImage
  description: ''
- name: KubernetesImageAdmissionExclusion
  description: '[Preview feature] Kubernetes Image admission exclusions (deprecated: this api is deprecated, please use ''/v2/kubernetes/admissionControl/imageAdmissionExclusion''
    instead)'
- name: KubernetesImageAssurance
  description: Kubernetes Image Assurance
- name: KubernetesImageAssurancePolicy
  description: 'Kubernetes Image Assurance Policy (deprecated: move to use /v2/vulnerability/policy)'
- name: KubernetesIngress
  description: ''
- name: KubernetesNetworkPolicy
  description: ''
- name: KubernetesNode
  description: ''
- name: KubernetesPod
  description: ''
- name: KubernetesPodGroup
  description: Kubernetes Pod Groups
- name: KubernetesPodGroupOwner
  description: ''
- name: KubernetesPodSecurityPolicy
  description: ''
- name: KubernetesRole
  description: ''
- name: KubernetesRuntimeAssurance
  description: ''
- name: KubernetesService
  description: ''
- name: KubernetesServiceAccount
  description: ''
- name: Shiftleft
  description: ''
- name: ShiftLeftAccount
  description: ShiftLeft
- name: ShiftLeftPolicy
  description: 'ShiftLeft Policy (deprecated: move to use /v2/vulnerability/policy)'
- name: Workload
  description: ''
- name: WorkloadAccountSetting
  description: Workload Account Setting
- name: WorkloadChangeMonitoring
  description: ''
- name: WorkloadImageAssurance
  description: Workload Image Assurance
- name: WorkloadImageAssuranceInternal
  description: ''
- name: WorkloadInternal
  description: ''
- name: WorkloadRuntimeProtection
  description: ''
- name: Alerts
  description: ''
- name: Azure
  description: ''
- name: FindingOrchestration
  description: ''
- name: FindingsUpdate
  description: ''
- name: Gcp
  description: ''
- name: Remediation
  description: Remediation Actions
- name: Reports
  description: ''
- name: CloudInfraMigration
  description: infinity-portal-connect
- name: GslBuilder
  description: ''
- name: Infrastructure
  description: ''
- name: InternalLicense
  description: ''
- name: NotificationIntegrationInternal
  description: '(deprecated: This controller is deprecated and will be removed in the future)'
- name: OciCloudAccount
  description: Onboard OCI accounts
- name: PlatformReports
  description: ''
- name: Regions
  description: ''
- name: Spectral
  description: ''
- name: RestrictedWorkloadClientModules
  description: ''
- name: WorkloadClientModules
  description: ''
- name: WorkloadTelemetry
  description: ''
- name: Integration
  description: Integration
- name: IntegrationInternal
  description: ''
- name: Notification
  description: Notification
- name: NotificationInternal
  description: ''
- name: AssetMetadataSyncNow
  description: ''
- name: BusinessPriorityModifier
  description: Business Priority Rules
- name: CustomRuleset
  description: Risk Management Rulesets
- name: Dspm
  description: DSPM Controller
- name: Exposure
  description: ''
- name: GroupRiskManagement
  description: Groups Risk Management
- name: RemediationActions
  description: Remediation Actions
- name: RiskModifiers
  description: Risk Modifiers
- name: SecurityEvents
  description: ''
- name: SimilarAssetGroups
  description: ''
- name: Waf
  description: WAF Protection
- name: AwsOrganizationManagement
  description: AwsOrganizationManagement
- name: AwsOrganizationManagementOnboarding
  description: AwsOrganizationManagementOnboarding
- name: AzureOrganizationManagement
  description: AzureOrganizationManagement
- name: GcpOrganizationManagement
  description: GcpOrganizationManagement
- name: OnboardingManagement
  description: OnboardingManagement
- name: InternalSBOM
  description: ''
- name: InternalVulnerabilityAccountStatsBatch
  description: ''
- name: InternalVulnerabilityCleanup
  description: ''
- name: InternalVulnerabilityPolicy
  description: ''
- name: InternalVulnerabilityScanResults
  description: ''
- name: SBOM
  description: ''
- name: SBOMExport
  description: SBOM Export
- name: Vulnerabilities
  description: Vulnerabilities
- name: VulnerabilityAssessment
  description: ''
- name: VulnerabilityExclusions
  description: Vulnerability Exclusions
- name: VulnerabilityPolicy
  description: Vulnerability Policy
- name: VulnerabilitySBOM
  description: ''
- name: CloudApplicationLoadBalancer
  description: ''
- name: CloudNetworkLoadBalancer
  description: ''
- name: GcpMachineImage
  description: ''
- name: OciCompartment
  description: ''
- name: AssetLabelsService
  description: ''
- name: AssetOpenFindings
  description: ''
- name: EntityTypes
  description: The entity types endpoint allows you to get the supported entity types and the platform they're supported for.
- name: EvidencePath
  description: The evidence path endpoint allows you to get the evidence path for a given findingId.
- name: Exclusions
  description: The exclusion endpoint provides API to perform CRUD operations on the resource.
- name: IgnoreCves
  description: The ignore CVEs endpoint provides API to perform CRUD operations on the resource.
- name: IgnoreMalwares
  description: The ignore malwares endpoint provides API to perform CRUD operations on the resource.
- name: Rules
  description: The rules endpoint provides APIs to get the security rules data
- name: SecurityGraphIssues
  description: API for issue enrichments
- name: SecurityGraphQuery
  description: The query endpoint provides APIs to run queries (rules) to preview possible issues.
- name: EntitySchema
  description: The entity schema endpoint presents schema of toxic issues entities.
- name: SecurityIssues
  description: The Findings endpoint provides APIs query the findings store which contains findings such as security issues.
    It provides APIs to get, search and group findings.
- name: AutomatedActions
  description: The Automated Actions resource provides API to perform CRUD operations on the resource.
components:
  schemas:
    Dome9.Web.Api.AwsConfigSetting.AwsConfigSettingsViewModel:
      type: object
      properties:
        recordingIsOn:
          type: boolean
        name:
          type: string
        allResourcesInRegionSupported:
          type: boolean
        includeGlobalResourceTypes:
          type: boolean
        resourceTypes:
          type: array
          items:
            type: string
        roleArn:
          type: string
        recordingStatus:
          $ref: '#/components/schemas/Dome9.Web.Api.AwsConfigSetting.AwsConfigSettingsRecorderStatusViewModel'
        deliveryChannel:
          $ref: '#/components/schemas/Dome9.Web.Api.AwsConfigSetting.AwsConfigSettingsDeliveryChannelViewModel'
        retentionPeriodInDays:
          format: int32
          type: integer
        id:
          type: string
          readOnly: true
        externalId:
          type: string
          readOnly: true
        region:
          enum:
          - us_east_1
          - us_west_1
          - eu_west_1
          - ap_southeast_1
          - ap_northeast_1
          - us_west_2
          - sa_east_1
          - az_1_region_a_geo_1
          - az_2_region_a_geo_1
          - az_3_region_a_geo_1
          - ap_southeast_2
          - mellanox_region
          - us_gov_west_1
          - eu_central_1
          - ap_northeast_2
          - ap_south_1
          - us_east_2
          - ca_central_1
          - eu_west_2
          - eu_west_3
          - eu_north_1
          - cn_north_1
          - cn_northwest_1
          - us_gov_east_1
          - ap_east_1
          - me_south_1
          - af_south_1
          - eu_south_1
          - ap_northeast_3
          - me_central_1
          - ap_south_2
          - ap_southeast_3
          - ap_southeast_4
          - eu_central_2
          - eu_south_2
          - il_central_1
          - ca_west_1
          - mx_central_1
          - ap_southeast_5
          - ap_southeast_7
          - westus
          - eastus
          - eastus2
          - northcentralus
          - westus2
          - southcentralus
          - centralus
          - usgovlowa
          - usgovvirginia
          - northeurope
          - westeurope
          - eastasia
          - southeastasia
          - japaneast
          - japanwest
          - brazilsouth
          - australiaeast
          - australiasoutheast
          - centralindia
          - southindia
          - westindia
          - canadaeast
          - westcentralus
          - chinaeast
          - chinanorth
          - canadacentral
          - germanycentral
          - germanynortheast
          - koreacentral
          - uksouth
          - ukwest
          - koreasouth
          - francecentral
          - francesouth
          - germanywestcentral
          - usdodcentral
          - usdodeast
          - usgovarizona
          - usgovtexas
          - australiacentral
          - australiacentral2
          - chinaeast2
          - chinanorth2
          - southafricanorth
          - southafricawest
          - uaecentral
          - uaenorth
          - ussecwest
          - usseceast
          - germanynorth
          - switzerlandwest
          - norwaywest
          - norwayeast
          - switzerlandnorth
          - westus3
          - swedencentral
          - chinanorth3
          - brazilsoutheast
          - eastus2euap
          - jioindiawest
          - jioindiacentral
          - qatarcentral
          - spaincentral
          - italynorth
          - polandcentral
          - mexicocentral
          - asia
          - asia_east1
          - asia_northeast1
          - asia_south1
          - asia_southeast1
          - australia_southeast1
          - europe
          - europe_north1
          - europe_west1
          - europe_west2
          - europe_west3
          - europe_west4
          - northamerica_northeast1
          - southamerica_east1
          - us
          - us_central1
          - us_east1
          - us_east4
          - us_west1
          - us_west2
          - global
          - asia_east2
          - eur4
          - nam4
          - europe_west6
          - japan_west
          - asia_northeast2
          - asia_northeast3
          - us_west3
          - us_west4
          - asia_southeast2
          - nam3
          - nam5
          - nam6
          - nam7
          - nam10
          - nam_eur_asia1
          - eur3
          - eur5
          - asia1
          - nam11
          - eu
          - northamerica_northeast2
          - southamerica_west1
          - us_east5
          - us_south1
          - europe_central2
          - europe_southwest1
          - europe_west8
          - europe_west9
          - europe_west10
          - europe_west12
          - asia_south2
          - australia_southeast2
          - me_central1
          - me_central2
          - me_west1
          - ap_sydney_1
          - ap_melbourne_1
          - sa_saopaulo_1
          - sa_vinhedo_1
          - ca_montreal_1
          - ca_toronto_1
          - sa_santiago_1
          - eu_paris_1
          - eu_marseille_1
          - eu_frankfurt_1
          - ap_hyderabad_1
          - ap_mumbai_1
          - il_jerusalem_1
          - eu_milan_1
          - ap_osaka_1
          - ap_tokyo_1
          - mx_queretaro_1
          - eu_amsterdam_1
          - me_jeddah_1
          - ap_singapore_1
          - af_johannesburg_1
          - ap_seoul_1
          - ap_chuncheon_1
          - eu_madrid_1
          - eu_stockholm_1
          - eu_zurich_1
          - me_abudhabi_1
          - me_dubai_1
          - uk_london_1
          - uk_cardiff_1
          - us_ashburn_1
          - us_phoenix_1
          - us_sanjose_1
          - us_gov_ashburn_1
          - us_gov_chicago_1
          - us_gov_phoenix_1
          - us_langley_1
          - us_luke_1
          - uk_gov_london_1
          - uk_gov_cardiff_1
          - sa_bogota_1
          - us_chicago_1
          - sa_valparaiso_1
          - mx_monterrey_1
          - eu_jovanovac_1
          - ap_singapore_2
          type: string
          readOnly: true
        cloudAccountId:
          format: uuid
          type: string
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        accountId:
          format: int64
          type: integer
          readOnly: true
    Dome9.Web.Api.AwsConfigSetting.AwsConfigSettingsRecorderStatusViewModel:
      type: object
      properties:
        lastErrorCode:
          type: string
        lastErrorMessage:
          type: string
        lastStartTime:
          format: date-time
          type: string
        lastStatus:
          type: string
        lastStatusChangeTime:
          format: date-time
          type: string
        lastStopTime:
          format: date-time
          type: string
        recording:
          type: boolean
    Dome9.Web.Api.AwsConfigSetting.AwsConfigSettingsDeliveryChannelViewModel:
      type: object
      properties:
        s3BucketName:
          type: string
        s3KeyPrefix:
          type: string
        snsTopicARN:
          type: string
    Dome9.Web.Api.CloudLogGroups.CloudLogGroupViewModel:
      type: object
      properties:
        id:
          description: Id
          type: string
          readOnly: true
        externalId:
          description: ExternalId
          type: string
          readOnly: true
        name:
          description: Name
          type: string
          readOnly: true
        region:
          description: Region
          enum:
          - us_east_1
          - us_west_1
          - eu_west_1
          - ap_southeast_1
          - ap_northeast_1
          - us_west_2
          - sa_east_1
          - az_1_region_a_geo_1
          - az_2_region_a_geo_1
          - az_3_region_a_geo_1
          - ap_southeast_2
          - mellanox_region
          - us_gov_west_1
          - eu_central_1
          - ap_northeast_2
          - ap_south_1
          - us_east_2
          - ca_central_1
          - eu_west_2
          - eu_west_3
          - eu_north_1
          - cn_north_1
          - cn_northwest_1
          - us_gov_east_1
          - ap_east_1
          - me_south_1
          - af_south_1
          - eu_south_1
          - ap_northeast_3
          - me_central_1
          - ap_south_2
          - ap_southeast_3
          - ap_southeast_4
          - eu_central_2
          - eu_south_2
          - il_central_1
          - ca_west_1
          - mx_central_1
          - ap_southeast_5
          - ap_southeast_7
          - westus
          - eastus
          - eastus2
          - northcentralus
          - westus2
          - southcentralus
          - centralus
          - usgovlowa
          - usgovvirginia
          - northeurope
          - westeurope
          - eastasia
          - southeastasia
          - japaneast
          - japanwest
          - brazilsouth
          - australiaeast
          - australiasoutheast
          - centralindia
          - southindia
          - westindia
          - canadaeast
          - westcentralus
          - chinaeast
          - chinanorth
          - canadacentral
          - germanycentral
          - germanynortheast
          - koreacentral
          - uksouth
          - ukwest
          - koreasouth
          - francecentral
          - francesouth
          - germanywestcentral
          - usdodcentral
          - usdodeast
          - usgovarizona
          - usgovtexas
          - australiacentral
          - australiacentral2
          - chinaeast2
          - chinanorth2
          - southafricanorth
          - southafricawest
          - uaecentral
          - uaenorth
          - ussecwest
          - usseceast
          - germanynorth
          - switzerlandwest
          - norwaywest
          - norwayeast
          - switzerlandnorth
          - westus3
          - swedencentral
          - chinanorth3
          - brazilsoutheast
          - eastus2euap
          - jioindiawest
          - jioindiacentral
          - qatarcentral
          - spaincentral
          - italynorth
          - polandcentral
          - mexicocentral
          - asia
          - asia_east1
          - asia_northeast1
          - asia_south1
          - asia_southeast1
          - australia_southeast1
          - europe
          - europe_north1
          - europe_west1
          - europe_west2
          - europe_west3
          - europe_west4
          - northamerica_northeast1
          - southamerica_east1
          - us
          - us_central1
          - us_east1
          - us_east4
          - us_west1
          - us_west2
          - global
          - asia_east2
          - eur4
          - nam4
          - europe_west6
          - japan_west
          - asia_northeast2
          - asia_northeast3
          - us_west3
          - us_west4
          - asia_southeast2
          - nam3
          - nam5
          - nam6
          - nam7
          - nam10
          - nam_eur_asia1
          - eur3
          - eur5
          - asia1
          - nam11
          - eu
          - northamerica_northeast2
          - southamerica_west1
          - us_east5
          - us_south1
          - europe_central2
          - europe_southwest1
          - europe_west8
          - europe_west9
          - europe_west10
          - europe_west12
          - asia_south2
          - australia_southeast2
          - me_central1
          - me_central2
          - me_west1
          - ap_sydney_1
          - ap_melbourne_1
          - sa_saopaulo_1
          - sa_vinhedo_1
          - ca_montreal_1
          - ca_toronto_1
          - sa_santiago_1
          - eu_paris_1
          - eu_marseille_1
          - eu_frankfurt_1
          - ap_hyderabad_1
          - ap_mumbai_1
          - il_jerusalem_1
          - eu_milan_1
          - ap_osaka_1
          - ap_tokyo_1
          - mx_queretaro_1
          - eu_amsterdam_1
          - me_jeddah_1
          - ap_singapore_1
          - af_johannesburg_1
          - ap_seoul_1
          - ap_chuncheon_1
          - eu_madrid_1
          - eu_stockholm_1
          - eu_zurich_1
          - me_abudhabi_1
          - me_dubai_1
          - uk_london_1
          - uk_cardiff_1
          - us_ashburn_1
          - us_phoenix_1
          - us_sanjose_1
          - us_gov_ashburn_1
          - us_gov_chicago_1
          - us_gov_phoenix_1
          - us_langley_1
          - us_luke_1
          - uk_gov_london_1
          - uk_gov_cardiff_1
          - sa_bogota_1
          - us_chicago_1
          - sa_valparaiso_1
          - mx_monterrey_1
          - eu_jovanovac_1
          - ap_singapore_2
          type: string
          readOnly: true
        cloudAccountId:
          format: uuid
          description: CloudAccountId
          type: string
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        accountId:
          format: int64
          description: AccountId
          type: integer
          readOnly: true
        metricFilters:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudLogGroups.CloudMetricFilterViewModel'
        arn:
          type: string
        creationTime:
          format: date-time
          type: string
        logGroupName:
          type: string
        metricFilterCount:
          format: int32
          type: integer
        retentionInDays:
          format: int32
          type: integer
        storedBytes:
          format: int64
          type: integer
    Dome9.Web.Api.CloudLogGroups.CloudMetricFilterViewModel:
      type: object
      properties:
        creationTime:
          format: date-time
          type: string
        filterName:
          type: string
        filterPattern:
          type: string
        metricTransformations:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudLogGroups.CloudMetricFilterTransformations'
    Dome9.Web.Api.CloudLogGroups.CloudMetricFilterTransformations:
      type: object
      properties:
        defaultValue:
          format: double
          type: number
        metricName:
          type: string
        metricNamespace:
          type: string
        metricValue:
          type: string
    Dome9.Web.Api.CloudMetricAlarms.CloudMetricAlarmViewModel:
      type: object
      properties:
        id:
          description: Id
          type: string
          readOnly: true
        externalId:
          description: ExternalId
          type: string
          readOnly: true
        name:
          description: Name
          type: string
          readOnly: true
        region:
          description: Region
          enum:
          - us_east_1
          - us_west_1
          - eu_west_1
          - ap_southeast_1
          - ap_northeast_1
          - us_west_2
          - sa_east_1
          - az_1_region_a_geo_1
          - az_2_region_a_geo_1
          - az_3_region_a_geo_1
          - ap_southeast_2
          - mellanox_region
          - us_gov_west_1
          - eu_central_1
          - ap_northeast_2
          - ap_south_1
          - us_east_2
          - ca_central_1
          - eu_west_2
          - eu_west_3
          - eu_north_1
          - cn_north_1
          - cn_northwest_1
          - us_gov_east_1
          - ap_east_1
          - me_south_1
          - af_south_1
          - eu_south_1
          - ap_northeast_3
          - me_central_1
          - ap_south_2
          - ap_southeast_3
          - ap_southeast_4
          - eu_central_2
          - eu_south_2
          - il_central_1
          - ca_west_1
          - mx_central_1
          - ap_southeast_5
          - ap_southeast_7
          - westus
          - eastus
          - eastus2
          - northcentralus
          - westus2
          - southcentralus
          - centralus
          - usgovlowa
          - usgovvirginia
          - northeurope
          - westeurope
          - eastasia
          - southeastasia
          - japaneast
          - japanwest
          - brazilsouth
          - australiaeast
          - australiasoutheast
          - centralindia
          - southindia
          - westindia
          - canadaeast
          - westcentralus
          - chinaeast
          - chinanorth
          - canadacentral
          - germanycentral
          - germanynortheast
          - koreacentral
          - uksouth
          - ukwest
          - koreasouth
          - francecentral
          - francesouth
          - germanywestcentral
          - usdodcentral
          - usdodeast
          - usgovarizona
          - usgovtexas
          - australiacentral
          - australiacentral2
          - chinaeast2
          - chinanorth2
          - southafricanorth
          - southafricawest
          - uaecentral
          - uaenorth
          - ussecwest
          - usseceast
          - germanynorth
          - switzerlandwest
          - norwaywest
          - norwayeast
          - switzerlandnorth
          - westus3
          - swedencentral
          - chinanorth3
          - brazilsoutheast
          - eastus2euap
          - jioindiawest
          - jioindiacentral
          - qatarcentral
          - spaincentral
          - italynorth
          - polandcentral
          - mexicocentral
          - asia
          - asia_east1
          - asia_northeast1
          - asia_south1
          - asia_southeast1
          - australia_southeast1
          - europe
          - europe_north1
          - europe_west1
          - europe_west2
          - europe_west3
          - europe_west4
          - northamerica_northeast1
          - southamerica_east1
          - us
          - us_central1
          - us_east1
          - us_east4
          - us_west1
          - us_west2
          - global
          - asia_east2
          - eur4
          - nam4
          - europe_west6
          - japan_west
          - asia_northeast2
          - asia_northeast3
          - us_west3
          - us_west4
          - asia_southeast2
          - nam3
          - nam5
          - nam6
          - nam7
          - nam10
          - nam_eur_asia1
          - eur3
          - eur5
          - asia1
          - nam11
          - eu
          - northamerica_northeast2
          - southamerica_west1
          - us_east5
          - us_south1
          - europe_central2
          - europe_southwest1
          - europe_west8
          - europe_west9
          - europe_west10
          - europe_west12
          - asia_south2
          - australia_southeast2
          - me_central1
          - me_central2
          - me_west1
          - ap_sydney_1
          - ap_melbourne_1
          - sa_saopaulo_1
          - sa_vinhedo_1
          - ca_montreal_1
          - ca_toronto_1
          - sa_santiago_1
          - eu_paris_1
          - eu_marseille_1
          - eu_frankfurt_1
          - ap_hyderabad_1
          - ap_mumbai_1
          - il_jerusalem_1
          - eu_milan_1
          - ap_osaka_1
          - ap_tokyo_1
          - mx_queretaro_1
          - eu_amsterdam_1
          - me_jeddah_1
          - ap_singapore_1
          - af_johannesburg_1
          - ap_seoul_1
          - ap_chuncheon_1
          - eu_madrid_1
          - eu_stockholm_1
          - eu_zurich_1
          - me_abudhabi_1
          - me_dubai_1
          - uk_london_1
          - uk_cardiff_1
          - us_ashburn_1
          - us_phoenix_1
          - us_sanjose_1
          - us_gov_ashburn_1
          - us_gov_chicago_1
          - us_gov_phoenix_1
          - us_langley_1
          - us_luke_1
          - uk_gov_london_1
          - uk_gov_cardiff_1
          - sa_bogota_1
          - us_chicago_1
          - sa_valparaiso_1
          - mx_monterrey_1
          - eu_jovanovac_1
          - ap_singapore_2
          type: string
          readOnly: true
        cloudAccountId:
          format: uuid
          description: CloudAccountId
          type: string
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        accountId:
          format: int64
          description: AccountId
          type: integer
          readOnly: true
        actionsEnabled:
          type: boolean
        alarmActions:
          description: "Gets and sets the property AlarmActions.\r\nThe list of actions to execute when this alarm transitions\
            \ into an ALARM\r\nstate from any other state. Each action is specified as an Amazon Resource\r\nName (ARN)."
          type: array
          items:
            type: string
        alarmArn:
          description: "Gets and sets the property AlarmArn.\r\nThe Amazon Resource Name (ARN) of the alarm."
          type: string
        alarmConfigurationUpdatedTimestamp:
          format: date-time
          description: "Gets and sets the property AlarmConfigurationUpdatedTimestamp.\r\nThe time stamp of the last update\
            \ to the alarm configuration."
          type: string
        alarmDescription:
          description: "Gets and sets the property AlarmDescription.\r\nThe description for the alarm."
          type: string
        alarmName:
          description: "Gets and sets the property AlarmName.\r\nThe name of the alarm."
          type: string
        comparisonOperator:
          description: "Gets and sets the property ComparisonOperator.\r\nThe arithmetic operation to use when comparing the\
            \ specified Statistic and\r\nThreshold. The specified Statistic value is used as the first operand."
          type: string
        dimensions:
          description: "Gets and sets the property Dimensions.\r\nThe list of dimensions associated with the alarm's associated\
            \ metric."
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudMetricAlarms.CloudMetricAlarmDimension'
        evaluationPeriods:
          format: int32
          description: "Gets and sets the property EvaluationPeriods.\r\nThe number of periods over which data is compared\
            \ to the specified threshold."
          type: integer
        insufficientDataActions:
          description: "Gets and sets the property InsufficientDataActions.\r\nThe list of actions to execute when this alarm\
            \ transitions into an INSUFFICIENT_DATA\r\nstate from any other state. Each action is specified as an Amazon Resource\r\
            \nName (ARN).\r\nThe current WSDL lists this attribute as UnknownActions."
          type: array
          items:
            type: string
        metricName:
          description: "Gets and sets the property MetricName.\r\nThe name of the alarm's metric."
          type: string
        namespace:
          description: "Gets and sets the property Namespace.\r\nThe namespace of alarm's associated metric."
          type: string
        okActions:
          description: "Gets and sets the property OKActions.\r\nThe list of actions to execute when this alarm transitions\
            \ into an OK state\r\nfrom any other state. Each action is specified as an Amazon Resource Name\r\n(ARN)."
          type: array
          items:
            type: string
        period:
          format: int32
          description: "Gets and sets the property Period.\r\nThe period in seconds over which the statistic is applied."
          type: integer
        stateReason:
          description: "Gets and sets the property StateReason.\r\nA human-readable explanation for the alarm's state."
          type: string
        stateReasonData:
          description: "Gets and sets the property StateReasonData.\r\nAn explanation for the alarm's state in machine-readable\
            \ JSON format"
          type: string
        stateUpdatedTimestamp:
          format: date-time
          description: "Gets and sets the property StateUpdatedTimestamp.\r\nThe time stamp of the last update to the alarm's\
            \ state."
          type: string
        stateValue:
          description: "Gets and sets the property StateValue.\r\nThe state value for the alarm."
          type: string
        statistic:
          description: "Gets and sets the property Statistic.\r\nThe statistic to apply to the alarm's associated metric."
          type: string
        threshold:
          format: double
          description: "Gets and sets the property Threshold.\r\nThe value against which the specified statistic is compared."
          type: number
        unit:
          description: "Gets and sets the property Unit.\r\nThe unit of the alarm's associated metric."
          type: string
    Dome9.Web.Api.CloudMetricAlarms.CloudMetricAlarmDimension:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
    Dome9.Web.Api.CloudTrail.CloudTrailViewModel:
      type: object
      properties:
        id:
          description: Id
          type: string
          readOnly: true
        externalId:
          description: ExternalId
          type: string
          readOnly: true
        name:
          description: Name
          type: string
          readOnly: true
        region:
          description: Region
          enum:
          - us_east_1
          - us_west_1
          - eu_west_1
          - ap_southeast_1
          - ap_northeast_1
          - us_west_2
          - sa_east_1
          - az_1_region_a_geo_1
          - az_2_region_a_geo_1
          - az_3_region_a_geo_1
          - ap_southeast_2
          - mellanox_region
          - us_gov_west_1
          - eu_central_1
          - ap_northeast_2
          - ap_south_1
          - us_east_2
          - ca_central_1
          - eu_west_2
          - eu_west_3
          - eu_north_1
          - cn_north_1
          - cn_northwest_1
          - us_gov_east_1
          - ap_east_1
          - me_south_1
          - af_south_1
          - eu_south_1
          - ap_northeast_3
          - me_central_1
          - ap_south_2
          - ap_southeast_3
          - ap_southeast_4
          - eu_central_2
          - eu_south_2
          - il_central_1
          - ca_west_1
          - mx_central_1
          - ap_southeast_5
          - ap_southeast_7
          - westus
          - eastus
          - eastus2
          - northcentralus
          - westus2
          - southcentralus
          - centralus
          - usgovlowa
          - usgovvirginia
          - northeurope
          - westeurope
          - eastasia
          - southeastasia
          - japaneast
          - japanwest
          - brazilsouth
          - australiaeast
          - australiasoutheast
          - centralindia
          - southindia
          - westindia
          - canadaeast
          - westcentralus
          - chinaeast
          - chinanorth
          - canadacentral
          - germanycentral
          - germanynortheast
          - koreacentral
          - uksouth
          - ukwest
          - koreasouth
          - francecentral
          - francesouth
          - germanywestcentral
          - usdodcentral
          - usdodeast
          - usgovarizona
          - usgovtexas
          - australiacentral
          - australiacentral2
          - chinaeast2
          - chinanorth2
          - southafricanorth
          - southafricawest
          - uaecentral
          - uaenorth
          - ussecwest
          - usseceast
          - germanynorth
          - switzerlandwest
          - norwaywest
          - norwayeast
          - switzerlandnorth
          - westus3
          - swedencentral
          - chinanorth3
          - brazilsoutheast
          - eastus2euap
          - jioindiawest
          - jioindiacentral
          - qatarcentral
          - spaincentral
          - italynorth
          - polandcentral
          - mexicocentral
          - asia
          - asia_east1
          - asia_northeast1
          - asia_south1
          - asia_southeast1
          - australia_southeast1
          - europe
          - europe_north1
          - europe_west1
          - europe_west2
          - europe_west3
          - europe_west4
          - northamerica_northeast1
          - southamerica_east1
          - us
          - us_central1
          - us_east1
          - us_east4
          - us_west1
          - us_west2
          - global
          - asia_east2
          - eur4
          - nam4
          - europe_west6
          - japan_west
          - asia_northeast2
          - asia_northeast3
          - us_west3
          - us_west4
          - asia_southeast2
          - nam3
          - nam5
          - nam6
          - nam7
          - nam10
          - nam_eur_asia1
          - eur3
          - eur5
          - asia1
          - nam11
          - eu
          - northamerica_northeast2
          - southamerica_west1
          - us_east5
          - us_south1
          - europe_central2
          - europe_southwest1
          - europe_west8
          - europe_west9
          - europe_west10
          - europe_west12
          - asia_south2
          - australia_southeast2
          - me_central1
          - me_central2
          - me_west1
          - ap_sydney_1
          - ap_melbourne_1
          - sa_saopaulo_1
          - sa_vinhedo_1
          - ca_montreal_1
          - ca_toronto_1
          - sa_santiago_1
          - eu_paris_1
          - eu_marseille_1
          - eu_frankfurt_1
          - ap_hyderabad_1
          - ap_mumbai_1
          - il_jerusalem_1
          - eu_milan_1
          - ap_osaka_1
          - ap_tokyo_1
          - mx_queretaro_1
          - eu_amsterdam_1
          - me_jeddah_1
          - ap_singapore_1
          - af_johannesburg_1
          - ap_seoul_1
          - ap_chuncheon_1
          - eu_madrid_1
          - eu_stockholm_1
          - eu_zurich_1
          - me_abudhabi_1
          - me_dubai_1
          - uk_london_1
          - uk_cardiff_1
          - us_ashburn_1
          - us_phoenix_1
          - us_sanjose_1
          - us_gov_ashburn_1
          - us_gov_chicago_1
          - us_gov_phoenix_1
          - us_langley_1
          - us_luke_1
          - uk_gov_london_1
          - uk_gov_cardiff_1
          - sa_bogota_1
          - us_chicago_1
          - sa_valparaiso_1
          - mx_monterrey_1
          - eu_jovanovac_1
          - ap_singapore_2
          type: string
          readOnly: true
        cloudAccountId:
          format: uuid
          description: CloudAccountId
          type: string
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        accountId:
          format: int64
          description: AccountId
          type: integer
          readOnly: true
        cloudWatchLogsLogGroupArn:
          description: "Gets and sets the property CloudWatchLogsLogGroupArn.\r\nSpecifies an Amazon Resource Name (ARN),\
            \ a unique identifier that represents\r\nthe log group to which CloudTrail logs will be delivered."
          type: string
        cloudWatchLogsRoleArn:
          description: "Gets and sets the property CloudWatchLogsRoleArn.\r\nSpecifies the role for the CloudWatch Logs endpoint\
            \ to assume to write to\r\na user's log group."
          type: string
        homeRegion:
          description: "Gets and sets the property HomeRegion.\r\nThe region in which the trail was created."
          type: string
        includeGlobalServiceEvents:
          description: "Gets and sets the property IncludeGlobalServiceEvents.\r\nSet to True to include AWS API calls from\
            \ AWS global services such as IAM.\r\n Otherwise, False."
          type: boolean
        isMultiRegionTrail:
          description: "Gets and sets the property IsMultiRegionTrail.\r\nSpecifies whether the trail belongs only to one\
            \ region or exists in all regions."
          type: boolean
        kmsKeyId:
          description: "Gets and sets the property KmsKeyId.\r\nSpecifies the KMS key ID that encrypts the logs delivered\
            \ by CloudTrail.\r\nThe value is a fully specified ARN to a KMS key in the format:\r\narn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012"
          type: string
        logFileValidationEnabled:
          description: "Gets and sets the property LogFileValidationEnabled.\r\nSpecifies whether log file validation is enabled."
          type: boolean
        s3BucketName:
          description: "Gets and sets the property S3BucketName.\r\nName of the Amazon S3 bucket into which CloudTrail delivers\
            \ your trail files.\r\nSee Amazon S3 Bucket Naming Requirements."
          type: string
        s3KeyPrefix:
          description: "Gets and sets the property S3KeyPrefix.\r\nSpecifies the Amazon S3 key prefix that comes after the\
            \ name of the bucket\r\nyou have designated for log file delivery. For more information, see Finding\r\nYour CloudTrail\
            \ Log Files.The maximum length is 200 characters."
          type: string
        snsTopicArn:
          description: "Gets and sets the property SnsTopicARN.\r\nSpecifies the ARN of the Amazon SNS topic that CloudTrail\
            \ uses to send notifications\r\nwhen log files are delivered. The format of a topic ARN is:\r\narn:aws:sns:us-east-1:123456789012:MyTopic"
          type: string
        snsTopicName:
          description: "Gets and sets the property SnsTopicName.\r\nThis field is deprecated. Use SnsTopicARN."
          type: string
        trailArn:
          description: "Gets and sets the property TrailARN.\r\nSpecifies the ARN of the trail. The format of a trail ARN\
            \ is:\r\narn:aws:cloudtrail:us-east-1:123456789012:trail/MyTrail"
          type: string
        cloudTrailStatus:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudTrail.CloudTrailStatusViewModel'
          description: CloudTrail status
    Dome9.Web.Api.CloudTrail.CloudTrailStatusViewModel:
      type: object
      properties:
        isLogging:
          description: "Gets and sets the property IsLogging.\r\nWhether the CloudTrail is currently logging AWS API calls."
          type: boolean
        latestCloudWatchLogsDeliveryError:
          description: "Gets and sets the property LatestCloudWatchLogsDeliveryError.\r\nDisplays any CloudWatch Logs error\
            \ that CloudTrail encountered when attempting\r\nto deliver logs to CloudWatch Logs."
          type: string
        latestCloudWatchLogsDeliveryTime:
          format: date-time
          description: "Gets and sets the property LatestCloudWatchLogsDeliveryTime.\r\nDisplays the most recent date and\
            \ time when CloudTrail delivered logs to\r\nCloudWatch Logs."
          type: string
        latestDeliveryAttemptSucceeded:
          description: "Gets and sets the property LatestDeliveryAttemptSucceeded.\r\nThis field is deprecated."
          type: string
        latestDeliveryAttemptTime:
          description: "Gets and sets the property LatestDeliveryAttemptTime.\r\nThis field is deprecated."
          type: string
        latestDeliveryError:
          description: "Gets and sets the property LatestDeliveryError.\r\nDisplays any Amazon S3 error that CloudTrail encountered\
            \ when attempting\r\nto deliver log files to the designated bucket. For more information see the\r\ntopic Error\
            \ Responses in the Amazon S3 API Reference.\r\nThis error occurs only when there is a problem with the destination\
            \ S3 bucket\r\nand will not occur for timeouts. To resolve the issue, create a new bucket\r\nand call UpdateTrail\
            \ to specify the new bucket, or fix the existing objects\r\nso that CloudTrail can again write to the bucket."
          type: string
        latestDeliveryTime:
          format: date-time
          description: "Gets and sets the property LatestDeliveryTime.\r\nSpecifies the date and time that CloudTrail last\
            \ delivered log files to an\r\naccount's Amazon S3 bucket."
          type: string
        latestDigestDeliveryError:
          description: "Gets and sets the property LatestDigestDeliveryError.\r\nDisplays any Amazon S3 error that CloudTrail\
            \ encountered when attempting\r\nto deliver a digest file to the designated bucket. For more information see\r\
            \nthe topic Error Responses in the Amazon S3 API Reference.\r\nThis error occurs only when there is a problem\
            \ with the destination S3 bucket\r\nand will not occur for timeouts. To resolve the issue, create a new bucket\r\
            \nand call UpdateTrail to specify the new bucket, or fix the existing objects\r\nso that CloudTrail can again\
            \ write to the bucket."
          type: string
        latestDigestDeliveryTime:
          format: date-time
          description: "Gets and sets the property LatestDigestDeliveryTime.\r\nSpecifies the date and time that CloudTrail\
            \ last delivered a digest file\r\nto an account's Amazon S3 bucket."
          type: string
        latestNotificationAttemptSucceeded:
          description: "Gets and sets the property LatestNotificationAttemptSucceeded.\r\nThis field is deprecated."
          type: string
        latestNotificationAttemptTime:
          description: "Gets and sets the property LatestNotificationAttemptTime.\r\nThis field is deprecated."
          type: string
        latestNotificationError:
          description: "Gets and sets the property LatestNotificationError.\r\nDisplays any Amazon SNS error that CloudTrail\
            \ encountered when attempting\r\nto send a notification. For more information about Amazon SNS errors, see\r\n\
            the Amazon SNS Developer Guide."
          type: string
        latestNotificationTime:
          format: date-time
          description: "Gets and sets the property LatestNotificationTime.\r\nSpecifies the date and time of the most recent\
            \ Amazon SNS notification that\r\nCloudTrail has written a new log file to an account's Amazon S3 bucket."
          type: string
        startLoggingTime:
          format: date-time
          description: "Gets and sets the property StartLoggingTime.\r\nSpecifies the most recent date and time when CloudTrail\
            \ started recording\r\nAPI calls for an AWS account."
          type: string
        stopLoggingTime:
          format: date-time
          description: "Gets and sets the property StopLoggingTime.\r\nSpecifies the most recent date and time when CloudTrail\
            \ stopped recording\r\nAPI calls for an AWS account."
          type: string
        timeLoggingStarted:
          description: "Gets and sets the property TimeLoggingStarted.\r\nThis field is deprecated."
          type: string
        timeLoggingStopped:
          description: "Gets and sets the property TimeLoggingStopped.\r\nThis field is deprecated."
          type: string
        externalId:
          description: ExternalId
          type: string
    Dome9.Web.Api.EventRule.EventRuleViewModel:
      type: object
      properties:
        name:
          type: string
        roleArn:
          type: string
        managedBy:
          type: string
        eventPattern:
          type: string
        description:
          type: string
        arn:
          type: string
        scheduleExpression:
          type: string
        state:
          enum:
          - Enabled
          - Disabled
          type: string
        targets:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.EventRule.AwsEventTargetViewModel'
    Dome9.Web.Api.EventRule.AwsEventTargetViewModel:
      type: object
      properties:
        arn:
          type: string
        id:
          type: string
        input:
          type: string
        inputPath:
          type: string
        roleArn:
          type: string
        inputTransformer:
          $ref: '#/components/schemas/Dome9.Web.Api.EventRule.AwsEventTargetTransformerViewModel'
        sqsParameters:
          $ref: '#/components/schemas/Dome9.Web.Api.EventRule.AwsEventTargetSqsViewModel'
    Dome9.Web.Api.EventRule.AwsEventTargetTransformerViewModel:
      type: object
      properties:
        inputPathsMap:
          type: object
          additionalProperties:
            type: string
        inputTemplate:
          type: string
    Dome9.Web.Api.EventRule.AwsEventTargetSqsViewModel:
      type: object
      properties:
        messageGroupId:
          type: string
  securitySchemes:
    basic:
      type: http
      scheme: basic
security:
- basic: []
x-readme:
  explorer-enabled: true
  proxy-enabled: true
