info:
  title: Inventory - AWS Networking and Content Delivery
  version: v2
openapi: 3.0.0
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
paths:
  /v2/AwsCustomerGateway:
    get:
      tags:
      - Aws Customer Gateway
      operationId: AwsCustomerGateway_Get_get_/v2/AwsCustomerGateway
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudCustomerGateway.AwsCustomerGatewayViewModel'
      description: ''
      summary: Get
  /v2/AwsElasticIp:
    get:
      tags:
      - Aws Elastic Ip
      operationId: AwsElasticIp_Get_get_/v2/AwsElasticIp
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.AwsElasticIPViewModel'
      description: ''
      summary: Get
  /v2/AwsLoadBalancersNetworkInterfaces:
    get:
      tags:
      - Aws Load Balancers Network Interfaces
      summary: Get
      operationId: AwsLoadBalancersNetworkInterfaces_Get_get_/v2/AwsLoadBalancersNetworkInterfaces
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.AwsLoadBalancersNetworkInterfacesViewModel'
      description: Get all AWS Load Balancers with attached Network Interfaces
  /v2/AwsVpcEndpoint:
    get:
      tags:
      - Aws Vpc Endpoint
      operationId: AwsVpcEndpoint_Get_get_/v2/AwsVpcEndpoint
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.AwsVpcEndpointViewModel'
      description: ''
      summary: Get
  /v2/AwsVpcEndpoint/{id}:
    get:
      tags:
      - Aws Vpc Endpoint
      operationId: AwsVpcEndpoint_Get_get_/v2/AwsVpcEndpoint/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Falconetix.Model.AwsVpcEndpointViewModel'
      description: ''
      summary: Get
  /v2/CloudDirectConnect/{directConnectId}/metrics:
    get:
      tags:
      - Cloud Direct Connect
      summary: Get Metrics
      operationId: CloudDirectConnect_GetMetrics_get_/v2/CloudDirectConnect/{directConnectId}/metrics
      parameters:
      - name: directConnectId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.CloudDirectConnect.AwsDirectConnectMetricsViewModel'
      description: Fetches the last day metrics for the given direct connect connection
  /v2/CloudDirectConnect:
    get:
      tags:
      - Cloud Direct Connect
      operationId: CloudDirectConnect_Get_get_/v2/CloudDirectConnect
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudDirectConnect.CloudDirectConnectViewModel'
      description: ''
      summary: Get
  /v2/CloudFrontDistribution:
    get:
      tags:
      - Cloud Front Distribution
      operationId: CloudFrontDistribution_Get_get_/v2/CloudFrontDistribution
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.CloudFrontDistributionViewModel'
      description: ''
      summary: Get
  /v2/CloudInternetGateway:
    get:
      tags:
      - Cloud Internet Gateway
      operationId: CloudInternetGateway_Get_get_/v2/CloudInternetGateway
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudInternetGateways.CloudInternetGatewayViewModel'
      description: ''
      summary: Get
  /v2/CloudNacl:
    get:
      tags:
      - Cloud Nacl
      summary: Get
      operationId: CloudNacl_Get_get_/v2/CloudNacl
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudNaclViewModel'
      description: Fetch all cloud subnets for the user from all cloud accounts.
  /v2/CloudRoute53Domain:
    get:
      tags:
      - Cloud Route53 Domain
      operationId: CloudRoute53Domain_Get_get_/v2/CloudRoute53Domain
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudRoute53.CloudRoute53DomainViewModel'
      description: ''
      summary: Get
  /v2/CloudRoute53Domain/{id}:
    get:
      tags:
      - Cloud Route53 Domain
      operationId: CloudRoute53Domain_Get_get_/v2/CloudRoute53Domain/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.CloudRoute53.CloudRoute53DomainViewModel'
      description: ''
      summary: Get
  /v2/CloudRoute53HostedZone:
    get:
      tags:
      - Cloud Route53 Hosted Zone
      operationId: CloudRoute53HostedZone_Get_get_/v2/CloudRoute53HostedZone
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudRoute53.CloudRoute53HostedZoneViewModel'
      description: ''
      summary: Get
  /v2/CloudRoute53RecordSetGroup:
    get:
      tags:
      - Cloud Route53 Record Set Group
      operationId: CloudRoute53RecordSetGroup_Get_get_/v2/CloudRoute53RecordSetGroup
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudRoute53.CloudRoute53RecordSetGroupViewModel'
      description: ''
      summary: Get
  /v2/CloudRouteTable:
    get:
      tags:
      - Cloud Route Table
      operationId: CloudRouteTable_Get_get_/v2/CloudRouteTable
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudRouteTables.CloudRouteTableViewModel'
      description: ''
      summary: Get
  /v2/CloudSubnet:
    get:
      tags:
      - Cloud Subnet
      summary: Get
      operationId: CloudSubnet_Get_get_/v2/CloudSubnet
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudSubnetViewModel'
      description: Fetch all cloud subnets for the user from all cloud accounts.
  /v2/CloudVpc:
    get:
      tags:
      - Cloud Vpc
      summary: Get
      operationId: CloudVpc_Get_get_/v2/CloudVpc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudVpcViewModel'
      description: Fetch all cloud instances for the user from all cloud accounts.
  /v2/CloudVpc/{id}:
    get:
      tags:
      - Cloud Vpc
      operationId: CloudVpc_Get_get_/v2/CloudVpc/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: cloudAccountId
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: region
        in: query
        required: true
        schema:
          type: string
          enum:
          - us_east_1
          - us_west_1
          - eu_west_1
          - ap_southeast_1
          - ap_northeast_1
          - us_west_2
          - sa_east_1
          - az_1_region_a_geo_1
          - az_2_region_a_geo_1
          - az_3_region_a_geo_1
          - ap_southeast_2
          - mellanox_region
          - us_gov_west_1
          - eu_central_1
          - ap_northeast_2
          - ap_south_1
          - us_east_2
          - ca_central_1
          - eu_west_2
          - eu_west_3
          - eu_north_1
          - cn_north_1
          - cn_northwest_1
          - us_gov_east_1
          - ap_east_1
          - me_south_1
          - af_south_1
          - eu_south_1
          - ap_northeast_3
          - me_central_1
          - ap_south_2
          - ap_southeast_3
          - ap_southeast_4
          - eu_central_2
          - eu_south_2
          - il_central_1
          - ca_west_1
          - mx_central_1
          - ap_southeast_5
          - ap_southeast_7
          - westus
          - eastus
          - eastus2
          - northcentralus
          - westus2
          - southcentralus
          - centralus
          - usgovlowa
          - usgovvirginia
          - northeurope
          - westeurope
          - eastasia
          - southeastasia
          - japaneast
          - japanwest
          - brazilsouth
          - australiaeast
          - australiasoutheast
          - centralindia
          - southindia
          - westindia
          - canadaeast
          - westcentralus
          - chinaeast
          - chinanorth
          - canadacentral
          - germanycentral
          - germanynortheast
          - koreacentral
          - uksouth
          - ukwest
          - koreasouth
          - francecentral
          - francesouth
          - germanywestcentral
          - usdodcentral
          - usdodeast
          - usgovarizona
          - usgovtexas
          - australiacentral
          - australiacentral2
          - chinaeast2
          - chinanorth2
          - southafricanorth
          - southafricawest
          - uaecentral
          - uaenorth
          - ussecwest
          - usseceast
          - germanynorth
          - switzerlandwest
          - norwaywest
          - norwayeast
          - switzerlandnorth
          - westus3
          - swedencentral
          - chinanorth3
          - brazilsoutheast
          - eastus2euap
          - jioindiawest
          - jioindiacentral
          - qatarcentral
          - spaincentral
          - italynorth
          - polandcentral
          - mexicocentral
          - asia
          - asia_east1
          - asia_northeast1
          - asia_south1
          - asia_southeast1
          - australia_southeast1
          - europe
          - europe_north1
          - europe_west1
          - europe_west2
          - europe_west3
          - europe_west4
          - northamerica_northeast1
          - southamerica_east1
          - us
          - us_central1
          - us_east1
          - us_east4
          - us_west1
          - us_west2
          - global
          - asia_east2
          - eur4
          - nam4
          - europe_west6
          - japan_west
          - asia_northeast2
          - asia_northeast3
          - us_west3
          - us_west4
          - asia_southeast2
          - nam3
          - nam5
          - nam6
          - nam7
          - nam10
          - nam_eur_asia1
          - eur3
          - eur5
          - asia1
          - nam11
          - eu
          - northamerica_northeast2
          - southamerica_west1
          - us_east5
          - us_south1
          - europe_central2
          - europe_southwest1
          - europe_west8
          - europe_west9
          - europe_west10
          - europe_west12
          - asia_south2
          - australia_southeast2
          - me_central1
          - me_central2
          - me_west1
          - ap_sydney_1
          - ap_melbourne_1
          - sa_saopaulo_1
          - sa_vinhedo_1
          - ca_montreal_1
          - ca_toronto_1
          - sa_santiago_1
          - eu_paris_1
          - eu_marseille_1
          - eu_frankfurt_1
          - ap_hyderabad_1
          - ap_mumbai_1
          - il_jerusalem_1
          - eu_milan_1
          - ap_osaka_1
          - ap_tokyo_1
          - mx_queretaro_1
          - eu_amsterdam_1
          - me_jeddah_1
          - ap_singapore_1
          - af_johannesburg_1
          - ap_seoul_1
          - ap_chuncheon_1
          - eu_madrid_1
          - eu_stockholm_1
          - eu_zurich_1
          - me_abudhabi_1
          - me_dubai_1
          - uk_london_1
          - uk_cardiff_1
          - us_ashburn_1
          - us_phoenix_1
          - us_sanjose_1
          - us_gov_ashburn_1
          - us_gov_chicago_1
          - us_gov_phoenix_1
          - us_langley_1
          - us_luke_1
          - uk_gov_london_1
          - uk_gov_cardiff_1
          - sa_bogota_1
          - us_chicago_1
          - sa_valparaiso_1
          - mx_monterrey_1
          - eu_jovanovac_1
          - ap_singapore_2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudVpcViewModel'
      description: ''
      summary: Get
  /v2/CloudVpcPeeringConnection:
    get:
      tags:
      - Cloud Vpc Peering Connection
      operationId: CloudVpcPeeringConnection_Get_get_/v2/CloudVpcPeeringConnection
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudVpcPeeringConnectionViewModel'
      description: ''
      summary: Get
  /v2/CloudVPNConnection:
    get:
      tags:
      - CloudVPN Connection
      operationId: CloudVPNConnection_Get_get_/v2/CloudVPNConnection
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.AwsVPNConnectionViewModel'
      description: ''
      summary: Get
  /v2/CloudVpnGateway:
    get:
      tags:
      - Cloud Vpn Gateway
      operationId: CloudVpnGateway_Get_get_/v2/CloudVpnGateway
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudDirectConnect.AwsVpnGatewayViewModel'
      description: ''
      summary: Get
tags:
- name: AccessLease
  description: Access Leases
- name: AccessLeaseInvitation
  description: Access Lease Invitations
- name: Account
- name: AccountLimitation
- name: AccountPollingInterval
- name: AccountRegistration
- name: AccountTrust
  description: "Allow you to define a trust between accounts in order to allow users in a certain account to make changes\
    \ and operation on another account.\nActions can be taken on a trustee account via a role which is defined on it. \nThe\
    \ role should be assumed by a user from the trusted account."
- name: Agent
- name: Agentless
  description: Agentless Workload Posture
- name: Alert
- name: AlibabaCloudAccount
  description: Alibaba Cloud Accounts
- name: Application
- name: Assessment
  description: Run and View Compliance Assessments
- name: AssessmentHistory
- name: AssessmentHistoryV2
  description: Compliance Assessment History
- name: Audit
  description: Audit logs
- name: Auth
- name: Aws Cloud Account
  description: Manage AWS Cloud Accounts
- name: AwsAppSync
- name: AwsBackupVault
- name: AwsConfigSettings
- name: AwsCustomerGateway
- name: AwsEcsTask
- name: AwsEks
- name: AwsElasticIp
- name: AwsElasticsearchDomain
- name: AwsEmrCluster
- name: AwsInspectorFindings
- name: AwsInspectorRuns
- name: AwsLoadBalancersNetworkInterfaces
- name: AwsOrganizations
- name: AwsQuickSightAccount
- name: AwsQuickSightGroup
- name: AwsQuickSightUser
- name: AwsQuickSightVpcConnections
- name: AwsSageMaker
- name: AwsSecurityGroup
- name: AwsSecurityGroupPolicy
- name: AwsSecurityGroupsIndex
- name: AwsUnifiedOnboarding
  description: Aws Unified Onboarding
- name: AwsVpcEndpoint
- name: AzureAnalysisService
- name: AzureApplicationGateway
- name: AzureApplicationSecurityGroup
- name: AzureCloudAccount
  description: Onboard Azure accounts
- name: AzureComputeGalleryImage
- name: AzureCosmosDbAccount
- name: AzureDisk
- name: AzureFunction
- name: AzureKeyVault
- name: AzureKubernetes
- name: AzureLoadBalancer
- name: AzureLock
- name: AzureLogicApp
- name: AzureLogProfile
- name: AzurePolicyAssignment
- name: AzureRedisCache
- name: AzureResourceGroup
- name: AzureRouteTable
- name: AzureSecurityGroup
- name: AzureSecurityGroupPolicy
  description: Azure Network Security Group Policies
- name: AzureSnapshot
- name: AzureSqlDb
- name: AzureSqlServer
- name: AzureStorageAccounts
- name: AzureStorageBlobContainer
- name: AzureSubnet
- name: AzureUser
- name: AzureVirtualMachine
- name: AzureVirtualMachineImage
- name: AzureVirtualMachineScaleSet
- name: AzureVirtualNetworkPeering
- name: AzureWebApp
- name: BigTable
- name: BillableAssets
  description: Retrieve billable assets data
- name: BillableAssetsReport
  description: Billable Assets Report
- name: Billing
- name: Clarity
- name: CloudAcmCertificate
- name: CloudAmi
- name: CloudAutoScalingGroup
- name: CloudDbInstance
- name: CloudDirectConnect
- name: CloudDynamoDb
- name: CloudEcsCluster
- name: CloudEcsService
  description: Cloud Ecs Service
- name: CloudEcsTaskDefinition
- name: CloudEfs
- name: CloudElastiCacheCluster
- name: CloudFlowLogs
- name: CloudFrontDistribution
- name: CloudGuardDutyDetector
- name: CloudIamAccountSummary
- name: CloudIamCredentialReport
- name: CloudIamGroup
- name: CloudIamPasswordPolicy
- name: CloudIamPolicy
- name: CloudIamRole
- name: CloudIamServerCertificate
- name: CloudIamUser
- name: CloudIamVirtualMfaDevice
- name: CloudInfraUser
  description: CloudInfra Users
- name: CloudInstance
  description: Cloud Instances
- name: CloudInternetGateway
- name: CloudKinesisStream
- name: CloudKms
- name: CloudKmsAlias
- name: CloudLambdaFunction
  description: Cloud Lambda Function
- name: CloudLoadBalancer
- name: CloudLogGroups
- name: CloudMetricAlarm
- name: CloudNacl
- name: CloudNetworkInterfaces
- name: CloudRedshiftCluster
- name: CloudRegion
- name: CloudRoute53Domain
- name: CloudRoute53HostedZone
- name: CloudRoute53RecordSetGroup
- name: CloudRouteTable
- name: CloudS3Bucket
  description: ''
- name: CloudSecurityGroup
  description: AWS Security Groups
- name: CloudSnsSubscription
- name: CloudSnsTopic
- name: CloudSql
- name: CloudSqs
  description: ''
- name: CloudSubnet
- name: CloudTrail
  description: CloudTrail
- name: CloudVolume
- name: CloudVpc
- name: CloudVpcPeeringConnection
- name: CloudVPNConnection
- name: CloudVpnGateway
- name: CloudWAFRegional
- name: CloudWatchEventsRule
  description: CloudWatchEventsRule
- name: ComplianceExclusion
  description: Compliance Exclusions
- name: CompliancePolicy
- name: ComplianceRemediation
  description: Compliance Remediation
- name: ComplianceRemediationOld
  description: Compliance Remediation - DEPRECATED - please use /Compliance/Remediation instead
- name: ComplianceRuleset
  description: ComplianceRuleset
- name: ContinuousComplianceNotification
  description: Continuous Compliance Notification Policies
- name: ContinuousCompliancePolicy
- name: ContinuousCompliancePolicyV2
  description: Continuous Compliance Policies
- name: EmergencyPolicy
- name: EntityFetchStatus
- name: EntityReport
- name: ExclusionOld
  description: Compliance Exclusions - DEPRECATED - please use /Compliance/Exclusion instead
- name: ExternalFindings
  description: Findings from External (3rd-party) systems
- name: Fim
- name: Finding
  description: Compliance Findings
- name: FindingsReport
  description: Compliance Findings csv reports
- name: GcpBigQuery
- name: GcpDisk
- name: GcpGkeCluster
- name: GcpImage
- name: GcpKmsKeyRing
- name: GcpProjectInfo
  description: Google Cloud Project Info
- name: GcpPubSub
- name: GcpSecurityGroup
- name: GcpServiceAccount
- name: GcpStorageBucket
- name: GenericList
  description: Generic Lists
- name: GlobalSearch
  description: Global search for all CloudGuard services
- name: GoogleCloudAccount
  description: Google Cloud Accounts
- name: GoogleCloudFirewallRule
- name: GoogleCloudFunction
- name: GoogleCloudIamPolicy
- name: GoogleCloudNetwork
  description: Google Cloud Network
- name: GoogleCloudSubnet
- name: GoogleCloudVMInstance
- name: Home
- name: IamSafeLease
  description: IAM Safety Leases
- name: IncidentsStatus
- name: InfrastructureAssessment
- name: Intelligence
  description: CloudGuard Intelligence allows you to visualize and analyze Account Activity and Network Traffic into and out
    of your cloud environment.
- name: IpAddressMetadata
  description: IP Address Metadata
- name: IpList
  description: IP Lists
- name: LicenseActivator
- name: Licensing
- name: ManagedGenericList
- name: Msp
- name: OrganizationalUnit
  description: Manage Organizational Units
- name: Permission
- name: ProtectedAsset
- name: ProtectedAssetsReport
  description: Compliance Protected Asset csv reports
- name: ProtegoStatistics
  description: Protego statistics by dates
- name: Role
  description: CloudGuard Roles
- name: RulesEngine
- name: SecurityGroup
- name: Serverless
- name: ServerlessPolicy
  description: Serverless policy
- name: ServiceAccount
  description: CloudGuard Service Accounts
- name: ServicePort
- name: Settings
  description: Account Settings
- name: ShiftLeft
  description: ShiftLeft
- name: SystemHealth
- name: TenableAccount
  description: Onboard Tenable accounts
- name: User
  description: CloudGuard account users
- name: BaseImage
  description: ''
- name: ContainerRegistryAccount
  description: Container Registry Account
- name: ContainerRegistryAccountInternal
  description: ''
- name: ContainerRegistryImageAssurancePolicy
  description: '(deprecated: move to use /v2/vulnerability/policy)'
- name: Dashboard
  description: ''
- name: EcsConfiguration
  description: ''
- name: EcsImageAssurancePolicy
  description: '(deprecated: move to use /v2/vulnerability/policy)'
- name: EcsImageScan
  description: ECS Image Scan Configuration
- name: Environment
  description: ''
- name: ImageAdmissionExclusion
  description: '[Preview feature] Kubernetes Image admission exclusions'
- name: ImageAssuranceDashboard
  description: ''
- name: ImageAssuranceReport
  description: ''
- name: KubernetesAccount
  description: Kubernetes Accounts
- name: KubernetesAccountInternal
  description: ''
- name: KubernetesAccountOld
  description: '(deprecated: this api is deprecated, please use ''/v2/kubernetes/account'' instead)'
- name: KubernetesAdmissionControl
  description: Kubernetes Admission Control
- name: KubernetesAdmissionControlPoliciesSummary
  description: ''
- name: KubernetesClusterRole
  description: ''
- name: KubernetesImage
  description: ''
- name: KubernetesImageAdmissionExclusion
  description: '[Preview feature] Kubernetes Image admission exclusions (deprecated: this api is deprecated, please use ''/v2/kubernetes/admissionControl/imageAdmissionExclusion''
    instead)'
- name: KubernetesImageAssurance
  description: Kubernetes Image Assurance
- name: KubernetesImageAssurancePolicy
  description: 'Kubernetes Image Assurance Policy (deprecated: move to use /v2/vulnerability/policy)'
- name: KubernetesIngress
  description: ''
- name: KubernetesNetworkPolicy
  description: ''
- name: KubernetesNode
  description: ''
- name: KubernetesPod
  description: ''
- name: KubernetesPodGroup
  description: Kubernetes Pod Groups
- name: KubernetesPodGroupOwner
  description: ''
- name: KubernetesPodSecurityPolicy
  description: ''
- name: KubernetesRole
  description: ''
- name: KubernetesRuntimeAssurance
  description: ''
- name: KubernetesService
  description: ''
- name: KubernetesServiceAccount
  description: ''
- name: Shiftleft
  description: ''
- name: ShiftLeftAccount
  description: ShiftLeft
- name: ShiftLeftPolicy
  description: 'ShiftLeft Policy (deprecated: move to use /v2/vulnerability/policy)'
- name: Workload
  description: ''
- name: WorkloadAccountSetting
  description: Workload Account Setting
- name: WorkloadChangeMonitoring
  description: ''
- name: WorkloadImageAssurance
  description: Workload Image Assurance
- name: WorkloadImageAssuranceInternal
  description: ''
- name: WorkloadInternal
  description: ''
- name: WorkloadRuntimeProtection
  description: ''
- name: Alerts
  description: ''
- name: Azure
  description: ''
- name: FindingOrchestration
  description: ''
- name: FindingsUpdate
  description: ''
- name: Gcp
  description: ''
- name: Remediation
  description: Remediation Actions
- name: Reports
  description: ''
- name: CloudInfraMigration
  description: infinity-portal-connect
- name: GslBuilder
  description: ''
- name: Infrastructure
  description: ''
- name: InternalLicense
  description: ''
- name: NotificationIntegrationInternal
  description: '(deprecated: This controller is deprecated and will be removed in the future)'
- name: OciCloudAccount
  description: Onboard OCI accounts
- name: PlatformReports
  description: ''
- name: Regions
  description: ''
- name: Spectral
  description: ''
- name: RestrictedWorkloadClientModules
  description: ''
- name: WorkloadClientModules
  description: ''
- name: WorkloadTelemetry
  description: ''
- name: Integration
  description: Integration
- name: IntegrationInternal
  description: ''
- name: Notification
  description: Notification
- name: NotificationInternal
  description: ''
- name: AssetMetadataSyncNow
  description: ''
- name: BusinessPriorityModifier
  description: Business Priority Rules
- name: CustomRuleset
  description: Risk Management Rulesets
- name: Dspm
  description: DSPM Controller
- name: Exposure
  description: ''
- name: GroupRiskManagement
  description: Groups Risk Management
- name: RemediationActions
  description: Remediation Actions
- name: RiskModifiers
  description: Risk Modifiers
- name: SecurityEvents
  description: ''
- name: SimilarAssetGroups
  description: ''
- name: Waf
  description: WAF Protection
- name: AwsOrganizationManagement
  description: AwsOrganizationManagement
- name: AwsOrganizationManagementOnboarding
  description: AwsOrganizationManagementOnboarding
- name: AzureOrganizationManagement
  description: AzureOrganizationManagement
- name: GcpOrganizationManagement
  description: GcpOrganizationManagement
- name: OnboardingManagement
  description: OnboardingManagement
- name: InternalSBOM
  description: ''
- name: InternalVulnerabilityAccountStatsBatch
  description: ''
- name: InternalVulnerabilityCleanup
  description: ''
- name: InternalVulnerabilityPolicy
  description: ''
- name: InternalVulnerabilityScanResults
  description: ''
- name: SBOM
  description: ''
- name: SBOMExport
  description: SBOM Export
- name: Vulnerabilities
  description: Vulnerabilities
- name: VulnerabilityAssessment
  description: ''
- name: VulnerabilityExclusions
  description: Vulnerability Exclusions
- name: VulnerabilityPolicy
  description: Vulnerability Policy
- name: VulnerabilitySBOM
  description: ''
- name: CloudApplicationLoadBalancer
  description: ''
- name: CloudNetworkLoadBalancer
  description: ''
- name: GcpMachineImage
  description: ''
- name: OciCompartment
  description: ''
- name: AssetLabelsService
  description: ''
- name: AssetOpenFindings
  description: ''
- name: EntityTypes
  description: The entity types endpoint allows you to get the supported entity types and the platform they're supported for.
- name: EvidencePath
  description: The evidence path endpoint allows you to get the evidence path for a given findingId.
- name: Exclusions
  description: The exclusion endpoint provides API to perform CRUD operations on the resource.
- name: IgnoreCves
  description: The ignore CVEs endpoint provides API to perform CRUD operations on the resource.
- name: IgnoreMalwares
  description: The ignore malwares endpoint provides API to perform CRUD operations on the resource.
- name: Rules
  description: The rules endpoint provides APIs to get the security rules data
- name: SecurityGraphIssues
  description: API for issue enrichments
- name: SecurityGraphQuery
  description: The query endpoint provides APIs to run queries (rules) to preview possible issues.
- name: EntitySchema
  description: The entity schema endpoint presents schema of toxic issues entities.
- name: SecurityIssues
  description: The Findings endpoint provides APIs query the findings store which contains findings such as security issues.
    It provides APIs to get, search and group findings.
- name: AutomatedActions
  description: The Automated Actions resource provides API to perform CRUD operations on the resource.
components:
  schemas:
    Dome9.Web.Api.CloudCustomerGateway.AwsCustomerGatewayViewModel:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
        accountId:
          format: int64
          type: integer
          readOnly: true
        cloudAccountId:
          format: uuid
          type: string
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        region:
          enum:
          - us_east_1
          - us_west_1
          - eu_west_1
          - ap_southeast_1
          - ap_northeast_1
          - us_west_2
          - sa_east_1
          - az_1_region_a_geo_1
          - az_2_region_a_geo_1
          - az_3_region_a_geo_1
          - ap_southeast_2
          - mellanox_region
          - us_gov_west_1
          - eu_central_1
          - ap_northeast_2
          - ap_south_1
          - us_east_2
          - ca_central_1
          - eu_west_2
          - eu_west_3
          - eu_north_1
          - cn_north_1
          - cn_northwest_1
          - us_gov_east_1
          - ap_east_1
          - me_south_1
          - af_south_1
          - eu_south_1
          - ap_northeast_3
          - me_central_1
          - ap_south_2
          - ap_southeast_3
          - ap_southeast_4
          - eu_central_2
          - eu_south_2
          - il_central_1
          - ca_west_1
          - mx_central_1
          - ap_southeast_5
          - ap_southeast_7
          - westus
          - eastus
          - eastus2
          - northcentralus
          - westus2
          - southcentralus
          - centralus
          - usgovlowa
          - usgovvirginia
          - northeurope
          - westeurope
          - eastasia
          - southeastasia
          - japaneast
          - japanwest
          - brazilsouth
          - australiaeast
          - australiasoutheast
          - centralindia
          - southindia
          - westindia
          - canadaeast
          - westcentralus
          - chinaeast
          - chinanorth
          - canadacentral
          - germanycentral
          - germanynortheast
          - koreacentral
          - uksouth
          - ukwest
          - koreasouth
          - francecentral
          - francesouth
          - germanywestcentral
          - usdodcentral
          - usdodeast
          - usgovarizona
          - usgovtexas
          - australiacentral
          - australiacentral2
          - chinaeast2
          - chinanorth2
          - southafricanorth
          - southafricawest
          - uaecentral
          - uaenorth
          - ussecwest
          - usseceast
          - germanynorth
          - switzerlandwest
          - norwaywest
          - norwayeast
          - switzerlandnorth
          - westus3
          - swedencentral
          - chinanorth3
          - brazilsoutheast
          - eastus2euap
          - jioindiawest
          - jioindiacentral
          - qatarcentral
          - spaincentral
          - italynorth
          - polandcentral
          - mexicocentral
          - asia
          - asia_east1
          - asia_northeast1
          - asia_south1
          - asia_southeast1
          - australia_southeast1
          - europe
          - europe_north1
          - europe_west1
          - europe_west2
          - europe_west3
          - europe_west4
          - northamerica_northeast1
          - southamerica_east1
          - us
          - us_central1
          - us_east1
          - us_east4
          - us_west1
          - us_west2
          - global
          - asia_east2
          - eur4
          - nam4
          - europe_west6
          - japan_west
          - asia_northeast2
          - asia_northeast3
          - us_west3
          - us_west4
          - asia_southeast2
          - nam3
          - nam5
          - nam6
          - nam7
          - nam10
          - nam_eur_asia1
          - eur3
          - eur5
          - asia1
          - nam11
          - eu
          - northamerica_northeast2
          - southamerica_west1
          - us_east5
          - us_south1
          - europe_central2
          - europe_southwest1
          - europe_west8
          - europe_west9
          - europe_west10
          - europe_west12
          - asia_south2
          - australia_southeast2
          - me_central1
          - me_central2
          - me_west1
          - ap_sydney_1
          - ap_melbourne_1
          - sa_saopaulo_1
          - sa_vinhedo_1
          - ca_montreal_1
          - ca_toronto_1
          - sa_santiago_1
          - eu_paris_1
          - eu_marseille_1
          - eu_frankfurt_1
          - ap_hyderabad_1
          - ap_mumbai_1
          - il_jerusalem_1
          - eu_milan_1
          - ap_osaka_1
          - ap_tokyo_1
          - mx_queretaro_1
          - eu_amsterdam_1
          - me_jeddah_1
          - ap_singapore_1
          - af_johannesburg_1
          - ap_seoul_1
          - ap_chuncheon_1
          - eu_madrid_1
          - eu_stockholm_1
          - eu_zurich_1
          - me_abudhabi_1
          - me_dubai_1
          - uk_london_1
          - uk_cardiff_1
          - us_ashburn_1
          - us_phoenix_1
          - us_sanjose_1
          - us_gov_ashburn_1
          - us_gov_chicago_1
          - us_gov_phoenix_1
          - us_langley_1
          - us_luke_1
          - uk_gov_london_1
          - uk_gov_cardiff_1
          - sa_bogota_1
          - us_chicago_1
          - sa_valparaiso_1
          - mx_monterrey_1
          - eu_jovanovac_1
          - ap_singapore_2
          type: string
          readOnly: true
        bgpAsn:
          type: string
        customerGatewayId:
          type: string
        ipAddress:
          type: string
        state:
          type: string
        tags:
          type: object
          additionalProperties:
            type: string
        type:
          type: string
    Dome9.Web.Api.Shared.SharedViewModels.TagViewModel:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    Falconetix.Model.AwsElasticIPViewModel:
      type: object
      properties:
        allocationId:
          type: string
        associationId:
          type: string
        domain:
          type: string
        instanceId:
          type: string
        networkInterfaceId:
          type: string
        networkInterfaceOwnerId:
          type: string
        privateIpAddress:
          type: string
        publicIp:
          type: string
        accountNumber:
          type: string
        region:
          type: string
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        id:
          type: string
    Dome9.Web.Api.Models.AwsLoadBalancersNetworkInterfacesViewModel:
      type: object
      properties:
        id:
          type: string
        externalId:
          type: string
        name:
          type: string
        accountId:
          format: int64
          type: integer
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        region:
          enum:
          - us_east_1
          - us_west_1
          - eu_west_1
          - ap_southeast_1
          - ap_northeast_1
          - us_west_2
          - sa_east_1
          - az_1_region_a_geo_1
          - az_2_region_a_geo_1
          - az_3_region_a_geo_1
          - ap_southeast_2
          - mellanox_region
          - us_gov_west_1
          - eu_central_1
          - ap_northeast_2
          - ap_south_1
          - us_east_2
          - ca_central_1
          - eu_west_2
          - eu_west_3
          - eu_north_1
          - cn_north_1
          - cn_northwest_1
          - us_gov_east_1
          - ap_east_1
          - me_south_1
          - af_south_1
          - eu_south_1
          - ap_northeast_3
          - me_central_1
          - ap_south_2
          - ap_southeast_3
          - ap_southeast_4
          - eu_central_2
          - eu_south_2
          - il_central_1
          - ca_west_1
          - mx_central_1
          - ap_southeast_5
          - ap_southeast_7
          - westus
          - eastus
          - eastus2
          - northcentralus
          - westus2
          - southcentralus
          - centralus
          - usgovlowa
          - usgovvirginia
          - northeurope
          - westeurope
          - eastasia
          - southeastasia
          - japaneast
          - japanwest
          - brazilsouth
          - australiaeast
          - australiasoutheast
          - centralindia
          - southindia
          - westindia
          - canadaeast
          - westcentralus
          - chinaeast
          - chinanorth
          - canadacentral
          - germanycentral
          - germanynortheast
          - koreacentral
          - uksouth
          - ukwest
          - koreasouth
          - francecentral
          - francesouth
          - germanywestcentral
          - usdodcentral
          - usdodeast
          - usgovarizona
          - usgovtexas
          - australiacentral
          - australiacentral2
          - chinaeast2
          - chinanorth2
          - southafricanorth
          - southafricawest
          - uaecentral
          - uaenorth
          - ussecwest
          - usseceast
          - germanynorth
          - switzerlandwest
          - norwaywest
          - norwayeast
          - switzerlandnorth
          - westus3
          - swedencentral
          - chinanorth3
          - brazilsoutheast
          - eastus2euap
          - jioindiawest
          - jioindiacentral
          - qatarcentral
          - spaincentral
          - italynorth
          - polandcentral
          - mexicocentral
          - asia
          - asia_east1
          - asia_northeast1
          - asia_south1
          - asia_southeast1
          - australia_southeast1
          - europe
          - europe_north1
          - europe_west1
          - europe_west2
          - europe_west3
          - europe_west4
          - northamerica_northeast1
          - southamerica_east1
          - us
          - us_central1
          - us_east1
          - us_east4
          - us_west1
          - us_west2
          - global
          - asia_east2
          - eur4
          - nam4
          - europe_west6
          - japan_west
          - asia_northeast2
          - asia_northeast3
          - us_west3
          - us_west4
          - asia_southeast2
          - nam3
          - nam5
          - nam6
          - nam7
          - nam10
          - nam_eur_asia1
          - eur3
          - eur5
          - asia1
          - nam11
          - eu
          - northamerica_northeast2
          - southamerica_west1
          - us_east5
          - us_south1
          - europe_central2
          - europe_southwest1
          - europe_west8
          - europe_west9
          - europe_west10
          - europe_west12
          - asia_south2
          - australia_southeast2
          - me_central1
          - me_central2
          - me_west1
          - ap_sydney_1
          - ap_melbourne_1
          - sa_saopaulo_1
          - sa_vinhedo_1
          - ca_montreal_1
          - ca_toronto_1
          - sa_santiago_1
          - eu_paris_1
          - eu_marseille_1
          - eu_frankfurt_1
          - ap_hyderabad_1
          - ap_mumbai_1
          - il_jerusalem_1
          - eu_milan_1
          - ap_osaka_1
          - ap_tokyo_1
          - mx_queretaro_1
          - eu_amsterdam_1
          - me_jeddah_1
          - ap_singapore_1
          - af_johannesburg_1
          - ap_seoul_1
          - ap_chuncheon_1
          - eu_madrid_1
          - eu_stockholm_1
          - eu_zurich_1
          - me_abudhabi_1
          - me_dubai_1
          - uk_london_1
          - uk_cardiff_1
          - us_ashburn_1
          - us_phoenix_1
          - us_sanjose_1
          - us_gov_ashburn_1
          - us_gov_chicago_1
          - us_gov_phoenix_1
          - us_langley_1
          - us_luke_1
          - uk_gov_london_1
          - uk_gov_cardiff_1
          - sa_bogota_1
          - us_chicago_1
          - sa_valparaiso_1
          - mx_monterrey_1
          - eu_jovanovac_1
          - ap_singapore_2
          type: string
        vpc:
          type: string
        dnsName:
          type: string
        securityGroups:
          type: array
          items:
            type: string
        scheme:
          type: string
        state:
          type: string
        tags:
          type: object
          additionalProperties:
            type: string
        canonicalHostedZoneId:
          type: string
        ipAddressType:
          type: string
        type:
          type: string
        arn:
          type: string
        networkInterfaces:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Models.AwsNetworkInterfaceViewModel'
    Dome9.Web.Api.Models.AwsNetworkInterfaceViewModel:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        externalId:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
        tags:
          type: object
          additionalProperties:
            type: string
          readOnly: true
        association:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudNetworkInerfaces.CloudNetworkInterfaceAssociationViewModel'
          readOnly: true
        attachment:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudNetworkInerfaces.CloudNetworkInterfaceAttachmentViewModel'
          readOnly: true
        availabilityZone:
          type: string
        description:
          type: string
        groups:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudNetworkInerfaces.CloudNetworkInterfaceGroupIdentifierViewModel'
          readOnly: true
        interfaceType:
          type: string
        ipv6Addresses:
          type: array
          items:
            type: string
          readOnly: true
        macAddress:
          type: string
        networkInterfaceId:
          type: string
        ownerId:
          type: string
        privateDnsName:
          type: string
        privateIpAddress:
          type: string
        privateIpAddresses:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudNetworkInerfaces.CloudNetworkInterfacePrivateIpAddressViewModel'
          readOnly: true
        requesterId:
          type: string
        requesterManaged:
          type: boolean
        sourceDestCheck:
          type: boolean
        status:
          type: string
        subnetId:
          type: string
    Dome9.Web.Api.CloudNetworkInerfaces.CloudNetworkInterfaceAssociationViewModel:
      type: object
      properties:
        allocationId:
          type: string
          readOnly: true
        associationId:
          type: string
          readOnly: true
        ipOwnerId:
          type: string
          readOnly: true
        publicDnsName:
          type: string
          readOnly: true
        publicIp:
          type: string
          readOnly: true
    Dome9.Web.Api.CloudNetworkInerfaces.CloudNetworkInterfaceAttachmentViewModel:
      type: object
      properties:
        attachmentId:
          type: string
          readOnly: true
        attachTime:
          format: date-time
          type: string
          readOnly: true
        deleteOnTermination:
          type: boolean
          readOnly: true
        deviceIndex:
          format: int32
          type: integer
          readOnly: true
        instanceId:
          type: string
          readOnly: true
        instanceOwnerId:
          type: string
          readOnly: true
        status:
          type: string
          readOnly: true
    Dome9.Web.Api.CloudNetworkInerfaces.CloudNetworkInterfaceGroupIdentifierViewModel:
      type: object
      properties:
        groupId:
          type: string
          readOnly: true
        groupName:
          type: string
          readOnly: true
    Dome9.Web.Api.CloudNetworkInerfaces.CloudNetworkInterfacePrivateIpAddressViewModel:
      type: object
      properties:
        association:
          $ref: '#/components/schemas/CGN.Inventory.Aws.Model.WrapperModels.AwsEc2NetworkInterfaceAssociation'
          readOnly: true
        primary:
          type: boolean
          readOnly: true
        privateDnsName:
          type: string
          readOnly: true
        privateIpAddress:
          type: string
          readOnly: true
    CGN.Inventory.Aws.Model.WrapperModels.AwsEc2NetworkInterfaceAssociation:
      type: object
      properties:
        allocationId:
          type: string
        associationId:
          type: string
        ipOwnerId:
          type: string
        publicDnsName:
          type: string
        publicIp:
          type: string
    Falconetix.Model.AwsVpcEndpointViewModel:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        creationTimestamp:
          format: date-time
          type: string
        policyDocument:
          type: string
        routeTableIds:
          type: array
          items:
            type: string
        serviceName:
          type: string
        endpointServices:
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.VpcEndpointServiceViewModel'
        state:
          type: string
        vpcEndpointId:
          type: string
        vpcId:
          type: string
    Falconetix.Model.VpcEndpointServiceViewModel:
      type: object
      properties:
        acceptanceRequired:
          type: boolean
        availabilityZones:
          type: array
          items:
            type: string
        baseEndpointDnsNames:
          type: array
          items:
            type: string
        managesVpcEndpoints:
          type: boolean
        owner:
          type: string
        payerResponsibility:
          type: string
        privateDnsName:
          type: string
        privateDnsNames:
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.AwsPrivateDnsDetailsViewModel'
        privateDnsNameVerificationState:
          type: string
        serviceId:
          type: string
        serviceName:
          type: string
        serviceType:
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.AwsServiceTypeDetailViewModel'
        supportedIpAddressTypes:
          type: array
          items:
            type: string
        tags:
          type: object
          additionalProperties:
            type: string
        vpcEndpointPolicySupported:
          type: boolean
    Falconetix.Model.AwsPrivateDnsDetailsViewModel:
      type: object
      properties:
        privateDnsName:
          type: string
    Falconetix.Model.AwsServiceTypeDetailViewModel:
      type: object
      properties:
        serviceType:
          type: string
    Dome9.Web.Api.CloudDirectConnect.AwsDirectConnectMetricsViewModel:
      type: object
      properties:
        bpsIngressDataPoints:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudWatch.AwsCloudWatchDataPointViewModel'
        bpsEgressDataPoints:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudWatch.AwsCloudWatchDataPointViewModel'
    Dome9.Web.Api.CloudWatch.AwsCloudWatchDataPointViewModel:
      type: object
      properties:
        value:
          format: double
          type: number
        timestamp:
          format: date-time
          type: string
    Dome9.Web.Api.CloudDirectConnect.CloudDirectConnectViewModel:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        accountId:
          format: int64
          type: integer
          readOnly: true
        externalId:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
        cloudAccountId:
          format: uuid
          type: string
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        region:
          enum:
          - us_east_1
          - us_west_1
          - eu_west_1
          - ap_southeast_1
          - ap_northeast_1
          - us_west_2
          - sa_east_1
          - az_1_region_a_geo_1
          - az_2_region_a_geo_1
          - az_3_region_a_geo_1
          - ap_southeast_2
          - mellanox_region
          - us_gov_west_1
          - eu_central_1
          - ap_northeast_2
          - ap_south_1
          - us_east_2
          - ca_central_1
          - eu_west_2
          - eu_west_3
          - eu_north_1
          - cn_north_1
          - cn_northwest_1
          - us_gov_east_1
          - ap_east_1
          - me_south_1
          - af_south_1
          - eu_south_1
          - ap_northeast_3
          - me_central_1
          - ap_south_2
          - ap_southeast_3
          - ap_southeast_4
          - eu_central_2
          - eu_south_2
          - il_central_1
          - ca_west_1
          - mx_central_1
          - ap_southeast_5
          - ap_southeast_7
          - westus
          - eastus
          - eastus2
          - northcentralus
          - westus2
          - southcentralus
          - centralus
          - usgovlowa
          - usgovvirginia
          - northeurope
          - westeurope
          - eastasia
          - southeastasia
          - japaneast
          - japanwest
          - brazilsouth
          - australiaeast
          - australiasoutheast
          - centralindia
          - southindia
          - westindia
          - canadaeast
          - westcentralus
          - chinaeast
          - chinanorth
          - canadacentral
          - germanycentral
          - germanynortheast
          - koreacentral
          - uksouth
          - ukwest
          - koreasouth
          - francecentral
          - francesouth
          - germanywestcentral
          - usdodcentral
          - usdodeast
          - usgovarizona
          - usgovtexas
          - australiacentral
          - australiacentral2
          - chinaeast2
          - chinanorth2
          - southafricanorth
          - southafricawest
          - uaecentral
          - uaenorth
          - ussecwest
          - usseceast
          - germanynorth
          - switzerlandwest
          - norwaywest
          - norwayeast
          - switzerlandnorth
          - westus3
          - swedencentral
          - chinanorth3
          - brazilsoutheast
          - eastus2euap
          - jioindiawest
          - jioindiacentral
          - qatarcentral
          - spaincentral
          - italynorth
          - polandcentral
          - mexicocentral
          - asia
          - asia_east1
          - asia_northeast1
          - asia_south1
          - asia_southeast1
          - australia_southeast1
          - europe
          - europe_north1
          - europe_west1
          - europe_west2
          - europe_west3
          - europe_west4
          - northamerica_northeast1
          - southamerica_east1
          - us
          - us_central1
          - us_east1
          - us_east4
          - us_west1
          - us_west2
          - global
          - asia_east2
          - eur4
          - nam4
          - europe_west6
          - japan_west
          - asia_northeast2
          - asia_northeast3
          - us_west3
          - us_west4
          - asia_southeast2
          - nam3
          - nam5
          - nam6
          - nam7
          - nam10
          - nam_eur_asia1
          - eur3
          - eur5
          - asia1
          - nam11
          - eu
          - northamerica_northeast2
          - southamerica_west1
          - us_east5
          - us_south1
          - europe_central2
          - europe_southwest1
          - europe_west8
          - europe_west9
          - europe_west10
          - europe_west12
          - asia_south2
          - australia_southeast2
          - me_central1
          - me_central2
          - me_west1
          - ap_sydney_1
          - ap_melbourne_1
          - sa_saopaulo_1
          - sa_vinhedo_1
          - ca_montreal_1
          - ca_toronto_1
          - sa_santiago_1
          - eu_paris_1
          - eu_marseille_1
          - eu_frankfurt_1
          - ap_hyderabad_1
          - ap_mumbai_1
          - il_jerusalem_1
          - eu_milan_1
          - ap_osaka_1
          - ap_tokyo_1
          - mx_queretaro_1
          - eu_amsterdam_1
          - me_jeddah_1
          - ap_singapore_1
          - af_johannesburg_1
          - ap_seoul_1
          - ap_chuncheon_1
          - eu_madrid_1
          - eu_stockholm_1
          - eu_zurich_1
          - me_abudhabi_1
          - me_dubai_1
          - uk_london_1
          - uk_cardiff_1
          - us_ashburn_1
          - us_phoenix_1
          - us_sanjose_1
          - us_gov_ashburn_1
          - us_gov_chicago_1
          - us_gov_phoenix_1
          - us_langley_1
          - us_luke_1
          - uk_gov_london_1
          - uk_gov_cardiff_1
          - sa_bogota_1
          - us_chicago_1
          - sa_valparaiso_1
          - mx_monterrey_1
          - eu_jovanovac_1
          - ap_singapore_2
          type: string
          readOnly: true
        state:
          type: string
          readOnly: true
        bandwidth:
          type: string
          readOnly: true
        virtualInterfaces:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudDirectConnect.AwsDirectConnectVirtualInterfaceViewModel'
          readOnly: true
    Dome9.Web.Api.CloudDirectConnect.AwsDirectConnectVirtualInterfaceViewModel:
      type: object
      properties:
        addressFamily:
          type: string
        amazonAddress:
          type: string
        asn:
          format: int32
          type: integer
        bgpPeers:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudDirectConnect.AwsDirectConnectVirtualInterfaceViewModel.BgpPeerViewModel'
        connectionId:
          type: string
        customerAddress:
          type: string
        customerRouterConfig:
          type: string
        location:
          type: string
        ownerAccount:
          type: string
        routeFilterPrefixes:
          type: array
          items:
            type: string
        virtualGatewayId:
          type: string
        virtualInterfaceId:
          type: string
        virtualInterfaceName:
          type: string
        virtualInterfaceState:
          type: string
        virtualInterfaceType:
          type: string
        vlan:
          format: int32
          type: integer
    Dome9.Web.Api.CloudDirectConnect.AwsDirectConnectVirtualInterfaceViewModel.BgpPeerViewModel:
      type: object
      properties:
        addressFamily:
          type: string
        amazonAddress:
          type: string
        asn:
          format: int32
          type: integer
        bgpPeerState:
          type: string
        bgpStatus:
          type: string
        customerAddress:
          type: string
    Dome9.Web.Api.CloudFront.CloudFrontDistributionViewModel:
      type: object
      properties:
        activeTrustedSigners:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontActiveTrustedSignersViewModel'
        arn:
          type: string
        distributionConfig:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontDistributionConfigViewModel'
        domainName:
          type: string
        id:
          type: string
        inProgressInvalidationBatches:
          format: int32
          type: integer
        lastModifiedTime:
          format: date-time
          type: string
        status:
          type: string
        tags:
          type: object
          additionalProperties:
            type: string
          readOnly: true
    Dome9.Web.Api.CloudFront.AwsCloudFrontActiveTrustedSignersViewModel:
      type: object
      properties:
        enabled:
          type: boolean
        items:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontSignerViewModel'
        quantity:
          format: int32
          type: integer
    Dome9.Web.Api.CloudFront.AwsCloudFrontDistributionConfigViewModel:
      type: object
      properties:
        aliases:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontAliasesViewModel'
        cacheBehaviors:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontCacheBehaviorsViewModel'
        callerReference:
          type: string
        comment:
          type: string
        customErrorResponses:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontCustomErrorResponsesViewModel'
        defaultCacheBehavior:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontDefaultCacheBehaviorViewModel'
        defaultRootObject:
          type: string
        enabled:
          type: boolean
        httpVersion:
          type: string
        isIPV6Enabled:
          type: boolean
        logging:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontLoggingConfigViewModel'
        origins:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontOriginsViewModel'
        priceClass:
          type: string
        restrictions:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontRestrictionsViewModel'
        viewerCertificate:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontViewerCertificateViewModel'
        webACLId:
          type: string
    Dome9.Web.Api.CloudFront.AwsCloudFrontSignerViewModel:
      type: object
      properties:
        awsAccountNumber:
          type: string
        keyPairIds:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontKeyPairIdsViewModel'
    Dome9.Web.Api.CloudFront.AwsCloudFrontAliasesViewModel:
      type: object
      properties:
        items:
          type: array
          items:
            type: string
        quantity:
          format: int32
          type: integer
    Dome9.Web.Api.CloudFront.AwsCloudFrontCacheBehaviorsViewModel:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontCacheBehaviorViewModel'
        quantity:
          format: int32
          type: integer
    Dome9.Web.Api.CloudFront.AwsCloudFrontCustomErrorResponsesViewModel:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontCustomErrorResponseViewModel'
        quantity:
          format: int32
          type: integer
    Dome9.Web.Api.CloudFront.AwsCloudFrontDefaultCacheBehaviorViewModel:
      type: object
      properties:
        allowedMethods:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontAllowedMethodsViewModel'
        compress:
          type: boolean
        defaultTTL:
          format: int64
          type: integer
        forwardedValues:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontForwardedValuesViewModel'
        lambdaFunctionAssociations:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontLambdaFunctionAssociationsViewModel'
        maxTTL:
          format: int64
          type: integer
        minTTL:
          format: int64
          type: integer
        smoothStreaming:
          type: boolean
        targetOriginId:
          type: string
        trustedSigners:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontTrustedSignersViewModel'
        viewerProtocolPolicy:
          type: string
    Dome9.Web.Api.CloudFront.AwsCloudFrontLoggingConfigViewModel:
      type: object
      properties:
        bucket:
          type: string
        enabled:
          type: boolean
        includeCookies:
          type: boolean
        prefix:
          type: string
    Dome9.Web.Api.CloudFront.AwsCloudFrontOriginsViewModel:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontOriginViewModel'
        quantity:
          format: int32
          type: integer
    Dome9.Web.Api.CloudFront.AwsCloudFrontRestrictionsViewModel:
      type: object
      properties:
        geoRestriction:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontGeoRestrictionViewModel'
    Dome9.Web.Api.CloudFront.AwsCloudFrontViewerCertificateViewModel:
      type: object
      properties:
        acmCertificateArn:
          type: string
        certificate:
          type: string
        certificateSource:
          type: string
        cloudFrontDefaultCertificate:
          type: boolean
        iamCertificateId:
          type: string
        minimumProtocolVersion:
          type: string
        sslSupportMethod:
          type: string
    Dome9.Web.Api.CloudFront.AwsCloudFrontKeyPairIdsViewModel:
      type: object
      properties:
        items:
          type: array
          items:
            type: string
        quantity:
          format: int32
          type: integer
    Dome9.Web.Api.CloudFront.AwsCloudFrontCacheBehaviorViewModel:
      type: object
      properties:
        allowedMethods:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontAllowedMethodsViewModel'
        compress:
          type: boolean
        defaultTTL:
          format: int64
          type: integer
        forwardedValues:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontForwardedValuesViewModel'
        lambdaFunctionAssociations:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontLambdaFunctionAssociationsViewModel'
        maxTTL:
          format: int64
          type: integer
        minTTL:
          format: int64
          type: integer
        pathPattern:
          type: string
        smoothStreaming:
          type: boolean
        targetOriginId:
          type: string
        trustedSigners:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontTrustedSignersViewModel'
        viewerProtocolPolicy:
          type: string
    Dome9.Web.Api.CloudFront.AwsCloudFrontCustomErrorResponseViewModel:
      type: object
      properties:
        errorCachingMinTTL:
          format: int64
          type: integer
        errorCode:
          format: int32
          type: integer
        responseCode:
          type: string
        responsePagePath:
          type: string
    Dome9.Web.Api.CloudFront.AwsCloudFrontAllowedMethodsViewModel:
      type: object
      properties:
        cachedMethods:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontCachedMethodsViewModel'
        items:
          type: array
          items:
            type: string
        quantity:
          format: int32
          type: integer
    Dome9.Web.Api.CloudFront.AwsCloudFrontForwardedValuesViewModel:
      type: object
      properties:
        cookies:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontCookiePreferenceViewModel'
        headers:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontHeadersViewModel'
        queryString:
          type: boolean
        queryStringCacheKeys:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontQueryStringCacheKeysViewModel'
    Dome9.Web.Api.CloudFront.AwsCloudFrontLambdaFunctionAssociationsViewModel:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontLambdaFunctionAssociationViewModel'
        quantity:
          format: int32
          type: integer
    Dome9.Web.Api.CloudFront.AwsCloudFrontTrustedSignersViewModel:
      type: object
      properties:
        enabled:
          type: boolean
        items:
          type: array
          items:
            type: string
        quantity:
          format: int32
          type: integer
    Dome9.Web.Api.CloudFront.AwsCloudFrontOriginViewModel:
      type: object
      properties:
        customHeaders:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontCustomHeadersViewModel'
        customOriginConfig:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontCustomOriginConfigViewModel'
        domainName:
          type: string
        id:
          type: string
        originPath:
          type: string
        s3OriginConfig:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontS3OriginConfigViewModel'
    Dome9.Web.Api.CloudFront.AwsCloudFrontGeoRestrictionViewModel:
      type: object
      properties:
        items:
          type: array
          items:
            type: string
        quantity:
          format: int32
          type: integer
        restrictionType:
          type: string
    Dome9.Web.Api.CloudFront.AwsCloudFrontCachedMethodsViewModel:
      type: object
      properties:
        items:
          type: array
          items:
            type: string
        quantity:
          format: int32
          type: integer
    Dome9.Web.Api.CloudFront.AwsCloudFrontCookiePreferenceViewModel:
      type: object
      properties:
        forward:
          type: string
        whitelistedNames:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontCookieNamesViewModel'
    Dome9.Web.Api.CloudFront.AwsCloudFrontHeadersViewModel:
      type: object
      properties:
        items:
          type: array
          items:
            type: string
        quantity:
          format: int32
          type: integer
    Dome9.Web.Api.CloudFront.AwsCloudFrontQueryStringCacheKeysViewModel:
      type: object
      properties:
        items:
          type: array
          items:
            type: string
        quantity:
          format: int32
          type: integer
    Dome9.Web.Api.CloudFront.AwsCloudFrontLambdaFunctionAssociationViewModel:
      type: object
      properties:
        eventType:
          type: string
        lambdaFunctionARN:
          type: string
    Dome9.Web.Api.CloudFront.AwsCloudFrontCustomHeadersViewModel:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontOriginCustomHeaderViewModel'
        quantity:
          format: int32
          type: integer
    Dome9.Web.Api.CloudFront.AwsCloudFrontCustomOriginConfigViewModel:
      type: object
      properties:
        httpPort:
          format: int32
          type: integer
        httpsPort:
          format: int32
          type: integer
        originKeepaliveTimeout:
          format: int32
          type: integer
        originProtocolPolicy:
          type: string
        originReadTimeout:
          format: int32
          type: integer
        originSslProtocols:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudFront.AwsCloudFrontOriginSslProtocolsViewModel'
    Dome9.Web.Api.CloudFront.AwsCloudFrontS3OriginConfigViewModel:
      type: object
      properties:
        originAccessIdentity:
          type: string
    Dome9.Web.Api.CloudFront.AwsCloudFrontCookieNamesViewModel:
      type: object
      properties:
        items:
          type: array
          items:
            type: string
        quantity:
          format: int32
          type: integer
    Dome9.Web.Api.CloudFront.AwsCloudFrontOriginCustomHeaderViewModel:
      type: object
      properties:
        headerName:
          type: string
        headerValue:
          type: string
    Dome9.Web.Api.CloudFront.AwsCloudFrontOriginSslProtocolsViewModel:
      type: object
      properties:
        items:
          type: array
          items:
            type: string
        quantity:
          format: int32
          type: integer
    Dome9.Web.Api.CloudInternetGateways.CloudInternetGatewayViewModel:
      type: object
      properties:
        externalId:
          type: string
        name:
          type: string
        accountId:
          format: int64
          type: integer
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        vpcAttachments:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.SubTypes.CloudVpcAttachmentViewModel'
        tags:
          type: object
          additionalProperties:
            type: string
    Dome9.Web.Api.SubTypes.CloudVpcAttachmentViewModel:
      type: object
      properties:
        state:
          type: string
        vpcId:
          type: string
    Dome9.Web.Api.Models.CloudNaclViewModel:
      type: object
      properties:
        externalId:
          type: string
        name:
          type: string
        accountId:
          format: int64
          type: integer
        timeStamp:
          format: date-time
          type: string
        vpcId:
          type: string
        region:
          enum:
          - us_east_1
          - us_west_1
          - eu_west_1
          - ap_southeast_1
          - ap_northeast_1
          - us_west_2
          - sa_east_1
          - az_1_region_a_geo_1
          - az_2_region_a_geo_1
          - az_3_region_a_geo_1
          - ap_southeast_2
          - mellanox_region
          - us_gov_west_1
          - eu_central_1
          - ap_northeast_2
          - ap_south_1
          - us_east_2
          - ca_central_1
          - eu_west_2
          - eu_west_3
          - eu_north_1
          - cn_north_1
          - cn_northwest_1
          - us_gov_east_1
          - ap_east_1
          - me_south_1
          - af_south_1
          - eu_south_1
          - ap_northeast_3
          - me_central_1
          - ap_south_2
          - ap_southeast_3
          - ap_southeast_4
          - eu_central_2
          - eu_south_2
          - il_central_1
          - ca_west_1
          - mx_central_1
          - ap_southeast_5
          - ap_southeast_7
          - westus
          - eastus
          - eastus2
          - northcentralus
          - westus2
          - southcentralus
          - centralus
          - usgovlowa
          - usgovvirginia
          - northeurope
          - westeurope
          - eastasia
          - southeastasia
          - japaneast
          - japanwest
          - brazilsouth
          - australiaeast
          - australiasoutheast
          - centralindia
          - southindia
          - westindia
          - canadaeast
          - westcentralus
          - chinaeast
          - chinanorth
          - canadacentral
          - germanycentral
          - germanynortheast
          - koreacentral
          - uksouth
          - ukwest
          - koreasouth
          - francecentral
          - francesouth
          - germanywestcentral
          - usdodcentral
          - usdodeast
          - usgovarizona
          - usgovtexas
          - australiacentral
          - australiacentral2
          - chinaeast2
          - chinanorth2
          - southafricanorth
          - southafricawest
          - uaecentral
          - uaenorth
          - ussecwest
          - usseceast
          - germanynorth
          - switzerlandwest
          - norwaywest
          - norwayeast
          - switzerlandnorth
          - westus3
          - swedencentral
          - chinanorth3
          - brazilsoutheast
          - eastus2euap
          - jioindiawest
          - jioindiacentral
          - qatarcentral
          - spaincentral
          - italynorth
          - polandcentral
          - mexicocentral
          - asia
          - asia_east1
          - asia_northeast1
          - asia_south1
          - asia_southeast1
          - australia_southeast1
          - europe
          - europe_north1
          - europe_west1
          - europe_west2
          - europe_west3
          - europe_west4
          - northamerica_northeast1
          - southamerica_east1
          - us
          - us_central1
          - us_east1
          - us_east4
          - us_west1
          - us_west2
          - global
          - asia_east2
          - eur4
          - nam4
          - europe_west6
          - japan_west
          - asia_northeast2
          - asia_northeast3
          - us_west3
          - us_west4
          - asia_southeast2
          - nam3
          - nam5
          - nam6
          - nam7
          - nam10
          - nam_eur_asia1
          - eur3
          - eur5
          - asia1
          - nam11
          - eu
          - northamerica_northeast2
          - southamerica_west1
          - us_east5
          - us_south1
          - europe_central2
          - europe_southwest1
          - europe_west8
          - europe_west9
          - europe_west10
          - europe_west12
          - asia_south2
          - australia_southeast2
          - me_central1
          - me_central2
          - me_west1
          - ap_sydney_1
          - ap_melbourne_1
          - sa_saopaulo_1
          - sa_vinhedo_1
          - ca_montreal_1
          - ca_toronto_1
          - sa_santiago_1
          - eu_paris_1
          - eu_marseille_1
          - eu_frankfurt_1
          - ap_hyderabad_1
          - ap_mumbai_1
          - il_jerusalem_1
          - eu_milan_1
          - ap_osaka_1
          - ap_tokyo_1
          - mx_queretaro_1
          - eu_amsterdam_1
          - me_jeddah_1
          - ap_singapore_1
          - af_johannesburg_1
          - ap_seoul_1
          - ap_chuncheon_1
          - eu_madrid_1
          - eu_stockholm_1
          - eu_zurich_1
          - me_abudhabi_1
          - me_dubai_1
          - uk_london_1
          - uk_cardiff_1
          - us_ashburn_1
          - us_phoenix_1
          - us_sanjose_1
          - us_gov_ashburn_1
          - us_gov_chicago_1
          - us_gov_phoenix_1
          - us_langley_1
          - us_luke_1
          - uk_gov_london_1
          - uk_gov_cardiff_1
          - sa_bogota_1
          - us_chicago_1
          - sa_valparaiso_1
          - mx_monterrey_1
          - eu_jovanovac_1
          - ap_singapore_2
          type: string
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        naclId:
          type: string
        isDefault:
          type: boolean
        associations:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Controllers.CloudNaclAssociationViewModel'
        entries:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Controllers.CloudNaclEntryViewModel'
        tags:
          type: object
          additionalProperties:
            type: string
    Dome9.Web.Api.Controllers.CloudNaclAssociationViewModel:
      type: object
      properties:
        naclId:
          type: string
        nAclAssociationId:
          type: string
        subnetId:
          type: string
    Dome9.Web.Api.Controllers.CloudNaclEntryViewModel:
      type: object
      properties:
        protocol:
          type: string
        ruleNumber:
          format: int32
          type: integer
        ruleAction:
          type: string
        egress:
          type: boolean
        cidrBlock:
          type: string
        portRange:
          $ref: '#/components/schemas/CGN.Inventory.Aws.Model.WrapperModels.NaclEntryPortRange'
        icmpTypeCode:
          $ref: '#/components/schemas/Dome9.Web.Api.Controllers.NaclEntryIcmpTypeCodeViewModel'
    CGN.Inventory.Aws.Model.WrapperModels.NaclEntryPortRange:
      type: object
      properties:
        from:
          format: int32
          type: integer
        to:
          format: int32
          type: integer
    Dome9.Web.Api.Controllers.NaclEntryIcmpTypeCodeViewModel:
      type: object
      properties:
        type:
          format: int32
          type: integer
        code:
          format: int32
          type: integer
        description:
          type: string
    Dome9.Web.Api.CloudRoute53.CloudRoute53DomainViewModel:
      type: object
      properties:
        id:
          type: string
        accountId:
          format: int64
          type: integer
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        domainName:
          type: string
        autoRenew:
          type: boolean
        transferLock:
          type: boolean
        expirationTime:
          format: date-time
          type: string
        details:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudRoute53.CloudRoute53DomainDetailsViewModel'
    Dome9.Web.Api.CloudRoute53.CloudRoute53DomainDetailsViewModel:
      type: object
      properties:
        registrarName:
          type: string
        registrarUrl:
          type: string
        registryDomainId:
          type: string
        reseller:
          type: string
        nameservers:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudRoute53.CloudRoute53DomainNameserverViewModel'
        dnsSec:
          type: string
        statusList:
          type: array
          items:
            type: string
        whoIsServer:
          type: string
        creationTime:
          format: date-time
          type: string
        updatedTime:
          format: date-time
          type: string
    Dome9.Web.Api.CloudRoute53.CloudRoute53DomainNameserverViewModel:
      type: object
      properties:
        name:
          type: string
        glueIps:
          type: array
          items:
            type: string
    Dome9.Web.Api.CloudRoute53.CloudRoute53HostedZoneViewModel:
      type: object
      properties:
        id:
          type: string
        accountId:
          format: int64
          type: integer
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
        callerReference:
          type: string
        config:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudRoute53.CloudRoute53HostedZoneConfigViewModel'
        linkedService:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudRoute53.CloudRoute53LinkedServiceViewModel'
        resourceRecordSetCount:
          format: int64
          type: integer
        resourceRecordSets:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudRoute53.CloudRoute53ResourceRecordSetViewModel'
        queryLoggingConfigs:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudRoute53.CloudRoute53QueryLoggingConfigViewModel'
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Shared.SharedViewModels.TagViewModel'
    Dome9.Web.Api.CloudRoute53.CloudRoute53HostedZoneConfigViewModel:
      type: object
      properties:
        comment:
          type: string
        privateZone:
          type: boolean
    Dome9.Web.Api.CloudRoute53.CloudRoute53LinkedServiceViewModel:
      type: object
      properties:
        servicePrincipal:
          type: string
        description:
          type: string
    Dome9.Web.Api.CloudRoute53.CloudRoute53ResourceRecordSetViewModel:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
        setIdentifier:
          type: string
        weight:
          format: int64
          type: integer
        region:
          enum:
          - us_east_1
          - us_west_1
          - eu_west_1
          - ap_southeast_1
          - ap_northeast_1
          - us_west_2
          - sa_east_1
          - az_1_region_a_geo_1
          - az_2_region_a_geo_1
          - az_3_region_a_geo_1
          - ap_southeast_2
          - mellanox_region
          - us_gov_west_1
          - eu_central_1
          - ap_northeast_2
          - ap_south_1
          - us_east_2
          - ca_central_1
          - eu_west_2
          - eu_west_3
          - eu_north_1
          - cn_north_1
          - cn_northwest_1
          - us_gov_east_1
          - ap_east_1
          - me_south_1
          - af_south_1
          - eu_south_1
          - ap_northeast_3
          - me_central_1
          - ap_south_2
          - ap_southeast_3
          - ap_southeast_4
          - eu_central_2
          - eu_south_2
          - il_central_1
          - ca_west_1
          - mx_central_1
          - ap_southeast_5
          - ap_southeast_7
          - westus
          - eastus
          - eastus2
          - northcentralus
          - westus2
          - southcentralus
          - centralus
          - usgovlowa
          - usgovvirginia
          - northeurope
          - westeurope
          - eastasia
          - southeastasia
          - japaneast
          - japanwest
          - brazilsouth
          - australiaeast
          - australiasoutheast
          - centralindia
          - southindia
          - westindia
          - canadaeast
          - westcentralus
          - chinaeast
          - chinanorth
          - canadacentral
          - germanycentral
          - germanynortheast
          - koreacentral
          - uksouth
          - ukwest
          - koreasouth
          - francecentral
          - francesouth
          - germanywestcentral
          - usdodcentral
          - usdodeast
          - usgovarizona
          - usgovtexas
          - australiacentral
          - australiacentral2
          - chinaeast2
          - chinanorth2
          - southafricanorth
          - southafricawest
          - uaecentral
          - uaenorth
          - ussecwest
          - usseceast
          - germanynorth
          - switzerlandwest
          - norwaywest
          - norwayeast
          - switzerlandnorth
          - westus3
          - swedencentral
          - chinanorth3
          - brazilsoutheast
          - eastus2euap
          - jioindiawest
          - jioindiacentral
          - qatarcentral
          - spaincentral
          - italynorth
          - polandcentral
          - mexicocentral
          - asia
          - asia_east1
          - asia_northeast1
          - asia_south1
          - asia_southeast1
          - australia_southeast1
          - europe
          - europe_north1
          - europe_west1
          - europe_west2
          - europe_west3
          - europe_west4
          - northamerica_northeast1
          - southamerica_east1
          - us
          - us_central1
          - us_east1
          - us_east4
          - us_west1
          - us_west2
          - global
          - asia_east2
          - eur4
          - nam4
          - europe_west6
          - japan_west
          - asia_northeast2
          - asia_northeast3
          - us_west3
          - us_west4
          - asia_southeast2
          - nam3
          - nam5
          - nam6
          - nam7
          - nam10
          - nam_eur_asia1
          - eur3
          - eur5
          - asia1
          - nam11
          - eu
          - northamerica_northeast2
          - southamerica_west1
          - us_east5
          - us_south1
          - europe_central2
          - europe_southwest1
          - europe_west8
          - europe_west9
          - europe_west10
          - europe_west12
          - asia_south2
          - australia_southeast2
          - me_central1
          - me_central2
          - me_west1
          - ap_sydney_1
          - ap_melbourne_1
          - sa_saopaulo_1
          - sa_vinhedo_1
          - ca_montreal_1
          - ca_toronto_1
          - sa_santiago_1
          - eu_paris_1
          - eu_marseille_1
          - eu_frankfurt_1
          - ap_hyderabad_1
          - ap_mumbai_1
          - il_jerusalem_1
          - eu_milan_1
          - ap_osaka_1
          - ap_tokyo_1
          - mx_queretaro_1
          - eu_amsterdam_1
          - me_jeddah_1
          - ap_singapore_1
          - af_johannesburg_1
          - ap_seoul_1
          - ap_chuncheon_1
          - eu_madrid_1
          - eu_stockholm_1
          - eu_zurich_1
          - me_abudhabi_1
          - me_dubai_1
          - uk_london_1
          - uk_cardiff_1
          - us_ashburn_1
          - us_phoenix_1
          - us_sanjose_1
          - us_gov_ashburn_1
          - us_gov_chicago_1
          - us_gov_phoenix_1
          - us_langley_1
          - us_luke_1
          - uk_gov_london_1
          - uk_gov_cardiff_1
          - sa_bogota_1
          - us_chicago_1
          - sa_valparaiso_1
          - mx_monterrey_1
          - eu_jovanovac_1
          - ap_singapore_2
          type: string
        geoLocation:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudRoute53.CloudRoute53GeoLocationViewModel'
        failover:
          type: string
        multiValueAnswer:
          type: boolean
        ttl:
          format: int64
          type: integer
        resourceRecords:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudRoute53.CloudRoute53ResourceRecordViewModel'
        aliasTarget:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudRoute53.CloudRoute53AliasTargetViewModel'
        healthCheckId:
          type: string
        trafficPolicyInstanceId:
          type: string
    Dome9.Web.Api.CloudRoute53.CloudRoute53QueryLoggingConfigViewModel:
      type: object
      properties:
        cloudWatchLogsLogGroupArn:
          type: string
        hostedZoneId:
          type: string
        id:
          type: string
    Dome9.Web.Api.CloudRoute53.CloudRoute53GeoLocationViewModel:
      type: object
      properties:
        continentCode:
          type: string
        countryCode:
          type: string
        subdivisionCode:
          type: string
    Dome9.Web.Api.CloudRoute53.CloudRoute53ResourceRecordViewModel:
      type: object
      properties:
        value:
          type: string
    Dome9.Web.Api.CloudRoute53.CloudRoute53AliasTargetViewModel:
      type: object
      properties:
        hostedZoneId:
          type: string
        dnsName:
          type: string
        evaluateTargetHealth:
          type: boolean
    Dome9.Web.Api.CloudRoute53.CloudRoute53RecordSetGroupViewModel:
      type: object
      properties:
        hostedZoneMetadata:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudRoute53.CloudRoute53HostZoneMetadataViewModel'
        recordSets:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudRoute53.CloudRoute53ResourceRecordSetViewModel'
    Dome9.Web.Api.CloudRoute53.CloudRoute53HostZoneMetadataViewModel:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        comment:
          type: string
        callerReference:
          type: string
        linkedService:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudRoute53.CloudRoute53LinkedServiceViewModel'
        recordSetCount:
          format: int64
          type: integer
    Dome9.Web.Api.CloudRouteTables.CloudRouteTableViewModel:
      type: object
      properties:
        externalId:
          type: string
        name:
          type: string
        accountId:
          format: int64
          type: integer
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        vpcId:
          type: string
        tags:
          type: object
          additionalProperties:
            type: string
        routeTableId:
          type: string
          readOnly: true
        routes:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudRouteTables.CloudRouteViewModel'
        propagatingVgws:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudRouteTables.CloudPropagatingVgwViewModel'
        associations:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudRouteTables.CloudRouteTableAssociationViewModel'
    Dome9.Web.Api.CloudRouteTables.CloudRouteViewModel:
      type: object
      properties:
        destinationCidrBlock:
          type: string
        destinationIpv6CidrBlock:
          type: string
        destinationPrefixListId:
          type: string
        egressOnlyInternetGatewayId:
          type: string
        gatewayId:
          type: string
        instanceId:
          type: string
        instanceOwnerId:
          type: string
        natGatewayId:
          type: string
        networkInterfaceId:
          type: string
        origin:
          type: string
        state:
          type: string
        vpcPeeringConnectionId:
          type: string
        transitGatewayId:
          type: string
    Dome9.Web.Api.CloudRouteTables.CloudPropagatingVgwViewModel:
      type: object
      properties:
        gatewayId:
          type: string
    Dome9.Web.Api.CloudRouteTables.CloudRouteTableAssociationViewModel:
      type: object
      properties:
        isMain:
          type: boolean
        routeTableAssociationId:
          type: string
        routeTableId:
          type: string
        subnetId:
          type: string
    Dome9.Web.Api.Models.CloudSubnetViewModel:
      type: object
      properties:
        externalId:
          type: string
        name:
          type: string
        accountId:
          format: int64
          type: integer
        timeStamp:
          format: date-time
          type: string
        vpcId:
          type: string
        region:
          enum:
          - us_east_1
          - us_west_1
          - eu_west_1
          - ap_southeast_1
          - ap_northeast_1
          - us_west_2
          - sa_east_1
          - az_1_region_a_geo_1
          - az_2_region_a_geo_1
          - az_3_region_a_geo_1
          - ap_southeast_2
          - mellanox_region
          - us_gov_west_1
          - eu_central_1
          - ap_northeast_2
          - ap_south_1
          - us_east_2
          - ca_central_1
          - eu_west_2
          - eu_west_3
          - eu_north_1
          - cn_north_1
          - cn_northwest_1
          - us_gov_east_1
          - ap_east_1
          - me_south_1
          - af_south_1
          - eu_south_1
          - ap_northeast_3
          - me_central_1
          - ap_south_2
          - ap_southeast_3
          - ap_southeast_4
          - eu_central_2
          - eu_south_2
          - il_central_1
          - ca_west_1
          - mx_central_1
          - ap_southeast_5
          - ap_southeast_7
          - westus
          - eastus
          - eastus2
          - northcentralus
          - westus2
          - southcentralus
          - centralus
          - usgovlowa
          - usgovvirginia
          - northeurope
          - westeurope
          - eastasia
          - southeastasia
          - japaneast
          - japanwest
          - brazilsouth
          - australiaeast
          - australiasoutheast
          - centralindia
          - southindia
          - westindia
          - canadaeast
          - westcentralus
          - chinaeast
          - chinanorth
          - canadacentral
          - germanycentral
          - germanynortheast
          - koreacentral
          - uksouth
          - ukwest
          - koreasouth
          - francecentral
          - francesouth
          - germanywestcentral
          - usdodcentral
          - usdodeast
          - usgovarizona
          - usgovtexas
          - australiacentral
          - australiacentral2
          - chinaeast2
          - chinanorth2
          - southafricanorth
          - southafricawest
          - uaecentral
          - uaenorth
          - ussecwest
          - usseceast
          - germanynorth
          - switzerlandwest
          - norwaywest
          - norwayeast
          - switzerlandnorth
          - westus3
          - swedencentral
          - chinanorth3
          - brazilsoutheast
          - eastus2euap
          - jioindiawest
          - jioindiacentral
          - qatarcentral
          - spaincentral
          - italynorth
          - polandcentral
          - mexicocentral
          - asia
          - asia_east1
          - asia_northeast1
          - asia_south1
          - asia_southeast1
          - australia_southeast1
          - europe
          - europe_north1
          - europe_west1
          - europe_west2
          - europe_west3
          - europe_west4
          - northamerica_northeast1
          - southamerica_east1
          - us
          - us_central1
          - us_east1
          - us_east4
          - us_west1
          - us_west2
          - global
          - asia_east2
          - eur4
          - nam4
          - europe_west6
          - japan_west
          - asia_northeast2
          - asia_northeast3
          - us_west3
          - us_west4
          - asia_southeast2
          - nam3
          - nam5
          - nam6
          - nam7
          - nam10
          - nam_eur_asia1
          - eur3
          - eur5
          - asia1
          - nam11
          - eu
          - northamerica_northeast2
          - southamerica_west1
          - us_east5
          - us_south1
          - europe_central2
          - europe_southwest1
          - europe_west8
          - europe_west9
          - europe_west10
          - europe_west12
          - asia_south2
          - australia_southeast2
          - me_central1
          - me_central2
          - me_west1
          - ap_sydney_1
          - ap_melbourne_1
          - sa_saopaulo_1
          - sa_vinhedo_1
          - ca_montreal_1
          - ca_toronto_1
          - sa_santiago_1
          - eu_paris_1
          - eu_marseille_1
          - eu_frankfurt_1
          - ap_hyderabad_1
          - ap_mumbai_1
          - il_jerusalem_1
          - eu_milan_1
          - ap_osaka_1
          - ap_tokyo_1
          - mx_queretaro_1
          - eu_amsterdam_1
          - me_jeddah_1
          - ap_singapore_1
          - af_johannesburg_1
          - ap_seoul_1
          - ap_chuncheon_1
          - eu_madrid_1
          - eu_stockholm_1
          - eu_zurich_1
          - me_abudhabi_1
          - me_dubai_1
          - uk_london_1
          - uk_cardiff_1
          - us_ashburn_1
          - us_phoenix_1
          - us_sanjose_1
          - us_gov_ashburn_1
          - us_gov_chicago_1
          - us_gov_phoenix_1
          - us_langley_1
          - us_luke_1
          - uk_gov_london_1
          - uk_gov_cardiff_1
          - sa_bogota_1
          - us_chicago_1
          - sa_valparaiso_1
          - mx_monterrey_1
          - eu_jovanovac_1
          - ap_singapore_2
          type: string
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        subnetId:
          type: string
        cidrBlock:
          type: string
        state:
          type: string
        availabilityZone:
          type: string
        defaultForAz:
          type: boolean
        availableIpAddressCount:
          format: int32
          type: integer
        mapPublicIpOnLaunch:
          type: boolean
        tags:
          type: object
          additionalProperties:
            type: string
        ownerId:
          type: string
    Dome9.Web.Api.Models.CloudVpcViewModel:
      type: object
      properties:
        externalId:
          type: string
        name:
          type: string
        region:
          enum:
          - us_east_1
          - us_west_1
          - eu_west_1
          - ap_southeast_1
          - ap_northeast_1
          - us_west_2
          - sa_east_1
          - az_1_region_a_geo_1
          - az_2_region_a_geo_1
          - az_3_region_a_geo_1
          - ap_southeast_2
          - mellanox_region
          - us_gov_west_1
          - eu_central_1
          - ap_northeast_2
          - ap_south_1
          - us_east_2
          - ca_central_1
          - eu_west_2
          - eu_west_3
          - eu_north_1
          - cn_north_1
          - cn_northwest_1
          - us_gov_east_1
          - ap_east_1
          - me_south_1
          - af_south_1
          - eu_south_1
          - ap_northeast_3
          - me_central_1
          - ap_south_2
          - ap_southeast_3
[...]
