openapi: 3.2.0
info:
  title: Administration Service Account API
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Service Account
paths:
  /v2/service-account/update:
    post:
      tags:
      - Service Account
      summary: Update Service Account
      operationId: ServiceAccount_UpdateServiceAccount_post_/v2/service-account/update
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.ServiceAccountViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.ServiceAccountViewModel'
        description: Includes the role ID to update and the new name and role IDs to apply
        required: true
      description: Update a Service Account (Name and Roles)
  /v2/service-account/{id}:
    get:
      tags:
      - Service Account
      summary: Get
      operationId: ServiceAccount_Get_get_/v2/service-account/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.ServiceAccountGetViewModel'
      description: Get details on all service accounts in the account
  /v2/service-account/{serviceAccountId}:
    delete:
      tags:
      - Service Account
      summary: Delete Service Account
      operationId: ServiceAccount_DeleteServiceAccount_delete_/v2/service-account/{serviceAccountId}
      parameters:
      - name: serviceAccountId
        in: path
        description: The ID of the Service Account to delete
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
      description: Delete a specific Service Account by ID
  /v2/service-account/generate-key:
    post:
      tags:
      - Service Account
      summary: Generate Secret For Service Account
      operationId: ServiceAccount_GenerateSecretForServiceAccount_post_/v2/service-account/generate-key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.ServiceAccountViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.ServiceAccountViewModel'
        description: Details on the Service Account. Only the ID is required
        required: true
      description: Generate a new access key and secret for a specific Service Account
  /v2/service-account:
    get:
      tags:
      - Service Account
      summary: Get Service Accounts
      operationId: ServiceAccount_GetServiceAccounts_get_/v2/service-account
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.ServiceAccountGetViewModel'
      description: Get details on all service accounts in the account
    post:
      tags:
      - Service Account
      summary: Post Service Account
      operationId: ServiceAccount_PostServiceAccount_post_/v2/service-account
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.ServiceAccountViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.ServiceAccountViewModel'
        description: The name of the Service Account and the role IDs to assign it.
        required: true
      description: Create a new Service Account
    delete:
      tags:
      - Service Account
      summary: Delete All Service Accounts For User
      operationId: ServiceAccount_DeleteAllServiceAccountsForUser_delete_/v2/service-account
      responses:
        '204':
          description: No Content
      description: Delete all Service Accounts in the account
components:
  schemas:
    Dome9.Web.Api.ServiceAccountViewModel:
      type: object
      properties:
        name:
          maxLength: 50
          minLength: 0
          pattern: '[^/]+$'
          type: string
        id:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        roleIds:
          type: array
          items:
            format: int64
            type: integer
    Dome9.Web.Api.ServiceAccountGetViewModel:
      type: object
      properties:
        name:
          maxLength: 50
          minLength: 0
          pattern: '[^/]+$'
          type: string
        id:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        apiKeyId:
          type: string
        roleIds:
          type: array
          items:
            format: int64
            type: integer
        dateCreated:
          format: date-time
          type: string
        lastUsed:
          format: date-time
          type: string
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
