openapi: 3.2.0
info:
  title: Posture Management Exclusion Old API
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Exclusion Old
paths:
  /v2/Exclusion:
    get:
      tags:
      - Exclusion Old
      summary: Get
      operationId: ExclusionOld_Get_get_/v2/Exclusion
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.ExclusionOld.ExclusionGetOldViewModel'
      description: Get a list of exclusions for the account
    put:
      tags:
      - Exclusion Old
      summary: Put
      operationId: ExclusionOld_Put_put_/v2/Exclusion
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.ExclusionOld.ExclusionGetOldViewModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.ExclusionOld.ExclusionGetOldViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.ExclusionOld.ExclusionGetOldViewModel'
        description: details for the exclusion
        required: true
      description: Update an exclusion
    post:
      tags:
      - Exclusion Old
      summary: Post
      operationId: ExclusionOld_Post_post_/v2/Exclusion
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.ExclusionOld.ExclusionGetOldViewModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.ExclusionOld.ExclusionPostOldViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Compliance.ExclusionOld.ExclusionPostOldViewModel'
        description: details for the exclusion
        required: true
      description: Add a new exclusion
  /v2/Exclusion/{id}:
    get:
      tags:
      - Exclusion Old
      summary: Get
      operationId: ExclusionOld_Get_get_/v2/Exclusion/{id}
      parameters:
      - name: id
        in: path
        description: the id of the exclusion
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.ExclusionOld.ExclusionGetOldViewModel'
      description: Get details for a specific exclusion
    delete:
      tags:
      - Exclusion Old
      summary: Delete
      operationId: ExclusionOld_Delete_delete_/v2/Exclusion/{id}
      parameters:
      - name: id
        in: path
        description: the id of the exclusion to delete
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
      description: Delete an exclusion
components:
  schemas:
    Dome9.Web.Api.Compliance.ExclusionOld.ExclusionPostOldViewModel:
      required:
      - comment
      type: object
      properties:
        ruleLogicHash:
          description: '[Optional] Hash for the rule logic. If not specified, the exclusion logic applies to all rules.'
          pattern: ^[A-Za-z0-9+/]{22}?$
          type: string
        ruleName:
          type: string
        ruleId:
          type: string
        logic:
          description: '[Optional] The GSL logic of the exclusion. If not specified, the entire rule is excluded.'
          pattern: (name|id){1} (like){1} '{1}[a-zA-Z0-9/.\-_:%"*{},;()=!&|\$#~^+@?<>\[\] À-ÖØ-öø-ÿ]+'{1}
          type: string
        bundleId:
          format: int64
          description: id of the bundle containing the rule, whose findings will be excluded.
          type: integer
        cloudAccountId:
          format: uuid
          description: '[Optional] id of the cloud account on which the rule is applied, for which findings will be excluded. If not specified, findings for all cloud accounts for which the rule applies will be excluded.'
          type: string
          example: 00000000-0000-0000-0000-000000000000
        cloudAccountType:
          enum:
          - Aws
          - Azure
          - Google
          - Kubernetes
          - Terraform
          - Generic
          - KubernetesRuntimeAssurance
          - ShiftLeft
          - SourceCodeAssurance
          - ImageAssurance
          - Alibaba
          - Cft
          - ContainerRegistry
          - Oci
          - CIEM
          type: string
        comment:
          description: Comment text (free text)
          type: string
    Dome9.Web.Api.Compliance.ExclusionOld.ExclusionGetOldViewModel:
      required:
      - comment
      type: object
      properties:
        id:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        ruleLogicHash:
          description: '[Optional] Hash for the rule logic. If not specified, the exclusion logic applies to all rules.'
          pattern: ^[A-Za-z0-9+/]{22}?$
          type: string
        ruleName:
          type: string
        ruleId:
          type: string
        logic:
          description: '[Optional] The GSL logic of the exclusion. If not specified, the entire rule is excluded.'
          pattern: (name|id){1} (like){1} '{1}[a-zA-Z0-9/.\-_:%"*{},;()=!&|\$#~^+@?<>\[\] À-ÖØ-öø-ÿ]+'{1}
          type: string
        bundleId:
          format: int64
          description: id of the bundle containing the rule, whose findings will be excluded.
          type: integer
        cloudAccountId:
          format: uuid
          description: '[Optional] id of the cloud account on which the rule is applied, for which findings will be excluded. If not specified, findings for all cloud accounts for which the rule applies will be excluded.'
          type: string
          example: 00000000-0000-0000-0000-000000000000
        cloudAccountType:
          enum:
          - Aws
          - Azure
          - Google
          - Kubernetes
          - Terraform
          - Generic
          - KubernetesRuntimeAssurance
          - ShiftLeft
          - SourceCodeAssurance
          - ImageAssurance
          - Alibaba
          - Cft
          - ContainerRegistry
          - Oci
          - CIEM
          type: string
        comment:
          description: Comment text (free text)
          type: string
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
