openapi: 3.2.0
info:
  title: Inventory - Azure Azure Lock API
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Azure Lock
paths:
  /v2/AzureLock:
    get:
      tags:
      - Azure Lock
      operationId: AzureLock_Get_get_/v2/AzureLock
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Azure.Locks.AzureLockViewModel'
      description: ''
      summary: Get
  /v2/AzureLock/{id}:
    get:
      tags:
      - Azure Lock
      operationId: AzureLock_Get_get_/v2/AzureLock/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Azure.Locks.AzureLockViewModel'
      description: ''
      summary: Get
components:
  schemas:
    Dome9.Web.Api.Azure.Locks.AzureLockViewModel:
      type: object
      properties:
        id:
          type: string
        externalId:
          type: string
        accountId:
          format: int64
          type: integer
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
        scope:
          type: string
        region:
          type: string
        resourceGroup:
          type: string
        resource:
          type: string
        level:
          type: string
        notes:
          type: string
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
