openapi: 3.2.0
info:
  title: Network Security Ip Address Metadata API
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Ip Address Metadata
paths:
  /v2/IpAddressMetadata:
    get:
      tags:
      - Ip Address Metadata
      summary: Get
      description: Get all IP addresses metadata
      operationId: IpAddressMetadata_Get_get_/v2/IpAddressMetadata
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.IpAddressMetadataViewModel'
    put:
      tags:
      - Ip Address Metadata
      summary: Put
      description: Update an existing IP address metadata
      operationId: IpAddressMetadata_Put_put_/v2/IpAddressMetadata
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.IpAddressMetadataViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.IpAddressMetadataViewModel'
        description: updated metadata
        required: true
    post:
      tags:
      - Ip Address Metadata
      summary: Post
      description: Add a new IP address metadata
      operationId: IpAddressMetadata_Post_post_/v2/IpAddressMetadata
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.IpAddressMetadataViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.IpAddressMetadataViewModel'
        description: metadata for the IP address
        required: true
    delete:
      tags:
      - Ip Address Metadata
      summary: Delete
      description: delete an IP address metadata with a specific CIDR
      operationId: IpAddressMetadata_Delete_delete_/v2/IpAddressMetadata
      parameters:
      - name: accountId
        in: query
        description: the account id
        required: true
        schema:
          type: integer
          format: int64
      - name: address
        in: query
        description: the IP address to delete
        required: true
        schema:
          type: string
      - name: mask
        in: query
        description: the subnet mask
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
components:
  schemas:
    Dome9.Web.Api.Models.IpAddressMetadataViewModel:
      type: object
      properties:
        id:
          description: set or get the internal id for the address
          type: string
        cidr:
          description: set or get the CIDR for the address
          type: string
        name:
          description: set or get the name for the IP address
          type: string
        classificaiton:
          description: set or get the claasification of the IP address
          enum:
          - External
          - Unsafe
          - Dmz
          - InternalVpc
          - InternalDc
          - NoClassification
          type: string
        classification:
          enum:
          - External
          - Unsafe
          - Dmz
          - InternalVpc
          - InternalDc
          - NoClassification
          type: string
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
