openapi: 3.2.0
info:
  title: Inventory - AWS IAM Cloud Iam Group API
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Cloud Iam Group
paths:
  /v2/CloudIamGroup:
    get:
      tags:
      - Cloud Iam Group
      operationId: CloudIamGroup_Get_get_/v2/CloudIamGroup
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudIamGroups.CloudIamGroupViewModel'
      description: ''
      summary: Get
components:
  schemas:
    Dome9.Web.Api.CloudIamGroupPolicy.AwsIamGroupPolicyViewModel:
      type: object
      properties:
        arn:
          description: Arn
          type: string
        name:
          description: name
          type: string
    Dome9.Web.Api.CloudIamGroups.CloudIamGroupInlinePolicyViewModel:
      type: object
      properties:
        policyName:
          type: string
        policyDocument:
          type: object
    Dome9.Web.Api.CloudIamGroups.CloudIamGroupViewModel:
      type: object
      properties:
        accountId:
          format: int64
          description: AccountId
          type: integer
        cloudAccountId:
          format: uuid
          description: AccountId
          type: string
          example: 00000000-0000-0000-0000-000000000000
        externalAccoutNumber:
          description: ExternalAccoutNumber
          type: string
        arn:
          description: Arn
          type: string
        externalId:
          description: ExternalId
          type: string
        groupId:
          description: GroupId
          type: string
        groupName:
          description: GroupName
          type: string
        attachedUsers:
          type: array
          items:
            type: string
        attachedManagedPolicies:
          description: IamGroupPolicies
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudIamGroupPolicy.AwsIamGroupPolicyViewModel'
        inlinePolicies:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudIamGroups.CloudIamGroupInlinePolicyViewModel'
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
