openapi: 3.2.0
info:
  title: Workload Protection Vulnerability Exclusions API
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Vulnerability Exclusions
paths:
  /v2/vulnerability/exclusions:
    get:
      tags:
      - Vulnerability Exclusions
      operationId: VulnerabilityExclusions_GetAllExclusionsVulnerabilities_get_/v2/vulnerability/exclusions
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VulnerabilityExclusionViewModel'
      description: ''
      summary: Get All Exclusions Vulnerabilities
    post:
      tags:
      - Vulnerability Exclusions
      operationId: VulnerabilityExclusions_CreateExclusionsVulnerabilities_post_/v2/vulnerability/exclusions
      requestBody:
        x-name: req
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/VulnerabilityExclusionPostRequestModel'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VulnerabilityExclusionViewModel'
      description: ''
      summary: Create Exclusions Vulnerabilities
    put:
      tags:
      - Vulnerability Exclusions
      operationId: VulnerabilityExclusions_UpdateExclusion_put_/v2/vulnerability/exclusions
      requestBody:
        x-name: req
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/VulnerabilityExclusionPutRequestModel'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VulnerabilityExclusionViewModel'
      description: ''
      summary: Update Exclusion
  /v2/vulnerability/exclusions/bulk-delete:
    post:
      tags:
      - Vulnerability Exclusions
      operationId: VulnerabilityExclusions_DeleteExclusions_post_/v2/vulnerability/exclusions/bulk-delete
      requestBody:
        x-name: req
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                format: guid
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VulnerabilityExclusionDeleteViewModel'
      description: ''
      summary: Delete Exclusions
components:
  schemas:
    VulnerabilityExclusionPutRequestModel:
      type: object
      additionalProperties: false
      required:
      - name
      - comment
      - id
      - type
      - filter
      - includeInAssessment
      properties:
        id:
          type: string
          format: guid
        name:
          type: string
          minLength: 1
        comment:
          type: string
          minLength: 1
        type:
          $ref: '#/components/schemas/VulnerabilityExclusionTypeEnum'
        filter:
          $ref: '#/components/schemas/VulnerabilityExclusionFilterViewModel'
        includeInAssessment:
          type: boolean
    VulnerabilityExclusionPostRequestModel:
      type: object
      additionalProperties: false
      required:
      - name
      - comment
      - type
      - filter
      - includeInAssessment
      properties:
        name:
          type: string
          minLength: 1
        type:
          $ref: '#/components/schemas/VulnerabilityExclusionTypeEnum'
        comment:
          type: string
          minLength: 1
        filter:
          $ref: '#/components/schemas/VulnerabilityExclusionFilterViewModel'
        includeInAssessment:
          type: boolean
    VulnerabilityExclusionDeleteViewModel:
      type: object
      additionalProperties: false
      required:
      - id
      - errorMessage
      properties:
        id:
          type: string
          format: guid
        errorMessage:
          type:
          - string
          - 'null'
    MaliciousCategory:
      type: string
      description: ''
      x-enumNames:
      - MaliciousFile
      - MaliciousIP
      - MaliciousURL
      enum:
      - MaliciousFile
      - MaliciousIP
      - MaliciousURL
    VulnerabilityExclusionTypeEnum:
      type: string
      description: ''
      x-enumNames:
      - CVE
      - Threat
      - Secret
      enum:
      - CVE
      - Threat
      - Secret
    VulnerabilityExclusionViewModel:
      type: object
      additionalProperties: false
      required:
      - id
      - name
      - type
      - filter
      - includeInAssessment
      - comment
      - author
      - creationDate
      - errorMessage
      properties:
        id:
          type: string
          format: guid
        name:
          type: string
        type:
          $ref: '#/components/schemas/VulnerabilityExclusionTypeEnum'
        filter:
          $ref: '#/components/schemas/VulnerabilityExclusionFilterViewModel'
        includeInAssessment:
          type: boolean
        comment:
          type: string
        author:
          type: string
        creationDate:
          type: string
          format: date-time
        errorMessage:
          type:
          - string
          - 'null'
    VulnerabilityExclusionFilterViewModel:
      type: object
      additionalProperties: false
      required:
      - cveId
      - packageName
      - packageVersion
      - filePath
      - maliciousCategory
      - entityNames
      - entityId
      - environmentsIds
      - organizationalUnitsIds
      - startDate
      - endDate
      properties:
        cveId:
          type:
          - string
          - 'null'
        packageName:
          type:
          - string
          - 'null'
        packageVersion:
          type:
          - string
          - 'null'
        filePath:
          type:
          - string
          - 'null'
        maliciousCategory:
          oneOf:
          - $ref: '#/components/schemas/MaliciousCategory'
        entityNames:
          type:
          - array
          - 'null'
          items:
            type: string
        entityId:
          type:
          - string
          - 'null'
        environmentsIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: guid
        organizationalUnitsIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: guid
        startDate:
          type:
          - string
          - 'null'
          format: date-time
        endDate:
          type:
          - string
          - 'null'
          format: date-time
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
