openapi: 3.2.0
info:
  title: Administration Billable Assets Report API
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Billable Assets Report
paths:
  /v2/billableAssetsReport/dailyUsage:
    get:
      tags:
      - Billable Assets Report
      summary: Get Daily Usage Billable Assets Report
      operationId: BillableAssetsReport_GetDailyUsageBillableAssetsReport_get_/v2/billableAssetsReport/dailyUsage
      parameters:
      - name: fromDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: toDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      description: Get daily usage billable assets report
  /v2/BillableAssetsReport:
    get:
      tags:
      - Billable Assets Report
      summary: Get Billable Assets Report
      operationId: BillableAssetsReport_GetBillableAssetsReport_get_/v2/BillableAssetsReport
      parameters:
      - name: month
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: year
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      description: Get last month billable assets report
components:
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
