openapi: 3.2.0
info:
  title: Events Findings Report API
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Findings Report
paths:
  /v2/findingsReport/exportToCsv:
    post:
      tags:
      - Findings Report
      operationId: FindingsReport_ExportToCsv_post_/v2/findingsReport/exportToCsv
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                format: uuid
                type: string
                example: 00000000-0000-0000-0000-000000000000
      requestBody:
        $ref: '#/components/requestBodies/Dome9.Web.Api.Compliance.Report.FindingsReportViewModel'
      description: ''
      summary: Export To Csv
  /v2/findingsReport/exportToCsv/downloadLink:
    post:
      tags:
      - Findings Report
      operationId: FindingsReport_ExportToCsvDownloadLink_post_/v2/findingsReport/exportToCsv/downloadLink
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        $ref: '#/components/requestBodies/Dome9.Web.Api.Compliance.Report.FindingsReportViewModel'
      description: ''
      summary: Export To Csv Download Link
  /v2/findingsReport/exportToCsv/downloadCSV:
    post:
      tags:
      - Findings Report
      operationId: FindingsReport_ExportToCsvDownloadCSV_post_/v2/findingsReport/exportToCsv/downloadCSV
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        $ref: '#/components/requestBodies/Dome9.Web.Api.Compliance.Report.FindingsReportViewModel'
      description: ''
      summary: Export To Csv DownloadCSV
components:
  schemas:
    CGN.OpenSearch.Model.CommonViewModels.FieldFilterViewModel:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
    Dome9.Web.Api.Compliance.Finding.SearchRequestViewModel:
      type: object
      properties:
        searchAfter:
          description: token for the page of findings (first page if not specified)
          type: array
          items:
            type: string
        pageSize:
          format: int32
          description: 'page size (number of findings returned per page). default: 10.'
          maximum: 10000
          minimum: 0
          type: integer
        skipAggregations:
          type: boolean
        lowAggregationsSize:
          type: boolean
        sorting:
          $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SortingViewModel'
          description: sort data
        multiSorting:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SortingViewModel'
        filter:
          $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SearchFilterViewModel'
          description: filter
        dataSource:
          enum:
          - Finding
          - Archive
          type: string
    Dome9.Web.Api.Compliance.Finding.SearchFilterViewModel:
      type: object
      properties:
        freeTextPhrase:
          description: free text
          type: string
        fields:
          description: fields
          type: array
          items:
            $ref: '#/components/schemas/CGN.OpenSearch.Model.CommonViewModels.FieldFilterViewModel'
        onlyCIEM:
          type: boolean
        onlyCustomPolicy:
          description: Filtering all findings created by custom policy
          type: boolean
        creationTime:
          $ref: '#/components/schemas/Dome9.Web.Api.Shared.SharedViewModels.DateRangeViewModel'
        updatedTime:
          $ref: '#/components/schemas/Dome9.Web.Api.Shared.SharedViewModels.DateRangeViewModel'
        hasRemediation:
          type: boolean
    Dome9.Web.Api.Shared.SharedViewModels.DateRangeViewModel:
      type: object
      properties:
        from:
          format: date-time
          type: string
        to:
          format: date-time
          type: string
    Dome9.Web.Api.Compliance.Report.FindingsReportViewModel:
      type: object
      properties:
        searchRequest:
          $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Finding.SearchRequestViewModel'
          description: search request for findings
        recipents:
          description: recipents for mail
          type: array
          items:
            type: string
        selectedColumns:
          description: Selected Columns
          type: array
          items:
            type: string
        showExcluded:
          description: Show Excluded Column
          type: boolean
    Dome9.Web.Api.Compliance.Finding.SortingViewModel:
      type: object
      properties:
        fieldName:
          description: Field name
          type: string
        direction:
          format: int32
          description: direction. 1 is asc, -1 desc
          type: integer
  requestBodies:
    Dome9.Web.Api.Compliance.Report.FindingsReportViewModel:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Report.FindingsReportViewModel'
        application/x-www-form-urlencoded:
          schema:
            $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Report.FindingsReportViewModel'
      required: true
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
