openapi: 3.2.0
info:
  title: Onboarding Aws Cloud Account API
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Aws Cloud Account
paths:
  /v2/cloudaccounts/{id}/DeleteForce:
    delete:
      tags:
      - Aws Cloud Account
      summary: Delete Force
      operationId: CloudAccounts_DeleteForce_delete_/v2/cloudaccounts/{id}/DeleteForce
      parameters:
      - name: id
        in: path
        description: The Dome9 AWS account id (UUID)
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
      description: Delete an AWS cloud account and linked entities.
  /v2/cloudaccounts/name:
    put:
      tags:
      - Aws Cloud Account
      summary: Update Cloud Account Name
      operationId: CloudAccounts_UpdateCloudAccountName_put_/v2/cloudaccounts/name
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudAccountPartialUpdateViewModel_System.String_'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudAccountPartialUpdateViewModel_System.String_'
        description: the new name for the account
        required: true
      description: Update an AWS cloud account name.
  /v2/cloudaccounts/region-conf:
    put:
      tags:
      - Aws Cloud Account
      summary: Update Cloud Account Region Conf
      operationId: CloudAccounts_UpdateCloudAccountRegionConf_put_/v2/cloudaccounts/region-conf
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudAccountPartialUpdateViewModel_Dome9.Web.Api.Models.CloudAccountRegionConfigurationViewModel_'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudAccountPartialUpdateViewModel_Dome9.Web.Api.Models.CloudAccountRegionConfigurationViewModel_'
        description: updated Regional Configuration parameters for the account
        required: true
      description: Update an AWS cloud account region configuration.
  /v2/cloudaccounts/credentials:
    put:
      tags:
      - Aws Cloud Account
      summary: Update Cloud Account Credentials
      operationId: CloudAccounts_UpdateCloudAccountCredentials_put_/v2/cloudaccounts/credentials
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudAccountPartialUpdateViewModel_Dome9.Web.Api.Models.CloudAccountCredentialsViewModel_'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudAccountPartialUpdateViewModel_Dome9.Web.Api.Models.CloudAccountCredentialsViewModel_'
        description: credentials block
        required: true
      description: 'Update credentials for an AWS cloud account in Dome9.

        At least one of the following properties must be provided: "cloudAccountId", "externalAccountNumber"'
  /v2/cloudaccounts/MissingPermissions:
    get:
      tags:
      - Aws Cloud Account
      summary: Get Missing Permissions
      operationId: CloudAccounts_GetMissingPermissionsAsync_get_/v2/cloudaccounts/MissingPermissions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Shared.Permissions.CloudAccountMissingPermissionsViewModel'
      description: Get a list of missing permissions for all accounts. These are permissions needed by Dome9 to manage accounts.
  /v2/cloudaccounts/{id}/MissingPermissions:
    get:
      tags:
      - Aws Cloud Account
      summary: Get Missing Permissions
      operationId: CloudAccounts_GetMissingPermissionsAsync_get_/v2/cloudaccounts/{id}/MissingPermissions
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
          format: uuid
      - name: showIgnored
        in: query
        description: ''
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Shared.Permissions.CloudAccountMissingPermissionsIgnorableViewModel'
      description: Get a list of missing permissions for a specific account. These permissions are needed by Dome9 to manage accounts.
    put:
      tags:
      - Aws Cloud Account
      summary: Update Ignorable Missing Permissions
      operationId: CloudAccounts_UpdateIgnorableMissingPermissionsAsync_put_/v2/cloudaccounts/{id}/MissingPermissions
      parameters:
      - name: id
        in: path
        description: CloudAccountId
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Dome9.Web.Api.Shared.Permissions.MissingPermissionsIgnorableUpdateViewModel'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Dome9.Web.Api.Shared.Permissions.MissingPermissionsIgnorableUpdateViewModel'
        description: List of permissions to set ignore or restore flag to
        required: true
      description: Get a list of missing permissions for a specific account. These are permissions needed by Dome9 to manage accounts.
  /v2/cloudaccounts/{id}/MissingPermissions/EntityType:
    get:
      tags:
      - Aws Cloud Account
      summary: Get Missing Permissions By Entity Type
      operationId: CloudAccounts_GetMissingPermissionsByEntityTypeAsync_get_/v2/cloudaccounts/{id}/MissingPermissions/EntityType
      parameters:
      - name: id
        in: path
        description: The account id
        required: true
        schema:
          type: string
          format: uuid
      - name: entityType
        in: query
        description: The entity type
        required: true
        schema:
          type: string
      - name: subType
        in: query
        description: The entity subtype (optional)
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Shared.Permissions.MissingPermissionViewModel'
      description: Get a list of missing permissions for a specific cloud entity type and cloud account
  /v2/cloudaccounts/{id}/CloudAccountHasAssumeRolePermissionIssue:
    get:
      tags:
      - Aws Cloud Account
      summary: Cloud Account Has Assume Role Permission Issue
      operationId: CloudAccounts_CloudAccountHasAssumeRolePermissionIssueAsync_get_/v2/cloudaccounts/{id}/CloudAccountHasAssumeRolePermissionIssue
      parameters:
      - name: id
        in: path
        description: The account id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      description: check if the cloud account's role has permission issues or was deleted
  /v2/cloudaccounts/{id}/MissingPermissions/Reset:
    put:
      tags:
      - Aws Cloud Account
      summary: Reset Missing Permissions
      operationId: CloudAccounts_ResetMissingPermissionsAsync_put_/v2/cloudaccounts/{id}/MissingPermissions/Reset
      parameters:
      - name: id
        in: path
        description: The account id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
      description: reset (re-validate) an account
  /v2/cloudaccounts/{id}/SyncNow:
    post:
      tags:
      - Aws Cloud Account
      summary: Sync Now
      operationId: CloudAccounts_SyncNow_post_/v2/cloudaccounts/{id}/SyncNow
      parameters:
      - name: id
        in: path
        description: The account id.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Models.AwsSyncNowResultViewModel'
      description: 'Send a data sync command to immediately fetch cloud account data into Dome9''s system caches.

        This API is used in conjunction with EntityFetchStatus API resource to query the fetch status.

        Read more and see a full example here: https://github.com/Dome9/Python_API_SDK/blob/master/implementation/runSyncAssessment.md'
  /v2/cloudaccounts/{id}/organizationalUnit:
    put:
      tags:
      - Aws Cloud Account
      summary: Update Organizational Id
      operationId: CloudAccounts_UpdateOrganizationalId_put_/v2/cloudaccounts/{id}/organizationalUnit
      parameters:
      - name: id
        in: path
        description: The Dome9 Guid ID of the AWS cloud account
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudAccountViewModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.BL.Std.Services.OrganizationalUnit.UpdateIdViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.BL.Std.Services.OrganizationalUnit.UpdateIdViewModel'
        description: The Guid ID of the Organizational Unit to attach to. Use 'null' to attach to the root Organizational Unit
        required: true
      description: 'Update the ID of the Organizational Unit that this cloud account will be attached to.

        Use ''null'' for the root Organizational Unit'
  /v2/cloudaccounts/organizationalUnit/move:
    put:
      tags:
      - Aws Cloud Account
      summary: Move Cloud Accounts To Organizational Unit
      operationId: CloudAccounts_MoveCloudAccountsToOrganizationalUnit_put_/v2/cloudaccounts/organizationalUnit/move
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        $ref: '#/components/requestBodies/Dome9.BL.Std.Services.OrganizationalUnit.MoveOrganizationalUnitViewModel2'
      description: 'Detach cloud accounts from an Organizational unit and attach them to another Organizational unit

        Use ''null'' for root organizational unit'
  /v2/cloudaccounts/organizationalUnit/moveAll:
    put:
      tags:
      - Aws Cloud Account
      summary: Move All Cloud Accounts To Organizational Unit
      operationId: CloudAccounts_MoveAllCloudAccountsToOrganizationalUnit_put_/v2/cloudaccounts/organizationalUnit/moveAll
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        $ref: '#/components/requestBodies/Dome9.BL.Std.Services.OrganizationalUnit.UpdateIdViewModel2'
      description: Detach all cloud accounts from their current organizational unit and attach them to a new one. Default is to root organizational unit
  /v2/cloudaccounts/organizationalUnit/attach:
    post:
      tags:
      - Aws Cloud Account
      summary: Post Attach Multi
      operationId: CloudAccounts_PostAttachMulti_post_/v2/cloudaccounts/organizationalUnit/attach
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        $ref: '#/components/requestBodies/Dome9.BL.Std.Services.OrganizationalUnit.AttachCloudAccountsViewModel'
      description: Attach several cloud accounts to a specific Organizational Unit. User 'null' as root Organizational Unit as target
  /v2/CloudAccounts:
    get:
      tags:
      - Aws Cloud Account
      summary: Get
      operationId: CloudAccounts_Get_get_/v2/CloudAccounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudAccountViewModel'
      description: Get all AWS cloud accounts
    post:
      tags:
      - Aws Cloud Account
      summary: Post
      operationId: CloudAccounts_Post_post_/v2/CloudAccounts
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudAccountViewModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudAccountViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudAccountViewModel'
        description: The new AWS account data
        required: true
      description: 'Add a new AWS cloud account to CloudGuard


        Onboarding an AWS cloud account manually (legacy method) requires CloudGuard to obtain permissions to access the account.


        For more information, see the procedure on the onboarding with API on the Secure Knowledge center:

        How to onboard an AWS account to CloudGuard using the REST API'
  /v2/CloudAccounts/{id}:
    get:
      tags:
      - Aws Cloud Account
      summary: Get
      operationId: CloudAccounts_Get_get_/v2/CloudAccounts/{id}
      parameters:
      - name: id
        in: path
        description: The Dome9 AWS account id (UUID) or the AWS external account number (12 digit number)
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudAccountViewModel'
      description: Fetch a specific AWS cloud account
    delete:
      tags:
      - Aws Cloud Account
      summary: Delete
      operationId: CloudAccounts_Delete_delete_/v2/CloudAccounts/{id}
      parameters:
      - name: id
        in: path
        description: The Dome9 AWS account id (UUID)
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
      description: Delete an AWS cloud account.
components:
  requestBodies:
    Dome9.BL.Std.Services.OrganizationalUnit.AttachCloudAccountsViewModel:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Dome9.BL.Std.Services.OrganizationalUnit.AttachCloudAccountsViewModel'
        application/x-www-form-urlencoded:
          schema:
            $ref: '#/components/schemas/Dome9.BL.Std.Services.OrganizationalUnit.AttachCloudAccountsViewModel'
      required: true
    Dome9.BL.Std.Services.OrganizationalUnit.UpdateIdViewModel2:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Dome9.BL.Std.Services.OrganizationalUnit.UpdateIdViewModel'
        application/x-www-form-urlencoded:
          schema:
            $ref: '#/components/schemas/Dome9.BL.Std.Services.OrganizationalUnit.UpdateIdViewModel'
      required: true
    Dome9.BL.Std.Services.OrganizationalUnit.MoveOrganizationalUnitViewModel2:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Dome9.BL.Std.Services.OrganizationalUnit.MoveOrganizationalUnitViewModel'
        application/x-www-form-urlencoded:
          schema:
            $ref: '#/components/schemas/Dome9.BL.Std.Services.OrganizationalUnit.MoveOrganizationalUnitViewModel'
      required: true
  schemas:
    Dome9.Web.Api.Shared.Permissions.MissingPermissionViewModel:
      type: object
      properties:
        srl:
          description: internal use
          type: string
        consecutiveFails:
          format: int32
          description: number of consecutive failures due to missing permissions
          type: integer
        lastFail:
          format: date-time
          description: time of last failure
          type: string
        lastSuccess:
          format: date-time
          description: time of last successful attempt
          type: string
        firstFail:
          format: date-time
          description: time of first successful attempt
          type: string
        lastFailErrorCode:
          description: error code for last failed attempt
          type: string
        lastFailMessage:
          description: error message for last failed attempt
          type: string
        id:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        retryMetadata:
          $ref: '#/components/schemas/Dome9.Web.Api.Shared.Permissions.MissingPermissionMetadataViewModel'
        cloudAccountId:
          format: uuid
          description: Cloud account id
          type: string
          example: 00000000-0000-0000-0000-000000000000
        vendor:
          description: cloud account provider (AWS, Azure, GCP)
          enum:
          - aws
          - hp
          - mellanox
          - awsgov
          - azure
          - google
          - awschina
          - azuregov
          - kubernetes
          - azurechina
          - terraform
          - generic
          - kubernetesruntimeassurance
          - shiftleft
          - sourcecodeassurance
          - imageassurance
          - alibaba
          - cft
          - containerregistry
          - oci
          - ocigov
          - ocigovuk
          - CIEM
          type: string
    Dome9.Web.Api.Shared.Permissions.CloudAccountMissingPermissionsIgnorableViewModel:
      type: object
      properties:
        id:
          format: uuid
          description: account id
          type: string
          example: 00000000-0000-0000-0000-000000000000
        actions:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Shared.Permissions.MissingPermissionsIgnorableViewModel'
    Dome9.Web.Api.Shared.Permissions.MissingPermissionsIgnorableViewModel:
      type: object
      properties:
        permissionId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        isIgnored:
          type: boolean
        type:
          type: string
        subType:
          type: string
        total:
          format: int64
          type: integer
        error:
          $ref: '#/components/schemas/Dome9.Web.Api.Shared.Permissions.CloudAccountActionFailureViewModel'
    Dome9.Web.Api.Shared.Permissions.MissingPermissionMetadataViewModel:
      type: object
      properties:
        permissions:
          description: list of missing permissions
          type: array
          items:
            type: string
        entityType:
          type: string
        subType:
          type: string
    Dome9.Web.Api.Models.CloudAccountPartialUpdateViewModel_Dome9.Web.Api.Models.CloudAccountRegionConfigurationViewModel_:
      type: object
      properties:
        cloudAccountId:
          format: uuid
          description: 'The Dome9 cloud account id, at least one of the following properties must be provided: "cloudAccountId", "externalAccountNumber"'
          type: string
          example: 00000000-0000-0000-0000-000000000000
        externalAccountNumber:
          description: 'Aws external account number, at least one of the following properties must be provided: "cloudAccountId", "externalAccountNumber"'
          type: string
        data:
          $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudAccountRegionConfigurationViewModel'
    Dome9.Web.Api.Models.CloudAccountViewModel:
      type: object
      properties:
        id:
          format: uuid
          description: '[Readonly] The Dome9 id'
          type: string
          example: 00000000-0000-0000-0000-000000000000
        vendor:
          description: '[Readonly] The cloud provider (AWS)'
          enum:
          - aws
          - hp
          - mellanox
          - awsgov
          - azure
          - google
          - awschina
          - azuregov
          - kubernetes
          - azurechina
          - terraform
          - generic
          - kubernetesruntimeassurance
          - shiftleft
          - sourcecodeassurance
          - imageassurance
          - alibaba
          - cft
          - containerregistry
          - oci
          - ocigov
          - ocigovuk
          - CIEM
          type: string
        name:
          description: The cloud account name
          type: string
        externalAccountNumber:
          description: '[Readonly] The AWS account number'
          type: string
        error:
          description: '[Readonly] credentials error status'
          type: string
        isFetchingSuspended:
          description: '[Readonly] fetching suspending status'
          type: boolean
        creationDate:
          format: date-time
          description: '[Readonly] account creation date'
          type: string
        credentials:
          $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudAccountCredentialsViewModel'
          description: '[Required] The information needed for Dome9 System in order to connect to the AWS cloud account'
        iamSafe:
          $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudAccountIamSafeViewModel'
          description: '[Readonly] The IamSafety configuration of the AWS cloud account'
        netSec:
          $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudAccountNetSecViewModel'
          description: '[Readonly] The network security configuration for the AWS cloud account.'
        magellan:
          description: '[Readonly] Flag to determine if Magellan is enabled/disabled for the account'
          type: boolean
        fullProtection:
          description: "[Required] As part of the AWS account onboarding, the account security groups are imported. \nThis flag determines whether to enable Tamper Protection mode for those security groups."
          type: boolean
        allowReadOnly:
          description: '[Required] Determines the AWS cloud account operation mode.

            For "Manage" set to true, for "Readonly" set to false.'
          type: boolean
        organizationId:
          description: The unique identifier (ID) of an AWS organization. E.g. 9w9xc7rq7p
          type: string
        organizationalUnitId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        organizationalUnitPath:
          type: string
        organizationalUnitName:
          type: string
        lambdaScanner:
          description: Flag indicating if lambda scanner is enabled/disabled for the account
          type: boolean
        serverless:
          $ref: '#/components/schemas/Dome9.Web.Api.Models.SeverlessConfigViewModel'
        onboardingMode:
          enum:
          - Undefined
          - Legacy
          - CloudGuardManaged
          - CustomerManaged
          type: string
    Dome9.Web.Api.Models.CloudAccountPartialUpdateViewModel_System.String_:
      type: object
      properties:
        cloudAccountId:
          format: uuid
          description: 'The Dome9 cloud account id, at least one of the following properties must be provided: "cloudAccountId", "externalAccountNumber"'
          type: string
          example: 00000000-0000-0000-0000-000000000000
        externalAccountNumber:
          description: 'Aws external account number, at least one of the following properties must be provided: "cloudAccountId", "externalAccountNumber"'
          type: string
        data:
          type: string
    Dome9.Web.Api.Models.SeverlessConfigViewModel:
      type: object
      properties:
        codeAnalyzerEnabled:
          type: boolean
        codeDependencyAnalyzerEnabled:
          type: boolean
    Dome9.Web.Api.Models.CloudAccountIamSafeViewModel:
      type: object
      properties:
        awsGroupArn:
          type: string
        awsPolicyArn:
          type: string
        mode:
          enum:
          - OptIn
          - Mandatory
          type: string
        state:
          enum:
          - Enabled
          - Disabled
          type: string
        excludedIamEntities:
          $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudAccountIamSafeIamEntitiesViewModel'
        restrictedIamEntities:
          $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudAccountIamSafeIamEntitiesViewModel'
    Dome9.Web.Api.Shared.Permissions.MissingPermissionsIgnorableUpdateViewModel:
      required:
      - isIgnored
      type: object
      properties:
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        permissionId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        isIgnored:
          type: boolean
        type:
          type: string
        subType:
          type: string
        errorCode:
          type: string
        errorMessage:
          type: string
    Dome9.Web.Api.Models.CloudAccountPartialUpdateViewModel_Dome9.Web.Api.Models.CloudAccountCredentialsViewModel_:
      type: object
      properties:
        cloudAccountId:
          format: uuid
          description: 'The Dome9 cloud account id, at least one of the following properties must be provided: "cloudAccountId", "externalAccountNumber"'
          type: string
          example: 00000000-0000-0000-0000-000000000000
        externalAccountNumber:
          description: 'Aws external account number, at least one of the following properties must be provided: "cloudAccountId", "externalAccountNumber"'
          type: string
        data:
          $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudAccountCredentialsViewModel'
    Dome9.Web.Api.Models.CloudAccountCredentialsViewModel:
      type: object
      properties:
        apikey:
          description: '[Deprecated]'
          type: string
        arn:
          description: '[Required] AWS Role ARN (to be assumed by Dome9 System)'
          type: string
        secret:
          description: '[Required] The AWS role External ID (Dome9 System will have to use this secret in order to assume the role)'
          type: string
        iamUser:
          description: '[Deprecated]'
          type: string
        type:
          description: '[Required] The cloud account onbiarding method. Should be set to "RoleBased" as other methods are deprecated'
          enum:
          - UserBased
          - RoleBased
          type: string
        isReadOnly:
          description: '[Readonly] The credential permission state.

            This filed is determined based on the operation response status performed by Dome9 on the target AWS cloud account.'
          type: boolean
    Dome9.Web.Api.Shared.Permissions.CloudAccountExternalActionStatusViewModel:
      type: object
      properties:
        type:
          type: string
        subType:
          type: string
        total:
          format: int64
          type: integer
        error:
          $ref: '#/components/schemas/Dome9.Web.Api.Shared.Permissions.CloudAccountActionFailureViewModel'
    Dome9.BL.Std.Services.OrganizationalUnit.AttachCloudAccountsViewModel:
      type: object
      properties:
        entries:
          type: array
          items:
            type: string
        organizationalUnitId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
    Dome9.Web.Api.Shared.Permissions.CloudAccountActionFailureViewModel:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    Dome9.BL.Std.Services.OrganizationalUnit.UpdateIdViewModel:
      type: object
      properties:
        organizationalUnitId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
    Dome9.Web.Api.Models.CloudAccountIamSafeIamEntitiesViewModel:
      type: object
      properties:
        rolesArns:
          type: array
          items:
            type: string
        usersArns:
          type: array
          items:
            type: string
    Dome9.BL.Std.Services.OrganizationalUnit.MoveOrganizationalUnitViewModel:
      type: object
      properties:
        sourceOrganizationalUnitId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        targetOrganizationalUnitId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
    Dome9.Web.Api.Models.AwsSyncNowResultViewModel:
      type: object
      properties:
        cloudAccountId:
          format: uuid
          description: the AWS account id
          type: string
          example: 00000000-0000-0000-0000-000000000000
        name:
          description: the account name
          type: string
        externalAccountNumber:
          description: the AWS external account number
          type: string
        workFlowId:
          format: uuid
          description: the AWS workflow id
          type: string
          example: 00000000-0000-0000-0000-000000000000
    Dome9.Web.Api.Shared.Permissions.CloudAccountMissingPermissionsViewModel:
      type: object
      properties:
        id:
          format: uuid
          description: account id
          type: string
          example: 00000000-0000-0000-0000-000000000000
        actions:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Shared.Permissions.CloudAccountExternalActionStatusViewModel'
    Dome9.Web.Api.Models.CloudAccountRegionConfigurationViewModel:
      type: object
      properties:
        region:
          description: '[Required] Dome9 representation value for the AWS region'
          enum:
          - us_east_1
          - us_west_1
          - eu_west_1
          - ap_southeast_1
          - ap_northeast_1
          - us_west_2
          - sa_east_1
          - az_1_region_a_geo_1
          - az_2_region_a_geo_1
          - az_3_region_a_geo_1
          - ap_southeast_2
          - mellanox_region
          - us_gov_west_1
          - eu_central_1
          - ap_northeast_2
          - ap_south_1
          - us_east_2
          - ca_central_1
          - eu_west_2
          - eu_west_3
          - eu_north_1
          - cn_north_1
          - cn_northwest_1
          - us_gov_east_1
          - ap_east_1
          - me_south_1
          - af_south_1
          - eu_south_1
          - ap_northeast_3
          - me_central_1
          - ap_south_2
          - ap_southeast_3
          - ap_southeast_4
          - eu_central_2
          - eu_south_2
          - il_central_1
          - ca_west_1
          - mx_central_1
          - ap_southeast_5
          - ap_southeast_7
          - westus
          - eastus
          - eastus2
          - northcentralus
          - westus2
          - southcentralus
          - centralus
          - usgovlowa
          - usgovvirginia
          - northeurope
          - westeurope
          - eastasia
          - southeastasia
          - japaneast
          - japanwest
          - brazilsouth
          - australiaeast
          - australiasoutheast
          - centralindia
          - southindia
          - westindia
          - canadaeast
          - westcentralus
          - chinaeast
          - chinanorth
          - canadacentral
          - germanycentral
          - germanynortheast
          - koreacentral
          - uksouth
          - ukwest
          - koreasouth
          - francecentral
          - francesouth
          - germanywestcentral
          - usdodcentral
          - usdodeast
          - usgovarizona
          - usgovtexas
          - australiacentral
          - australiacentral2
          - chinaeast2
          - chinanorth2
          - southafricanorth
          - southafricawest
          - uaecentral
          - uaenorth
          - ussecwest
          - usseceast
          - germanynorth
          - switzerlandwest
          - norwaywest
          - norwayeast
          - switzerlandnorth
          - westus3
          - swedencentral
          - chinanorth3
          - brazilsoutheast
          - eastus2euap
          - jioindiawest
          - jioindiacentral
          - qatarcentral
          - spaincentral
          - italynorth
          - polandcentral
          - mexicocentral
          - asia
          - asia_east1
          - asia_northeast1
          - asia_south1
          - asia_southeast1
          - australia_southeast1
          - europe
          - europe_north1
          - europe_west1
          - europe_west2
          - europe_west3
          - europe_west4
          - northamerica_northeast1
          - southamerica_east1
          - us
          - us_central1
          - us_east1
          - us_east4
          - us_west1
          - us_west2
          - global
          - asia_east2
          - eur4
          - nam4
          - europe_west6
          - japan_west
          - asia_northeast2
          - asia_northeast3
          - us_west3
          - us_west4
          - asia_southeast2
          - nam3
          - nam5
          - nam6
          - nam7
          - nam10
          - nam_eur_asia1
          - eur3
          - eur5
          - asia1
          - nam11
          - eu
          - northamerica_northeast2
          - southamerica_west1
          - us_east5
          - us_south1
          - europe_central2
          - europe_southwest1
          - europe_west8
          - europe_west9
          - europe_west10
          - europe_west12
          - asia_south2
          - australia_southeast2
          - me_central1
          - me_central2
          - me_west1
          - ap_sydney_1
          - ap_melbourne_1
          - sa_saopaulo_1
          - sa_vinhedo_1
          - ca_montreal_1
          - ca_toronto_1
          - sa_santiago_1
          - eu_paris_1
          - eu_marseille_1
          - eu_frankfurt_1
          - ap_hyderabad_1
          - ap_mumbai_1
          - il_jerusalem_1
          - eu_milan_1
          - ap_osaka_1
          - ap_tokyo_1
          - mx_queretaro_1
          - eu_amsterdam_1
          - me_jeddah_1
          - ap_singapore_1
          - af_johannesburg_1
          - ap_seoul_1
          - ap_chuncheon_1
          - eu_madrid_1
          - eu_stockholm_1
          - eu_zurich_1
          - me_abudhabi_1
          - me_dubai_1
          - uk_london_1
          - uk_cardiff_1
          - us_ashburn_1
          - us_phoenix_1
          - us_sanjose_1
          - us_gov_ashburn_1
          - us_gov_chicago_1
          - us_gov_phoenix_1
          - us_langley_1
          - us_luke_1
          - uk_gov_london_1
          - uk_gov_cardiff_1
          - sa_bogota_1
          - us_chicago_1
          - sa_valparaiso_1
          - mx_monterrey_1
          - eu_jovanovac_1
          - ap_singapore_2
          type: string
        name:
          description: '[Readonly] The region name'
          type: string
        hidden:
          description: '[Deprecated]'
          type: boolean
        newGroupBehavior:
          description: '[Required] The Protection Mode that Dome9 will apply to new security groups detected in the cloud account. <br /><strong>ReadOnly</strong> New Security Groups will be included in Dome9 in Read-Only mode, without changes to any of the rules<br /><strong>FullManage</strong> New Security Groups will be included in Dome9 in Full Protection mode, without changes to any of the rules<br /><strong>Reset</strong> New Security Groups will be included in Dome9 in Full Protection mode, and all inbound and outbound rules will be cleared'
          enum:
          - ReadOnly
          - FullManage
          - Reset
          type: string
    Dome9.Web.Api.Models.CloudAccountNetSecViewModel:
      type: object
      properties:
        regions:
          description: List of network security configuration per AWS region
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudAccountRegionConfigurationViewModel'
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
