openapi: 3.2.0
info:
  title: Administration Settings API
  version: v2
  description: Account Settings
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Settings
  description: Account Settings
paths:
  /v2/settings/lease-time:
    put:
      tags:
      - Settings
      summary: Update Lease Time
      operationId: Settings_UpdateLeaseTime_put_/v2/settings/lease-time
      responses:
        '204':
          description: No Content
      requestBody:
        content:
          application/json:
            schema:
              format: double
              type: number
          application/x-www-form-urlencoded:
            schema:
              format: double
              type: number
        description: default lease time duraion
        required: true
      description: Update default lease time duration
  /v2/settings/email-notifications:
    put:
      tags:
      - Settings
      summary: Update Email Notifications
      operationId: Settings_UpdateEmailNotifications_put_/v2/settings/email-notifications
      responses:
        '204':
          description: No Content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Falconetix.Model.EmailNotificationsDescriptor'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Falconetix.Model.EmailNotificationsDescriptor'
        required: true
      description: 'Update email notifications

        Set what entities related notifications will be sent by email'
  /v2/settings/Sns:
    put:
      tags:
      - Settings
      summary: Update Sns Integration
      operationId: Settings_UpdateSnsIntegration_put_/v2/settings/Sns
      responses:
        '204':
          description: No Content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.SnsSettingsViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.SnsSettingsViewModel'
        description: ARN for AWS SNS Topic
        required: true
      description: Update AWS SNS settings for account
    post:
      tags:
      - Settings
      summary: Add Sns Integration
      operationId: Settings_AddSnsIntegration_post_/v2/settings/Sns
      responses:
        '204':
          description: No Content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.SnsSettingsViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.SnsSettingsViewModel'
        description: ARN for AWS SNS topic
        required: true
      description: Create new AWS SNS settings for account
    delete:
      tags:
      - Settings
      summary: Delete Sns Integration
      operationId: Settings_DeleteSnsIntegration_delete_/v2/settings/Sns
      responses:
        '204':
          description: No Content
      description: Delete SNS notifications for account
  /v2/settings/email-notification-filters/cloudAccounts:
    get:
      tags:
      - Settings
      summary: Get Email Notification Filters
      operationId: Settings_GetEmailNotificationFilters_get_/v2/settings/email-notification-filters/cloudAccounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Models.EmailNotificationFiltersViewModel'
      description: Get the cloud acounts set to receive email notifications
    put:
      tags:
      - Settings
      operationId: Settings_UpdateEmailNotificationFilters_put_/v2/settings/email-notification-filters/cloudAccounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Models.EmailNotificationFiltersViewModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.EmailNotificationFiltersViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.EmailNotificationFiltersViewModel'
        required: true
      description: ''
      summary: Update Email Notification Filters
    delete:
      tags:
      - Settings
      summary: Delete Email Notification Filters
      operationId: Settings_DeleteEmailNotificationFilters_delete_/v2/settings/email-notification-filters/cloudAccounts
      responses:
        '204':
          description: No Content
      description: Set the cloud accounts to null so all events emails will be sent for all cloud accounts
  /v2/Settings:
    get:
      tags:
      - Settings
      summary: Get
      operationId: Settings_Get_get_/v2/Settings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Models.SettingsViewModel'
      description: Get account settings
    patch:
      tags:
      - Settings
      summary: Update Settings
      operationId: Settings_UpdateSettings_patch_/v2/Settings
      responses:
        '204':
          description: No Content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.SettingsViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Models.SettingsViewModel'
        required: true
      description: Update account settings (partial)
components:
  schemas:
    Dome9.Web.Api.Models.SnsSettingsViewModel:
      type: object
      properties:
        topicArn:
          description: AWS SNS Topic ARN value
          type: string
    Dome9.Web.Api.Models.SettingsViewModel:
      type: object
      properties:
        pairingKey:
          description: pairing key
          type: string
        emailNotifications:
          $ref: '#/components/schemas/Falconetix.Model.EmailNotificationsDescriptor'
          description: email notification details
        defaultLeaseTime:
          format: double
          description: default lease time
          type: number
        snsTopicArn:
          description: ARN for SNS Topic
          type: string
        mfaEnabled:
          description: MFA is enabled
          type: boolean
        apiKey:
          description: API Key
          type: string
    Falconetix.Model.IamSafeEmailNotificationsDescriptor:
      type: object
      properties:
        leaseEvent:
          type: boolean
        leaseNotificationsOthers:
          type: boolean
        tamperDetected:
          type: boolean
        enrollmentEvent:
          type: boolean
        iamSafetyAccount:
          type: boolean
        iamSafetyInvalidCredentials:
          type: boolean
    Dome9.Web.Api.Models.EmailNotificationFiltersViewModel:
      type: object
      properties:
        cloudAccounts:
          type: array
          items:
            type: string
    Falconetix.Model.ComplianceEmailNotificationsDescriptor:
      type: object
      properties:
        bundleAdded:
          type: boolean
        bundleDeleted:
          type: boolean
        ruleAdded:
          type: boolean
        ruleChanged:
          type: boolean
        ruleDeleted:
          type: boolean
    Falconetix.Model.EmailNotificationsDescriptor:
      type: object
      properties:
        state:
          enum:
          - Active
          - Suspended
          - Deferred
          type: string
        serverCreatedOrDeleted:
          type: boolean
        serverStatusChange:
          type: boolean
        serverUpdated:
          type: boolean
        awsProfileCreatedOrDeleted:
          type: boolean
        cloudTamperDetected:
          type: boolean
        awsInvalidCredentials:
          type: boolean
        policyChanges:
          type: boolean
        cloudExternalChanges:
          type: boolean
        fimChanges:
          type: boolean
        invitationEvent:
          type: boolean
        leaseEvent:
          type: boolean
        userCreatedOrDeleted:
          type: boolean
        userPermissionsChange:
          type: boolean
        userLogonSuccessfully:
          type: boolean
        userLogonFailure:
          type: boolean
        userLockOut:
          type: boolean
        userForgotPassword:
          type: boolean
        userPasswordChange:
          type: boolean
        alertEventsNotifyLevel:
          enum:
          - None
          - Low
          - Med
          - High
          type: string
        usersNotificationsOthers:
          type: boolean
        accessNotificationsOthers:
          type: boolean
        azureCloudAccountDeleted:
          type: boolean
        azureInvalidCredentials:
          type: boolean
        alibabaProfileCreatedOrDeleted:
          type: boolean
        ociProfileCreatedOrDeleted:
          type: boolean
        iamSafe:
          $ref: '#/components/schemas/Falconetix.Model.IamSafeEmailNotificationsDescriptor'
        compliance:
          $ref: '#/components/schemas/Falconetix.Model.ComplianceEmailNotificationsDescriptor'
        kubernetes:
          $ref: '#/components/schemas/Falconetix.Model.KubernetesEmailNotificationsDescriptor'
    Falconetix.Model.KubernetesEmailNotificationsDescriptor:
      type: object
      properties:
        agentStatusDegradation:
          type: boolean
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
