openapi: 3.2.0
info:
  title: Workload Protection Ecs Image Scan API
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Ecs Image Scan
paths:
  /v2/cloudAccount/ecs/{cloudAccountId}:
    post:
      tags:
      - Ecs Image Scan
      summary: Enable Or Disable Ecs Image Scan
      operationId: EcsImageScan_EnableOrDisableEcsImageScan_post_/v2/cloudAccount/ecs/{cloudAccountId}
      parameters:
      - name: cloudAccountId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      requestBody:
        x-name: ecsImageScanConfig
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EcsImageScanConfigViewModel'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EcsImageScanConfigViewModel'
      description: Enable or Disable ECS Image Scan
    get:
      tags:
      - Ecs Image Scan
      summary: Get Ecs Image Scan Config
      operationId: EcsImageScan_GetEcsImageScanConfig_get_/v2/cloudAccount/ecs/{cloudAccountId}
      parameters:
      - name: cloudAccountId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EcsImageScanConfigViewModel'
      description: Get ECS Image Scan Enable/Disable status
components:
  schemas:
    EcsImageScanConfigViewModel:
      type: object
      additionalProperties: false
      required:
      - ecsImageScan
      properties:
        ecsImageScan:
          type: boolean
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
