openapi: 3.2.0
info:
  title: Inventory - Azure Azure Cosmos Db Account API
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Azure Cosmos Db Account
paths:
  /v2/AzureCosmosDbAccount:
    get:
      tags:
      - Azure Cosmos Db Account
      operationId: AzureCosmosDbAccount_Get_get_/v2/AzureCosmosDbAccount
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Azure.CosmosDbAccount.AzureCosmosDbAccountViewModel'
      description: ''
      summary: Get
  /v2/AzureCosmosDbAccount/{id}:
    get:
      tags:
      - Azure Cosmos Db Account
      operationId: AzureCosmosDbAccount_Get_get_/v2/AzureCosmosDbAccount/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Azure.CosmosDbAccount.AzureCosmosDbAccountViewModel'
      description: ''
      summary: Get
components:
  schemas:
    Dome9.Web.Api.Azure.CosmosDbAccount.AzureCosmosDbAccountViewModel:
      type: object
      properties:
        id:
          type: string
        externalId:
          type: string
        name:
          type: string
        region:
          type: string
        resourceGroup:
          type: string
        tags:
          type: array
          items:
            $ref: '#/components/schemas/System.Collections.Generic.KeyValuePair_System.String_System.String_'
        documentEndpoint:
          type: string
        type:
          type: string
        kind:
          type: string
        consistencyPolicy:
          $ref: '#/components/schemas/Dome9.Web.Api.Azure.CosmosDbAccount.AzureCosmosDbConsistencyPolicyViewModel'
        defaultConsistencyLevel:
          enum:
          - Eventual
          - Session
          - BoundedStaleness
          - Strong
          - ConsistentPrefix
          type: string
        readableReplications:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.CosmosDbAccount.AzureCosmosDbLocationViewModel'
        writableReplications:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.Azure.CosmosDbAccount.AzureCosmosDbLocationViewModel'
        databaseAccountOfferType:
          enum:
          - Standard
          type: string
        ipRangeFilter:
          type: array
          items:
            type: string
    Dome9.Web.Api.Azure.CosmosDbAccount.AzureCosmosDbLocationViewModel:
      type: object
      properties:
        id:
          type: string
        locationName:
          type: string
        documentEndpoint:
          type: string
        provisioningState:
          type: string
        failoverPriority:
          format: int32
          type: integer
    System.Collections.Generic.KeyValuePair_System.String_System.String_:
      type: object
      properties:
        key:
          type: string
          readOnly: true
        value:
          type: string
          readOnly: true
    Dome9.Web.Api.Azure.CosmosDbAccount.AzureCosmosDbConsistencyPolicyViewModel:
      type: object
      properties:
        defaultConsistencyLevel:
          enum:
          - Eventual
          - Session
          - BoundedStaleness
          - Strong
          - ConsistentPrefix
          type: string
        maxStalenessPrefix:
          format: int64
          type: integer
        maxIntervalInSeconds:
          format: int32
          type: integer
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
