openapi: 3.2.0
info:
  title: Workload Protection Vulnerability Policy API
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Vulnerability Policy
paths:
  /v2/vulnerability/policy/{id}:
    get:
      tags:
      - Vulnerability Policy
      summary: Get
      operationId: VulnerabilityPolicy_Get_get_/v2/vulnerability/policy/{id}
      parameters:
      - name: id
        in: path
        required: true
        description: Policy's ID
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VlmWorkloadPolicyViewModel'
      description: 'Get single policy by its ID.

        Returns a policy matching a given ID.'
  /v2/vulnerability/policy:
    get:
      tags:
      - Vulnerability Policy
      summary: Get All
      operationId: VulnerabilityPolicy_GetAll_get_/v2/vulnerability/policy
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VlmWorkloadPolicyViewModel'
      description: 'Get all policies for the requesting account.

        Returns a collection of policies.'
    post:
      tags:
      - Vulnerability Policy
      summary: Post
      operationId: VulnerabilityPolicy_Post_post_/v2/vulnerability/policy
      requestBody:
        x-name: vlmPolicyRequestModels
        description: Policies to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/VlmWorkloadPolicyRequestModel'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VlmWorkloadPolicyViewModel'
      description: 'Create new policies.

        Returns a multi status response containing successfully created policies without an error message and failed policies with an error message.'
    put:
      tags:
      - Vulnerability Policy
      summary: Put
      operationId: VulnerabilityPolicy_Put_put_/v2/vulnerability/policy
      requestBody:
        x-name: vlmPolicyRequestModels
        description: Policies to update
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/VlmWorkloadPolicyRequestModel'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VlmWorkloadPolicyViewModel'
      description: 'Update policies.

        Returns a multi status response containing successfully updated policies without an error message and failed policies with an error message.'
    delete:
      tags:
      - Vulnerability Policy
      summary: Delete
      operationId: VulnerabilityPolicy_Delete_delete_/v2/vulnerability/policy
      parameters:
      - name: id
        in: query
        description: Policy's ID
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: ''
      description: Delete policy by its ID.
components:
  schemas:
    VlmWorkloadPolicyViewModel:
      type: object
      additionalProperties: false
      required:
      - id
      - targetType
      - targetId
      - accountExternalId
      - rulesetId
      - notificationIds
      - errorMessage
      - admissionControllerAction
      - admissionControlUnScannedAction
      properties:
        id:
          type: string
          format: guid
        targetType:
          $ref: '#/components/schemas/ContinuousCompliancePolicyTargetType'
        targetId:
          type: string
          format: guid
        accountExternalId:
          type: string
        rulesetId:
          type: integer
          format: int64
        notificationIds:
          type: array
          items:
            type: string
            format: guid
        errorMessage:
          type:
          - string
          - 'null'
        admissionControllerAction:
          type:
          - string
          - 'null'
        admissionControlUnScannedAction:
          type:
          - string
          - 'null'
    VlmWorkloadPolicyRequestModel:
      type: object
      additionalProperties: false
      required:
      - targetId
      - targetType
      - notificationIds
      - rulesetId
      - id
      - externalAccountId
      - admissionControllerAction
      - admissionControlUnScannedAction
      properties:
        id:
          type: string
          format: guid
        targetId:
          type: string
          format: guid
          minLength: 1
        targetType:
          $ref: '#/components/schemas/ContinuousCompliancePolicyTargetType'
        notificationIds:
          type: array
          items:
            type: string
            format: guid
        rulesetId:
          type: integer
          format: int64
        externalAccountId:
          type:
          - string
          - 'null'
        admissionControllerAction:
          type:
          - string
          - 'null'
        admissionControlUnScannedAction:
          type:
          - string
          - 'null'
    ContinuousCompliancePolicyTargetType:
      type: string
      description: ''
      x-enumNames:
      - Aws
      - Azure
      - Gcp
      - Kubernetes
      - OrganizationalUnit
      - Terraform
      - Generic
      - KubernetesRuntimeAssurance
      - ShiftLeft
      - Alibaba
      - Cft
      - ContainerRegistry
      - Vendor
      - Oci
      - CIEM
      enum:
      - Aws
      - Azure
      - Gcp
      - Kubernetes
      - OrganizationalUnit
      - Terraform
      - Generic
      - KubernetesRuntimeAssurance
      - ShiftLeft
      - Alibaba
      - Cft
      - ContainerRegistry
      - Vendor
      - Oci
      - CIEM
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
