openapi: 3.2.0
info:
  title: Inventory Cloud Network Load Balancer API
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Cloud Network Load Balancer
paths:
  /v2/CloudNetworkLoadBalancer:
    get:
      tags:
      - Cloud Network Load Balancer
      operationId: CloudNetworkLoadBalancer_Get_get_/v2/CloudNetworkLoadBalancer
      parameters:
      - name: arn
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CloudV2LoadBalancerViewModel'
      description: ''
      summary: Get
  /v2/CloudNetworkLoadBalancer/{id}:
    get:
      tags:
      - Cloud Network Load Balancer
      operationId: CloudNetworkLoadBalancer_GetAsyncById_get_/v2/CloudNetworkLoadBalancer/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudV2LoadBalancerViewModel'
      description: ''
      summary: Get By Id
components:
  schemas:
    ListenerRuleConditionViewModel:
      type: object
      additionalProperties: false
      required:
      - name
      - values
      properties:
        name:
          type: string
        values:
          type: array
          items:
            type: string
    CloudV2LoadBalancerViewModel:
      type: object
      additionalProperties: false
      required:
      - id
      - externalId
      - name
      - accountId
      - cloudAccountId
      - region
      - vpc
      - dnsName
      - securityGroups
      - scheme
      - state
      - listeners
      - targetGroups
      - tags
      - canonicalHostedZoneId
      - ipAddressType
      - type
      - arn
      properties:
        id:
          type: string
        externalId:
          type: string
        name:
          type: string
        accountId:
          type: integer
          format: int64
        cloudAccountId:
          type: string
          format: guid
        region:
          $ref: '#/components/schemas/CloudRegion'
        vpc:
          type: string
        dnsName:
          type: string
        securityGroups:
          type: array
          items:
            type: string
        scheme:
          type: string
        state:
          type: string
        listeners:
          type: array
          items:
            $ref: '#/components/schemas/CloudV2LoadBalancerListenerViewModel'
        targetGroups:
          type: array
          items:
            $ref: '#/components/schemas/CloudV2LoadBalancerTargetGroupViewModel'
        tags:
          $ref: '#/components/schemas/TagsDictionary'
        canonicalHostedZoneId:
          type: string
        ipAddressType:
          type: string
        type:
          type: string
        arn:
          type: string
    TagsDictionary:
      type: object
      additionalProperties:
        type: string
    CloudV2LoadBalancerListenerViewModel:
      type: object
      additionalProperties: false
      required:
      - listenerArn
      - port
      - protocol
      - certificates
      - securityPolicy
      - listenerRules
      properties:
        listenerArn:
          type: string
        port:
          type: integer
          format: int32
        protocol:
          type: string
        certificates:
          type: array
          items:
            type: string
        securityPolicy:
          type: string
        listenerRules:
          type: array
          items:
            $ref: '#/components/schemas/CloudV2LoadBalancerListenerRuleViewModel'
    CloudV2LoadBalancerTargetGroupViewModel:
      type: object
      additionalProperties: false
      required:
      - targetGroupArn
      - name
      - port
      - protocol
      - targets
      - tags
      properties:
        targetGroupArn:
          type: string
        name:
          type: string
        port:
          type: integer
          format: int32
        protocol:
          type: string
        targets:
          type: array
          items:
            $ref: '#/components/schemas/CloudV2LoadBalancerTargetViewModel'
        tags:
          $ref: '#/components/schemas/TagsDictionary'
    CloudV2LoadBalancerListenerRuleViewModel:
      type: object
      additionalProperties: false
      required:
      - ruleArn
      - priority
      - isDefault
      - targetGroupName
      - conditions
      properties:
        ruleArn:
          type: string
        priority:
          type: string
        isDefault:
          type: boolean
        targetGroupName:
          type: string
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/ListenerRuleConditionViewModel'
    CloudRegion:
      type: string
      description: ''
      x-enumNames:
      - us_east_1
      - us_west_1
      - eu_west_1
      - ap_southeast_1
      - ap_northeast_1
      - us_west_2
      - sa_east_1
      - az_1_region_a_geo_1
      - az_2_region_a_geo_1
      - az_3_region_a_geo_1
      - ap_southeast_2
      - mellanox_region
      - us_gov_west_1
      - eu_central_1
      - ap_northeast_2
      - ap_south_1
      - us_east_2
      - ca_central_1
      - eu_west_2
      - eu_west_3
      - eu_north_1
      - cn_north_1
      - cn_northwest_1
      - us_gov_east_1
      - ap_east_1
      - me_south_1
      - af_south_1
      - eu_south_1
      - ap_northeast_3
      - me_central_1
      - ap_south_2
      - ap_southeast_3
      - ap_southeast_4
      - eu_central_2
      - eu_south_2
      - il_central_1
      - ca_west_1
      - mx_central_1
      - ap_southeast_5
      - ap_southeast_7
      - westus
      - eastus
      - eastus2
      - northcentralus
      - westus2
      - southcentralus
      - centralus
      - usgovlowa
      - usgovvirginia
      - northeurope
      - westeurope
      - eastasia
      - southeastasia
      - japaneast
      - japanwest
      - brazilsouth
      - australiaeast
      - australiasoutheast
      - centralindia
      - southindia
      - westindia
      - canadaeast
      - westcentralus
      - chinaeast
      - chinanorth
      - canadacentral
      - germanycentral
      - germanynortheast
      - koreacentral
      - uksouth
      - ukwest
      - koreasouth
      - francecentral
      - francesouth
      - germanywestcentral
      - usdodcentral
      - usdodeast
      - usgovarizona
      - usgovtexas
      - australiacentral
      - australiacentral2
      - chinaeast2
      - chinanorth2
      - southafricanorth
      - southafricawest
      - uaecentral
      - uaenorth
      - ussecwest
      - usseceast
      - germanynorth
      - switzerlandwest
      - norwaywest
      - norwayeast
      - switzerlandnorth
      - westus3
      - swedencentral
      - chinanorth3
      - brazilsoutheast
      - eastus2euap
      - jioindiawest
      - jioindiacentral
      - qatarcentral
      - spaincentral
      - italynorth
      - polandcentral
      - mexicocentral
      - asia
      - asia_east1
      - asia_northeast1
      - asia_south1
      - asia_southeast1
      - australia_southeast1
      - europe
      - europe_north1
      - europe_west1
      - europe_west2
      - europe_west3
      - europe_west4
      - northamerica_northeast1
      - southamerica_east1
      - us
      - us_central1
      - us_east1
      - us_east4
      - us_west1
      - us_west2
      - global
      - asia_east2
      - eur4
      - nam4
      - europe_west6
      - japan_west
      - asia_northeast2
      - asia_northeast3
      - us_west3
      - us_west4
      - asia_southeast2
      - nam3
      - nam5
      - nam6
      - nam7
      - nam10
      - nam_eur_asia1
      - eur3
      - eur5
      - asia1
      - nam11
      - eu
      - northamerica_northeast2
      - southamerica_west1
      - us_east5
      - us_south1
      - europe_central2
      - europe_southwest1
      - europe_west8
      - europe_west9
      - europe_west10
      - europe_west12
      - asia_south2
      - australia_southeast2
      - me_central1
      - me_central2
      - me_west1
      - ap_sydney_1
      - ap_melbourne_1
      - sa_saopaulo_1
      - sa_vinhedo_1
      - ca_montreal_1
      - ca_toronto_1
      - sa_santiago_1
      - eu_paris_1
      - eu_marseille_1
      - eu_frankfurt_1
      - ap_hyderabad_1
      - ap_mumbai_1
      - il_jerusalem_1
      - eu_milan_1
      - ap_osaka_1
      - ap_tokyo_1
      - mx_queretaro_1
      - eu_amsterdam_1
      - me_jeddah_1
      - ap_singapore_1
      - af_johannesburg_1
      - ap_seoul_1
      - ap_chuncheon_1
      - eu_madrid_1
      - eu_stockholm_1
      - eu_zurich_1
      - me_abudhabi_1
      - me_dubai_1
      - uk_london_1
      - uk_cardiff_1
      - us_ashburn_1
      - us_phoenix_1
      - us_sanjose_1
      - us_gov_ashburn_1
      - us_gov_chicago_1
      - us_gov_phoenix_1
      - us_langley_1
      - us_luke_1
      - uk_gov_london_1
      - uk_gov_cardiff_1
      - sa_bogota_1
      - us_chicago_1
      - sa_valparaiso_1
      - mx_monterrey_1
      - eu_jovanovac_1
      - ap_singapore_2
      enum:
      - us_east_1
      - us_west_1
      - eu_west_1
      - ap_southeast_1
      - ap_northeast_1
      - us_west_2
      - sa_east_1
      - az_1_region_a_geo_1
      - az_2_region_a_geo_1
      - az_3_region_a_geo_1
      - ap_southeast_2
      - mellanox_region
      - us_gov_west_1
      - eu_central_1
      - ap_northeast_2
      - ap_south_1
      - us_east_2
      - ca_central_1
      - eu_west_2
      - eu_west_3
      - eu_north_1
      - cn_north_1
      - cn_northwest_1
      - us_gov_east_1
      - ap_east_1
      - me_south_1
      - af_south_1
      - eu_south_1
      - ap_northeast_3
      - me_central_1
      - ap_south_2
      - ap_southeast_3
      - ap_southeast_4
      - eu_central_2
      - eu_south_2
      - il_central_1
      - ca_west_1
      - mx_central_1
      - ap_southeast_5
      - ap_southeast_7
      - westus
      - eastus
      - eastus2
      - northcentralus
      - westus2
      - southcentralus
      - centralus
      - usgovlowa
      - usgovvirginia
      - northeurope
      - westeurope
      - eastasia
      - southeastasia
      - japaneast
      - japanwest
      - brazilsouth
      - australiaeast
      - australiasoutheast
      - centralindia
      - southindia
      - westindia
      - canadaeast
      - westcentralus
      - chinaeast
      - chinanorth
      - canadacentral
      - germanycentral
      - germanynortheast
      - koreacentral
      - uksouth
      - ukwest
      - koreasouth
      - francecentral
      - francesouth
      - germanywestcentral
      - usdodcentral
      - usdodeast
      - usgovarizona
      - usgovtexas
      - australiacentral
      - australiacentral2
      - chinaeast2
      - chinanorth2
      - southafricanorth
      - southafricawest
      - uaecentral
      - uaenorth
      - ussecwest
      - usseceast
      - germanynorth
      - switzerlandwest
      - norwaywest
      - norwayeast
      - switzerlandnorth
      - westus3
      - swedencentral
      - chinanorth3
      - brazilsoutheast
      - eastus2euap
      - jioindiawest
      - jioindiacentral
      - qatarcentral
      - spaincentral
      - italynorth
      - polandcentral
      - mexicocentral
      - asia
      - asia_east1
      - asia_northeast1
      - asia_south1
      - asia_southeast1
      - australia_southeast1
      - europe
      - europe_north1
      - europe_west1
      - europe_west2
      - europe_west3
      - europe_west4
      - northamerica_northeast1
      - southamerica_east1
      - us
      - us_central1
      - us_east1
      - us_east4
      - us_west1
      - us_west2
      - global
      - asia_east2
      - eur4
      - nam4
      - europe_west6
      - japan_west
      - asia_northeast2
      - asia_northeast3
      - us_west3
      - us_west4
      - asia_southeast2
      - nam3
      - nam5
      - nam6
      - nam7
      - nam10
      - nam_eur_asia1
      - eur3
      - eur5
      - asia1
      - nam11
      - eu
      - northamerica_northeast2
      - southamerica_west1
      - us_east5
      - us_south1
      - europe_central2
      - europe_southwest1
      - europe_west8
      - europe_west9
      - europe_west10
      - europe_west12
      - asia_south2
      - australia_southeast2
      - me_central1
      - me_central2
      - me_west1
      - ap_sydney_1
      - ap_melbourne_1
      - sa_saopaulo_1
      - sa_vinhedo_1
      - ca_montreal_1
      - ca_toronto_1
      - sa_santiago_1
      - eu_paris_1
      - eu_marseille_1
      - eu_frankfurt_1
      - ap_hyderabad_1
      - ap_mumbai_1
      - il_jerusalem_1
      - eu_milan_1
      - ap_osaka_1
      - ap_tokyo_1
      - mx_queretaro_1
      - eu_amsterdam_1
      - me_jeddah_1
      - ap_singapore_1
      - af_johannesburg_1
      - ap_seoul_1
      - ap_chuncheon_1
      - eu_madrid_1
      - eu_stockholm_1
      - eu_zurich_1
      - me_abudhabi_1
      - me_dubai_1
      - uk_london_1
      - uk_cardiff_1
      - us_ashburn_1
      - us_phoenix_1
      - us_sanjose_1
      - us_gov_ashburn_1
      - us_gov_chicago_1
      - us_gov_phoenix_1
      - us_langley_1
      - us_luke_1
      - uk_gov_london_1
      - uk_gov_cardiff_1
      - sa_bogota_1
      - us_chicago_1
      - sa_valparaiso_1
      - mx_monterrey_1
      - eu_jovanovac_1
      - ap_singapore_2
    CloudV2LoadBalancerTargetViewModel:
      type: object
      additionalProperties: false
      required:
      - instanceId
      - port
      - status
      properties:
        instanceId:
          type: string
        port:
          type: integer
          format: int32
        status:
          type: string
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
