openapi: 3.2.0
info:
  title: Administration Tenable Account API
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Tenable Account
paths:
  /v2/TenableAccount/{id}/Validate:
    post:
      tags:
      - Tenable Account
      operationId: TenableAccount_ValidatePermissions_post_/v2/TenableAccount/{id}/Validate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
      description: ''
      summary: Validate Permissions
  /v2/TenableAccount/Sync:
    post:
      tags:
      - Tenable Account
      operationId: TenableAccount_SyncVulnerabilities_post_/v2/TenableAccount/Sync
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Tenable.Account.TenableVulnerabilitySyncResultViewModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Tenable.Account.TenableVulnerabilitySyncViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Tenable.Account.TenableVulnerabilitySyncViewModel'
        required: true
      description: ''
      summary: Sync Vulnerabilities
  /v2/TenableAccount:
    get:
      tags:
      - Tenable Account
      operationId: TenableAccount_Get_get_/v2/TenableAccount
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Tenable.Account.TenableAccountStatusViewModel'
      description: ''
      summary: Get
    post:
      tags:
      - Tenable Account
      operationId: TenableAccount_Post_post_/v2/TenableAccount
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Tenable.Account.TenableAccountViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Tenable.Account.TenableAccountViewModel'
        required: true
      description: ''
      summary: Post
    delete:
      tags:
      - Tenable Account
      operationId: TenableAccount_Delete_delete_/v2/TenableAccount
      responses:
        '204':
          description: No Content
      description: ''
      summary: Delete
components:
  schemas:
    Dome9.Web.Api.Tenable.Account.TenableVulnerabilitySyncResultViewModel:
      type: object
      properties:
        workFlow:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
    Dome9.Web.Api.Tenable.Account.TenableAccountStatusViewModel:
      type: object
      properties:
        tenableDome9Id:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
        tenableExternalAccountNumber:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        lastAssetSync:
          format: date-time
          type: string
        lastMatchedAssetsCount:
          format: int32
          type: integer
        status:
          type: string
        lastVulnerabilitySync:
          format: date-time
          type: string
        lastMatchedVulnerabilitiesCount:
          format: int32
          type: integer
        accessKey:
          type: string
        secretKey:
          type: string
    Dome9.Web.Api.Tenable.Account.TenableAccountViewModel:
      required:
      - name
      - accessKey
      - secretKey
      type: object
      properties:
        name:
          description: Tenable account name in Dome9
          type: string
        accessKey:
          description: Tenable API Access Key
          type: string
        secretKey:
          description: Tenable  API Secret Key
          type: string
    Dome9.Web.Api.Tenable.Account.TenableVulnerabilitySyncViewModel:
      required:
      - tenableDome9Id
      type: object
      properties:
        since:
          format: date-time
          type: string
        tenableDome9Id:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
