openapi: 3.2.0
info:
  title: Inventory - AWS Analytics Aws Quick Sight Account API
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Aws Quick Sight Account
paths:
  /v2/AwsQuickSightAccount:
    get:
      tags:
      - Aws Quick Sight Account
      operationId: AwsQuickSightAccount_Get_get_/v2/AwsQuickSightAccount
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.AwsQuickSight.AwsQuickSightAccountViewModel'
      description: ''
      summary: Get
components:
  schemas:
    Dome9.Web.Api.AwsQuickSight.AwsQuickSightAccountViewModel:
      type: object
      properties:
        accountName:
          type: string
        defaultNamespace:
          type: string
        edition:
          type: string
        notificationEmail:
          format: email
          description: Email Address
          type: string
          example: MyName@gmail.com
        publicSharingEnabled:
          type: boolean
        terminationProtectionEnabled:
          type: boolean
        ipRulesEnabled:
          type: boolean
        ipRestrictionRuleMap:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.AwsQuickSight.IpRestrictionRuleViewModel'
        dome9Id:
          type: string
        accountNumber:
          type: string
        region:
          type: string
    Dome9.Web.Api.AwsQuickSight.IpRestrictionRuleViewModel:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
