openapi: 3.2.0
info:
  title: Inventory - AWS IAM Cloud Iam Virtual Mfa Device API
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Cloud Iam Virtual Mfa Device
paths:
  /v2/CloudIamVirtualMfaDevice:
    get:
      tags:
      - Cloud Iam Virtual Mfa Device
      operationId: CloudIamVirtualMfaDevice_Get_get_/v2/CloudIamVirtualMfaDevice
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudIamVirtualMfaDevices.CloudIamVirtualMfaDeviceViewModel'
      description: ''
      summary: Get
components:
  schemas:
    Dome9.Web.Api.CloudIamVirtualMfaDevices.CloudIamVirtualMfaDeviceViewModel:
      type: object
      properties:
        externalId:
          type: string
          readOnly: true
        name:
          type: string
        accountId:
          format: int64
          type: integer
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        enableDate:
          format: date-time
          type: string
        serialNumber:
          type: string
        userName:
          type: string
        userArn:
          type: string
        userId:
          type: string
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
