openapi: 3.2.0
info:
  title: Inventory Entity Fetch Status API
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Entity Fetch Status
paths:
  /v2/EntityFetchStatus:
    get:
      tags:
      - Entity Fetch Status
      summary: Get
      operationId: EntityFetchStatus_Get_get_/v2/EntityFetchStatus
      parameters:
      - name: externalAccountNumber
        in: query
        description: '[Required for an AWS account] AWS/Alibaba/OCI account number'
        required: false
        schema:
          type: string
      - name: subscriptionId
        in: query
        description: '[Required for an Azure subscription]'
        required: false
        schema:
          type: string
      - name: projectId
        in: query
        description: '[Required for a GCP project]'
        required: false
        schema:
          type: string
      - name: cloudAccountId
        in: query
        description: '[Optional] This is the Dome9 CloudAccountId which can replace the AWS externalAccountNumber'
        required: false
        schema:
          type: string
          format: uuid
      - name: region
        in: query
        description: 'The cloud account region. Note: the API expects ''_'' instead of ''-'' (Example: us_east_1)'
        required: false
        schema:
          type: string
      - name: resourceGroupName
        in: query
        description: Azure resource group name
        required: false
        schema:
          type: string
      - name: entityType
        in: query
        description: The desired cloud entity (type)
        required: false
        schema:
          type: string
      - name: workFlowId
        in: query
        description: (for internal use)
        required: false
        schema:
          type: string
          format: uuid
      - name: location
        in: query
        description: GCP Location
        required: false
        schema:
          type: string
      - name: vendor
        in: query
        description: the cloud account vendor
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.EntityFetchStatus.FetcherRunStatusViewModel'
      description: ''
components:
  schemas:
    Dome9.Web.Api.EntityFetchStatus.FetcherRunStatusViewModel:
      type: object
      properties:
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        externalAccountNumber:
          type: string
        subscriptionId:
          type: string
        projectId:
          type: string
        region:
          type: string
        resourceGroupName:
          type: string
        workFlowId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        entityType:
          type: string
        fetchedEntities:
          format: int32
          type: integer
        lastSuccessfulRun:
          format: date-time
          type: string
        lastFailureRun:
          format: date-time
          type: string
        location:
          type: string
        vendor:
          type: string
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
