openapi: 3.2.0
info:
  title: Inventory - AWS Security, Identity and Compliance Cloud Acm…
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Cloud Acm Certificate
paths:
  /v2/CloudAcmCertificate:
    get:
      tags:
      - Cloud Acm Certificate
      operationId: CloudAcmCertificate_Get_get_/v2/CloudAcmCertificate
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.CloudAcmCertificateDetailViewModel'
      description: ''
      summary: Get
components:
  schemas:
    Falconetix.Model.CloudAcmCertificateDetailViewModel:
      type: object
      properties:
        certificateArn:
          type: string
        createdAt:
          format: date-time
          type: string
        domainName:
          type: string
        domainValidationOptions:
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.CloudAcmDomainValidationViewModel'
        extendedKeyUsages:
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.CloudAcmExtendedKeyUsageViewModel'
        failureReason:
          type: string
        importedAt:
          format: date-time
          type: string
        inUseBy:
          type: array
          items:
            type: string
        issuedAt:
          format: date-time
          type: string
        issuer:
          type: string
        keyAlgorithm:
          type: string
        keyUsages:
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.CloudAcmKeyUsageViewModel'
        notAfter:
          format: date-time
          type: string
        notBefore:
          format: date-time
          type: string
        renewalSummary:
          $ref: '#/components/schemas/Falconetix.Model.CloudAcmRenewalSummaryViewModel'
        certificateOptions:
          $ref: '#/components/schemas/Falconetix.Model.CloudAcmCertificateOptionsSummaryViewModel'
        revocationReason:
          type: string
        revokedAt:
          format: date-time
          type: string
        serial:
          type: string
        signatureAlgorithm:
          type: string
        status:
          type: string
        subject:
          type: string
        subjectAlternativeNames:
          type: array
          items:
            type: string
        type:
          type: string
        tags:
          type: object
          additionalProperties:
            type: string
          readOnly: true
    Falconetix.Model.CloudAcmResourceRecordViewModel:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
        value:
          type: string
    Falconetix.Model.CloudAcmCertificateOptionsSummaryViewModel:
      type: object
      properties:
        certificateTransparencyLoggingPreference:
          type: string
    Falconetix.Model.CloudAcmDomainValidationViewModel:
      type: object
      properties:
        domainName:
          type: string
        resourceRecord:
          $ref: '#/components/schemas/Falconetix.Model.CloudAcmResourceRecordViewModel'
        validationDomain:
          type: string
        validationEmails:
          type: array
          items:
            type: string
        validationMethod:
          type: string
        validationStatus:
          type: string
    Falconetix.Model.CloudAcmRenewalSummaryViewModel:
      type: object
      properties:
        domainValidationOptions:
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.CloudAcmDomainValidationViewModel'
        renewalStatus:
          type: string
    Falconetix.Model.CloudAcmKeyUsageViewModel:
      type: object
      properties:
        name:
          type: string
    Falconetix.Model.CloudAcmExtendedKeyUsageViewModel:
      type: object
      properties:
        name:
          type: string
        oid:
          type: string
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
