openapi: 3.2.0
info:
  title: Inventory - Azure Azure Virtual Network Peering API
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Azure Virtual Network Peering
paths:
  /v2/AzureVirtualNetworkPeering:
    get:
      tags:
      - Azure Virtual Network Peering
      operationId: AzureVirtualNetworkPeering_Get_get_/v2/AzureVirtualNetworkPeering
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Model.AzureVirtualNetworkPeeringViewModel'
      description: ''
      summary: Get
  /v2/AzureVirtualNetworkPeering/{id}:
    get:
      tags:
      - Azure Virtual Network Peering
      operationId: AzureVirtualNetworkPeering_Get_get_/v2/AzureVirtualNetworkPeering/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Model.AzureVirtualNetworkPeeringViewModel'
      description: ''
      summary: Get
components:
  schemas:
    Dome9.Web.Api.Model.AzureVirtualNetworkPeeringViewModel:
      type: object
      properties:
        id:
          type: string
        accountId:
          format: int64
          type: integer
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
        region:
          type: string
        resourceGroup:
          type: string
        virtualNetworkId:
          type: string
        virtualNetworkName:
          type: string
        virtualNetworkExternalId:
          type: string
        remoteVirtualNetworkName:
          type: string
        peeringState:
          type: string
        provisioningState:
          type: string
        allowForwardTraffic:
          type: boolean
        allowGatewayTransit:
          type: boolean
        allowVirtualNetworkAccess:
          type: boolean
        lastUpdated:
          format: date-time
          type: string
        remoteVirtualNetworkExternalId:
          type: string
        remoteVirtualNetworkId:
          type: string
        remoteVirtualNetworkCloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        remoteVirtualNetworkRegion:
          type: string
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
