openapi: 3.2.0
info:
  title: Administration Cloud Infra User API
  version: v2
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
security:
- basic: []
tags:
- name: Cloud Infra User
paths:
  /v2/CloudInfraUser:
    get:
      tags:
      - Cloud Infra User
      operationId: CloudInfraUser_Get_get_/v2/CloudInfraUser
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.CloudInfra.CloudInfraUserViewModel'
      description: ''
      summary: Get
    post:
      tags:
      - Cloud Infra User
      operationId: CloudInfraUser_Post_post_/v2/CloudInfraUser
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.UserAndRole.CreateDome9CloudInfraUserResponseViewModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.UserAndRole.CreateDome9CloudInfraUserRequestViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.UserAndRole.CreateDome9CloudInfraUserRequestViewModel'
        required: true
      description: ''
      summary: Post
components:
  schemas:
    Dome9.Web.Api.UserAndRole.CloudInfraUserCreationFailureResult:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/Falconetix.Model.CloudInfra.CloudInfraUserViewModel'
        errorMessage:
          type: string
    Dome9.Web.Api.UserAndRole.CreateDome9CloudInfraUserResponseViewModel:
      type: object
      properties:
        failedRecords:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.UserAndRole.CloudInfraUserCreationFailureResult'
        totalFailedRecords:
          format: int32
          type: integer
          readOnly: true
        totalSuccessfulRecords:
          format: int32
          type: integer
    Falconetix.Model.CloudInfra.CloudInfraUserViewModel:
      type: object
      properties:
        id:
          type: string
        email:
          format: email
          description: Email Address
          type: string
          example: MyName@gmail.com
        name:
          type: string
        role:
          type: string
        phone:
          type: string
        lastLogin:
          format: date-time
          type: string
        createdAt:
          format: date-time
          type: string
        existInDome9:
          type: boolean
    Dome9.Web.Api.UserAndRole.CreateDome9CloudInfraUserRequestViewModel:
      type: object
      properties:
        usersToCreate:
          type: array
          items:
            $ref: '#/components/schemas/Falconetix.Model.CloudInfra.CloudInfraUserViewModel'
        roleIds:
          type: array
          items:
            format: int64
            type: integer
  securitySchemes:
    basic:
      type: http
      scheme: basic
x-readme:
  explorer-enabled: true
  proxy-enabled: true
