# x-archived-from: cloudguard-inventory-aws-analytics-openapi.yml
# x-archived-on: 2026-09-16
info:
  title: Inventory - AWS Analytics
  version: v2
openapi: 3.0.0
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
paths:
  /v2/AwsElasticsearchDomain:
    get:
      tags:
      - Aws Elasticsearch Domain
      operationId: AwsElasticsearchDomain_Get_get_/v2/AwsElasticsearchDomain
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.AwsElasticsearch.AwsElasticsearchDomainStatusViewModel'
      description: ''
      summary: Get
  /v2/AwsEmrCluster:
    get:
      tags:
      - Aws Emr Cluster
      operationId: AwsEmrCluster_Get_get_/v2/AwsEmrCluster
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.AwsEmrCluster.AwsEmrClusterViewModel'
      description: ''
      summary: Get
  /v2/AwsEmrCluster/{id}:
    get:
      tags:
      - Aws Emr Cluster
      operationId: AwsEmrCluster_Get_get_/v2/AwsEmrCluster/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.AwsEmrCluster.AwsEmrClusterViewModel'
      description: ''
      summary: Get
  /v2/AwsQuickSightAccount:
    get:
      tags:
      - Aws Quick Sight Account
      operationId: AwsQuickSightAccount_Get_get_/v2/AwsQuickSightAccount
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.AwsQuickSight.AwsQuickSightAccountViewModel'
      description: ''
      summary: Get
  /v2/AwsQuickSightGroup:
    get:
      tags:
      - Aws Quick Sight Group
      operationId: AwsQuickSightGroup_Get_get_/v2/AwsQuickSightGroup
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.AwsQuickSight.AwsQuickSightGroupViewModel'
      description: ''
      summary: Get
  /v2/AwsQuickSightUser:
    get:
      tags:
      - Aws Quick Sight User
      operationId: AwsQuickSightUser_Get_get_/v2/AwsQuickSightUser
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.AwsQuickSight.AwsQuickSightUserViewModel'
      description: ''
      summary: Get
  /v2/AwsQuickSightVpcConnections:
    get:
      tags:
      - Aws Quick Sight Vpc Connections
      operationId: AwsQuickSightVpcConnections_Get_get_/v2/AwsQuickSightVpcConnections
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.AwsQuickSight.AwsQuickSightVpcConnectionsViewModel'
      description: ''
      summary: Get
  /v2/CloudKinesisStream:
    get:
      tags:
      - Cloud Kinesis Stream
      operationId: CloudKinesisStream_Get_get_/v2/CloudKinesisStream
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.CloudKinesis.CloudKinesisStreamViewModel'
      description: ''
      summary: Get
tags:
- name: AccessLease
  description: Access Leases
- name: AccessLeaseInvitation
  description: Access Lease Invitations
- name: Account
- name: AccountLimitation
- name: AccountPollingInterval
- name: AccountRegistration
- name: AccountTrust
  description: "Allow you to define a trust between accounts in order to allow users in a certain account to make changes\
    \ and operation on another account.\nActions can be taken on a trustee account via a role which is defined on it. \nThe\
    \ role should be assumed by a user from the trusted account."
- name: Agent
- name: Agentless
  description: Agentless Workload Posture
- name: Alert
- name: AlibabaCloudAccount
  description: Alibaba Cloud Accounts
- name: Application
- name: Assessment
  description: Run and View Compliance Assessments
- name: AssessmentHistory
- name: AssessmentHistoryV2
  description: Compliance Assessment History
- name: Audit
  description: Audit logs
- name: Auth
- name: Aws Cloud Account
  description: Manage AWS Cloud Accounts
- name: AwsAppSync
- name: AwsBackupVault
- name: AwsConfigSettings
- name: AwsCustomerGateway
- name: AwsEcsTask
- name: AwsEks
- name: AwsElasticIp
- name: AwsElasticsearchDomain
- name: AwsEmrCluster
- name: AwsInspectorFindings
- name: AwsInspectorRuns
- name: AwsLoadBalancersNetworkInterfaces
- name: AwsOrganizations
- name: AwsQuickSightAccount
- name: AwsQuickSightGroup
- name: AwsQuickSightUser
- name: AwsQuickSightVpcConnections
- name: AwsSageMaker
- name: AwsSecurityGroup
- name: AwsSecurityGroupPolicy
- name: AwsSecurityGroupsIndex
- name: AwsUnifiedOnboarding
  description: Aws Unified Onboarding
- name: AwsVpcEndpoint
- name: AzureAnalysisService
- name: AzureApplicationGateway
- name: AzureApplicationSecurityGroup
- name: AzureCloudAccount
  description: Onboard Azure accounts
- name: AzureComputeGalleryImage
- name: AzureCosmosDbAccount
- name: AzureDisk
- name: AzureFunction
- name: AzureKeyVault
- name: AzureKubernetes
- name: AzureLoadBalancer
- name: AzureLock
- name: AzureLogicApp
- name: AzureLogProfile
- name: AzurePolicyAssignment
- name: AzureRedisCache
- name: AzureResourceGroup
- name: AzureRouteTable
- name: AzureSecurityGroup
- name: AzureSecurityGroupPolicy
  description: Azure Network Security Group Policies
- name: AzureSnapshot
- name: AzureSqlDb
- name: AzureSqlServer
- name: AzureStorageAccounts
- name: AzureStorageBlobContainer
- name: AzureSubnet
- name: AzureUser
- name: AzureVirtualMachine
- name: AzureVirtualMachineImage
- name: AzureVirtualMachineScaleSet
- name: AzureVirtualNetworkPeering
- name: AzureWebApp
- name: BigTable
- name: BillableAssets
  description: Retrieve billable assets data
- name: BillableAssetsReport
  description: Billable Assets Report
- name: Billing
- name: Clarity
- name: CloudAcmCertificate
- name: CloudAmi
- name: CloudAutoScalingGroup
- name: CloudDbInstance
- name: CloudDirectConnect
- name: CloudDynamoDb
- name: CloudEcsCluster
- name: CloudEcsService
  description: Cloud Ecs Service
- name: CloudEcsTaskDefinition
- name: CloudEfs
- name: CloudElastiCacheCluster
- name: CloudFlowLogs
- name: CloudFrontDistribution
- name: CloudGuardDutyDetector
- name: CloudIamAccountSummary
- name: CloudIamCredentialReport
- name: CloudIamGroup
- name: CloudIamPasswordPolicy
- name: CloudIamPolicy
- name: CloudIamRole
- name: CloudIamServerCertificate
- name: CloudIamUser
- name: CloudIamVirtualMfaDevice
- name: CloudInfraUser
  description: CloudInfra Users
- name: CloudInstance
  description: Cloud Instances
- name: CloudInternetGateway
- name: CloudKinesisStream
- name: CloudKms
- name: CloudKmsAlias
- name: CloudLambdaFunction
  description: Cloud Lambda Function
- name: CloudLoadBalancer
- name: CloudLogGroups
- name: CloudMetricAlarm
- name: CloudNacl
- name: CloudNetworkInterfaces
- name: CloudRedshiftCluster
- name: CloudRegion
- name: CloudRoute53Domain
- name: CloudRoute53HostedZone
- name: CloudRoute53RecordSetGroup
- name: CloudRouteTable
- name: CloudS3Bucket
  description: ''
- name: CloudSecurityGroup
  description: AWS Security Groups
- name: CloudSnsSubscription
- name: CloudSnsTopic
- name: CloudSql
- name: CloudSqs
  description: ''
- name: CloudSubnet
- name: CloudTrail
  description: CloudTrail
- name: CloudVolume
- name: CloudVpc
- name: CloudVpcPeeringConnection
- name: CloudVPNConnection
- name: CloudVpnGateway
- name: CloudWAFRegional
- name: CloudWatchEventsRule
  description: CloudWatchEventsRule
- name: ComplianceExclusion
  description: Compliance Exclusions
- name: CompliancePolicy
- name: ComplianceRemediation
  description: Compliance Remediation
- name: ComplianceRemediationOld
  description: Compliance Remediation - DEPRECATED - please use /Compliance/Remediation instead
- name: ComplianceRuleset
  description: ComplianceRuleset
- name: ContinuousComplianceNotification
  description: Continuous Compliance Notification Policies
- name: ContinuousCompliancePolicy
- name: ContinuousCompliancePolicyV2
  description: Continuous Compliance Policies
- name: EmergencyPolicy
- name: EntityFetchStatus
- name: EntityReport
- name: ExclusionOld
  description: Compliance Exclusions - DEPRECATED - please use /Compliance/Exclusion instead
- name: ExternalFindings
  description: Findings from External (3rd-party) systems
- name: Fim
- name: Finding
  description: Compliance Findings
- name: FindingsReport
  description: Compliance Findings csv reports
- name: GcpBigQuery
- name: GcpDisk
- name: GcpGkeCluster
- name: GcpImage
- name: GcpKmsKeyRing
- name: GcpProjectInfo
  description: Google Cloud Project Info
- name: GcpPubSub
- name: GcpSecurityGroup
- name: GcpServiceAccount
- name: GcpStorageBucket
- name: GenericList
  description: Generic Lists
- name: GlobalSearch
  description: Global search for all CloudGuard services
- name: GoogleCloudAccount
  description: Google Cloud Accounts
- name: GoogleCloudFirewallRule
- name: GoogleCloudFunction
- name: GoogleCloudIamPolicy
- name: GoogleCloudNetwork
  description: Google Cloud Network
- name: GoogleCloudSubnet
- name: GoogleCloudVMInstance
- name: Home
- name: IamSafeLease
  description: IAM Safety Leases
- name: IncidentsStatus
- name: InfrastructureAssessment
- name: Intelligence
  description: CloudGuard Intelligence allows you to visualize and analyze Account Activity and Network Traffic into and out
    of your cloud environment.
- name: IpAddressMetadata
  description: IP Address Metadata
- name: IpList
  description: IP Lists
- name: LicenseActivator
- name: Licensing
- name: ManagedGenericList
- name: Msp
- name: OrganizationalUnit
  description: Manage Organizational Units
- name: Permission
- name: ProtectedAsset
- name: ProtectedAssetsReport
  description: Compliance Protected Asset csv reports
- name: ProtegoStatistics
  description: Protego statistics by dates
- name: Role
  description: CloudGuard Roles
- name: RulesEngine
- name: SecurityGroup
- name: Serverless
- name: ServerlessPolicy
  description: Serverless policy
- name: ServiceAccount
  description: CloudGuard Service Accounts
- name: ServicePort
- name: Settings
  description: Account Settings
- name: ShiftLeft
  description: ShiftLeft
- name: SystemHealth
- name: TenableAccount
  description: Onboard Tenable accounts
- name: User
  description: CloudGuard account users
- name: BaseImage
  description: ''
- name: ContainerRegistryAccount
  description: Container Registry Account
- name: ContainerRegistryAccountInternal
  description: ''
- name: ContainerRegistryImageAssurancePolicy
  description: '(deprecated: move to use /v2/vulnerability/policy)'
- name: Dashboard
  description: ''
- name: EcsConfiguration
  description: ''
- name: EcsImageAssurancePolicy
  description: '(deprecated: move to use /v2/vulnerability/policy)'
- name: EcsImageScan
  description: ECS Image Scan Configuration
- name: Environment
  description: ''
- name: ImageAdmissionExclusion
  description: '[Preview feature] Kubernetes Image admission exclusions'
- name: ImageAssuranceDashboard
  description: ''
- name: ImageAssuranceReport
  description: ''
- name: KubernetesAccount
  description: Kubernetes Accounts
- name: KubernetesAccountInternal
  description: ''
- name: KubernetesAccountOld
  description: '(deprecated: this api is deprecated, please use ''/v2/kubernetes/account'' instead)'
- name: KubernetesAdmissionControl
  description: Kubernetes Admission Control
- name: KubernetesAdmissionControlPoliciesSummary
  description: ''
- name: KubernetesClusterRole
  description: ''
- name: KubernetesImage
  description: ''
- name: KubernetesImageAdmissionExclusion
  description: '[Preview feature] Kubernetes Image admission exclusions (deprecated: this api is deprecated, please use ''/v2/kubernetes/admissionControl/imageAdmissionExclusion''
    instead)'
- name: KubernetesImageAssurance
  description: Kubernetes Image Assurance
- name: KubernetesImageAssurancePolicy
  description: 'Kubernetes Image Assurance Policy (deprecated: move to use /v2/vulnerability/policy)'
- name: KubernetesIngress
  description: ''
- name: KubernetesNetworkPolicy
  description: ''
- name: KubernetesNode
  description: ''
- name: KubernetesPod
  description: ''
- name: KubernetesPodGroup
  description: Kubernetes Pod Groups
- name: KubernetesPodGroupOwner
  description: ''
- name: KubernetesPodSecurityPolicy
  description: ''
- name: KubernetesRole
  description: ''
- name: KubernetesRuntimeAssurance
  description: ''
- name: KubernetesService
  description: ''
- name: KubernetesServiceAccount
  description: ''
- name: Shiftleft
  description: ''
- name: ShiftLeftAccount
  description: ShiftLeft
- name: ShiftLeftPolicy
  description: 'ShiftLeft Policy (deprecated: move to use /v2/vulnerability/policy)'
- name: Workload
  description: ''
- name: WorkloadAccountSetting
  description: Workload Account Setting
- name: WorkloadChangeMonitoring
  description: ''
- name: WorkloadImageAssurance
  description: Workload Image Assurance
- name: WorkloadImageAssuranceInternal
  description: ''
- name: WorkloadInternal
  description: ''
- name: WorkloadRuntimeProtection
  description: ''
- name: Alerts
  description: ''
- name: Azure
  description: ''
- name: FindingOrchestration
  description: ''
- name: FindingsUpdate
  description: ''
- name: Gcp
  description: ''
- name: Remediation
  description: Remediation Actions
- name: Reports
  description: ''
- name: CloudInfraMigration
  description: infinity-portal-connect
- name: GslBuilder
  description: ''
- name: Infrastructure
  description: ''
- name: InternalLicense
  description: ''
- name: NotificationIntegrationInternal
  description: '(deprecated: This controller is deprecated and will be removed in the future)'
- name: OciCloudAccount
  description: Onboard OCI accounts
- name: PlatformReports
  description: ''
- name: Regions
  description: ''
- name: Spectral
  description: ''
- name: RestrictedWorkloadClientModules
  description: ''
- name: WorkloadClientModules
  description: ''
- name: WorkloadTelemetry
  description: ''
- name: Integration
  description: Integration
- name: IntegrationInternal
  description: ''
- name: Notification
  description: Notification
- name: NotificationInternal
  description: ''
- name: AssetMetadataSyncNow
  description: ''
- name: BusinessPriorityModifier
  description: Business Priority Rules
- name: CustomRuleset
  description: Risk Management Rulesets
- name: Dspm
  description: DSPM Controller
- name: Exposure
  description: ''
- name: GroupRiskManagement
  description: Groups Risk Management
- name: RemediationActions
  description: Remediation Actions
- name: RiskModifiers
  description: Risk Modifiers
- name: SecurityEvents
  description: ''
- name: SimilarAssetGroups
  description: ''
- name: Waf
  description: WAF Protection
- name: AwsOrganizationManagement
  description: AwsOrganizationManagement
- name: AwsOrganizationManagementOnboarding
  description: AwsOrganizationManagementOnboarding
- name: AzureOrganizationManagement
  description: AzureOrganizationManagement
- name: GcpOrganizationManagement
  description: GcpOrganizationManagement
- name: OnboardingManagement
  description: OnboardingManagement
- name: InternalSBOM
  description: ''
- name: InternalVulnerabilityAccountStatsBatch
  description: ''
- name: InternalVulnerabilityCleanup
  description: ''
- name: InternalVulnerabilityPolicy
  description: ''
- name: InternalVulnerabilityScanResults
  description: ''
- name: SBOM
  description: ''
- name: SBOMExport
  description: SBOM Export
- name: Vulnerabilities
  description: Vulnerabilities
- name: VulnerabilityAssessment
  description: ''
- name: VulnerabilityExclusions
  description: Vulnerability Exclusions
- name: VulnerabilityPolicy
  description: Vulnerability Policy
- name: VulnerabilitySBOM
  description: ''
- name: CloudApplicationLoadBalancer
  description: ''
- name: CloudNetworkLoadBalancer
  description: ''
- name: GcpMachineImage
  description: ''
- name: OciCompartment
  description: ''
- name: AssetLabelsService
  description: ''
- name: AssetOpenFindings
  description: ''
- name: EntityTypes
  description: The entity types endpoint allows you to get the supported entity types and the platform they're supported for.
- name: EvidencePath
  description: The evidence path endpoint allows you to get the evidence path for a given findingId.
- name: Exclusions
  description: The exclusion endpoint provides API to perform CRUD operations on the resource.
- name: IgnoreCves
  description: The ignore CVEs endpoint provides API to perform CRUD operations on the resource.
- name: IgnoreMalwares
  description: The ignore malwares endpoint provides API to perform CRUD operations on the resource.
- name: Rules
  description: The rules endpoint provides APIs to get the security rules data
- name: SecurityGraphIssues
  description: API for issue enrichments
- name: SecurityGraphQuery
  description: The query endpoint provides APIs to run queries (rules) to preview possible issues.
- name: EntitySchema
  description: The entity schema endpoint presents schema of toxic issues entities.
- name: SecurityIssues
  description: The Findings endpoint provides APIs query the findings store which contains findings such as security issues.
    It provides APIs to get, search and group findings.
- name: AutomatedActions
  description: The Automated Actions resource provides API to perform CRUD operations on the resource.
components:
  schemas:
    Dome9.Web.Api.AwsElasticsearch.AwsElasticsearchDomainStatusViewModel:
      type: object
      properties:
        accessPolicies:
          type: string
        advancedOptions:
          type: object
          additionalProperties:
            type: string
        arn:
          type: string
        cognitoOptions:
          $ref: '#/components/schemas/Dome9.Web.Api.AwsElasticsearch.AwsElasticsearchCognitoOptionsViewModel'
        created:
          type: boolean
        deleted:
          type: boolean
        domainId:
          type: string
        domainName:
          type: string
        ebsOptions:
          $ref: '#/components/schemas/Dome9.Web.Api.AwsElasticsearch.AwsElasticsearchEBSOptionsViewModel'
        elasticsearchClusterConfig:
          $ref: '#/components/schemas/Dome9.Web.Api.AwsElasticsearch.AwsElasticsearchClusterConfigViewModel'
        elasticsearchVersion:
          type: string
        encryptionAtRestOptions:
          $ref: '#/components/schemas/Dome9.Web.Api.AwsElasticsearch.AwsElasticsearchEncryptionAtRestOptionsViewModel'
        endpoint:
          type: string
        endpoints:
          type: object
          additionalProperties:
            type: string
        logPublishingOptions:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Dome9.Web.Api.AwsElasticsearch.AwsElasticsearchLogPublishingOptionViewModel'
        nodeToNodeEncryptionOptions:
          $ref: '#/components/schemas/Dome9.Web.Api.AwsElasticsearch.AwsElasticsearchNodeToNodeEncryptionOptionsViewModel'
        processing:
          type: boolean
        serviceSoftwareOptions:
          $ref: '#/components/schemas/Dome9.Web.Api.AwsElasticsearch.AwsElasticsearchServiceSoftwareOptionsViewModel'
        snapshotOptions:
          $ref: '#/components/schemas/Dome9.Web.Api.AwsElasticsearch.AwsElasticsearchSnapshotOptionsViewModel'
        upgradeProcessing:
          type: boolean
        vpcOptions:
          $ref: '#/components/schemas/Dome9.Web.Api.AwsElasticsearch.AwsElasticsearchVPCDerivedInfoViewModel'
    Dome9.Web.Api.AwsElasticsearch.AwsElasticsearchCognitoOptionsViewModel:
      type: object
      properties:
        enabled:
          type: boolean
        identityPoolId:
          type: string
        roleArn:
          type: string
        userPoolId:
          type: string
    Dome9.Web.Api.AwsElasticsearch.AwsElasticsearchEBSOptionsViewModel:
      type: object
      properties:
        ebsEnabled:
          type: boolean
        iops:
          format: int32
          type: integer
        volumeSize:
          format: int32
          type: integer
        volumeType:
          type: string
    Dome9.Web.Api.AwsElasticsearch.AwsElasticsearchClusterConfigViewModel:
      type: object
      properties:
        dedicatedMasterCount:
          format: int32
          type: integer
        dedicatedMasterEnabled:
          type: boolean
        dedicatedMasterType:
          type: string
        instanceCount:
          format: int32
          type: integer
        instanceType:
          type: string
        zoneAwarenessConfig:
          $ref: '#/components/schemas/Dome9.Web.Api.AwsElasticsearch.AwsElasticsearchZoneAwarenessConfigViewModel'
        zoneAwarenessEnabled:
          type: boolean
    Dome9.Web.Api.AwsElasticsearch.AwsElasticsearchEncryptionAtRestOptionsViewModel:
      type: object
      properties:
        enabled:
          type: boolean
        kmsKeyId:
          type: string
    Dome9.Web.Api.AwsElasticsearch.AwsElasticsearchLogPublishingOptionViewModel:
      type: object
      properties:
        cloudWatchLogsLogGroupArn:
          type: string
        enabled:
          type: boolean
    Dome9.Web.Api.AwsElasticsearch.AwsElasticsearchNodeToNodeEncryptionOptionsViewModel:
      type: object
      properties:
        enabled:
          type: boolean
    Dome9.Web.Api.AwsElasticsearch.AwsElasticsearchServiceSoftwareOptionsViewModel:
      type: object
      properties:
        automatedUpdateDate:
          format: date-time
          type: string
        cancellable:
          type: boolean
        currentVersion:
          type: string
        description:
          type: string
        newVersion:
          type: string
        updateAvailable:
          type: boolean
        updateStatus:
          type: string
    Dome9.Web.Api.AwsElasticsearch.AwsElasticsearchSnapshotOptionsViewModel:
      type: object
      properties:
        automatedSnapshotStartHour:
          format: int32
          type: integer
    Dome9.Web.Api.AwsElasticsearch.AwsElasticsearchVPCDerivedInfoViewModel:
      type: object
      properties:
        availabilityZones:
          type: array
          items:
            type: string
        securityGroupIds:
          type: array
          items:
            type: string
        subnetIds:
          type: array
          items:
            type: string
        vpcId:
          type: string
    Dome9.Web.Api.AwsElasticsearch.AwsElasticsearchZoneAwarenessConfigViewModel:
      type: object
      properties:
        availabilityZoneCount:
          format: int32
          type: integer
    Dome9.Web.Api.AwsEmrCluster.AwsEmrClusterViewModel:
      type: object
      properties:
        id:
          type: string
        externalId:
          type: string
        name:
          type: string
        region:
          type: string
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        externalAccountNumber:
          type: string
        accountId:
          format: int64
          type: integer
        applications:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.AwsEmrCluster.AwsEmrApplicationViewModel'
        autoScalingRole:
          type: string
        autoTerminate:
          type: boolean
        configurations:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.AwsEmrCluster.AwsEmrConfigurationViewModel'
        customAmiId:
          type: string
        ebsRootVolumeSize:
          format: int32
          type: integer
        ec2InstanceAttributes:
          $ref: '#/components/schemas/Dome9.Web.Api.AwsEmrCluster.AwsEmrEc2InstanceAttributesViewModel'
        instanceCollectionType:
          type: string
        logUri:
          type: string
        masterPublicDnsName:
          type: string
        normalizedInstanceHours:
          format: int32
          type: integer
        releaseLabel:
          type: string
        repoUpgradeOnBoot:
          type: string
        requestedAmiVersion:
          type: string
        runningAmiVersion:
          type: string
        scaleDownBehavior:
          type: string
        securityConfiguration:
          type: string
        serviceRole:
          type: string
        status:
          $ref: '#/components/schemas/Dome9.Web.Api.AwsEmrCluster.AwsEmrClusterStatusViewModel'
        tags:
          type: object
          additionalProperties:
            type: string
        terminationProtected:
          type: boolean
        visibleToAllUsers:
          type: boolean
        instances:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.AwsEmrCluster.AwsEmrInstanceViewModel'
    Dome9.Web.Api.AwsEmrCluster.AwsEmrApplicationViewModel:
      type: object
      properties:
        additionalInfo:
          type: object
          additionalProperties:
            type: string
        args:
          type: array
          items:
            type: string
        name:
          type: string
        version:
          type: string
    Dome9.Web.Api.AwsEmrCluster.AwsEmrConfigurationViewModel:
      type: object
      properties:
        classification:
          type: string
        configurations:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.AwsEmrCluster.AwsEmrConfigurationViewModel'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/System.Collections.Generic.KeyValuePair_System.String_System.String_'
    Dome9.Web.Api.AwsEmrCluster.AwsEmrEc2InstanceAttributesViewModel:
      type: object
      properties:
        additionalMasterSecurityGroups:
          type: array
          items:
            type: string
        additionalSlaveSecurityGroups:
          type: array
          items:
            type: string
        ec2AvailabilityZone:
          type: string
        ec2KeyName:
          type: string
        ec2SubnetId:
          type: string
        emrManagedMasterSecurityGroup:
          type: string
        emrManagedSlaveSecurityGroup:
          type: string
        iamInstanceProfile:
          type: string
        requestedEc2AvailabilityZones:
          type: array
          items:
            type: string
        requestedEc2SubnetIds:
          type: array
          items:
            type: string
        serviceAccessSecurityGroup:
          type: string
    Dome9.Web.Api.AwsEmrCluster.AwsEmrClusterStatusViewModel:
      type: object
      properties:
        state:
          type: string
        stateChangeReason:
          $ref: '#/components/schemas/Dome9.Web.Api.AwsEmrCluster.AwsEmrClusterStateChangeReasonViewModel'
        timeline:
          $ref: '#/components/schemas/Dome9.Web.Api.AwsEmrCluster.AwsEmrClusterTimelineViewModel'
    Dome9.Web.Api.AwsEmrCluster.AwsEmrInstanceViewModel:
      type: object
      properties:
        ebsVolumes:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.AwsEmrCluster.AwsEmrEbsVolumeViewModel'
        ec2InstanceId:
          type: string
        id:
          type: string
        instanceFleetId:
          type: string
        instanceGroupId:
          type: string
        instanceType:
          type: string
        market:
          type: string
        privateDnsName:
          type: string
        privateIpAddress:
          type: string
        publicDnsName:
          type: string
        publicIpAddress:
          type: string
        status:
          $ref: '#/components/schemas/Dome9.Web.Api.AwsEmrCluster.AwsEmrInstanceStatusViewModel'
    Dome9.Web.Api.AwsEmrCluster.AwsEmrClusterStateChangeReasonViewModel:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    Dome9.Web.Api.AwsEmrCluster.AwsEmrClusterTimelineViewModel:
      type: object
      properties:
        creationDateTime:
          format: date-time
          type: string
        endDateTime:
          format: date-time
          type: string
        readyDateTime:
          format: date-time
          type: string
    Dome9.Web.Api.AwsEmrCluster.AwsEmrEbsVolumeViewModel:
      type: object
      properties:
        device:
          type: string
        volumeId:
          type: string
    Dome9.Web.Api.AwsEmrCluster.AwsEmrInstanceStatusViewModel:
      type: object
      properties:
        state:
          type: string
        stateChangeReason:
          $ref: '#/components/schemas/Dome9.Web.Api.AwsEmrCluster.AwsEmrInstanceStateChangeReasonViewModel'
        timeline:
          $ref: '#/components/schemas/Dome9.Web.Api.AwsEmrCluster.AwsEmrInstanceTimelineViewModel'
    Dome9.Web.Api.AwsEmrCluster.AwsEmrInstanceStateChangeReasonViewModel:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    Dome9.Web.Api.AwsEmrCluster.AwsEmrInstanceTimelineViewModel:
      type: object
      properties:
        creationDateTime:
          format: date-time
          type: string
        endDateTime:
          format: date-time
          type: string
        readyDateTime:
          format: date-time
          type: string
    Dome9.Web.Api.AwsQuickSight.AwsQuickSightAccountViewModel:
      type: object
      properties:
        accountName:
          type: string
        defaultNamespace:
          type: string
        edition:
          type: string
        notificationEmail:
          format: email
          description: Email Address
          type: string
          example: MyName@gmail.com
        publicSharingEnabled:
          type: boolean
        terminationProtectionEnabled:
          type: boolean
        ipRulesEnabled:
          type: boolean
        ipRestrictionRuleMap:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.AwsQuickSight.IpRestrictionRuleViewModel'
        dome9Id:
          type: string
        accountNumber:
          type: string
        region:
          type: string
    Dome9.Web.Api.AwsQuickSight.IpRestrictionRuleViewModel:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    Dome9.Web.Api.AwsQuickSight.AwsQuickSightGroupViewModel:
      type: object
      properties:
        arn:
          type: string
        description:
          type: string
        groupName:
          type: string
        principalId:
          type: string
        groupMemberList:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.AwsQuickSight.QuickSightGroupMemberViewModel'
        dome9Id:
          type: string
        accountNumber:
          type: string
        region:
          type: string
    Dome9.Web.Api.AwsQuickSight.QuickSightGroupMemberViewModel:
      type: object
      properties:
        arn:
          type: string
        memberName:
          type: string
    Dome9.Web.Api.AwsQuickSight.AwsQuickSightUserViewModel:
      type: object
      properties:
        active:
          type: boolean
        arn:
          type: string
        customPermissionsName:
          type: string
        email:
          format: email
          description: Email Address
          type: string
          example: MyName@gmail.com
        externalLoginFederationProviderType:
          type: string
        externalLoginFederationProviderUrl:
          type: string
        externalLoginId:
          type: string
        identityType:
          type: string
        principalId:
          type: string
        role:
          type: string
        userName:
          type: string
        dome9Id:
          type: string
        accountNumber:
          type: string
        region:
          type: string
    Dome9.Web.Api.AwsQuickSight.AwsQuickSightVpcConnectionsViewModel:
      type: object
      properties:
        arn:
          type: string
        availabilityStatus:
          type: string
        createdTime:
          format: int64
          type: integer
        dnsResolvers:
          type: array
          items:
            type: string
        lastUpdatedTime:
          format: int64
          type: integer
        name:
          type: string
        networkInterfaces:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.AwsQuickSight.NetworkInterfaceViewModel'
        roleArn:
          type: string
        securityGroupIds:
          type: array
          items:
            type: string
        status:
          type: string
        vpcConnectionId:
          type: string
        vpcId:
          type: string
        dome9Id:
          type: string
        accountNumber:
          type: string
        region:
          type: string
        securityGroups:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.AwsSecurityGroup.AwsSecurityGroupViewModel'
        role:
          $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudIamRoleViewModel'
    Dome9.Web.Api.AwsQuickSight.NetworkInterfaceViewModel:
      type: object
      properties:
        availabilityZone:
          type: string
        errorMessage:
          type: string
        networkInterfaceId:
          type: string
        status:
          type: string
    Dome9.Web.Api.AwsSecurityGroup.AwsSecurityGroupViewModel:
      type: object
      properties:
        externalId:
          type: string
        regionId:
          enum:
          - us_east_1
          - us_west_1
          - eu_west_1
          - ap_southeast_1
          - ap_northeast_1
          - us_west_2
          - sa_east_1
          - az_1_region_a_geo_1
          - az_2_region_a_geo_1
          - az_3_region_a_geo_1
          - ap_southeast_2
          - mellanox_region
          - us_gov_west_1
          - eu_central_1
          - ap_northeast_2
          - ap_south_1
          - us_east_2
          - ca_central_1
          - eu_west_2
          - eu_west_3
          - eu_north_1
          - cn_north_1
          - cn_northwest_1
          - us_gov_east_1
          - ap_east_1
          - me_south_1
          - af_south_1
          - eu_south_1
          - ap_northeast_3
          - me_central_1
          - ap_south_2
          - ap_southeast_3
          - ap_southeast_4
          - eu_central_2
          - eu_south_2
          - il_central_1
          - ca_west_1
          - mx_central_1
          - ap_southeast_5
          - ap_southeast_7
          - westus
          - eastus
          - eastus2
          - northcentralus
          - westus2
          - southcentralus
          - centralus
          - usgovlowa
          - usgovvirginia
          - northeurope
          - westeurope
          - eastasia
          - southeastasia
          - japaneast
          - japanwest
          - brazilsouth
          - australiaeast
          - australiasoutheast
          - centralindia
          - southindia
          - westindia
          - canadaeast
          - westcentralus
          - chinaeast
          - chinanorth
          - canadacentral
          - germanycentral
          - germanynortheast
          - koreacentral
          - uksouth
          - ukwest
          - koreasouth
          - francecentral
          - francesouth
          - germanywestcentral
          - usdodcentral
          - usdodeast
          - usgovarizona
          - usgovtexas
          - australiacentral
          - australiacentral2
          - chinaeast2
          - chinanorth2
          - southafricanorth
          - southafricawest
          - uaecentral
          - uaenorth
          - ussecwest
          - usseceast
          - germanynorth
          - switzerlandwest
          - norwaywest
          - norwayeast
          - switzerlandnorth
          - westus3
          - swedencentral
          - chinanorth3
          - brazilsoutheast
          - eastus2euap
          - jioindiawest
          - jioindiacentral
          - qatarcentral
          - spaincentral
          - italynorth
          - polandcentral
          - mexicocentral
          - asia
          - asia_east1
          - asia_northeast1
          - asia_south1
          - asia_southeast1
          - australia_southeast1
          - europe
          - europe_north1
          - europe_west1
          - europe_west2
          - europe_west3
          - europe_west4
          - northamerica_northeast1
          - southamerica_east1
          - us
          - us_central1
          - us_east1
          - us_east4
          - us_west1
          - us_west2
          - global
          - asia_east2
          - eur4
          - nam4
          - europe_west6
          - japan_west
          - asia_northeast2
          - asia_northeast3
          - us_west3
          - us_west4
          - asia_southeast2
          - nam3
          - nam5
          - nam6
          - nam7
          - nam10
          - nam_eur_asia1
          - eur3
          - eur5
          - asia1
          - nam11
          - eu
          - northamerica_northeast2
          - southamerica_west1
          - us_east5
          - us_south1
          - europe_central2
          - europe_southwest1
          - europe_west8
          - europe_west9
          - europe_west10
          - europe_west12
          - asia_south2
          - australia_southeast2
          - me_central1
          - me_central2
          - me_west1
          - ap_sydney_1
          - ap_melbourne_1
          - sa_saopaulo_1
          - sa_vinhedo_1
          - ca_montreal_1
          - ca_toronto_1
          - sa_santiago_1
          - eu_paris_1
          - eu_marseille_1
          - eu_frankfurt_1
          - ap_hyderabad_1
          - ap_mumbai_1
          - il_jerusalem_1
          - eu_milan_1
          - ap_osaka_1
          - ap_tokyo_1
          - mx_queretaro_1
          - eu_amsterdam_1
          - me_jeddah_1
          - ap_singapore_1
          - af_johannesburg_1
          - ap_seoul_1
          - ap_chuncheon_1
          - eu_madrid_1
          - eu_stockholm_1
          - eu_zurich_1
          - me_abudhabi_1
          - me_dubai_1
          - uk_london_1
          - uk_cardiff_1
          - us_ashburn_1
          - us_phoenix_1
          - us_sanjose_1
          - us_gov_ashburn_1
          - us_gov_chicago_1
          - us_gov_phoenix_1
          - us_langley_1
          - us_luke_1
          - uk_gov_london_1
          - uk_gov_cardiff_1
          - sa_bogota_1
          - us_chicago_1
          - sa_valparaiso_1
          - mx_monterrey_1
          - eu_jovanovac_1
          - ap_singapore_2
          type: string
        securityGroupName:
          type: string
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        cloudAccountName:
          type: string
        vpcId:
          type: string
    Dome9.Web.Api.Models.CloudIamRoleViewModel:
      type: object
      properties:
        externalId:
          type: string
        name:
          type: string
        srl:
          type: string
        accountId:
          format: int64
          type: integer
        cloudAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        arn:
          type: string
        createDate:
          format: date-time
          type: string
        path:
          type: string
        maxSessionDuration:
          format: int32
          type: integer
        roleLastUsed:
          $ref: '#/components/schemas/Dome9.Web.Api.CloudIamRoles.AwsIamRoleLastUsedViewModel'
        attachedManagedPolicies:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudIamRoles.AwsIamRolePolicyViewModel'
        inlinePolicies:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudIamRoles.CloudIamRoleInlinePolicyViewModel'
        tags:
          type: object
          additionalProperties:
            type: string
        rolePermissionsBoundary:
          $ref: '#/components/schemas/Dome9.Web.Api.Models.CloudIamRoleViewModel.PermissionsBoundary'
        assumeRolePolicy:
          type: object
    Dome9.Web.Api.CloudIamRoles.AwsIamRoleLastUsedViewModel:
      type: object
      properties:
        roleLastUsed:
          format: date-time
          type: string
        region:
          type: string
    Dome9.Web.Api.CloudIamRoles.AwsIamRolePolicyViewModel:
      type: object
      properties:
        arn:
          type: string
        name:
          type: string
    Dome9.Web.Api.CloudIamRoles.CloudIamRoleInlinePolicyViewModel:
      type: object
      properties:
        policyName:
          type: string
        policyDocument:
          type: object
    Dome9.Web.Api.Models.CloudIamRoleViewModel.PermissionsBoundary:
      type: object
      properties:
        permissionsBoundaryArn:
          type: string
        permissionsBoundaryType:
          type: string
    Dome9.Web.Api.CloudKinesis.CloudKinesisStreamViewModel:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
        accountId:
          format: int64
          type: integer
          readOnly: true
        cloudAccountId:
          format: uuid
          type: string
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        region:
          enum:
          - us_east_1
          - us_west_1
          - eu_west_1
          - ap_southeast_1
          - ap_northeast_1
          - us_west_2
          - sa_east_1
          - az_1_region_a_geo_1
          - az_2_region_a_geo_1
          - az_3_region_a_geo_1
          - ap_southeast_2
          - mellanox_region
          - us_gov_west_1
          - eu_central_1
          - ap_northeast_2
          - ap_south_1
          - us_east_2
          - ca_central_1
          - eu_west_2
          - eu_west_3
          - eu_north_1
          - cn_north_1
          - cn_northwest_1
          - us_gov_east_1
          - ap_east_1
          - me_south_1
          - af_south_1
          - eu_south_1
          - ap_northeast_3
          - me_central_1
          - ap_south_2
          - ap_southeast_3
          - ap_southeast_4
          - eu_central_2
          - eu_south_2
          - il_central_1
          - ca_west_1
          - mx_central_1
          - ap_southeast_5
          - ap_southeast_7
          - westus
          - eastus
          - eastus2
          - northcentralus
          - westus2
          - southcentralus
          - centralus
          - usgovlowa
          - usgovvirginia
          - northeurope
          - westeurope
          - eastasia
          - southeastasia
          - japaneast
          - japanwest
          - brazilsouth
          - australiaeast
          - australiasoutheast
          - centralindia
          - southindia
          - westindia
          - canadaeast
          - westcentralus
          - chinaeast
          - chinanorth
          - canadacentral
          - germanycentral
          - germanynortheast
          - koreacentral
          - uksouth
          - ukwest
          - koreasouth
          - francecentral
          - francesouth
          - germanywestcentral
          - usdodcentral
          - usdodeast
          - usgovarizona
          - usgovtexas
          - australiacentral
          - australiacentral2
          - chinaeast2
          - chinanorth2
          - southafricanorth
          - southafricawest
          - uaecentral
          - uaenorth
          - ussecwest
          - usseceast
          - germanynorth
          - switzerlandwest
          - norwaywest
          - norwayeast
          - switzerlandnorth
          - westus3
          - swedencentral
          - chinanorth3
          - brazilsoutheast
          - eastus2euap
          - jioindiawest
          - jioindiacentral
          - qatarcentral
          - spaincentral
          - italynorth
          - polandcentral
          - mexicocentral
          - asia
          - asia_east1
          - asia_northeast1
          - asia_south1
          - asia_southeast1
          - australia_southeast1
          - europe
          - europe_north1
          - europe_west1
          - europe_west2
          - europe_west3
          - europe_west4
          - northamerica_northeast1
          - southamerica_east1
          - us
          - us_central1
          - us_east1
          - us_east4
          - us_west1
          - us_west2
          - global
          - asia_east2
          - eur4
          - nam4
          - europe_west6
          - japan_west
          - asia_northeast2
          - asia_northeast3
          - us_west3
          - us_west4
          - asia_southeast2
          - nam3
          - nam5
          - nam6
          - nam7
          - nam10
          - nam_eur_asia1
          - eur3
          - eur5
          - asia1
          - nam11
          - eu
          - northamerica_northeast2
          - southamerica_west1
          - us_east5
          - us_south1
          - europe_central2
          - europe_southwest1
          - europe_west8
          - europe_west9
          - europe_west10
          - europe_west12
          - asia_south2
          - australia_southeast2
          - me_central1
          - me_central2
          - me_west1
          - ap_sydney_1
          - ap_melbourne_1
          - sa_saopaulo_1
          - sa_vinhedo_1
          - ca_montreal_1
          - ca_toronto_1
          - sa_santiago_1
          - eu_paris_1
          - eu_marseille_1
          - eu_frankfurt_1
          - ap_hyderabad_1
          - ap_mumbai_1
          - il_jerusalem_1
          - eu_milan_1
          - ap_osaka_1
          - ap_tokyo_1
          - mx_queretaro_1
          - eu_amsterdam_1
          - me_jeddah_1
          - ap_singapore_1
          - af_johannesburg_1
          - ap_seoul_1
          - ap_chuncheon_1
          - eu_madrid_1
          - eu_stockholm_1
          - eu_zurich_1
          - me_abudhabi_1
          - me_dubai_1
          - uk_london_1
          - uk_cardiff_1
          - us_ashburn_1
          - us_phoenix_1
          - us_sanjose_1
          - us_gov_ashburn_1
          - us_gov_chicago_1
          - us_gov_phoenix_1
          - us_langley_1
          - us_luke_1
          - uk_gov_london_1
          - uk_gov_cardiff_1
          - sa_bogota_1
          - us_chicago_1
          - sa_valparaiso_1
          - mx_monterrey_1
          - eu_jovanovac_1
          - ap_singapore_2
          type: string
          readOnly: true
        arn:
          type: string
          readOnly: true
        encrypted:
          type: boolean
          readOnly: true
        encryptionType:
          type: string
          readOnly: true
        keyId:
          type: string
          readOnly: true
        enhancedMonitoring:
          type: array
          items:
            $ref: '#/components/schemas/Dome9.Web.Api.CloudKinesis.CloudKinesisEnhancedMetricsEnhancedMetricsViewModel'
          readOnly: true
        retentionPeriodHours:
          format: int32
          type: integer
          readOnly: true
        openShardCount:
          format: int32
          type: integer
          readOnly: true
        creationTimestamp:
          format: date-time
          type: string
          readOnly: true
        status:
          type: string
          readOnly: true
        tags:
          type: object
          additionalProperties:
            type: string
          readOnly: true
    Dome9.Web.Api.CloudKinesis.CloudKinesisEnhancedMetricsEnhancedMetricsViewModel:
      type: object
      properties:
        shardLevelMetrics:
          type: array
          items:
            type: string
          readOnly: true
    System.Collections.Generic.KeyValuePair_System.String_System.String_:
      type: object
      properties:
        key:
          type: string
          readOnly: true
        value:
          type: string
          readOnly: true
  securitySchemes:
    basic:
      type: http
      scheme: basic
security:
- basic: []
x-readme:
  explorer-enabled: true
  proxy-enabled: true
