{
 "info": {
  "title": "Onboarding",
  "version": "v2"
 },
 "openapi": "3.0.0",
 "servers": [
  {
   "url": "https://api.dome9.com/",
   "description": "US region"
  },
  {
   "url": "https://api.{region}.dome9.com/",
   "description": "Other regions",
   "variables": {
    "region": {
     "enum": [
      "eu1",
      "ap1",
      "ap2",
      "ap3",
      "cace1"
     ],
     "default": "eu1"
    }
   }
  }
 ],
 "paths": {
  "/v2/AlibabaCloudAccount/{id}/DeleteForce": {
   "delete": {
    "tags": [
     "Alibaba Cloud Account"
    ],
    "summary": "Delete Force",
    "operationId": "AlibabaCloudAccount_DeleteForceAsync_delete_/v2/AlibabaCloudAccount/{id}/DeleteForce",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "the Dome9 account id for the account or the Subscription id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "description": "Delete an Alibaba account from a Dome9 account (the Alibaba account is not deleted from Alibaba) and linked entities"
   }
  },
  "/v2/AlibabaCloudAccount/{cloudAccountId}/account-stats": {
   "get": {
    "tags": [
     "Alibaba Cloud Account"
    ],
    "summary": "Get Cloud Account Stats",
    "operationId": "AlibabaCloudAccount_GetCloudAccountStatsAsync_get_/v2/AlibabaCloudAccount/{cloudAccountId}/account-stats",
    "parameters": [
     {
      "name": "cloudAccountId",
      "in": "path",
      "description": "The Id of the Alibaba cloud account",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "withData",
      "in": "query",
      "description": "Include raw data of networks, security groups and vms, default = false",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Alibaba.Accounts.AlibabaAccountStatsViewModel"
        }
       }
      }
     }
    },
    "description": "Gets Cloud Account network statistics on cloud account page"
   }
  },
  "/v2/AlibabaCloudAccount/MissingPermissions": {
   "get": {
    "tags": [
     "Alibaba Cloud Account"
    ],
    "summary": "Get Missing Permissions",
    "operationId": "AlibabaCloudAccount_GetMissingPermissions_get_/v2/AlibabaCloudAccount/MissingPermissions",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Dome9.Web.Api.Shared.Permissions.CloudAccountMissingPermissionsViewModel"
         }
        }
       }
      }
     }
    },
    "description": "Get a list of missing permissions (needed by Dome9 to manage the accounts) for all Alibaba accounts in Dome9"
   }
  },
  "/v2/AlibabaCloudAccount/{id}/MissingPermissions": {
   "get": {
    "tags": [
     "Alibaba Cloud Account"
    ],
    "summary": "Get Missing Permissions",
    "operationId": "AlibabaCloudAccount_GetMissingPermissionsAsync_get_/v2/AlibabaCloudAccount/{id}/MissingPermissions",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "showIgnored",
      "in": "query",
      "description": "",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Shared.Permissions.CloudAccountMissingPermissionsIgnorableViewModel"
        }
       }
      }
     }
    },
    "description": "Get a list of missing permissions for a specific account. These permissions are needed by Dome9 to manage accounts."
   },
   "put": {
    "tags": [
     "Alibaba Cloud Account"
    ],
    "summary": "Update Ignorable Missing Permissions",
    "operationId": "AlibabaCloudAccount_UpdateIgnorableMissingPermissionsAsync_put_/v2/AlibabaCloudAccount/{id}/MissingPermissions",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "CloudAccountId",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Shared.Permissions.MissingPermissionsIgnorableUpdateViewModel"
        }
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Shared.Permissions.MissingPermissionsIgnorableUpdateViewModel"
        }
       }
      }
     },
     "description": "List of permissions to set ignore or restore flag to",
     "required": true
    },
    "description": "Get a list of missing permissions for a specific account. These are permissions needed by Dome9 to manage accounts."
   }
  },
  "/v2/AlibabaCloudAccount/{id}/MissingPermissions/EntityType": {
   "get": {
    "tags": [
     "Alibaba Cloud Account"
    ],
    "summary": "Get Missing Permissions By Entity Type",
    "operationId": "AlibabaCloudAccount_GetMissingPermissionsByEntityTypeAsync_get_/v2/AlibabaCloudAccount/{id}/MissingPermissions/EntityType",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Dome9 Alibaba Cloud Account Id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "entityType",
      "in": "query",
      "description": "The entity type for which to get permission issues",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "subType",
      "in": "query",
      "description": "",
      "required": false,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Dome9.Web.Api.Shared.Permissions.MissingPermissionViewModel"
         }
        }
       }
      }
     }
    },
    "description": "Get missing permissions for a specific entity type for a specific Alibaba Cloud account"
   }
  },
  "/v2/AlibabaCloudAccount/{id}/MissingPermissions/Reset": {
   "put": {
    "tags": [
     "Alibaba Cloud Account"
    ],
    "summary": "Reset Missing Permissions",
    "operationId": "AlibabaCloudAccount_ResetMissingPermissionsAsync_put_/v2/AlibabaCloudAccount/{id}/MissingPermissions/Reset",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "the account id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "description": "Reset (re-validate) a Alibaba Cloud account credentials in Dome9. \r\nWill cause all entities to retry fetching from the Alibaba cloud account."
   }
  },
  "/v2/AlibabaCloudAccount/{id}/AccountName": {
   "put": {
    "tags": [
     "Alibaba Cloud Account"
    ],
    "summary": "Update Account Name",
    "operationId": "AlibabaCloudAccount_UpdateAccountNameAsync_put_/v2/AlibabaCloudAccount/{id}/AccountName",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "the account id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Alibaba.Accounts.AlibabaCloudAccountGetViewModel"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Alibaba.Accounts.AlibabaAccountNameViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Alibaba.Accounts.AlibabaAccountNameViewModel"
       }
      }
     },
     "description": "the updated name as it will appear in Dome9",
     "required": true
    },
    "description": "Update a Alibaba Cloud account name (as it appears in Dome9)"
   }
  },
  "/v2/AlibabaCloudAccount/{id}/Credentials": {
   "put": {
    "tags": [
     "Alibaba Cloud Account"
    ],
    "operationId": "AlibabaCloudAccount_UpdateAlibabaCloudAccountCredentialsAsync_put_/v2/AlibabaCloudAccount/{id}/Credentials",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Alibaba.Accounts.AlibabaCloudAccountGetViewModel"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Alibaba.Accounts.AlibabaAccountCredentialsViewPostModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Alibaba.Accounts.AlibabaAccountCredentialsViewPostModel"
       }
      }
     },
     "required": true
    },
    "description": "",
    "summary": "Update Alibaba Cloud Account Credentials"
   }
  },
  "/v2/AlibabaCloudAccount/{id}/SyncNow": {
   "post": {
    "tags": [
     "Alibaba Cloud Account"
    ],
    "operationId": "AlibabaCloudAccount_SyncNow_post_/v2/AlibabaCloudAccount/{id}/SyncNow",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Alibaba.Accounts.AlibabaCloudAccountGetViewModel"
        }
       }
      }
     }
    },
    "description": "",
    "summary": "Sync Now"
   }
  },
  "/v2/AlibabaCloudAccount/{id}/organizationalUnit": {
   "put": {
    "tags": [
     "Alibaba Cloud Account"
    ],
    "summary": "Update Organizational Id",
    "operationId": "AlibabaCloudAccount_UpdateOrganizationalId_put_/v2/AlibabaCloudAccount/{id}/organizationalUnit",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Dome9 Guid ID of the Alibaba cloud account",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Alibaba.Accounts.AlibabaCloudAccountGetViewModel"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.BL.Std.Services.OrganizationalUnit.UpdateIdViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.BL.Std.Services.OrganizationalUnit.UpdateIdViewModel"
       }
      }
     },
     "description": "The Guid ID of the Organizational Unit to attach to. Use 'null' to attach to the root Organizational Unit",
     "required": true
    },
    "description": "Update the ID of the Organizational Unit that this cloud account will be attached to.\r\nUse 'null' for the root organizational unit"
   }
  },
  "/v2/AlibabaCloudAccount/organizationalUnit/move": {
   "put": {
    "tags": [
     "Alibaba Cloud Account"
    ],
    "summary": "Move Cloud Accounts To Organizational Unit",
    "operationId": "AlibabaCloudAccount_MoveCloudAccountsToOrganizationalUnit_put_/v2/AlibabaCloudAccount/organizationalUnit/move",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "requestBody": {
     "$ref": "#/components/requestBodies/Dome9.BL.Std.Services.OrganizationalUnit.MoveOrganizationalUnitViewModel"
    },
    "description": "Detach cloud accounts from an Organizational unit and attach them to another Organizational unit.\r\nUse 'null' for root organizational unit"
   }
  },
  "/v2/AlibabaCloudAccount/organizationalUnit/moveAll": {
   "put": {
    "tags": [
     "Alibaba Cloud Account"
    ],
    "summary": "Move All Cloud Accounts To Organizational Unit",
    "operationId": "AlibabaCloudAccount_MoveAllCloudAccountsToOrganizationalUnit_put_/v2/AlibabaCloudAccount/organizationalUnit/moveAll",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "requestBody": {
     "$ref": "#/components/requestBodies/Dome9.BL.Std.Services.OrganizationalUnit.UpdateIdViewModel2"
    },
    "description": "Detach all cloud accounts from their current organizational unit and attach them to a new one. Default is to root organizational unit"
   }
  },
  "/v2/AlibabaCloudAccount/organizationalUnit/attach": {
   "post": {
    "tags": [
     "Alibaba Cloud Account"
    ],
    "summary": "Post Attach Multi",
    "operationId": "AlibabaCloudAccount_PostAttachMulti_post_/v2/AlibabaCloudAccount/organizationalUnit/attach",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "requestBody": {
     "$ref": "#/components/requestBodies/Dome9.BL.Std.Services.OrganizationalUnit.AttachCloudAccountsViewModel"
    },
    "description": "Attach several cloud accounts to a specific Organizational Unit. User 'null' as root Organizational Unit as target"
   }
  },
  "/v2/AlibabaCloudAccount": {
   "get": {
    "tags": [
     "Alibaba Cloud Account"
    ],
    "summary": "Get",
    "operationId": "AlibabaCloudAccount_Get_get_/v2/AlibabaCloudAccount",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Dome9.Web.Api.Alibaba.Accounts.AlibabaCloudAccountGetViewModel"
         }
        }
       }
      }
     }
    },
    "description": "Get a list of all Alibaba cloud accounts"
   },
   "post": {
    "tags": [
     "Alibaba Cloud Account"
    ],
    "summary": "Post",
    "operationId": "AlibabaCloudAccount_Post_post_/v2/AlibabaCloudAccount",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Alibaba.Accounts.AlibabaCloudAccountGetViewModel"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Alibaba.Accounts.AlibabaCloudAccountPostViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Alibaba.Accounts.AlibabaCloudAccountPostViewModel"
       }
      }
     },
     "description": "details for the new account",
     "required": true
    },
    "description": "Add (onboard) a new Alibaba cloud account to Dome9"
   }
  },
  "/v2/AlibabaCloudAccount/{id}": {
   "get": {
    "tags": [
     "Alibaba Cloud Account"
    ],
    "summary": "Get",
    "operationId": "AlibabaCloudAccount_Get_get_/v2/AlibabaCloudAccount/{id}",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "the Alibaba cloud account id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Alibaba.Accounts.AlibabaCloudAccountGetViewModel"
        }
       }
      }
     }
    },
    "description": "Get details for a specific Alibaba Cloud Account"
   },
   "delete": {
    "tags": [
     "Alibaba Cloud Account"
    ],
    "summary": "Delete",
    "operationId": "AlibabaCloudAccount_Delete_delete_/v2/AlibabaCloudAccount/{id}",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "the Dome9 account id for the account or the Subscription id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "description": "Delete an Alibaba account from a Dome9 account (the Alibaba account is not deleted from Alibaba)"
   }
  },
  "/v2/cloudaccounts/{id}/DeleteForce": {
   "delete": {
    "tags": [
     "Aws  Cloud  Account"
    ],
    "summary": "Delete Force",
    "operationId": "CloudAccounts_DeleteForce_delete_/v2/cloudaccounts/{id}/DeleteForce",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Dome9 AWS account id (UUID)",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "description": "Delete an AWS cloud account and linked entities."
   }
  },
  "/v2/cloudaccounts/name": {
   "put": {
    "tags": [
     "Aws  Cloud  Account"
    ],
    "summary": "Update Cloud Account Name",
    "operationId": "CloudAccounts_UpdateCloudAccountName_put_/v2/cloudaccounts/name",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Models.CloudAccountPartialUpdateViewModel_System.String_"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Models.CloudAccountPartialUpdateViewModel_System.String_"
       }
      }
     },
     "description": "the new name for the account",
     "required": true
    },
    "description": "Update an AWS cloud account name."
   }
  },
  "/v2/cloudaccounts/region-conf": {
   "put": {
    "tags": [
     "Aws  Cloud  Account"
    ],
    "summary": "Update Cloud Account Region Conf",
    "operationId": "CloudAccounts_UpdateCloudAccountRegionConf_put_/v2/cloudaccounts/region-conf",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Models.CloudAccountPartialUpdateViewModel_Dome9.Web.Api.Models.CloudAccountRegionConfigurationViewModel_"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Models.CloudAccountPartialUpdateViewModel_Dome9.Web.Api.Models.CloudAccountRegionConfigurationViewModel_"
       }
      }
     },
     "description": "updated Regional Configuration parameters for the account",
     "required": true
    },
    "description": "Update an AWS cloud account region configuration."
   }
  },
  "/v2/cloudaccounts/credentials": {
   "put": {
    "tags": [
     "Aws  Cloud  Account"
    ],
    "summary": "Update Cloud Account Credentials",
    "operationId": "CloudAccounts_UpdateCloudAccountCredentials_put_/v2/cloudaccounts/credentials",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Models.CloudAccountPartialUpdateViewModel_Dome9.Web.Api.Models.CloudAccountCredentialsViewModel_"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Models.CloudAccountPartialUpdateViewModel_Dome9.Web.Api.Models.CloudAccountCredentialsViewModel_"
       }
      }
     },
     "description": "credentials block",
     "required": true
    },
    "description": "Update credentials for an AWS cloud account in Dome9.\r\nAt least one of the following properties must be provided: \"cloudAccountId\", \"externalAccountNumber\""
   }
  },
  "/v2/cloudaccounts/MissingPermissions": {
   "get": {
    "tags": [
     "Aws  Cloud  Account"
    ],
    "summary": "Get Missing Permissions",
    "operationId": "CloudAccounts_GetMissingPermissionsAsync_get_/v2/cloudaccounts/MissingPermissions",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Dome9.Web.Api.Shared.Permissions.CloudAccountMissingPermissionsViewModel"
         }
        }
       }
      }
     }
    },
    "description": "Get a list of missing permissions for all accounts. These are permissions needed by Dome9 to manage accounts."
   }
  },
  "/v2/cloudaccounts/{id}/MissingPermissions": {
   "get": {
    "tags": [
     "Aws  Cloud  Account"
    ],
    "summary": "Get Missing Permissions",
    "operationId": "CloudAccounts_GetMissingPermissionsAsync_get_/v2/cloudaccounts/{id}/MissingPermissions",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "showIgnored",
      "in": "query",
      "description": "",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Shared.Permissions.CloudAccountMissingPermissionsIgnorableViewModel"
        }
       }
      }
     }
    },
    "description": "Get a list of missing permissions for a specific account. These permissions are needed by Dome9 to manage accounts."
   },
   "put": {
    "tags": [
     "Aws  Cloud  Account"
    ],
    "summary": "Update Ignorable Missing Permissions",
    "operationId": "CloudAccounts_UpdateIgnorableMissingPermissionsAsync_put_/v2/cloudaccounts/{id}/MissingPermissions",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "CloudAccountId",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Shared.Permissions.MissingPermissionsIgnorableUpdateViewModel"
        }
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Shared.Permissions.MissingPermissionsIgnorableUpdateViewModel"
        }
       }
      }
     },
     "description": "List of permissions to set ignore or restore flag to",
     "required": true
    },
    "description": "Get a list of missing permissions for a specific account. These are permissions needed by Dome9 to manage accounts."
   }
  },
  "/v2/cloudaccounts/{id}/MissingPermissions/EntityType": {
   "get": {
    "tags": [
     "Aws  Cloud  Account"
    ],
    "summary": "Get Missing Permissions By Entity Type",
    "operationId": "CloudAccounts_GetMissingPermissionsByEntityTypeAsync_get_/v2/cloudaccounts/{id}/MissingPermissions/EntityType",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The account id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "entityType",
      "in": "query",
      "description": "The entity type",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "subType",
      "in": "query",
      "description": "The entity subtype (optional)",
      "required": false,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Dome9.Web.Api.Shared.Permissions.MissingPermissionViewModel"
         }
        }
       }
      }
     }
    },
    "description": "Get a list of missing permissions for a specific cloud entity type and cloud account"
   }
  },
  "/v2/cloudaccounts/{id}/CloudAccountHasAssumeRolePermissionIssue": {
   "get": {
    "tags": [
     "Aws  Cloud  Account"
    ],
    "summary": "Cloud Account Has Assume Role Permission Issue",
    "operationId": "CloudAccounts_CloudAccountHasAssumeRolePermissionIssueAsync_get_/v2/cloudaccounts/{id}/CloudAccountHasAssumeRolePermissionIssue",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The account id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "boolean"
        }
       }
      }
     }
    },
    "description": "check if the cloud account's role has permission issues or was deleted"
   }
  },
  "/v2/cloudaccounts/{id}/MissingPermissions/Reset": {
   "put": {
    "tags": [
     "Aws  Cloud  Account"
    ],
    "summary": "Reset Missing Permissions",
    "operationId": "CloudAccounts_ResetMissingPermissionsAsync_put_/v2/cloudaccounts/{id}/MissingPermissions/Reset",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The account id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "description": "reset (re-validate) an account"
   }
  },
  "/v2/cloudaccounts/{id}/SyncNow": {
   "post": {
    "tags": [
     "Aws  Cloud  Account"
    ],
    "summary": "Sync Now",
    "operationId": "CloudAccounts_SyncNow_post_/v2/cloudaccounts/{id}/SyncNow",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The account id.",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Models.AwsSyncNowResultViewModel"
        }
       }
      }
     }
    },
    "description": "Send a data sync command to immediately fetch cloud account data into Dome9's system caches.\r\nThis API is used in conjunction with EntityFetchStatus API resource to query the fetch status.\r\nRead more and see a full example here: https://github.com/Dome9/Python_API_SDK/blob/master/implementation/runSyncAssessment.md"
   }
  },
  "/v2/cloudaccounts/{id}/organizationalUnit": {
   "put": {
    "tags": [
     "Aws  Cloud  Account"
    ],
    "summary": "Update Organizational Id",
    "operationId": "CloudAccounts_UpdateOrganizationalId_put_/v2/cloudaccounts/{id}/organizationalUnit",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Dome9 Guid ID of the AWS cloud account",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Models.CloudAccountViewModel"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.BL.Std.Services.OrganizationalUnit.UpdateIdViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.BL.Std.Services.OrganizationalUnit.UpdateIdViewModel"
       }
      }
     },
     "description": "The Guid ID of the Organizational Unit to attach to. Use 'null' to attach to the root Organizational Unit",
     "required": true
    },
    "description": "Update the ID of the Organizational Unit that this cloud account will be attached to.\r\nUse 'null' for the root Organizational Unit"
   }
  },
  "/v2/cloudaccounts/organizationalUnit/move": {
   "put": {
    "tags": [
     "Aws  Cloud  Account"
    ],
    "summary": "Move Cloud Accounts To Organizational Unit",
    "operationId": "CloudAccounts_MoveCloudAccountsToOrganizationalUnit_put_/v2/cloudaccounts/organizationalUnit/move",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "requestBody": {
     "$ref": "#/components/requestBodies/Dome9.BL.Std.Services.OrganizationalUnit.MoveOrganizationalUnitViewModel2"
    },
    "description": "Detach cloud accounts from an Organizational unit and attach them to another Organizational unit\r\nUse 'null' for root organizational unit"
   }
  },
  "/v2/cloudaccounts/organizationalUnit/moveAll": {
   "put": {
    "tags": [
     "Aws  Cloud  Account"
    ],
    "summary": "Move All Cloud Accounts To Organizational Unit",
    "operationId": "CloudAccounts_MoveAllCloudAccountsToOrganizationalUnit_put_/v2/cloudaccounts/organizationalUnit/moveAll",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "requestBody": {
     "$ref": "#/components/requestBodies/Dome9.BL.Std.Services.OrganizationalUnit.UpdateIdViewModel2"
    },
    "description": "Detach all cloud accounts from their current organizational unit and attach them to a new one. Default is to root organizational unit"
   }
  },
  "/v2/cloudaccounts/organizationalUnit/attach": {
   "post": {
    "tags": [
     "Aws  Cloud  Account"
    ],
    "summary": "Post Attach Multi",
    "operationId": "CloudAccounts_PostAttachMulti_post_/v2/cloudaccounts/organizationalUnit/attach",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "requestBody": {
     "$ref": "#/components/requestBodies/Dome9.BL.Std.Services.OrganizationalUnit.AttachCloudAccountsViewModel"
    },
    "description": "Attach several cloud accounts to a specific Organizational Unit. User 'null' as root Organizational Unit as target"
   }
  },
  "/v2/CloudAccounts": {
   "get": {
    "tags": [
     "Aws  Cloud  Account"
    ],
    "summary": "Get",
    "operationId": "CloudAccounts_Get_get_/v2/CloudAccounts",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Dome9.Web.Api.Models.CloudAccountViewModel"
         }
        }
       }
      }
     }
    },
    "description": "Get all AWS cloud accounts"
   },
   "post": {
    "tags": [
     "Aws  Cloud  Account"
    ],
    "summary": "Post",
    "operationId": "CloudAccounts_Post_post_/v2/CloudAccounts",
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Models.CloudAccountViewModel"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Models.CloudAccountViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Models.CloudAccountViewModel"
       }
      }
     },
     "description": "The new AWS account data",
     "required": true
    },
    "description": "Add a new AWS cloud account to CloudGuard <br />\r\nOnboarding an AWS cloud account manually (legacy method) requires CloudGuard to obtain permissions to access the account.<br />\r\nFor more information, see the procedure on the onboarding with API on the Secure Knowledge center:<br /><a href=\"https://support.checkpoint.com/results/sk/sk147832\">How to onboard an AWS account to CloudGuard using the REST API</a>"
   }
  },
  "/v2/CloudAccounts/{id}": {
   "get": {
    "tags": [
     "Aws  Cloud  Account"
    ],
    "summary": "Get",
    "operationId": "CloudAccounts_Get_get_/v2/CloudAccounts/{id}",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Dome9 AWS account id (UUID) or the AWS external account number (12 digit number)",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Models.CloudAccountViewModel"
        }
       }
      }
     }
    },
    "description": "Fetch a specific AWS cloud account"
   },
   "delete": {
    "tags": [
     "Aws  Cloud  Account"
    ],
    "summary": "Delete",
    "operationId": "CloudAccounts_Delete_delete_/v2/CloudAccounts/{id}",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Dome9 AWS account id (UUID)",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "description": "Delete an AWS cloud account."
   }
  },
  "/v2/AwsUnifiedOnboarding/StackConfig": {
   "post": {
    "tags": [
     "Aws Unified Onboarding"
    ],
    "summary": "Get Stack Config",
    "operationId": "AwsUnifiedOnboarding_GetStackConfig_post_/v2/AwsUnifiedOnboarding/StackConfig",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Onboarding.ViewModel.AwsStackConfigViewModel"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Onboarding.Requests.OnboardingConfigurationRequest"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Onboarding.Requests.OnboardingConfigurationRequest"
       }
      }
     },
     "required": true
    },
    "description": "Returns the configuration should be set to the AWS cloud formation SDK for creating the Stack for the onboarding"
   }
  },
  "/v2/AwsUnifiedOnboarding/UpdateVersion/StackConfig/{onboardingId}": {
   "get": {
    "tags": [
     "Aws Unified Onboarding"
    ],
    "summary": "Get Update Stack Config",
    "operationId": "AwsUnifiedOnboarding_GetUpdateStackConfig_get_/v2/AwsUnifiedOnboarding/UpdateVersion/StackConfig/{onboardingId}",
    "parameters": [
     {
      "name": "onboardingId",
      "in": "path",
      "description": "the OnboardingId",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Onboarding.ViewModel.AwsStackConfigViewModel"
        }
       }
      }
     }
    },
    "description": "Returns the configuration should be set to the AWS cloud formation SDK for an update"
   }
  },
  "/v2/AwsUnifiedOnboarding/{id}": {
   "get": {
    "tags": [
     "Aws Unified Onboarding"
    ],
    "summary": "Get",
    "operationId": "AwsUnifiedOnboarding_Get_get_/v2/AwsUnifiedOnboarding/{id}",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Onboarding.ViewModel.OnboardingInfoViewModel"
        }
       }
      }
     }
    },
    "description": "Gets the Onboarding information"
   }
  },
  "/v2/AzureCloudAccount/{id}/DeleteForce": {
   "delete": {
    "tags": [
     "Azure Cloud Account"
    ],
    "summary": "Delete Force",
    "operationId": "AzureCloudAccount_DeleteForce_delete_/v2/AzureCloudAccount/{id}/DeleteForce",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "the Dome9 account id for the account or the Subscription id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "description": "Delete an Azure account from a Dome9 account (the Azure account is not deleted from Azure) and linked entities"
   }
  },
  "/v2/AzureCloudAccount/OnboardingExecutionPreview": {
   "get": {
    "tags": [
     "Azure Cloud Account"
    ],
    "summary": "Get Onboarding Script For Preview",
    "operationId": "AzureCloudAccount_GetOnboardingScriptForPreviewAsync_get_/v2/AzureCloudAccount/OnboardingExecutionPreview",
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "description": "Get the script that performs Azure account onboarding"
   }
  },
  "/v2/AzureCloudAccount/OnboardingExecutionCommand": {
   "post": {
    "tags": [
     "Azure Cloud Account"
    ],
    "summary": "Generate Onboarding Execution Command",
    "operationId": "AzureCloudAccount_GenerateOnboardingExecutionCommand_post_/v2/AzureCloudAccount/OnboardingExecutionCommand",
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/CGN.Common.Model.CloudAccounts.Onboarding.AzureSimplifiedOnboardingExecCmdRequest"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/CGN.Common.Model.CloudAccounts.Onboarding.AzureSimplifiedOnboardingExecCmdRequest"
       }
      }
     },
     "required": true
    },
    "description": "Get the cloud account command line execution for Azure shell\r\n<param name=\"requestModel\">Details for Azure cloud account.</param>"
   }
  },
  "/v2/AzureCloudAccount/MissingPermissions": {
   "get": {
    "tags": [
     "Azure Cloud Account"
    ],
    "summary": "Get Missing Permissions",
    "operationId": "AzureCloudAccount_GetMissingPermissions_get_/v2/AzureCloudAccount/MissingPermissions",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Dome9.Web.Api.Shared.Permissions.CloudAccountMissingPermissionsViewModel"
         }
        }
       }
      }
     }
    },
    "description": "Get a list of missing permissions (required by Dome9) for all Azure accounts in a Dome9 account"
   }
  },
  "/v2/AzureCloudAccount/{id}/MissingPermissions": {
   "get": {
    "tags": [
     "Azure Cloud Account"
    ],
    "summary": "Get Missing Permissions",
    "operationId": "AzureCloudAccount_GetMissingPermissionsAsync_get_/v2/AzureCloudAccount/{id}/MissingPermissions",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "showIgnored",
      "in": "query",
      "description": "",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Shared.Permissions.CloudAccountMissingPermissionsIgnorableViewModel"
        }
       }
      }
     }
    },
    "description": "Get a list of missing permissions for a specific account. These permissions are needed by Dome9 to manage accounts."
   },
   "put": {
    "tags": [
     "Azure Cloud Account"
    ],
    "summary": "Update Ignorable Missing Permissions",
    "operationId": "AzureCloudAccount_UpdateIgnorableMissingPermissionsAsync_put_/v2/AzureCloudAccount/{id}/MissingPermissions",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "CloudAccountId",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Shared.Permissions.MissingPermissionsIgnorableUpdateViewModel"
        }
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Shared.Permissions.MissingPermissionsIgnorableUpdateViewModel"
        }
       }
      }
     },
     "description": "List of permissions to set ignore or restore flag to",
     "required": true
    },
    "description": "Get a list of missing permissions for a specific account. These are permissions needed by Dome9 to manage accounts."
   }
  },
  "/v2/AzureCloudAccount/{id}/MissingPermissions/EntityType": {
   "get": {
    "tags": [
     "Azure Cloud Account"
    ],
    "summary": "Get Missing Permissions By Entity Type",
    "operationId": "AzureCloudAccount_GetMissingPermissionsByEntityTypeAsync_get_/v2/AzureCloudAccount/{id}/MissingPermissions/EntityType",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "the account id for the Azure account in Dome9",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "entityType",
      "in": "query",
      "description": "the entity type",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "subType",
      "in": "query",
      "description": "the entity subtype",
      "required": false,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Dome9.Web.Api.Shared.Permissions.MissingPermissionViewModel"
         }
        }
       }
      }
     }
    },
    "description": "Get a list of missing permissions for a specific cloud entity type and Azure cloud account"
   }
  },
  "/v2/AzureCloudAccount/{id}/MissingPermissions/Reset": {
   "put": {
    "tags": [
     "Azure Cloud Account"
    ],
    "summary": "Reset Missing Permissions",
    "operationId": "AzureCloudAccount_ResetMissingPermissions_put_/v2/AzureCloudAccount/{id}/MissingPermissions/Reset",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "the account id for the Azure account in Dome9",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "description": "Reset (re-validate) the missing permissions indication for an Azure account in Dome9"
   }
  },
  "/v2/AzureCloudAccount/{id}/OperationMode": {
   "put": {
    "tags": [
     "Azure Cloud Account"
    ],
    "summary": "Update Operation Mode",
    "operationId": "AzureCloudAccount_UpdateOperationModeAsync_put_/v2/AzureCloudAccount/{id}/OperationMode",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "the account id for the Azure account in Dome9",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Models.AzureCloudAccountViewModel"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Azure.Accounts.AzureAccountOperationModeViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Azure.Accounts.AzureAccountOperationModeViewModel"
       }
      }
     },
     "description": "updated details for the account, including the operations mode",
     "required": true
    },
    "description": "Update the operations mode for an Azure account in Dome9. Modes can be Read-Only or Manage"
   }
  },
  "/v2/AzureCloudAccount/{id}/AccountName": {
   "put": {
    "tags": [
     "Azure Cloud Account"
    ],
    "summary": "Update Account Name",
    "operationId": "AzureCloudAccount_UpdateAccountName_put_/v2/AzureCloudAccount/{id}/AccountName",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "the account id in Dome9",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Models.AzureCloudAccountViewModel"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Azure.Accounts.AzureAccountNameModeViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Azure.Accounts.AzureAccountNameModeViewModel"
       }
      }
     },
     "description": "the new name for the account",
     "required": true
    },
    "description": "Update the account name (in Dome9) for an Azure account"
   }
  },
  "/v2/AzureCloudAccount/{id}/Credentials": {
   "put": {
    "tags": [
     "Azure Cloud Account"
    ],
    "operationId": "AzureCloudAccount_UpdateCloudAccountCredentials_put_/v2/AzureCloudAccount/{id}/Credentials",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Azure.Accounts.AzureCloudAccountCredentialsPutViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Azure.Accounts.AzureCloudAccountCredentialsPutViewModel"
       }
      }
     },
     "required": true
    },
    "description": "",
    "summary": "Update Cloud Account Credentials"
   }
  },
  "/v2/AzureCloudAccount/{id}/SyncNow": {
   "post": {
    "tags": [
     "Azure Cloud Account"
    ],
    "operationId": "AzureCloudAccount_SyncNow_post_/v2/AzureCloudAccount/{id}/SyncNow",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Models.AzureCloudAccountViewModel"
        }
       }
      }
     }
    },
    "description": "",
    "summary": "Sync Now"
   }
  },
  "/v2/AzureCloudAccount/{id}/CredentialsServicePrincipalId": {
   "get": {
    "tags": [
     "Azure Cloud Account"
    ],
    "operationId": "AzureCloudAccount_GetCredentialsServicePrincipalIdAsync_get_/v2/AzureCloudAccount/{id}/CredentialsServicePrincipalId",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "string"
        }
       }
      }
     }
    },
    "description": "",
    "summary": "Get Credentials Service Principal Id"
   }
  },
  "/v2/AzureCloudAccount/{id}/organizationalUnit": {
   "put": {
    "tags": [
     "Azure Cloud Account"
    ],
    "summary": "Update Organizational Id",
    "operationId": "AzureCloudAccount_UpdateOrganizationalId_put_/v2/AzureCloudAccount/{id}/organizationalUnit",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Dome9 Guid ID of the Azure cloud account",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Models.AzureCloudAccountViewModel"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.BL.Std.Services.OrganizationalUnit.UpdateIdViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.BL.Std.Services.OrganizationalUnit.UpdateIdViewModel"
       }
      }
     },
     "description": "The Guid ID of the Organizational Unit to attach to. Use 'null' to attach to the root Organizational Unit",
     "required": true
    },
    "description": "Update the ID of the Organizational Unit that this cloud account will be attached to.\r\nUse 'null' for the root organizational unit"
   }
  },
  "/v2/AzureCloudAccount/organizationalUnit/move": {
   "put": {
    "tags": [
     "Azure Cloud Account"
    ],
    "summary": "Move Cloud Accounts To Organizational Unit",
    "operationId": "AzureCloudAccount_MoveCloudAccountsToOrganizationalUnit_put_/v2/AzureCloudAccount/organizationalUnit/move",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "requestBody": {
     "$ref": "#/components/requestBodies/Dome9.BL.Std.Services.OrganizationalUnit.MoveOrganizationalUnitViewModel"
    },
    "description": "Detach cloud accounts from an Organizational unit and attach them to another Organizational unit.\r\nUse 'null' for root organizational unit"
   }
  },
  "/v2/AzureCloudAccount/organizationalUnit/moveAll": {
   "put": {
    "tags": [
     "Azure Cloud Account"
    ],
    "summary": "Move All Cloud Accounts To Organizational Unit",
    "operationId": "AzureCloudAccount_MoveAllCloudAccountsToOrganizationalUnit_put_/v2/AzureCloudAccount/organizationalUnit/moveAll",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "requestBody": {
     "$ref": "#/components/requestBodies/Dome9.BL.Std.Services.OrganizationalUnit.UpdateIdViewModel2"
    },
    "description": "Detach all cloud accounts from their current organizational unit and attach them to a new one. Default is to root organizational unit"
   }
  },
  "/v2/AzureCloudAccount/organizationalUnit/attach": {
   "post": {
    "tags": [
     "Azure Cloud Account"
    ],
    "summary": "Post Attach Multi",
    "operationId": "AzureCloudAccount_PostAttachMulti_post_/v2/AzureCloudAccount/organizationalUnit/attach",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "requestBody": {
     "$ref": "#/components/requestBodies/Dome9.BL.Std.Services.OrganizationalUnit.AttachCloudAccountsViewModel"
    },
    "description": "Attach several cloud accounts to a specific Organizational Unit. User 'null' as root Organizational Unit as target"
   }
  },
  "/v2/AzureCloudAccount/{id}": {
   "get": {
    "tags": [
     "Azure Cloud Account"
    ],
    "summary": "Get",
    "operationId": "AzureCloudAccount_Get_get_/v2/AzureCloudAccount/{id}",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "the Dome9 account id for the Azure account",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Models.AzureCloudAccountViewModel"
        }
       }
      }
     }
    },
    "description": "Get details for a specific Azure account"
   },
   "delete": {
    "tags": [
     "Azure Cloud Account"
    ],
    "summary": "Delete",
    "operationId": "AzureCloudAccount_Delete_delete_/v2/AzureCloudAccount/{id}",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "the Dome9 account id for the account or the Subscription id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "description": "Delete an Azure account from a Dome9 account (the Azure account is not deleted from Azure)"
   }
  },
  "/v2/AzureCloudAccount": {
   "get": {
    "tags": [
     "Azure Cloud Account"
    ],
    "summary": "Get",
    "operationId": "AzureCloudAccount_Get_get_/v2/AzureCloudAccount",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Dome9.Web.Api.Models.AzureCloudAccountViewModel"
         }
        }
       }
      }
     }
    },
    "description": "Get details for all Azure accounts for the Dome9 user"
   },
   "post": {
    "tags": [
     "Azure Cloud Account"
    ],
    "summary": "Post",
    "operationId": "AzureCloudAccount_Post_post_/v2/AzureCloudAccount",
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Models.AzureCloudAccountViewModel"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Models.AzureCloudAccountViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Models.AzureCloudAccountViewModel"
       }
      }
     },
     "description": "details for the Azure account",
     "required": true
    },
    "description": "Add (onboard) an Azure account to the user's Dome9 account"
   }
  },
  "/v2/GoogleCloudAccount/{id}/DeleteForce": {
   "delete": {
    "tags": [
     "Google Cloud Account"
    ],
    "summary": "Delete Force",
    "operationId": "GoogleCloudAccount_DeleteForce_delete_/v2/GoogleCloudAccount/{id}/DeleteForce",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Id of the Google cloud account",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "description": "Delete a Google cloud account (from Dome9) and linked entities"
   }
  },
  "/v2/GoogleCloudAccount/{id}/DeleteGsuite": {
   "put": {
    "tags": [
     "Google Cloud Account"
    ],
    "summary": "Delete Gsuite",
    "operationId": "GoogleCloudAccount_DeleteGsuite_put_/v2/GoogleCloudAccount/{id}/DeleteGsuite",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Id of the Google cloud account",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "description": "Delete a Google cloud Gsuite account Only"
   }
  },
  "/v2/GoogleCloudAccount/{id}/details": {
   "get": {
    "tags": [
     "Google Cloud Account"
    ],
    "operationId": "GoogleCloudAccount_GetCloudAccountDetailsAsync_get_/v2/GoogleCloudAccount/{id}/details",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Google.Accounts.GoogleAccountOnboardingDetailsViewModel"
        }
       }
      }
     }
    },
    "description": "",
    "summary": "Get Cloud Account Details"
   }
  },
  "/v2/GoogleCloudAccount/{cloudAccountId}/account-stats": {
   "get": {
    "tags": [
     "Google Cloud Account"
    ],
    "summary": "Get Cloud Account Stats",
    "operationId": "GoogleCloudAccount_GetCloudAccountStats_get_/v2/GoogleCloudAccount/{cloudAccountId}/account-stats",
    "parameters": [
     {
      "name": "cloudAccountId",
      "in": "path",
      "description": "The Id of the Google cloud account",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "withData",
      "in": "query",
      "description": "Include raw data of networks, security groups and vms, default = false",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Google.Accounts.GoogleAccountStatsViewModel"
        }
       }
      }
     }
    },
    "description": "Gets Cloud Account network statistics on cloud account page"
   }
  },
  "/v2/GoogleCloudAccount/MissingPermissions": {
   "get": {
    "tags": [
     "Google Cloud Account"
    ],
    "summary": "Get Missing Permissions",
    "operationId": "GoogleCloudAccount_GetMissingPermissions_get_/v2/GoogleCloudAccount/MissingPermissions",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Dome9.Web.Api.Shared.Permissions.CloudAccountMissingPermissionsViewModel"
         }
        }
       }
      }
     }
    },
    "description": "Get a list of missing permissions (needed by Dome9 to manage the accounts) for all Google accounts in Dome9"
   }
  },
  "/v2/GoogleCloudAccount/{id}/MissingPermissions": {
   "get": {
    "tags": [
     "Google Cloud Account"
    ],
    "summary": "Get Missing Permissions",
    "operationId": "GoogleCloudAccount_GetMissingPermissionsAsync_get_/v2/GoogleCloudAccount/{id}/MissingPermissions",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "showIgnored",
      "in": "query",
      "description": "",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Shared.Permissions.CloudAccountMissingPermissionsIgnorableViewModel"
        }
       }
      }
     }
    },
    "description": "Get a list of missing permissions for a specific account. These permissions needed by Dome9 to manage accounts."
   },
   "put": {
    "tags": [
     "Google Cloud Account"
    ],
    "summary": "Update Ignorable Missing Permissions",
    "operationId": "GoogleCloudAccount_UpdateIgnorableMissingPermissionsAsync_put_/v2/GoogleCloudAccount/{id}/MissingPermissions",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "CloudAccountId",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Shared.Permissions.MissingPermissionsIgnorableUpdateViewModel"
        }
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Shared.Permissions.MissingPermissionsIgnorableUpdateViewModel"
        }
       }
      }
     },
     "description": "List of permissions to set ignore or restore flag to",
     "required": true
    },
    "description": "Get a list of missing permissions for a specific account. These are permissions needed by Dome9 to manage accounts."
   }
  },
  "/v2/GoogleCloudAccount/{id}/MissingPermissions/EntityType": {
   "get": {
    "tags": [
     "Google Cloud Account"
    ],
    "summary": "Get Missing Permissions By Entity Type",
    "operationId": "GoogleCloudAccount_GetMissingPermissionsByEntityTypeAsync_get_/v2/GoogleCloudAccount/{id}/MissingPermissions/EntityType",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Dome9 Google Cloud Account Id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "entityType",
      "in": "query",
      "description": "The entity type for which to get permission issues",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "subType",
      "in": "query",
      "description": "",
      "required": false,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Dome9.Web.Api.Shared.Permissions.MissingPermissionViewModel"
         }
        }
       }
      }
     }
    },
    "description": "Get missing permissions for a specific entity type for a specific Google Cloud account"
   }
  },
  "/v2/GoogleCloudAccount/{id}/MissingPermissions/Reset": {
   "put": {
    "tags": [
     "Google Cloud Account"
    ],
    "summary": "Reset Missing Permissions",
    "operationId": "GoogleCloudAccount_ResetMissingPermissionsAsync_put_/v2/GoogleCloudAccount/{id}/MissingPermissions/Reset",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "the account id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "description": "Reset (re-validate) a Google Cloud account credentials in Dome9. \r\nWill cause all entities to retry fetching from the Google cloud account."
   }
  },
  "/v2/GoogleCloudAccount/{id}/AccountName": {
   "put": {
    "tags": [
     "Google Cloud Account"
    ],
    "summary": "Update Account Name",
    "operationId": "GoogleCloudAccount_UpdateAccountName_put_/v2/GoogleCloudAccount/{id}/AccountName",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "the account id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Google.Accounts.GoogleCloudAccountGetViewModel"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Google.Accounts.GoogleAccountNameViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Google.Accounts.GoogleAccountNameViewModel"
       }
      }
     },
     "description": "the updated name as it will appear in Dome9",
     "required": true
    },
    "description": "Update a Google Cloud account name (as it appears in Dome9)"
   }
  },
  "/v2/GoogleCloudAccount/{id}/Credentials/Gsuite": {
   "put": {
    "tags": [
     "Google Cloud Account"
    ],
    "summary": "Update Account Gsuite",
    "operationId": "GoogleCloudAccount_UpdateAccountGsuite_put_/v2/GoogleCloudAccount/{id}/Credentials/Gsuite",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "the account id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Google.Accounts.GoogleCloudAccountGetViewModel"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Google.Accounts.GoogleAccountGsuiteViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Google.Accounts.GoogleAccountGsuiteViewModel"
       }
      }
     },
     "description": "the updated Gsuite as it will uses in Dome9",
     "required": true
    },
    "description": "Update a Google Cloud account Gsuite data"
   }
  },
  "/v2/GoogleCloudAccount/{id}/Credentials": {
   "put": {
    "tags": [
     "Google Cloud Account"
    ],
    "operationId": "GoogleCloudAccount_UpdateGoogleCloudAccountCredentials_put_/v2/GoogleCloudAccount/{id}/Credentials",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "skipComputeValidation",
      "in": "query",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Google.Accounts.GoogleCloudAccountGetViewModel"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Google.Accounts.GoogleCloudAccountUpdateViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Google.Accounts.GoogleCloudAccountUpdateViewModel"
       }
      }
     },
     "required": true
    },
    "description": "",
    "summary": "Update Google Cloud Account Credentials"
   }
  },
  "/v2/GoogleCloudAccount/{id}/SyncNow": {
   "post": {
    "tags": [
     "Google Cloud Account"
    ],
    "operationId": "GoogleCloudAccount_SyncNow_post_/v2/GoogleCloudAccount/{id}/SyncNow",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Google.Accounts.GoogleCloudAccountGetViewModel"
        }
       }
      }
     }
    },
    "description": "",
    "summary": "Sync Now"
   }
  },
  "/v2/GoogleCloudAccount/{id}/organizationalUnit": {
   "put": {
    "tags": [
     "Google Cloud Account"
    ],
    "summary": "Update Organizational Id",
    "operationId": "GoogleCloudAccount_UpdateOrganizationalId_put_/v2/GoogleCloudAccount/{id}/organizationalUnit",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Dome9 Guid ID of the GCP cloud account",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Google.Accounts.GoogleCloudAccountGetViewModel"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.BL.Std.Services.OrganizationalUnit.UpdateIdViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.BL.Std.Services.OrganizationalUnit.UpdateIdViewModel"
       }
      }
     },
     "description": "The Guid ID of the Organizational Unit to attach to. Use 'null'  to attach to the root Organizational Unit",
     "required": true
    },
    "description": "Update the ID of the Organizational Unit that this cloud account will be attached to.\r\nUse 'null' for the root Organizational Unit"
   }
  },
  "/v2/GoogleCloudAccount/organizationalUnit/move": {
   "put": {
    "tags": [
     "Google Cloud Account"
    ],
    "summary": "Move Cloud Accounts To Organizational Unit",
    "operationId": "GoogleCloudAccount_MoveCloudAccountsToOrganizationalUnit_put_/v2/GoogleCloudAccount/organizationalUnit/move",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "requestBody": {
     "$ref": "#/components/requestBodies/Dome9.BL.Std.Services.OrganizationalUnit.MoveOrganizationalUnitViewModel2"
    },
    "description": "Detach cloud accounts from an Organizational unit and attach them to another Organizational unit\r\nUse 'null' for root organizational unit"
   }
  },
  "/v2/GoogleCloudAccount/organizationalUnit/moveAll": {
   "put": {
    "tags": [
     "Google Cloud Account"
    ],
    "summary": "Move All Cloud Accounts To Organizational Unit",
    "operationId": "GoogleCloudAccount_MoveAllCloudAccountsToOrganizationalUnit_put_/v2/GoogleCloudAccount/organizationalUnit/moveAll",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "requestBody": {
     "$ref": "#/components/requestBodies/Dome9.BL.Std.Services.OrganizationalUnit.UpdateIdViewModel2"
    },
    "description": "Detach all cloud accounts from their current organizational unit and attach them to a new one. Default is to root organizational unit"
   }
  },
  "/v2/GoogleCloudAccount/organizationalUnit/attach": {
   "post": {
    "tags": [
     "Google Cloud Account"
    ],
    "summary": "Post Attach Multi",
    "operationId": "GoogleCloudAccount_PostAttachMulti_post_/v2/GoogleCloudAccount/organizationalUnit/attach",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "requestBody": {
     "$ref": "#/components/requestBodies/Dome9.BL.Std.Services.OrganizationalUnit.AttachCloudAccountsViewModel"
    },
    "description": "Attach several cloud accounts to a specific Organizational Unit. User 'null' as root Organizational Unit as target"
   }
  },
  "/v2/GoogleCloudAccount": {
   "get": {
    "tags": [
     "Google Cloud Account"
    ],
    "summary": "Get",
    "operationId": "GoogleCloudAccount_Get_get_/v2/GoogleCloudAccount",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Dome9.Web.Api.Google.Accounts.GoogleCloudAccountGetViewModel"
         }
        }
       }
      }
     }
    },
    "description": "Get a list of all Google cloud accounts"
   },
   "post": {
    "tags": [
     "Google Cloud Account"
    ],
    "summary": "Post",
    "operationId": "GoogleCloudAccount_Post_post_/v2/GoogleCloudAccount",
    "parameters": [
     {
      "name": "skipComputeValidation",
      "in": "query",
      "description": "is ondoarding without compute Api enabled",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Google.Accounts.GoogleCloudAccountGetViewModel"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Google.Accounts.GoogleCloudAccountPostViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Google.Accounts.GoogleCloudAccountPostViewModel"
       }
      }
     },
     "description": "details for the new account",
     "required": true
    },
    "description": "Add (onboard) a new Google cloud account to Dome9"
   }
  },
  "/v2/GoogleCloudAccount/{id}": {
   "get": {
    "tags": [
     "Google Cloud Account"
    ],
    "summary": "Get",
    "operationId": "GoogleCloudAccount_Get_get_/v2/GoogleCloudAccount/{id}",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "the Google cloud account id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Google.Accounts.GoogleCloudAccountGetViewModel"
        }
       }
      }
     }
    },
    "description": "Get details for a specific Google Cloud Account"
   },
   "delete": {
    "tags": [
     "Google Cloud Account"
    ],
    "summary": "Delete",
    "operationId": "GoogleCloudAccount_Delete_delete_/v2/GoogleCloudAccount/{id}",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Id of the Google cloud account",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "description": "Delete a Google cloud account (from Dome9)"
   }
  },
  "/v2/kubernetes/account": {
   "get": {
    "tags": [
     "Kubernetes Account"
    ],
    "summary": "Get All",
    "operationId": "KubernetesAccount_GetAll_get_/v2/kubernetes/account",
    "responses": {
     "200": {
      "description": "A list of Kubernetes accounts",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/KubernetesAccountViewModel"
         }
        },
        "example": [
         {
          "id": "afc490f9-f9ff-4414-83ed-44885f2f4468",
          "externalAccountNumber": "afc490f9-f9ff-4414-83ed-44885f2f4468",
          "threatIntelligenceEnabled": false,
          "imageAssuranceEnabled": false,
          "imageAccessRuntimeMonitorEnabled": false,
          "runtimeProtectionEnabled": false,
          "runtimeProtectionNetwork": false,
          "runtimeProtectionProfiling": false,
          "runtimeProtectionFileReputation": false,
          "admissionControlEnabled": false,
          "admissionControlFailOpen": true,
          "name": "",
          "creationDate": "0001-01-01T00:00:00",
          "vendor": "kubernetes",
          "organizationalUnitId": null,
          "organizationalUnitPath": "",
          "organizationalUnitName": "",
          "clusterVersion": null,
          "clusterVersionStatus": "Unknown",
          "clusterVersionStatusDescription": "",
          "description": null,
          "platform": "kubernetes",
          "type": 0
         }
        ]
       }
      }
     }
    },
    "description": "Get a list of all Kubernetes accounts"
   },
   "post": {
    "tags": [
     "Kubernetes Account"
    ],
    "summary": "Post",
    "operationId": "KubernetesAccount_Post_post_/v2/kubernetes/account",
    "requestBody": {
     "x-name": "model",
     "description": "KubernetesGetViewModel that has three paramaters, Name(string), Description(string) and OrgorganizationalUnitId(Guid) ",
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/KubernetesPostViewModel"
       }
      }
     },
     "required": true,
     "x-position": 1
    },
    "responses": {
     "200": {
      "description": "",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/KubernetesAccountViewModel"
        },
        "example": {
         "id": "afc490f9-f9ff-4414-83ed-44885f2f4468",
         "externalAccountNumber": "afc490f9-f9ff-4414-83ed-44885f2f4468",
         "threatIntelligenceEnabled": false,
         "imageAssuranceEnabled": false,
         "imageAccessRuntimeMonitorEnabled": false,
         "runtimeProtectionEnabled": false,
         "runtimeProtectionNetwork": false,
         "runtimeProtectionProfiling": false,
         "runtimeProtectionFileReputation": false,
         "admissionControlEnabled": false,
         "admissionControlFailOpen": true,
         "name": "",
         "creationDate": "0001-01-01T00:00:00",
         "vendor": "kubernetes",
         "organizationalUnitId": null,
         "organizationalUnitPath": "",
         "organizationalUnitName": "",
         "clusterVersion": null,
         "clusterVersionStatus": "Unknown",
         "clusterVersionStatusDescription": "",
         "description": null,
         "platform": "kubernetes",
         "type": 0
        }
       }
      }
     }
    },
    "description": "Add (onboard) a new Kubernetes account to CloudGuard"
   }
  },
  "/v2/kubernetes/account/{id}": {
   "get": {
    "tags": [
     "Kubernetes Account"
    ],
    "summary": "Get",
    "operationId": "KubernetesAccount_Get_get_/v2/kubernetes/account/{id}",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "description": "the Kubernetes account id",
      "schema": {
       "type": "string",
       "format": "guid"
      },
      "x-position": 1
     }
    ],
    "responses": {
     "200": {
      "description": "",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/KubernetesAccountViewModel"
        },
        "example": {
         "id": "afc490f9-f9ff-4414-83ed-44885f2f4468",
         "externalAccountNumber": "afc490f9-f9ff-4414-83ed-44885f2f4468",
         "threatIntelligenceEnabled": false,
         "imageAssuranceEnabled": false,
         "imageAccessRuntimeMonitorEnabled": false,
         "runtimeProtectionEnabled": false,
         "runtimeProtectionNetwork": false,
         "runtimeProtectionProfiling": false,
         "runtimeProtectionFileReputation": false,
         "admissionControlEnabled": false,
         "admissionControlFailOpen": true,
         "name": "",
         "creationDate": "0001-01-01T00:00:00",
         "vendor": "kubernetes",
         "organizationalUnitId": null,
         "organizationalUnitPath": "",
         "organizationalUnitName": "",
         "clusterVersion": null,
         "clusterVersionStatus": "Unknown",
         "clusterVersionStatusDescription": "",
         "description": null,
         "platform": "kubernetes",
         "type": 0
        }
       }
      }
     }
    },
    "description": "Get details for a specific Kubernetes Account"
   },
   "delete": {
    "tags": [
     "Kubernetes Account"
    ],
    "summary": "Delete",
    "operationId": "KubernetesAccount_Delete_delete_/v2/kubernetes/account/{id}",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "description": "The Id of the Kubernetes account",
      "schema": {
       "type": "string",
       "format": "guid"
      },
      "x-position": 1
     }
    ],
    "responses": {
     "200": {
      "description": ""
     }
    },
    "description": "Delete a Kubernetes account (from CloudGuard)"
   }
  },
  "/v2/kubernetes/account/{id}/accountName": {
   "put": {
    "tags": [
     "Kubernetes Account"
    ],
    "summary": "Update Account Name",
    "operationId": "KubernetesAccount_UpdateAccountName_put_/v2/kubernetes/account/{id}/accountName",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "description": "the Kubernetes account id",
      "schema": {
       "type": "string",
       "format": "guid"
      },
      "x-position": 1
     },
     {
      "name": "name",
      "in": "query",
      "description": "the updated name as it will appear in CloudGuard",
      "schema": {
       "type": "string",
       "maxLength": 500,
       "pattern": "^[\\p{L}\\p{M}0-9\\s\\-_'.,#/@;:!=]*$"
      },
      "x-position": 2
     }
    ],
    "responses": {
     "200": {
      "description": "",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/KubernetesAccountViewModel"
        },
        "example": {
         "id": "afc490f9-f9ff-4414-83ed-44885f2f4468",
         "externalAccountNumber": "afc490f9-f9ff-4414-83ed-44885f2f4468",
         "threatIntelligenceEnabled": false,
         "imageAssuranceEnabled": false,
         "imageAccessRuntimeMonitorEnabled": false,
         "runtimeProtectionEnabled": false,
         "runtimeProtectionNetwork": false,
         "runtimeProtectionProfiling": false,
         "runtimeProtectionFileReputation": false,
         "admissionControlEnabled": false,
         "admissionControlFailOpen": true,
         "name": "",
         "creationDate": "0001-01-01T00:00:00",
         "vendor": "kubernetes",
         "organizationalUnitId": null,
         "organizationalUnitPath": "",
         "organizationalUnitName": "",
         "clusterVersion": null,
         "clusterVersionStatus": "Unknown",
         "clusterVersionStatusDescription": "",
         "description": null,
         "platform": "kubernetes",
         "type": 0
        }
       }
      }
     }
    },
    "description": "Update a Kubernetes account name (as it appears in CloudGuard)"
   }
  },
  "/v2/kubernetes/account/{id}/accountDescription": {
   "put": {
    "tags": [
     "Kubernetes Account"
    ],
    "summary": "Update Account Description",
    "operationId": "KubernetesAccount_UpdateAccountDescription_put_/v2/kubernetes/account/{id}/accountDescription",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "description": "the Kubernetes account id",
      "schema": {
       "type": "string",
       "format": "guid"
      },
      "x-position": 1
     },
     {
      "name": "description",
      "in": "query",
      "description": "the updated description as it will appear in CloudGuard",
      "schema": {
       "type": "string",
       "maxLength": 1000,
       "pattern": "^[\\p{L}\\p{M}0-9\\s\\-_'.,#/@;:!=]*$",
       "nullable": true
      },
      "x-position": 2
     }
    ],
    "responses": {
     "200": {
      "description": "",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/KubernetesAccountViewModel"
        },
        "example": {
         "id": "afc490f9-f9ff-4414-83ed-44885f2f4468",
         "externalAccountNumber": "afc490f9-f9ff-4414-83ed-44885f2f4468",
         "threatIntelligenceEnabled": false,
         "imageAssuranceEnabled": false,
         "imageAccessRuntimeMonitorEnabled": false,
         "runtimeProtectionEnabled": false,
         "runtimeProtectionNetwork": false,
         "runtimeProtectionProfiling": false,
         "runtimeProtectionFileReputation": false,
         "admissionControlEnabled": false,
         "admissionControlFailOpen": true,
         "name": "",
         "creationDate": "0001-01-01T00:00:00",
         "vendor": "kubernetes",
         "organizationalUnitId": null,
         "organizationalUnitPath": "",
         "organizationalUnitName": "",
         "clusterVersion": null,
         "clusterVersionStatus": "Unknown",
         "clusterVersionStatusDescription": "",
         "description": null,
         "platform": "kubernetes",
         "type": 0
        }
       }
      }
     }
    },
    "description": "Update a Kubernetes account description (as it appears in CloudGuard)"
   }
  },
  "/v2/kubernetes/account/{id}/imageAssurance/enable": {
   "post": {
    "tags": [
     "Kubernetes Account"
    ],
    "summary": "Enable Image Assurance",
    "operationId": "KubernetesAccount_EnableImageAssurance_post_/v2/kubernetes/account/{id}/imageAssurance/enable",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "description": "the Kubernetes account id",
      "schema": {
       "type": "string",
       "format": "guid"
      },
      "x-position": 1
     }
    ],
    "responses": {
     "200": {
      "description": ""
     }
    },
    "description": "Enable Image Assurance feature for Kubernetes (cluster) account"
   }
  },
  "/v2/kubernetes/account/{id}/imageAssurance/disable": {
   "post": {
    "tags": [
     "Kubernetes Account"
    ],
    "summary": "Disable Image Assurance",
    "operationId": "KubernetesAccount_DisableImageAssurance_post_/v2/kubernetes/account/{id}/imageAssurance/disable",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "description": "the Kubernetes account id",
      "schema": {
       "type": "string",
       "format": "guid"
      },
      "x-position": 1
     }
    ],
    "responses": {
     "200": {
      "description": ""
     }
    },
    "description": "Disable Image Assurance feature for Kubernetes (cluster) account"
   }
  },
  "/v2/kubernetes/account/{id}/runtimeProtection/enable": {
   "post": {
    "tags": [
     "Kubernetes Account"
    ],
    "summary": "Enable Runtime Protection",
    "operationId": "KubernetesAccount_EnableRuntimeProtection_post_/v2/kubernetes/account/{id}/runtimeProtection/enable",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "description": "the Kubernetes account id",
      "schema": {
       "type": "string",
       "format": "guid"
      },
      "x-position": 1
     }
    ],
    "responses": {
     "200": {
      "description": ""
     }
    },
    "description": "Enable Runtime Protection for Kubernetes account"
   }
  },
  "/v2/kubernetes/account/{id}/admissionControl/enable": {
   "post": {
    "tags": [
     "Kubernetes Account"
    ],
    "summary": "Enable Admission Control",
    "operationId": "KubernetesAccount_EnableAdmissionControl_post_/v2/kubernetes/account/{id}/admissionControl/enable",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "guid"
      },
      "x-position": 1
     }
    ],
    "responses": {
     "200": {
      "description": ""
     }
    },
    "description": "Enable Admission Control for Kubernetes account"
   }
  },
  "/v2/kubernetes/account/{id}/admissionControl/disable": {
   "post": {
    "tags": [
     "Kubernetes Account"
    ],
    "summary": "Disable Admission Control",
    "operationId": "KubernetesAccount_DisableAdmissionControl_post_/v2/kubernetes/account/{id}/admissionControl/disable",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "guid"
      },
      "x-position": 1
     }
    ],
    "responses": {
     "200": {
      "description": ""
     }
    },
    "description": "Disable Admission Control for Kubernetes account"
   }
  },
  "/v2/kubernetes/account/{id}/accountSummary": {
   "get": {
    "tags": [
     "Kubernetes Account"
    ],
    "summary": "Get Account Summary",
    "operationId": "KubernetesAccount_GetAccountSummary_get_/v2/kubernetes/account/{id}/accountSummary",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "description": "the Kubernetes account id",
      "schema": {
       "type": "string",
       "format": "guid"
      },
      "x-position": 1
     }
    ],
    "responses": {
     "200": {
      "description": "KubernetesAccountSummaryViewModel",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/KubernetesAccountSummaryViewModel"
        }
       }
      }
     }
    },
    "description": "Get Kubernetes account summary data"
   }
  },
  "/v2/kubernetes/account/accountAgentStatus": {
   "get": {
    "tags": [
     "Kubernetes Account"
    ],
    "summary": "Get Account Agent Status",
    "operationId": "KubernetesAccount_GetAccountAgentStatus_get_/v2/kubernetes/account/accountAgentStatus",
    "responses": {
     "200": {
      "description": "List of KubernetesAccountAgentStatusViewModel",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/KubernetesAccountAgentStatusViewModel"
         }
        }
       }
      }
     }
    },
    "description": "Get Kubernetes account agent status"
   }
  },
  "/v2/kubernetes/account/agentStatusReportCSV": {
   "post": {
    "tags": [
     "Kubernetes Account"
    ],
    "summary": "Get Csv Account Agent Status",
    "operationId": "KubernetesAccount_GetCsvAccountAgentStatus_post_/v2/kubernetes/account/agentStatusReportCSV",
    "requestBody": {
     "x-name": "filtersReq",
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/KubernetesAccountAgentStatusFiltersViewModel"
       }
      }
     },
     "required": true,
     "x-position": 1
    },
    "responses": {
     "200": {
      "description": "CSV table with the following data for each agent: \"Cluster Id\", \"Cluster Name\", \"Organizational Unit Id\", \"Organizational Unit Path\", \"Agent Type\", \"Node Name\", \"Version\", \"Status\", \"Description\", \"Last Communication\", \"Is Agent Up To Date\"",
      "content": {
       "application/octet-stream": {
        "schema": {
         "type": "string",
         "format": "binary"
        }
       }
      }
     }
    },
    "description": "Get a CSV table that provides the status of all agents in the Kubernetes account"
   }
  },
  "/v2/kubernetes/account/{id}/agentSummary": {
   "get": {
    "tags": [
     "Kubernetes Account"
    ],
    "summary": "Get Agent Summary",
    "operationId": "KubernetesAccount_GetAgentSummary_get_/v2/kubernetes/account/{id}/agentSummary",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "description": "the Kubernetes account id",
      "schema": {
       "type": "string",
       "format": "guid"
      },
      "x-position": 1
     }
    ],
    "responses": {
     "200": {
      "description": "KubernetesAgentsSummaryViewModel",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/KubernetesAgentsSummaryViewModel"
         }
        }
       }
      }
     }
    },
    "description": "Get Kubernetes account agent summary data"
   }
  },
  "/v2/kubernetes/account/{id}/resolveMultipleOnboarding": {
   "post": {
    "tags": [
     "Kubernetes Account"
    ],
    "summary": "Resolve Multiple Onboarding",
    "operationId": "KubernetesAccount_ResolveMultipleOnboarding_post_/v2/kubernetes/account/{id}/resolveMultipleOnboarding",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "description": "the Kubernetes account id",
      "schema": {
       "type": "string",
       "format": "guid"
      },
      "x-position": 1
     }
    ],
    "responses": {
     "200": {
      "description": ""
     }
    },
    "description": "Unblock Kubernetes account due to Multiple Onboarding"
   }
  },
  "/v2/kubernetes/account/{id}/organizationalUnit": {
   "put": {
    "tags": [
     "Kubernetes Account"
    ],
    "summary": "Update Organizational Id",
    "operationId": "KubernetesAccount_UpdateOrganizationalId_put_/v2/kubernetes/account/{id}/organizationalUnit",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "description": "The Guid ID of the Kubernetes account",
      "schema": {
       "type": "string",
       "format": "guid"
      },
      "x-position": 1
     }
    ],
    "requestBody": {
     "x-name": "updateData",
     "description": "The Guid ID of the Organizational Unit to attach to. Use null in order to attach to root Organizational Unit",
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/UpdateIdViewModel"
       }
      }
     },
     "required": true,
     "x-position": 2
    },
    "responses": {
     "200": {
      "description": "",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/KubernetesAccountViewModel"
        },
        "example": {
         "id": "afc490f9-f9ff-4414-83ed-44885f2f4468",
         "externalAccountNumber": "afc490f9-f9ff-4414-83ed-44885f2f4468",
         "threatIntelligenceEnabled": false,
         "imageAssuranceEnabled": false,
         "imageAccessRuntimeMonitorEnabled": false,
         "runtimeProtectionEnabled": false,
         "runtimeProtectionNetwork": false,
         "runtimeProtectionProfiling": false,
         "runtimeProtectionFileReputation": false,
         "admissionControlEnabled": false,
         "admissionControlFailOpen": true,
         "name": "",
         "creationDate": "0001-01-01T00:00:00",
         "vendor": "kubernetes",
         "organizationalUnitId": null,
         "organizationalUnitPath": "",
         "organizationalUnitName": "",
         "clusterVersion": null,
         "clusterVersionStatus": "Unknown",
         "clusterVersionStatusDescription": "",
         "description": null,
         "platform": "kubernetes",
         "type": 0
        }
       }
      }
     }
    },
    "description": "Update the ID of the Organizational unit that this cloud account will be attached to.\nUse 'null' for root organizational unit"
   }
  },
  "/v2/kubernetes/account/organizationalUnit/move": {
   "put": {
    "tags": [
     "Kubernetes Account"
    ],
    "summary": "Move Cloud Accounts To Organizational Unit",
    "operationId": "KubernetesAccount_MoveCloudAccountsToOrganizationalUnit_put_/v2/kubernetes/account/organizationalUnit/move",
    "requestBody": {
     "x-name": "moveData",
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/MoveOrganizationalUnitViewModel"
       }
      }
     },
     "required": true,
     "x-position": 1
    },
    "responses": {
     "200": {
      "description": "",
      "content": {
       "application/octet-stream": {
        "schema": {
         "type": "string",
         "format": "binary"
        }
       }
      }
     }
    },
    "description": "Detach cloud accounts from an Organizational unit and attach them to another Organizational unit\nUse 'null' for root organizational unit"
   }
  },
  "/v2/kubernetes/account/organizationalUnit/moveAll": {
   "put": {
    "tags": [
     "Kubernetes Account"
    ],
    "summary": "Move All Cloud Accounts To Organizational Unit",
    "operationId": "KubernetesAccount_MoveAllCloudAccountsToOrganizationalUnit_put_/v2/kubernetes/account/organizationalUnit/moveAll",
    "requestBody": {
     "x-name": "updateData",
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/UpdateIdViewModel"
       }
      }
     },
     "required": true,
     "x-position": 1
    },
    "responses": {
     "200": {
      "description": "",
      "content": {
       "application/octet-stream": {
        "schema": {
         "type": "string",
         "format": "binary"
        }
       }
      }
     }
    },
    "description": "Detach all Kubernetes accounts from their current organizational unit and attach them to a new one. Default is to root organizational unit"
   }
  },
  "/v2/kubernetes/account/organizationalUnit/attach": {
   "post": {
[...]
