# x-archived-from: cloudguard-workload-protection-openapi.yml
# x-archived-on: 2026-09-16
info:
  title: Workload Protection
  version: v2
openapi: 3.0.0
servers:
- url: https://api.dome9.com/
  description: US region
- url: https://api.{region}.dome9.com/
  description: Other regions
  variables:
    region:
      enum:
      - eu1
      - ap1
      - ap2
      - ap3
      - cace1
      default: eu1
paths:
  /v2/workload/agentless/aws/accounts/{id}/enable:
    post:
      tags:
      - Agentless
      summary: Enable Aws Account
      operationId: Agentless_EnableAwsAccount_post_/v2/workload/agentless/aws/accounts/{id}/enable
      parameters:
      - name: id
        in: path
        description: Cloud account Id (CloudGuard/external Id)
        required: true
        schema:
          type: string
      - name: shouldCreatePolicy
        in: query
        description: A flag indicating weather to create a default policy
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Agentless.AddAgentlessAwsAccountRequestBody'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Agentless.AddAgentlessAwsAccountRequestBody'
        required: true
      description: Enable AWP AWS account
  /v2/workload/agentless/azure/accounts/{id}/enable:
    post:
      tags:
      - Agentless
      summary: Enable Azure Account
      operationId: Agentless_EnableAzureAccount_post_/v2/workload/agentless/azure/accounts/{id}/enable
      parameters:
      - name: id
        in: path
        description: Cloud account Id (CloudGuard/subscription Id)
        required: true
        schema:
          type: string
      - name: shouldCreatePolicy
        in: query
        description: A flag indicating weather to create a default policy
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Agentless.AddAgentlessAzureAccountRequestBody'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Agentless.AddAgentlessAzureAccountRequestBody'
        required: true
      description: Enable AWP Azure account
  /v2/workload/agentless/aws/accounts/{id}/enableCentralizedAccount:
    post:
      tags:
      - Agentless
      summary: Add Aws Centralized Account
      operationId: Agentless_AddAwsCentralizedAccount_post_/v2/workload/agentless/aws/accounts/{id}/enableCentralizedAccount
      parameters:
      - name: id
        in: path
        description: Cloud account Id (CloudGuard/external Id)
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Agentless.AddAgentlessAwsCentralizedAccountRequestBody'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Agentless.AddAgentlessAwsCentralizedAccountRequestBody'
        required: true
      description: Add AWP AWS Centralized account
  /v2/workload/agentless/azure/accounts/{id}/enableCentralizedAccount:
    post:
      tags:
      - Agentless
      summary: Add Azure Centralized Account
      operationId: Agentless_AddAzureCentralizedAccount_post_/v2/workload/agentless/azure/accounts/{id}/enableCentralizedAccount
      parameters:
      - name: id
        in: path
        description: Cloud account Id (CloudGuard/external Id)
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Agentless.AddAgentlessAzureCentralizedAccountRequestBody'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Agentless.AddAgentlessAzureCentralizedAccountRequestBody'
        required: true
      description: Add AWP Azure Centralized account
  /v2/workload/agentless/aws/accounts/{id}/enableSubAccount:
    post:
      tags:
      - Agentless
      summary: Add Aws Sub Account
      operationId: Agentless_AddAwsSubAccount_post_/v2/workload/agentless/aws/accounts/{id}/enableSubAccount
      parameters:
      - name: id
        in: path
        description: Cloud account Id (CloudGuard/external Id)
        required: true
        schema:
          type: string
      - name: shouldCreatePolicy
        in: query
        description: A flag indicating weather to create a default policy
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Agentless.AddAgentlessAwsSubAccountRequestBody'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Agentless.AddAgentlessAwsSubAccountRequestBody'
        required: true
      description: Add AWP AWS Sub account
  /v2/workload/agentless/azure/accounts/{id}/enableSubAccount:
    post:
      tags:
      - Agentless
      summary: Add Azure Sub Account
      operationId: Agentless_AddAzureSubAccount_post_/v2/workload/agentless/azure/accounts/{id}/enableSubAccount
      parameters:
      - name: id
        in: path
        description: Cloud account Id (CloudGuard/external Id)
        required: true
        schema:
          type: string
      - name: shouldCreatePolicy
        in: query
        description: A flag indicating weather to create a default policy
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Agentless.AddAgentlessAzureSubAccountRequestBody'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Agentless.AddAgentlessAzureSubAccountRequestBody'
        required: true
      description: Add AWP Azure Sub account
  /v2/workload/agentless/{cloudProvider}/accounts/states:
    get:
      tags:
      - Agentless
      summary: Get Accounts States
      operationId: Agentless_GetAccountsStates_get_/v2/workload/agentless/{cloudProvider}/accounts/states
      parameters:
      - name: cloudProvider
        in: path
        description: Cloud provider
        required: true
        schema:
          type: string
          enum:
          - aws
          - azure
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Agentless.AccountStateViewModel'
      description: Get current AWP accounts states
  /v2/workload/agentless/{cloudProvider}/accounts/states/{id}:
    get:
      tags:
      - Agentless
      summary: Get Account State
      operationId: Agentless_GetAccountState_get_/v2/workload/agentless/{cloudProvider}/accounts/states/{id}
      parameters:
      - name: id
        in: path
        description: Cloud account Id (CloudGuard/external Id)
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: path
        description: Cloud provider
        required: true
        schema:
          type: string
          enum:
          - aws
          - azure
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Agentless.AccountStateViewModel'
      description: Get AWP account state
  /v2/workload/agentless/{cloudProvider}/accounts/{id}:
    get:
      tags:
      - Agentless
      summary: Get Account
      operationId: Agentless_GetAccount_get_/v2/workload/agentless/{cloudProvider}/accounts/{id}
      parameters:
      - name: id
        in: path
        description: Cloud account Id (CloudGuard/external Id)
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: path
        description: Cloud provider
        required: true
        schema:
          type: string
          enum:
          - aws
          - azure
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Agentless.AccountViewModel'
      description: Get AWP account scanner configuration
  /v2/workload/agentless/{cloudProvider}/accounts/{id}/settings:
    patch:
      tags:
      - Agentless
      summary: Modify Account Settings
      operationId: Agentless_ModifyAccountSettings_patch_/v2/workload/agentless/{cloudProvider}/accounts/{id}/settings
      parameters:
      - name: id
        in: path
        description: Cloud account Id (CloudGuard/external Id)
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: path
        description: Cloud provider
        required: true
        schema:
          type: string
          enum:
          - aws
          - azure
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Agentless.AgentlessAccountSettingsViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Agentless.AgentlessAccountSettingsViewModel'
        required: true
      description: Modify a single AWP account scanner settings (supported for inAccount and Saas scan mode)
  /v2/workload/agentless/{cloudProvider}/accounts/{id}/centralizedAccountSettings:
    patch:
      tags:
      - Agentless
      summary: Modify Centralized Account Settings
      operationId: Agentless_ModifyCentralizedAccountSettings_patch_/v2/workload/agentless/{cloudProvider}/accounts/{id}/centralizedAccountSettings
      parameters:
      - name: id
        in: path
        description: Cloud account Id (CloudGuard/external Id)
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: path
        description: Cloud provider
        required: true
        schema:
          type: string
          enum:
          - aws
          - azure
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Agentless.AgentlessCentralizedAccountSettingsViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Agentless.AgentlessCentralizedAccountSettingsViewModel'
        required: true
      description: Modify a single AWP centralized account scanner settings
  /v2/workload/agentless/aws/accounts/{id}:
    delete:
      tags:
      - Agentless
      summary: Disable Aws Account
      operationId: Agentless_DisableAwsAccount_delete_/v2/workload/agentless/aws/accounts/{id}
      parameters:
      - name: id
        in: path
        description: Cloud account Id (CloudGuard/external Id)
        required: true
        schema:
          type: string
      - name: forceDelete
        in: query
        description: If 'True', AWP will be disabled and the API will skip validating resource removal from the customer account.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      description: Disable AWS account
  /v2/workload/agentless/azure/accounts/{id}:
    delete:
      tags:
      - Agentless
      summary: Disable Azure Account
      operationId: Agentless_DisableAzureAccount_delete_/v2/workload/agentless/azure/accounts/{id}
      parameters:
      - name: id
        in: path
        description: Cloud account Id (CloudGuard/external Id)
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      description: Disable Azure account
  /v2/workload/agentless/aws/instances/{id}:
    get:
      tags:
      - Agentless
      summary: Get Workload
      operationId: Agentless_GetWorkload_get_/v2/workload/agentless/aws/instances/{id}
      parameters:
      - name: id
        in: path
        description: Instance Id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Agentless.AgentlessInstanceViewModel'
      description: Get AWP workload scan details
  /v2/workload/agentless/aws/accounts/{id}/generate-onboarding-data:
    post:
      tags:
      - Agentless
      summary: Generate Aws Onboarding Data
      operationId: Agentless_GenerateAwsOnboardingData_post_/v2/workload/agentless/aws/accounts/{id}/generate-onboarding-data
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Agentless.AgentlessAwsOnboardingDataViewModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Agentless.GenerateAgentlessAwsOnboardingDataRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Agentless.GenerateAgentlessAwsOnboardingDataRequest'
        required: true
      description: Generate Aws onboarding data
  /v2/workload/agentless/azure/accounts/{id}/generate-onboarding-data:
    post:
      tags:
      - Agentless
      summary: Generate Azure Onboarding Data
      operationId: Agentless_GenerateAzureOnboardingData_post_/v2/workload/agentless/azure/accounts/{id}/generate-onboarding-data
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Agentless.AgentlessAzureOnboardingDataViewModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Agentless.GenerateAgentlessAzureOnboardingDataRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Agentless.GenerateAgentlessAzureOnboardingDataRequest'
        required: true
      description: Generate Azure onboarding data
  /v2/workload/agentless/azure/accounts/{id}/offboarding:
    get:
      tags:
      - Agentless
      summary: Get Azure Offboarding Data
      operationId: Agentless_GetAzureOffboardingData_get_/v2/workload/agentless/azure/accounts/{id}/offboarding
      parameters:
      - name: id
        in: path
        description: Cloud account Id (CloudGuard/external Id)
        required: true
        schema:
          type: string
      - name: centralizedId
        in: query
        description: In case of inAccountSub, the account id of the centralized account
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Agentless.AgentlessAzureOffboardingDataViewModel'
      description: Get Azure offboarding data
  /v2/workload/agentless/{cloudProvider}/accounts/{id}/onboarding/checkForUpdate:
    get:
      tags:
      - Agentless
      summary: Check For Onboarding Update
      operationId: Agentless_CheckForOnboardingUpdate_get_/v2/workload/agentless/{cloudProvider}/accounts/{id}/onboarding/checkForUpdate
      parameters:
      - name: id
        in: path
        description: Cloud account Id (CloudGuard/external Id)
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: path
        description: Cloud provider
        required: true
        schema:
          type: string
          enum:
          - aws
          - azure
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Agentless.AgentlessAwsValidateStackDataViewModel'
      description: Check if the AWP account needs to be updated
  /v2/workload/agentless/azure/accounts/{id}/centralizedAccounts:
    get:
      tags:
      - Agentless
      summary: Get Azure Centralized Accounts
      operationId: Agentless_GetAzureCentralizedAccounts_get_/v2/workload/agentless/azure/accounts/{id}/centralizedAccounts
      parameters:
      - name: id
        in: path
        description: Cloud account Id (CloudGuard/external Id)
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Agentless.CentralizedAzureAccountViewModel'
      description: Get Azure centralized accounts data
  /v2/workload/agentless/accountSettings:
    get:
      tags:
      - Agentless
      summary: Get Tenant Settings
      operationId: Agentless_GetTenantSettings_get_/v2/workload/agentless/accountSettings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Agentless.AgentlessSettingsViewModel'
      description: Get all AWP accounts scanner settings
    patch:
      tags:
      - Agentless
      summary: Modify Tenant Settings
      operationId: Agentless_ModifyTenantSettings_patch_/v2/workload/agentless/accountSettings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Agentless.AgentlessSettingsViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Agentless.AgentlessSettingsViewModel'
        required: true
      description: Modify all AWP accounts scanner settings
  /v2/protegoStatistics/invocations:
    get:
      tags:
      - Protego Statistics
      operationId: ProtegoStatistics_Get_get_/v2/protegoStatistics/invocations
      parameters:
      - name: startDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Falconetix.Model.Serverless.Protego.ProtegoInvocationsEntity'
      description: ''
      summary: Get
  /v2/serverless/accounts:
    post:
      tags:
      - Serverless
      summary: Post Account
      operationId: Serverless_PostAccount_post_/v2/serverless/accounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessAccountViewModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessAddAccountRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessAddAccountRequest'
        required: true
      description: Enable Serverless protection
  /v2/serverless/accounts/{cloudAccountId}:
    get:
      tags:
      - Serverless
      operationId: Serverless_GetAccount_get_/v2/serverless/accounts/{cloudAccountId}
      parameters:
      - name: cloudAccountId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessAccountViewModel'
      description: ''
      summary: Get Account
    patch:
      tags:
      - Serverless
      summary: Put Account
      operationId: Serverless_PutAccount_patch_/v2/serverless/accounts/{cloudAccountId}
      parameters:
      - name: cloudAccountId
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: query
        required: false
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessPutAccountViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessPutAccountViewModel'
        required: true
      description: Update policy config or add FSP for an AWS Cloud account
  /v2/serverless/{cloudProvider}/accounts/{cloudAccountId}:
    patch:
      tags:
      - Serverless
      summary: Put Account
      operationId: Serverless_PutAccount_patch_/v2/serverless/{cloudProvider}/accounts/{cloudAccountId}
      parameters:
      - name: cloudAccountId
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: path
        required: true
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessPutAccountViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessPutAccountViewModel'
        required: true
      description: Update policy config or add FSP for an AWS Cloud account
  /v2/serverless/accounts/states:
    get:
      tags:
      - Serverless
      operationId: Serverless_GetAccountsState_get_/v2/serverless/accounts/states
      parameters:
      - name: cloudProvider
        in: query
        required: false
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessAccountStatusViewModel'
      description: ''
      summary: Get Accounts State
  /v2/serverless/{cloudProvider}/accounts/states:
    get:
      tags:
      - Serverless
      operationId: Serverless_GetAccountsState_get_/v2/serverless/{cloudProvider}/accounts/states
      parameters:
      - name: cloudProvider
        in: path
        required: true
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessAccountStatusViewModel'
      description: ''
      summary: Get Accounts State
  /v2/serverless/accounts/states/{cloudAccountId}:
    get:
      tags:
      - Serverless
      operationId: Serverless_GetAccountState_get_/v2/serverless/accounts/states/{cloudAccountId}
      parameters:
      - name: cloudAccountId
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: query
        required: false
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessAccountStatusViewModel'
      description: ''
      summary: Get Account State
  /v2/serverless/{cloudProvider}/accounts/states/{cloudAccountId}:
    get:
      tags:
      - Serverless
      operationId: Serverless_GetAccountState_get_/v2/serverless/{cloudProvider}/accounts/states/{cloudAccountId}
      parameters:
      - name: cloudAccountId
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: path
        required: true
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessAccountStatusViewModel'
      description: ''
      summary: Get Account State
  /v2/serverless/accounts/{cloudAccountId}/exclusions:
    get:
      tags:
      - Serverless
      operationId: Serverless_GetAccountExclusions_get_/v2/serverless/accounts/{cloudAccountId}/exclusions
      parameters:
      - name: cloudAccountId
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: query
        required: false
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      - name: withPayloadObject
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessExclusionViewModel'
      description: ''
      summary: Get Account Exclusions
    post:
      tags:
      - Serverless
      operationId: Serverless_PostExclusion_post_/v2/serverless/accounts/{cloudAccountId}/exclusions
      parameters:
      - name: cloudAccountId
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: query
        required: false
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessExclusionModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessExclusionModel'
        required: true
      description: ''
      summary: Post Exclusion
  /v2/serverless/{cloudProvider}/accounts/{cloudAccountId}/exclusions:
    get:
      tags:
      - Serverless
      operationId: Serverless_GetAccountExclusions_get_/v2/serverless/{cloudProvider}/accounts/{cloudAccountId}/exclusions
      parameters:
      - name: cloudAccountId
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: path
        required: true
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      - name: withPayloadObject
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessExclusionViewModel'
      description: ''
      summary: Get Account Exclusions
    post:
      tags:
      - Serverless
      operationId: Serverless_PostExclusion_post_/v2/serverless/{cloudProvider}/accounts/{cloudAccountId}/exclusions
      parameters:
      - name: cloudAccountId
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: path
        required: true
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessExclusionModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessExclusionModel'
        required: true
      description: ''
      summary: Post Exclusion
  /v2/serverless/accounts/{cloudAccountId}/rules:
    get:
      tags:
      - Serverless
      operationId: Serverless_GetAccountRules_get_/v2/serverless/accounts/{cloudAccountId}/rules
      parameters:
      - name: cloudAccountId
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: query
        required: false
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      - name: withPayloadObject
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessRuleViewModel'
      description: ''
      summary: Get Account Rules
    post:
      tags:
      - Serverless
      operationId: Serverless_PostRule_post_/v2/serverless/accounts/{cloudAccountId}/rules
      parameters:
      - name: cloudAccountId
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: query
        required: false
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessRuleModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessRuleModel'
        required: true
      description: ''
      summary: Post Rule
  /v2/serverless/{cloudProvider}/accounts/{cloudAccountId}/rules:
    get:
      tags:
      - Serverless
      operationId: Serverless_GetAccountRules_get_/v2/serverless/{cloudProvider}/accounts/{cloudAccountId}/rules
      parameters:
      - name: cloudAccountId
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: path
        required: true
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      - name: withPayloadObject
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessRuleViewModel'
      description: ''
      summary: Get Account Rules
    post:
      tags:
      - Serverless
      operationId: Serverless_PostRule_post_/v2/serverless/{cloudProvider}/accounts/{cloudAccountId}/rules
      parameters:
      - name: cloudAccountId
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: path
        required: true
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessRuleModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessRuleModel'
        required: true
      description: ''
      summary: Post Rule
  /v2/serverless/accounts/{cloudAccountId}/rules/{ruleId}:
    get:
      tags:
      - Serverless
      operationId: Serverless_GetRule_get_/v2/serverless/accounts/{cloudAccountId}/rules/{ruleId}
      parameters:
      - name: cloudAccountId
        in: path
        required: true
        schema:
          type: string
      - name: ruleId
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: query
        required: false
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      - name: withPayloadObject
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessRuleViewModel'
      description: ''
      summary: Get Rule
    put:
      tags:
      - Serverless
      operationId: Serverless_PutRule_put_/v2/serverless/accounts/{cloudAccountId}/rules/{ruleId}
      parameters:
      - name: cloudAccountId
        in: path
        required: true
        schema:
          type: string
      - name: ruleId
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: query
        required: false
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessRuleModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessRuleModel'
        required: true
      description: ''
      summary: Put Rule
    delete:
      tags:
      - Serverless
      operationId: Serverless_DeleteRule_delete_/v2/serverless/accounts/{cloudAccountId}/rules/{ruleId}
      parameters:
      - name: cloudAccountId
        in: path
        required: true
        schema:
          type: string
      - name: ruleId
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: query
        required: false
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessDeleteRuleViewModel'
      description: ''
      summary: Delete Rule
  /v2/serverless/{cloudProvider}/accounts/{cloudAccountId}/rules/{ruleId}:
    get:
      tags:
      - Serverless
      operationId: Serverless_GetRule_get_/v2/serverless/{cloudProvider}/accounts/{cloudAccountId}/rules/{ruleId}
      parameters:
      - name: cloudAccountId
        in: path
        required: true
        schema:
          type: string
      - name: ruleId
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: path
        required: true
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      - name: withPayloadObject
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessRuleViewModel'
      description: ''
      summary: Get Rule
    put:
      tags:
      - Serverless
      operationId: Serverless_PutRule_put_/v2/serverless/{cloudProvider}/accounts/{cloudAccountId}/rules/{ruleId}
      parameters:
      - name: cloudAccountId
        in: path
        required: true
        schema:
          type: string
      - name: ruleId
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: path
        required: true
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessRuleModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessRuleModel'
        required: true
      description: ''
      summary: Put Rule
    delete:
      tags:
      - Serverless
      operationId: Serverless_DeleteRule_delete_/v2/serverless/{cloudProvider}/accounts/{cloudAccountId}/rules/{ruleId}
      parameters:
      - name: cloudAccountId
        in: path
        required: true
        schema:
          type: string
      - name: ruleId
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: path
        required: true
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessDeleteRuleViewModel'
      description: ''
      summary: Delete Rule
  /v2/serverless/accounts/{cloudAccountId}/exclusions/{exclusionId}:
    get:
      tags:
      - Serverless
      operationId: Serverless_GetExclusion_get_/v2/serverless/accounts/{cloudAccountId}/exclusions/{exclusionId}
      parameters:
      - name: cloudAccountId
        in: path
        required: true
        schema:
          type: string
      - name: exclusionId
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: query
        required: false
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      - name: withPayloadObject
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessExclusionViewModel'
      description: ''
      summary: Get Exclusion
    put:
      tags:
      - Serverless
      operationId: Serverless_PutExclusion_put_/v2/serverless/accounts/{cloudAccountId}/exclusions/{exclusionId}
      parameters:
      - name: cloudAccountId
        in: path
        required: true
        schema:
          type: string
      - name: exclusionId
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: query
        required: false
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessExclusionModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessExclusionModel'
        required: true
      description: ''
      summary: Put Exclusion
    delete:
      tags:
      - Serverless
      operationId: Serverless_DeleteExclusion_delete_/v2/serverless/accounts/{cloudAccountId}/exclusions/{exclusionId}
      parameters:
      - name: cloudAccountId
        in: path
        required: true
        schema:
          type: string
      - name: exclusionId
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: query
        required: false
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessDeleteRuleViewModel'
      description: ''
      summary: Delete Exclusion
  /v2/serverless/{cloudProvider}/accounts/{cloudAccountId}/exclusions/{exclusionId}:
    get:
      tags:
      - Serverless
      operationId: Serverless_GetExclusion_get_/v2/serverless/{cloudProvider}/accounts/{cloudAccountId}/exclusions/{exclusionId}
      parameters:
      - name: cloudAccountId
        in: path
        required: true
        schema:
          type: string
      - name: exclusionId
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: path
        required: true
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      - name: withPayloadObject
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessExclusionViewModel'
      description: ''
      summary: Get Exclusion
    put:
      tags:
      - Serverless
      operationId: Serverless_PutExclusion_put_/v2/serverless/{cloudProvider}/accounts/{cloudAccountId}/exclusions/{exclusionId}
      parameters:
      - name: cloudAccountId
        in: path
        required: true
        schema:
          type: string
      - name: exclusionId
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: path
        required: true
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessExclusionModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessExclusionModel'
        required: true
      description: ''
      summary: Put Exclusion
    delete:
      tags:
      - Serverless
      operationId: Serverless_DeleteExclusion_delete_/v2/serverless/{cloudProvider}/accounts/{cloudAccountId}/exclusions/{exclusionId}
      parameters:
      - name: cloudAccountId
        in: path
        required: true
        schema:
          type: string
      - name: exclusionId
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: path
        required: true
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessDeleteRuleViewModel'
      description: ''
      summary: Delete Exclusion
  /v2/serverless/aws/accounts/{cloudAccountId}/missingPermissions:
    get:
      tags:
      - Serverless
      operationId: Serverless_GetAccountMissingPermissions_get_/v2/serverless/aws/accounts/{cloudAccountId}/missingPermissions
      parameters:
      - name: cloudAccountId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessMissingPermissionsViewModel'
      description: ''
      summary: Get Account Missing Permissions
  /v2/serverless/aws/accounts/{cloudAccountId}/missingPermissions/validate:
    put:
      tags:
      - Serverless
      operationId: Serverless_ValidateAccountMissingPermissions_put_/v2/serverless/aws/accounts/{cloudAccountId}/missingPermissions/validate
      parameters:
      - name: cloudAccountId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Falconetix.Model.ServiceInterfaces.Serverless.ServerlessApiResponse'
      description: ''
      summary: Validate Account Missing Permissions
  /v2/serverless/functions/{id}:
    get:
      tags:
      - Serverless
      operationId: Serverless_GetFunction_get_/v2/serverless/functions/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessFunctionViewModel'
      description: ''
      summary: Get Function
  /v2/serverless/aws/functions/{id}:
    get:
      tags:
      - Serverless
      operationId: Serverless_GetFunction_get_/v2/serverless/aws/functions/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessFunctionViewModel'
      description: ''
      summary: Get Function
  /v2/serverless/azure/functions/{id}:
    get:
      tags:
      - Serverless
      operationId: Serverless_GetAzureFunctionApp_get_/v2/serverless/azure/functions/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessFunctionAppViewModel'
      description: ''
      summary: Get Azure Function App
  /v2/serverless/kubernetes/functions/{id}:
    get:
      tags:
      - Serverless
      operationId: Serverless_GetKubernetesPodGroup_get_/v2/serverless/kubernetes/functions/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessPodGroupViewModel'
      description: ''
      summary: Get Kubernetes Pod Group
  /v2/serverless/aws/functions/{id}/addLogSubscription:
    post:
      tags:
      - Serverless
      operationId: Serverless_FunctionAddLogSubscription_post_/v2/serverless/aws/functions/{id}/addLogSubscription
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      description: ''
      summary: Function Add Log Subscription
  /v2/serverless/{cloudProvider}/accounts/{cloudAccountId}/functions:
    patch:
      tags:
      - Serverless
      operationId: Serverless_PutFunctions_patch_/v2/serverless/{cloudProvider}/accounts/{cloudAccountId}/functions
      parameters:
      - name: cloudAccountId
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: path
        required: true
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessPutFunctionResponseViewModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessPutFunctionsListViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessPutFunctionsListViewModel'
        required: true
      description: ''
      summary: Put Functions
  /v2/serverless/{cloudProvider}/functions/{id}:
    patch:
      tags:
      - Serverless
      operationId: Serverless_PutFunction_patch_/v2/serverless/{cloudProvider}/functions/{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: path
        required: true
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessPutSingleFunctionViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessPutSingleFunctionViewModel'
        required: true
      description: ''
      summary: Put Function
  /v2/serverless/functions/{id}/fsp:
    patch:
      tags:
      - Serverless
      operationId: Serverless_PutFunctionAutoFsp_patch_/v2/serverless/functions/{id}/fsp
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Serverless.EnableFSPViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Serverless.EnableFSPViewModel'
        required: true
      description: ''
      summary: Put Function Auto Fsp
  /v2/serverless/functions/{id}/fspMode:
    patch:
      tags:
      - Serverless
      operationId: Serverless_PutFunctionFspBlock_patch_/v2/serverless/functions/{id}/fspMode
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: query
        required: false
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessEnableFunctionFSPBlockBody'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessEnableFunctionFSPBlockBody'
        required: true
      description: ''
      summary: Put Function Fsp Block
  /v2/serverless/{cloudProvider}/functions/{id}/fspMode:
    patch:
      tags:
      - Serverless
      operationId: Serverless_PutFunctionFspBlock_patch_/v2/serverless/{cloudProvider}/functions/{id}/fspMode
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: path
        required: true
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessEnableFunctionFSPBlockBody'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessEnableFunctionFSPBlockBody'
        required: true
      description: ''
      summary: Put Function Fsp Block
  /v2/serverless/functions/{id}/whitelist:
    get:
      tags:
      - Serverless
      operationId: Serverless_GetFunctionWhitelist_get_/v2/serverless/functions/{id}/whitelist
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: query
        required: false
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessWhiteListViewModel'
      description: ''
      summary: Get Function Whitelist
  /v2/serverless/{cloudProvider}/functions/{id}/whitelist:
    get:
      tags:
      - Serverless
      operationId: Serverless_GetFunctionWhitelist_get_/v2/serverless/{cloudProvider}/functions/{id}/whitelist
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: path
        required: true
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessWhiteListViewModel'
      description: ''
      summary: Get Function Whitelist
  /v2/serverless/azure/functions/{id}/whitelist/{functionName}:
    get:
      tags:
      - Serverless
      operationId: Serverless_GetAzureFunctionWhitelist_get_/v2/serverless/azure/functions/{id}/whitelist/{functionName}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: functionName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessWhiteListViewModel'
      description: ''
      summary: Get Azure Function Whitelist
  /v2/serverless/functions/{id}/exclusions:
    get:
      tags:
      - Serverless
      operationId: Serverless_GetFunctionExclusions_get_/v2/serverless/functions/{id}/exclusions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: query
        required: false
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      - name: withPayloadObject
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessExclusionViewModel'
      description: ''
      summary: Get Function Exclusions
  /v2/serverless/{cloudProvider}/functions/{id}/exclusions:
    get:
      tags:
      - Serverless
      operationId: Serverless_GetFunctionExclusions_get_/v2/serverless/{cloudProvider}/functions/{id}/exclusions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: path
        required: true
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      - name: withPayloadObject
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessExclusionViewModel'
      description: ''
      summary: Get Function Exclusions
  /v2/serverless/functions/{id}/rules:
    get:
      tags:
      - Serverless
      operationId: Serverless_GetFunctionRules_get_/v2/serverless/functions/{id}/rules
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: query
        required: false
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      - name: withPayloadObject
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessRuleViewModel'
      description: ''
      summary: Get Function Rules
  /v2/serverless/{cloudProvider}/functions/{id}/rules:
    get:
      tags:
      - Serverless
      operationId: Serverless_GetFunctionRules_get_/v2/serverless/{cloudProvider}/functions/{id}/rules
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: cloudProvider
        in: path
        required: true
        schema:
          type: string
          enum:
          - aws
          - azure
          - kubernetes
      - name: withPayloadObject
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessRuleViewModel'
      description: ''
      summary: Get Function Rules
  /v2/serverless/fsp/versions:
    get:
      tags:
      - Serverless
      operationId: Serverless_GetFspVersions_get_/v2/serverless/fsp/versions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessFspVersioViewModel'
      description: ''
      summary: Get Fsp Versions
  /v2/serverless/workloadProtection/runtimes:
    get:
      tags:
      - Serverless
      operationId: Serverless_GetSupportedRuntimes_get_/v2/serverless/workloadProtection/runtimes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Serverless.ServerlessFSPSupportedRuntimesViewModel'
      description: ''
      summary: Get Supported Runtimes
  /v2/serverless/policy/{id}:
    get:
      tags:
      - Serverless Policy
      summary: Get
      operationId: ServerlessPolicy_GetAsync_get_/v2/serverless/policy/{id}
      parameters:
      - name: id
        in: path
        description: Policy's ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyViewModel'
      description: "Get single policy by its ID.\r\nReturns a policy matching a given ID."
    delete:
      tags:
      - Serverless Policy
      summary: Delete
      operationId: ServerlessPolicy_DeleteAsync_delete_/v2/serverless/policy/{id}
      parameters:
      - name: id
        in: path
        description: Policy's ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
      description: Delete policy by its ID.
  /v2/serverless/policy:
    get:
      tags:
      - Serverless Policy
      summary: Get
      operationId: ServerlessPolicy_GetAsync_get_/v2/serverless/policy
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyViewModel'
      description: "Get all policies for the requesting account.\r\nReturns a collection of policies."
    put:
      tags:
      - Serverless Policy
      summary: Put
      operationId: ServerlessPolicy_PutAsync_put_/v2/serverless/policy
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyViewModel'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyRequestModel'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyRequestModel'
        description: Policies to update
        required: true
      description: "Update policies.\r\nReturns a multi status response containing successfully updated policies without an\
        \ error message and failed policies with an error message."
    post:
      tags:
      - Serverless Policy
      summary: Post
      operationId: ServerlessPolicy_PostAsync_post_/v2/serverless/policy
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyViewModel'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyRequestModel'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Dome9.Web.Api.Compliance.Serverless.Policy.ServerlessPolicyRequestModel'
        description: Policies to create
        required: true
      description: "Create new policies.\r\nReturns a multi status response containing successfully created policies without\
        \ an error message and failed policies with an error message."
  /v2/ShiftLeft/{url}:
    get:
      tags:
      - Shift Left
      summary: Get
      operationId: ShiftLeft_Get_get_/v2/ShiftLeft/{url}
      parameters:
      - name: url
        in: path
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      description: proxy to ShiftLeft backend
  /v2/ShiftLeft/blades:
    get:
      tags:
      - Shift Left
      summary: Get Blades
      operationId: ShiftLeft_GetBlades_get_/v2/ShiftLeft/blades
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      description: proxy to ShiftLeft Cli page
  /v2/ShiftLeft/blades/{os}/{arch}:
    get:
      tags:
      - Shift Left
      summary: Get Blades Os
      operationId: ShiftLeft_GetBladesOs_get_/v2/ShiftLeft/blades/{os}/{arch}
      parameters:
      - name: os
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: arch
        in: path
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      description: proxy to ShiftLeft Cli page
  /v2/workload/accountSetting:
    get:
      tags:
      - Workload Account Setting
      operationId: WorkloadAccountSetting_GetAccountSettings_get_/v2/workload/accountSetting
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  imageAssurance:
                    properties:
                      daysToKeepNonActiveKubernetesImages:
                        type: integer
                      daysToKeepNonActiveShiftLeftImages:
                        type: integer
                      daysToKeepNonActiveAwsEcsImages:
                        type: integer
                      registryScanningIntervalInHours:
                        type: integer
                      maxImagesPerRepo:
                        type: integer
              example:
                imageAssurance:
                  daysToKeepNonActiveKubernetesImages: 7
                  daysToKeepNonActiveShiftLeftImages: 30
                  daysToKeepNonActiveAwsEcsImages: 7
                  registryScanningIntervalInHours: 12
                  maxImagesPerRepo: 10
      description: ''
      summary: Get Account Settings
    put:
      tags:
      - Workload Account Setting
      operationId: WorkloadAccountSetting_SetAccountSettings_put_/v2/workload/accountSetting
      requestBody:
        x-name: _
        content:
          application/json:
            schema:
              type: object
              properties:
                imageAssurance:
                  properties:
                    daysToKeepNonActiveKubernetesImages:
                      type: integer
                    daysToKeepNonActiveShiftLeftImages:
                      type: integer
                    daysToKeepNonActiveAwsEcsImages:
                      type: integer
                    registryScanningIntervalInHours:
                      type: integer
                    maxImagesPerRepo:
                      type: integer
            examples:
              WorkloadAccountSettingModel:
                value:
                  imageAssurance:
                    daysToKeepNonActiveKubernetesImages: 7
                    daysToKeepNonActiveShiftLeftImages: 30
                    daysToKeepNonActiveAwsEcsImages: 7
                    registryScanningIntervalInHours: 12
                    maxImagesPerRepo: 10
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
      description: ''
      summary: Set Account Settings
    patch:
      tags:
      - Workload Account Setting
      operationId: WorkloadAccountSetting_UpdateAccountSettings_patch_/v2/workload/accountSetting
      requestBody:
        x-name: _
        content:
          application/json:
            schema:
              type: object
              properties:
                imageAssurance:
                  properties:
                    daysToKeepNonActiveKubernetesImages:
                      type: integer
                    daysToKeepNonActiveShiftLeftImages:
                      type: integer
                    daysToKeepNonActiveAwsEcsImages:
                      type: integer
                    registryScanningIntervalInHours:
                      type: integer
                    maxImagesPerRepo:
                      type: integer
            examples:
              WorkloadAccountSettingModel:
                value:
                  imageAssurance:
                    daysToKeepNonActiveKubernetesImages: 7
                    daysToKeepNonActiveShiftLeftImages: 30
                    daysToKeepNonActiveAwsEcsImages: 7
                    registryScanningIntervalInHours: 12
                    maxImagesPerRepo: 10
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
      description: ''
      summary: Update Account Settings
  /v2/kubernetes/podGroup/daemonSet/{id}/podList:
    get:
      tags:
      - Kubernetes Pod Group
      summary: Get Daemon Set Pod List
      operationId: KubernetesPodGroup_GetDaemonSetPodList_get_/v2/kubernetes/podGroup/daemonSet/{id}/podList
      parameters:
      - name: id
        in: path
        required: true
        description: the Dome9 daemon set id
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      description: Get daemon set pods
  /v2/kubernetes/podGroup/deployment/{id}/podList:
    get:
      tags:
      - Kubernetes Pod Group
      summary: Get Deployment Pod List
      operationId: KubernetesPodGroup_GetDeploymentPodList_get_/v2/kubernetes/podGroup/deployment/{id}/podList
      parameters:
      - name: id
        in: path
        required: true
        description: the Dome9 deployment id
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      description: Get deployment pods
  /v2/kubernetes/podGroup/replicaSet/{id}/podList:
    get:
      tags:
      - Kubernetes Pod Group
      summary: Get Replica Set Pod List
      operationId: KubernetesPodGroup_GetReplicaSetPodList_get_/v2/kubernetes/podGroup/replicaSet/{id}/podList
      parameters:
      - name: id
        in: path
        required: true
        description: the Dome9 replica set id
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      description: Get replica set pods
  /v2/kubernetes/podGroup/statefulSet/{id}/podList:
    get:
      tags:
      - Kubernetes Pod Group
      summary: Get Stateful Set Pod List
      operationId: KubernetesPodGroup_GetStatefulSetPodList_get_/v2/kubernetes/podGroup/statefulSet/{id}/podList
      parameters:
      - name: id
        in: path
        required: true
        description: the Dome9 stateful set id
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      description: Get stateful set pods
  /v2/kubernetes/podGroup/pod/{id}/images:
    get:
      tags:
      - Kubernetes Pod Group
      summary: Get Pod Images
      operationId: KubernetesPodGroup_GetPodImages_get_/v2/kubernetes/podGroup/pod/{id}/images
      parameters:
      - name: id
        in: path
        required: true
        description: the Dome9 pod id
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      description: Get pod images
  /v2/kubernetes/podGroup/cronJob/{id}/images:
    get:
      tags:
      - Kubernetes Pod Group
      summary: Get Cron Job Images
      operationId: KubernetesPodGroup_GetCronJobImages_get_/v2/kubernetes/podGroup/cronJob/{id}/images
      parameters:
      - name: id
        in: path
        required: true
        description: the Dome9 pod id
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      description: Get pod images
  /v2/kubernetes/podGroup/daemonSet/{id}/images:
    get:
      tags:
      - Kubernetes Pod Group
      summary: Get Daemon Set Images
      operationId: KubernetesPodGroup_GetDaemonSetImages_get_/v2/kubernetes/podGroup/daemonSet/{id}/images
      parameters:
      - name: id
        in: path
        required: true
        description: the Dome9 daemonset id
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      description: Get daemonset images
  /v2/kubernetes/podGroup/deployment/{id}/images:
    get:
      tags:
      - Kubernetes Pod Group
      summary: Get Deployment Images
      operationId: KubernetesPodGroup_GetDeploymentImages_get_/v2/kubernetes/podGroup/deployment/{id}/images
      parameters:
      - name: id
        in: path
        required: true
        description: the Dome9 deployment id
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      description: Get deployment images
  /v2/kubernetes/podGroup/replicaSet/{id}/images:
    get:
      tags:
      - Kubernetes Pod Group
      summary: Get Replica Set Images
      operationId: KubernetesPodGroup_GetReplicaSetImages_get_/v2/kubernetes/podGroup/replicaSet/{id}/images
      parameters:
      - name: id
        in: path
        required: true
        description: the Dome9 replicaset id
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      description: Get replica set images
  /v2/kubernetes/podGroup/statefulSet/{id}/images:
    get:
      tags:
      - Kubernetes Pod Group
      summary: Get Stateful Set Images
      operationId: KubernetesPodGroup_GetStatefulSetImages_get_/v2/kubernetes/podGroup/statefulSet/{id}/images
      parameters:
      - name: id
        in: path
        required: true
        description: the Dome9 stateful set id
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      description: Get stateful set images
  /v2/kubernetes/imageAssurance/image:
    get:
      tags:
      - Kubernetes Image Assurance
      summary: Get Image
      operationId: KubernetesImageAssurance_GetImage_get_/v2/kubernetes/imageAssurance/image
      parameters:
      - name: id
        in: query
        description: "Image ID (entityDome9Id in the Image Entity viewer)\n             \n            id in the following\
          \ format: ASSET_TYPE|CloudAccountId|Image|ImageSha\n            (ASSET_TYPE: 11 for Kubernetes Image)\n        \
          \    e.g.\n            11|ffb03c67-83c0-4d92-bf03-880eb0781948|Image|sha256:40d4b9bf327a85059a4842b043f67b8a7221d8487d42d17a55f85085d0ffb328\n\
          \             \n             "
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KubernetesImageViewModel'
      description: Fetch a specific image
  /v2/kubernetes/imageAssurance/image/vulnerabilities:
    get:
      tags:
      - Kubernetes Image Assurance
      summary: Get Image Vulnerabilities
      operationId: KubernetesImageAssurance_GetImageVulnerabilities_get_/v2/kubernetes/imageAssurance/image/vulnerabilities
      parameters:
      - name: id
        in: query
        description: Image ID (entityDome9Id)
        schema:
          type: string
        x-position: 1
      - name: category
        in: query
        description: filter vulnerabilities with specific category
        schema:
          type: string
          default: ''
          nullable: true
        x-position: 2
      - name: remediationsOnly
        in: query
        description: filter vulnerabilities with remediation
        schema:
          type: boolean
          default: false
        x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KubernetesImageScanVulnerabilitiesViewModel'
      deprecated: true
      description: Get the list of all vulnerabilities for a specific image (this api is deprecated, please use '/v2/vulnerability/'
        instead)
  /v2/kubernetes/imageAssurance/image/podGroups:
    get:
      tags:
      - Kubernetes Image Assurance
      summary: Get Pod Groups
      operationId: KubernetesImageAssurance_GetPodGroups_get_/v2/kubernetes/imageAssurance/image/podGroups
      parameters:
      - name: id
        in: query
        description: "Image ID (entityDome9Id).\n            \n            For results in the specific cluster.\n        \
          \    \n            "
        schema:
          type: string
          nullable: true
        x-position: 1
      - name: externalId
        in: query
        description: "External image id (Image SHA).\n            \n            External Image Id is built in the following\
          \ format: sha256:[image sha]\n            For results in all environments of the account.\n                    \n\
          \            "
        schema:
          type: string
          nullable: true
        x-position: 2
      responses:
        '200':
          description: Success (Empty list means no pods are running the image).
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/KubernetesImagePodGroupsViewModel'
      description: "Get pod groups that have running pod with specific image.         \nUse either Dome9 Image Id for results\
        \ in current environment, or External Image Id for results in all environments of the account."
  /v2/kubernetes/imageAssurance/account/{clusterId}/podsImages:
    get:
      tags:
      - Kubernetes Image Assurance
      operationId: KubernetesImageAssurance_GetClusterPodAndImages_get_/v2/kubernetes/imageAssurance/account/{clusterId}/podsImages
      parameters:
      - name: clusterId
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KubernetesPodsImagesViewModel'
      description: ''
      summary: Get Cluster Pod And Images
  /v2/kubernetes/imageAssurance/policy/{id}:
    get:
      tags:
      - Kubernetes Image Assurance Policy
      summary: Get
      operationId: KubernetesImageAssurancePolicy_Get_get_/v2/kubernetes/imageAssurance/policy/{id}
      parameters:
      - name: id
        in: path
        required: true
        description: Policy's ID
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageAssurancePolicyViewModel'
      deprecated: true
      description: 'Get single policy by its ID.

        Returns a policy matching a given ID. (move to use /v2/vulnerability/policy)'
    delete:
      tags:
      - Kubernetes Image Assurance Policy
      summary: Delete
      operationId: KubernetesImageAssurancePolicy_Delete_delete_/v2/kubernetes/imageAssurance/policy/{id}
      parameters:
      - name: id
        in: path
        required: true
        description: Policy's ID
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: ''
      deprecated: true
      description: Delete policy by its ID. (move to use /v2/vulnerability/policy)
  /v2/kubernetes/imageAssurance/policy:
    get:
      tags:
      - Kubernetes Image Assurance Policy
      summary: Get All
      operationId: KubernetesImageAssurancePolicy_GetAll_get_/v2/kubernetes/imageAssurance/policy
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ImageAssurancePolicyViewModel'
      deprecated: true
      description: 'Get all policies for the requesting account.

        Returns a collection of policies. (move to use /v2/vulnerability/policy)'
    post:
      tags:
      - Kubernetes Image Assurance Policy
      summary: Post
      operationId: KubernetesImageAssurancePolicy_Post_post_/v2/kubernetes/imageAssurance/policy
      requestBody:
        x-name: kubernetesImageAssurancePolicyRequestModels
        description: Policies to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ImageAssurancePolicyRequestModel'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ImageAssurancePolicyViewModel'
      deprecated: true
      description: 'Create new policies.

        Returns a multi status response containing successfully created policies without an error message and failed policies
        with an error message. (move to use /v2/vulnerability/policy)'
    put:
      tags:
      - Kubernetes Image Assurance Policy
      summary: Put
      operationId: KubernetesImageAssurancePolicy_Put_put_/v2/kubernetes/imageAssurance/policy
      requestBody:
        x-name: kubernetesImageAssurancePolicyRequestModels
        description: Policies to update
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ImageAssurancePolicyRequestModel'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ImageAssurancePolicyViewModel'
      deprecated: true
      description: 'Update policies.

        Returns a multi status response containing successfully updated policies without an error message and failed policies
        with an error message. (move to use /v2/vulnerability/policy)'
  /v2/workload/imageAssurance/images:
    get:
      tags:
      - Workload Image Assurance
      summary: Get Workload Images By Dome9 Id
      operationId: WorkloadImageAssurance_GetWorkloadImagesByDome9Id_get_/v2/workload/imageAssurance/images
      parameters:
      - name: dome9Id
        in: query
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkloadImageViewModel'
      description: Get images by workload dome9id
  /v2/workload/imageAssurance/image:
    get:
      tags:
      - Workload Image Assurance
      summary: Get Image
      operationId: WorkloadImageAssurance_GetImage_get_/v2/workload/imageAssurance/image
      parameters:
      - name: environmentId
        in: query
        description: UUID of the CloudGuard environment containing the image
        schema:
          type: string
          format: guid
        x-position: 1
      - name: imageIdOrDigest
        in: query
        description: Image-id or digest of an image (with or without "sha256:" prefix)
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/KubernetesImageViewModel'
      description: Get image details by image-id or digest
  /v2/workload/imageAssurance/image/workloads:
    get:
      tags:
      - Workload Image Assurance
      operationId: WorkloadImageAssurance_GetImageWorkloadsByImageId_get_/v2/workload/imageAssurance/image/workloads
      parameters:
      - name: imageIdOrDigest
        in: query
        description: ConfigSha of an image or a digest
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageWorkloadsViewModel'
      description: ''
      summary: Get Image Workloads By Image Id
  /v2/workload/imageAssurance/EcsTask/Images:
    get:
      tags:
      - Workload Image Assurance
      summary: Get Task Images
      operationId: WorkloadImageAssurance_GetTaskImages_get_/v2/workload/imageAssurance/EcsTask/Images
      parameters:
      - name: id
        in: query
        description: the Dome9 EcsTask id
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      description: Get EcsTask images
  /v2/workload/imageAssurance/EcsService/Images:
    get:
      tags:
      - Workload Image Assurance
      summary: Get Service Images
      operationId: WorkloadImageAssurance_GetServiceImages_get_/v2/workload/imageAssurance/EcsService/Images
      parameters:
      - name: id
        in: query
        description: the Dome9 Service id
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      description: Get EcsService images
  /v2/workload/imageAssurance/EcsCluster/Images:
    get:
      tags:
      - Workload Image Assurance
      summary: Get Cluster Images
      operationId: WorkloadImageAssurance_GetClusterImages_get_/v2/workload/imageAssurance/EcsCluster/Images
      parameters:
      - name: id
        in: query
        description: the Dome9 Cluster id
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      description: Get EcsCluster images
  /v2/workload/imageAssurance/scanImage:
    post:
      tags:
      - Workload Image Assurance
      operationId: WorkloadImageAssurance_ScanImage_post_/v2/workload/imageAssurance/scanImage
      requestBody:
        x-name: imageScanRequestModel
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageScanRequestModel'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
      description: ''
      summary: Scan Image
  /v2/workload/imageAssurance/scanEnvironment/{environmentId}/all:
    post:
      tags:
      - Workload Image Assurance
      operationId: WorkloadImageAssurance_ScanEnvironmentAll_post_/v2/workload/imageAssurance/scanEnvironment/{environmentId}/all
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageScanRequestViewModel'
      description: ''
      summary: Scan Environment All
  /v2/workload/imageAssurance/scanEnvironment/{environmentId}/failed:
    post:
      tags:
      - Workload Image Assurance
      operationId: WorkloadImageAssurance_ScanEnvironmentFailed_post_/v2/workload/imageAssurance/scanEnvironment/{environmentId}/failed
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageScanRequestViewModel'
      description: ''
      summary: Scan Environment Failed
  /v2/ShiftLeftAccount:
    get:
      tags:
      - Shift Left Account
      summary: Get All
      operationId: ShiftLeftAccount_GetAll_get_/v2/ShiftLeftAccount
      responses:
        '200':
          description: A list of  ShiftLeft accounts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShiftLeftAccountViewModel'
      description: Get a list of all  ShiftLeft accounts
    post:
      tags:
      - Shift Left Account
      summary: Post
      operationId: ShiftLeftAccount_Post_post_/v2/ShiftLeftAccount
      requestBody:
        x-name: model
        description: ShiftLeftGetViewModel
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShiftLeftPostViewModel'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShiftLeftAccountViewModel'
      description: Add (onboard) a new ShiftLeft account to CloudGuard
  /v2/ShiftLeftAccount/{id}:
    get:
      tags:
      - Shift Left Account
      summary: Get
      operationId: ShiftLeftAccount_Get_get_/v2/ShiftLeftAccount/{id}
      parameters:
      - name: id
        in: path
        required: true
        description: the  ShiftLeft account id
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShiftLeftAccountViewModel'
      description: Get details for a specific  ShiftLeft Account
    delete:
      tags:
      - Shift Left Account
      summary: Delete
      operationId: ShiftLeftAccount_Delete_delete_/v2/ShiftLeftAccount/{id}
      parameters:
      - name: id
        in: path
        required: true
        description: The CloudGuard ShiftLeft account id (UUID)
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: ''
      description: Delete a ShiftLeft account and linked entities from CloudGuard.
  /v2/ShiftLeftAccount/{id}/AccountName:
    put:
      tags:
      - Shift Left Account
      summary: Update Account Name
      operationId: ShiftLeftAccount_UpdateAccountName_put_/v2/ShiftLeftAccount/{id}/AccountName
      parameters:
      - name: id
        in: path
        required: true
        description: the ShiftLeft account id
        schema:
          type: string
          format: guid
        x-position: 1
      - name: name
        in: query
        description: the updated name as it will appear in CloudGuard
        schema:
          type: string
          maxLength: 500
          pattern: ^[\p{L}\p{M}0-9\s\-_'.,#/@;:!=]*$
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShiftLeftAccountViewModel'
      description: Update a ShiftLeft account name (as it appears in CloudGuard)
  /v2/ShiftLeftAccount/{id}/accountDescription:
    put:
      tags:
      - Shift Left Account
      summary: Update Account Description
      operationId: ShiftLeftAccount_UpdateAccountDescription_put_/v2/ShiftLeftAccount/{id}/accountDescription
      parameters:
      - name: id
        in: path
        required: true
        description: the ShiftLeft account id
        schema:
          type: string
          format: guid
        x-position: 1
      - name: description
        in: query
        description: the updated description as it will appear in CloudGuard
        schema:
          type: string
          maxLength: 1000
          pattern: ^[\p{L}\p{M}0-9\s\-_'.,#/@;:!=]*$
          nullable: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShiftLeftAccountViewModel'
      description: Update a ShiftLeft account description (as it appears in CloudGuard)
  /v2/ShiftLeftAccount/{id}/DeleteForce:
    delete:
      tags:
      - Shift Left Account
      summary: Delete Force
      operationId: ShiftLeftAccount_DeleteForce_delete_/v2/ShiftLeftAccount/{id}/DeleteForce
      parameters:
      - name: id
        in: path
        required: true
        description: The CloudGuard ShiftLeft account id (UUID)
        schema:
          type: string
          format: guid
[...]
