{
 "info": {
  "title": "Administration",
  "version": "v2"
 },
 "openapi": "3.0.0",
 "servers": [
  {
   "url": "https://api.dome9.com/",
   "description": "US region"
  },
  {
   "url": "https://api.{region}.dome9.com/",
   "description": "Other regions",
   "variables": {
    "region": {
     "enum": [
      "eu1",
      "ap1",
      "ap2",
      "ap3",
      "cace1"
     ],
     "default": "eu1"
    }
   }
  }
 ],
 "paths": {
  "/v2/AccountTrust/assumable-roles": {
   "get": {
    "tags": [
     "Account Trust"
    ],
    "summary": "Get Assumable Roles",
    "operationId": "AccountTrust_GetAssumableRoles_get_/v2/AccountTrust/assumable-roles",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Dome9.Web.Api.Account.AccountTrustAssumableRolesViewModel"
         }
        }
       }
      }
     }
    },
    "description": "Get a list of objects that represent a trusted account and its assumebale roles"
   }
  },
  "/v2/AccountTrust": {
   "get": {
    "tags": [
     "Account Trust"
    ],
    "summary": "Get",
    "operationId": "AccountTrust_Get_get_/v2/AccountTrust",
    "parameters": [
     {
      "name": "trustDirection",
      "in": "query",
      "description": "Determines whether the accounts result list are the trusted/trustee accounts",
      "required": true,
      "schema": {
       "type": "string",
       "enum": [
        "MyAccountIsTarget",
        "MyAccountIsSource"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Dome9.Web.Api.Account.AccountTrustViewModel"
         }
        }
       }
      }
     }
    },
    "description": "Get a list of accounts which are trusted by or trust this account according to the given \"trustDirection\""
   },
   "post": {
    "tags": [
     "Account Trust"
    ],
    "summary": "Post",
    "operationId": "AccountTrust_Post_post_/v2/AccountTrust",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Account.AccountTrustPostViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Account.AccountTrustPostViewModel"
       }
      }
     },
     "required": true
    },
    "description": "Create a new account trust where this account is the target based on the given \"SourceAccountId\", i.e. this account trusts the source account"
   }
  },
  "/v2/AccountTrust/{id}": {
   "put": {
    "tags": [
     "Account Trust"
    ],
    "summary": "Put",
    "operationId": "AccountTrust_Put_put_/v2/AccountTrust/{id}",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "Account trust id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Account.AccountTrustPutViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Account.AccountTrustPutViewModel"
       }
      }
     },
     "required": true
    },
    "description": "Update the account trust description or restrictions"
   },
   "delete": {
    "tags": [
     "Account Trust"
    ],
    "summary": "Delete",
    "operationId": "AccountTrust_Delete_delete_/v2/AccountTrust/{id}",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The trust id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "description": "Delete an account trust"
   }
  },
  "/v2/audit/event-types": {
   "get": {
    "tags": [
     "Audit"
    ],
    "summary": "Get Event Types",
    "operationId": "Audit_GetEventTypes_get_/v2/audit/event-types",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": {
          "type": "string"
         }
        }
       }
      }
     }
    },
    "description": "Get a list of available audit event types"
   }
  },
  "/v2/audit/awsgroup/{groupId}": {
   "get": {
    "tags": [
     "Audit"
    ],
    "summary": "Get Audit Events For Aws Sec Group",
    "operationId": "Audit_GetAuditEventsForAwsSecGroup_get_/v2/audit/awsgroup/{groupId}",
    "parameters": [
     {
      "name": "groupId",
      "in": "path",
      "description": "the Security Group id",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int64"
      }
     },
     {
      "name": "startTimestamp",
      "in": "query",
      "description": "the time of the first event to be fetched",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date-time"
      }
     },
     {
      "name": "endTimestamp",
      "in": "query",
      "description": "the time of the last event to be fetched",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date-time"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Dome9.Web.Api.Models.AuditEntryViewModel"
         }
        }
       }
      }
     }
    },
    "description": "Get audit events for a specific AWS Security Group"
   }
  },
  "/v2/audit/export": {
   "get": {
    "tags": [
     "Audit"
    ],
    "summary": "Get Export",
    "operationId": "Audit_GetExport_get_/v2/audit/export",
    "parameters": [
     {
      "name": "startTimestamp",
      "in": "query",
      "description": "the time of the first event to be exported in the report",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date-time"
      }
     },
     {
      "name": "endTimestamp",
      "in": "query",
      "description": "the time of the last event to be exported in the report",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date-time"
      }
     },
     {
      "name": "userNameFilter",
      "in": "query",
      "description": "only events for this specific user will be exported",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "eventType",
      "in": "query",
      "description": "only events of this specific type will be exported",
      "required": false,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "description": "Export an audit events report in a csv format"
   }
  },
  "/v2/audit/row-data-api": {
   "get": {
    "tags": [
     "Audit"
    ],
    "summary": "Get Row Data Api",
    "operationId": "Audit_GetRowDataApi_get_/v2/audit/row-data-api",
    "parameters": [
     {
      "name": "startTimestamp",
      "in": "query",
      "description": "the time of the first event  in the report- Epoch time in milliseconds",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "endTimestamp",
      "in": "query",
      "description": "the time of the last event in the report - Epoch time in milliseconds",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filter",
      "in": "query",
      "description": "qsl query filter",
      "required": false,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Falconetix.Model.Audit.ApiAuditResult"
         }
        }
       }
      }
     }
    },
    "description": "get api events audit row data"
   }
  },
  "/v2/audit/row-data-system": {
   "get": {
    "tags": [
     "Audit"
    ],
    "summary": "Get Row Data System",
    "operationId": "Audit_GetRowDataSystem_get_/v2/audit/row-data-system",
    "parameters": [
     {
      "name": "startTimestamp",
      "in": "query",
      "description": "the time of the first event  in the report - Epoch time in milliseconds",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "endTimestamp",
      "in": "query",
      "description": "the time of the last event in the report - Epoch time in milliseconds",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filter",
      "in": "query",
      "description": "qsl query filter",
      "required": false,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Falconetix.Model.Audit.SystemAuditResult"
         }
        }
       }
      }
     }
    },
    "description": "get system events audit row data"
   }
  },
  "/v2/audit/data-count": {
   "get": {
    "tags": [
     "Audit"
    ],
    "summary": "Get Row Data Count",
    "operationId": "Audit_GetRowDataCount_get_/v2/audit/data-count",
    "parameters": [
     {
      "name": "startTimestamp",
      "in": "query",
      "description": "the time of the first event  in the report - Epoch time in milliseconds",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "endTimestamp",
      "in": "query",
      "description": "the time of the last event in the report- Epoch time in milliseconds",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filter",
      "in": "query",
      "description": "qsl query filter",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "eventType",
      "in": "query",
      "description": "system events or api events",
      "required": false,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Falconetix.Model.Audit.CountAuditResult"
        }
       }
      }
     }
    },
    "description": "get row data result count by type api/system"
   }
  },
  "/v2/Audit": {
   "get": {
    "tags": [
     "Audit"
    ],
    "summary": "Get",
    "operationId": "Audit_Get_get_/v2/Audit",
    "parameters": [
     {
      "name": "pageNum",
      "in": "query",
      "description": "page # in the sequence of audit pages",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "eventsPerPage",
      "in": "query",
      "description": "no. of audit events in the page",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "startTimestamp",
      "in": "query",
      "description": "the time of first audit to be fetched",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date-time"
      }
     },
     {
      "name": "endTimestamp",
      "in": "query",
      "description": "the time of the last audit to be fetched",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date-time"
      }
     },
     {
      "name": "userName",
      "in": "query",
      "description": "only events for this specific user will be fetched",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "eventType",
      "in": "query",
      "description": "only events of this specific type will be fetched",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fim",
      "in": "query",
      "description": "",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Models.AuditViewModel"
        }
       }
      }
     }
    },
    "description": "Get audit events with optional filters"
   }
  },
  "/v2/Audit/{id}": {
   "get": {
    "tags": [
     "Audit"
    ],
    "summary": "Get Audit Event Metadata",
    "operationId": "Audit_GetAuditEventMetadata_get_/v2/Audit/{id}",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The audit event id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Models.AuditEntryViewModel"
        }
       }
      }
     }
    },
    "description": "Get audit metadata"
   }
  },
  "/v2/BillableAssets": {
   "get": {
    "tags": [
     "Billable Assets"
    ],
    "operationId": "BillableAssets_Get_get_/v2/BillableAssets",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.BillableAssets.AccountBillableAssetsViewModel"
        }
       }
      }
     }
    },
    "description": "",
    "summary": "Get"
   }
  },
  "/v2/billableAssetsReport/dailyUsage": {
   "get": {
    "tags": [
     "Billable Assets Report"
    ],
    "summary": "Get Daily Usage Billable Assets Report",
    "operationId": "BillableAssetsReport_GetDailyUsageBillableAssetsReport_get_/v2/billableAssetsReport/dailyUsage",
    "parameters": [
     {
      "name": "fromDate",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "format": "date-time"
      }
     },
     {
      "name": "toDate",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "format": "date-time"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "description": "Get daily usage billable assets report"
   }
  },
  "/v2/BillableAssetsReport": {
   "get": {
    "tags": [
     "Billable Assets Report"
    ],
    "summary": "Get Billable Assets Report",
    "operationId": "BillableAssetsReport_GetBillableAssetsReport_get_/v2/BillableAssetsReport",
    "parameters": [
     {
      "name": "month",
      "in": "query",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "year",
      "in": "query",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "description": "Get last month billable assets report"
   }
  },
  "/v2/CloudInfraUser": {
   "get": {
    "tags": [
     "Cloud Infra User"
    ],
    "operationId": "CloudInfraUser_Get_get_/v2/CloudInfraUser",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Falconetix.Model.CloudInfra.CloudInfraUserViewModel"
         }
        }
       }
      }
     }
    },
    "description": "",
    "summary": "Get"
   },
   "post": {
    "tags": [
     "Cloud Infra User"
    ],
    "operationId": "CloudInfraUser_Post_post_/v2/CloudInfraUser",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.UserAndRole.CreateDome9CloudInfraUserResponseViewModel"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.UserAndRole.CreateDome9CloudInfraUserRequestViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.UserAndRole.CreateDome9CloudInfraUserRequestViewModel"
       }
      }
     },
     "required": true
    },
    "description": "",
    "summary": "Post"
   }
  },
  "/v2/Compliance/ContinuousComplianceNotification/{id}": {
   "get": {
    "tags": [
     "Continuous Compliance Notification"
    ],
    "summary": "Get",
    "operationId": "ContinuousComplianceNotification_Get_get_/v2/Compliance/ContinuousComplianceNotification/{id}",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "the policy id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Compliance.ContinuousCompliance.ContinuousComplianceNotificationGetViewModel"
        }
       }
      }
     }
    },
    "description": "Get a Notification policy"
   },
   "put": {
    "tags": [
     "Continuous Compliance Notification"
    ],
    "summary": "Put",
    "operationId": "ContinuousComplianceNotification_Put_put_/v2/Compliance/ContinuousComplianceNotification/{id}",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "the policy id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Compliance.ContinuousCompliance.ContinuousComplianceNotificationGetViewModel"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Compliance.ContinuousCompliance.ContinuousComplianceNotificationPutViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Compliance.ContinuousCompliance.ContinuousComplianceNotificationPutViewModel"
       }
      }
     },
     "description": "updated details for the policy",
     "required": true
    },
    "description": "Update a Notification policy"
   },
   "delete": {
    "tags": [
     "Continuous Compliance Notification"
    ],
    "summary": "Delete",
    "operationId": "ContinuousComplianceNotification_Delete_delete_/v2/Compliance/ContinuousComplianceNotification/{id}",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "the policy id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "description": "Delete a Notification policy"
   }
  },
  "/v2/Compliance/ContinuousComplianceNotification": {
   "get": {
    "tags": [
     "Continuous Compliance Notification"
    ],
    "summary": "Get",
    "operationId": "ContinuousComplianceNotification_Get_get_/v2/Compliance/ContinuousComplianceNotification",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Dome9.Web.Api.Compliance.ContinuousCompliance.ContinuousComplianceNotificationGetViewModel"
         }
        }
       }
      }
     }
    },
    "description": "Get all Notification policies"
   },
   "post": {
    "tags": [
     "Continuous Compliance Notification"
    ],
    "summary": "Post",
    "operationId": "ContinuousComplianceNotification_Post_post_/v2/Compliance/ContinuousComplianceNotification",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Compliance.ContinuousCompliance.ContinuousComplianceNotificationGetViewModel"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Compliance.ContinuousCompliance.ContinuousComplianceNotificationPostViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Compliance.ContinuousCompliance.ContinuousComplianceNotificationPostViewModel"
       }
      }
     },
     "description": "details for the policy",
     "required": true
    },
    "description": "Create a new Notification policy"
   }
  },
  "/v2/Compliance/ContinuousComplianceNotification/get-by-name": {
   "get": {
    "tags": [
     "Continuous Compliance Notification"
    ],
    "summary": "Get By Name",
    "operationId": "ContinuousComplianceNotification_GetByName_get_/v2/Compliance/ContinuousComplianceNotification/get-by-name",
    "parameters": [
     {
      "name": "name",
      "in": "query",
      "description": "the notification name",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "description": "Get a Notification policy"
   }
  },
  "/v2/Compliance/ContinuousComplianceNotification/PublishOpenedFindings/{id}": {
   "post": {
    "tags": [
     "Continuous Compliance Notification"
    ],
    "summary": "Publish Opened Findings By Policy Id",
    "operationId": "ContinuousComplianceNotification_PublishOpenedFindingsByPolicyIdAsync_post_/v2/Compliance/ContinuousComplianceNotification/PublishOpenedFindings/{id}",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The policy id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.BL.Std.Services.ContinuousAssessment.ContinuousComplianceNotificationService.PublishResult"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Compliance.ContinuousCompliance.ContinuousComplianceNotificationSyncViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Compliance.ContinuousCompliance.ContinuousComplianceNotificationSyncViewModel"
       }
      }
     },
     "description": "Updated details for the policy",
     "required": true
    },
    "description": "Publish (notify) all findings for a specific policy.\r\nThis method is used to sync (send) all existing findings via the designated SNS topic assigned to this notification policy.<br />\r\nIt is mostly used for testing of automatic remediation actions (see: https://cloudbots.dome9.com/)"
   }
  },
  "/v2/Compliance/ContinuousComplianceNotification/webhookJiraTokens": {
   "get": {
    "tags": [
     "Continuous Compliance Notification"
    ],
    "summary": "Webhook Jira Tokens",
    "operationId": "ContinuousComplianceNotification_WebhookJiraTokens_get_/v2/Compliance/ContinuousComplianceNotification/webhookJiraTokens",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "string"
         }
        }
       }
      }
     }
    },
    "description": "Gets all the webhook Jira's tokens"
   }
  },
  "/v2/Compliance/ContinuousComplianceNotification/CircuitBreaker": {
   "get": {
    "tags": [
     "Continuous Compliance Notification"
    ],
    "summary": "Get All Circuit Breaker",
    "operationId": "ContinuousComplianceNotification_GetAllCircuitBreakerAsync_get_/v2/Compliance/ContinuousComplianceNotification/CircuitBreaker",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Dome9.Web.Api.Compliance.ContinuousCompliance.ContinuousComplianceCircuitBreakerGetAllViewModel"
         }
        }
       }
      }
     }
    },
    "description": "Gets all the notifications that have at least one integration issue"
   }
  },
  "/v2/Compliance/ContinuousComplianceNotification/CircuitBreaker/{id}": {
   "get": {
    "tags": [
     "Continuous Compliance Notification"
    ],
    "summary": "Get Circuit Breaker",
    "operationId": "ContinuousComplianceNotification_GetCircuitBreakerAsync_get_/v2/Compliance/ContinuousComplianceNotification/CircuitBreaker/{id}",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "notification id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Dome9.Web.Api.Compliance.ContinuousCompliance.ContinuousComplianceCircuitBreakerGetViewModel"
         }
        }
       }
      }
     }
    },
    "description": "Gets all the integration issues of the given notification"
   }
  },
  "/v2/Compliance/ContinuousComplianceNotification/CircuitBreaker/{id}/{integrationType}": {
   "delete": {
    "tags": [
     "Continuous Compliance Notification"
    ],
    "summary": "Delete Circuit Breaker",
    "operationId": "ContinuousComplianceNotification_DeleteCircuitBreakerAsync_delete_/v2/Compliance/ContinuousComplianceNotification/CircuitBreaker/{id}/{integrationType}",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "notification id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "integrationType",
      "in": "path",
      "description": "the integration, eg. AwsSecurityHub",
      "required": true,
      "schema": {
       "type": "string",
       "enum": [
        "Sns",
        "EmailPerFinding",
        "IndexElasticSearch",
        "PagerDuty",
        "AwsSecurityHub",
        "GcpSecurityCommandCenter",
        "Webhook",
        "AzureSecurityCenter",
        "Slack",
        "AggregatedEmail",
        "Teams",
        "Eventarc",
        "SlackSingleMessage",
        "TeamsSingleMessage"
       ]
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "description": "Deletes the integration issue of the given notification and integration"
   }
  },
  "/v2/GlobalSearch": {
   "get": {
    "tags": [
     "Global Search"
    ],
    "summary": "Get",
    "operationId": "GlobalSearch_Get_get_/v2/GlobalSearch",
    "parameters": [
     {
      "name": "freeText",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": {
          "type": "object"
         }
        }
       }
      }
     }
    },
    "description": "Get top results for each service"
   }
  },
  "/{id}/external": {
   "put": {
    "tags": [
     "Role"
    ],
    "summary": "Put Role By External Account Id",
    "operationId": "Role_PutRoleByExternalAccountId_put_/{id}/external",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The role id",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Role.EditRoleViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Role.EditRoleViewModel"
       }
      }
     },
     "description": "The role info",
     "required": true
    },
    "description": "Update a role"
   }
  },
  "/v2/Role": {
   "get": {
    "tags": [
     "Role"
    ],
    "summary": "Get",
    "operationId": "Role_Get_get_/v2/Role",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Dome9.Web.Api.Role.RoleGetViewModel"
         }
        }
       }
      }
     }
    },
    "description": "Get all roles for the account."
   },
   "post": {
    "tags": [
     "Role"
    ],
    "summary": "Post",
    "operationId": "Role_Post_post_/v2/Role",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "requestBody": {
     "$ref": "#/components/requestBodies/Dome9.Web.Api.Role.RoleViewModel"
    },
    "description": "Create a new role"
   }
  },
  "/v2/Role/{id}": {
   "get": {
    "tags": [
     "Role"
    ],
    "summary": "Get",
    "operationId": "Role_Get_get_/v2/Role/{id}",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Role.RoleViewModel"
        }
       }
      }
     }
    },
    "description": "Get the specific role with the specified id"
   },
   "put": {
    "tags": [
     "Role"
    ],
    "summary": "Put",
    "operationId": "Role_Put_put_/v2/Role/{id}",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The role id",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Role.RoleViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Role.RoleViewModel"
       }
      }
     },
     "description": "The role info",
     "required": true
    },
    "description": "Update a role"
   },
   "delete": {
    "tags": [
     "Role"
    ],
    "summary": "Delete",
    "operationId": "Role_Delete_delete_/v2/Role/{id}",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The role id to delete",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "description": "Delete a role"
   }
  },
  "/v2/service-account/update": {
   "post": {
    "tags": [
     "Service Account"
    ],
    "summary": "Update Service Account",
    "operationId": "ServiceAccount_UpdateServiceAccount_post_/v2/service-account/update",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.ServiceAccountViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.ServiceAccountViewModel"
       }
      }
     },
     "description": "Includes the role ID to update and the new name and role IDs to apply",
     "required": true
    },
    "description": "Update a Service Account (Name and Roles)"
   }
  },
  "/v2/service-account/{id}": {
   "get": {
    "tags": [
     "Service Account"
    ],
    "summary": "Get",
    "operationId": "ServiceAccount_Get_get_/v2/service-account/{id}",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.ServiceAccountGetViewModel"
        }
       }
      }
     }
    },
    "description": "Get details on all service accounts in the account"
   }
  },
  "/v2/service-account/{serviceAccountId}": {
   "delete": {
    "tags": [
     "Service Account"
    ],
    "summary": "Delete Service Account",
    "operationId": "ServiceAccount_DeleteServiceAccount_delete_/v2/service-account/{serviceAccountId}",
    "parameters": [
     {
      "name": "serviceAccountId",
      "in": "path",
      "description": "The ID of the Service Account to delete",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "description": "Delete a specific Service Account by ID"
   }
  },
  "/v2/service-account/generate-key": {
   "post": {
    "tags": [
     "Service Account"
    ],
    "summary": "Generate Secret For Service Account",
    "operationId": "ServiceAccount_GenerateSecretForServiceAccount_post_/v2/service-account/generate-key",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.ServiceAccountViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.ServiceAccountViewModel"
       }
      }
     },
     "description": "Details on the Service Account. Only the ID is required",
     "required": true
    },
    "description": "Generate a new access key and secret for a specific Service Account"
   }
  },
  "/v2/service-account": {
   "get": {
    "tags": [
     "Service Account"
    ],
    "summary": "Get Service Accounts",
    "operationId": "ServiceAccount_GetServiceAccounts_get_/v2/service-account",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Dome9.Web.Api.ServiceAccountGetViewModel"
         }
        }
       }
      }
     }
    },
    "description": "Get details on all service accounts in the account"
   },
   "post": {
    "tags": [
     "Service Account"
    ],
    "summary": "Post Service Account",
    "operationId": "ServiceAccount_PostServiceAccount_post_/v2/service-account",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.ServiceAccountViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.ServiceAccountViewModel"
       }
      }
     },
     "description": "The name of the Service Account and the role IDs to assign it.",
     "required": true
    },
    "description": "Create a new Service Account"
   },
   "delete": {
    "tags": [
     "Service Account"
    ],
    "summary": "Delete All Service Accounts For User",
    "operationId": "ServiceAccount_DeleteAllServiceAccountsForUser_delete_/v2/service-account",
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "description": "Delete all Service Accounts in the account"
   }
  },
  "/v2/settings/lease-time": {
   "put": {
    "tags": [
     "Settings"
    ],
    "summary": "Update Lease Time",
    "operationId": "Settings_UpdateLeaseTime_put_/v2/settings/lease-time",
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "format": "double",
        "type": "number"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "format": "double",
        "type": "number"
       }
      }
     },
     "description": "default lease time duraion",
     "required": true
    },
    "description": "Update default lease time duration"
   }
  },
  "/v2/settings/email-notifications": {
   "put": {
    "tags": [
     "Settings"
    ],
    "summary": "Update Email Notifications",
    "operationId": "Settings_UpdateEmailNotifications_put_/v2/settings/email-notifications",
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Falconetix.Model.EmailNotificationsDescriptor"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Falconetix.Model.EmailNotificationsDescriptor"
       }
      }
     },
     "required": true
    },
    "description": "Update email notifications\r\n<para>Set what entities related notifications will be sent by email</para>"
   }
  },
  "/v2/settings/Sns": {
   "put": {
    "tags": [
     "Settings"
    ],
    "summary": "Update Sns Integration",
    "operationId": "Settings_UpdateSnsIntegration_put_/v2/settings/Sns",
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Models.SnsSettingsViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Models.SnsSettingsViewModel"
       }
      }
     },
     "description": "ARN for AWS SNS Topic",
     "required": true
    },
    "description": "Update AWS SNS settings for account"
   },
   "post": {
    "tags": [
     "Settings"
    ],
    "summary": "Add Sns Integration",
    "operationId": "Settings_AddSnsIntegration_post_/v2/settings/Sns",
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Models.SnsSettingsViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Models.SnsSettingsViewModel"
       }
      }
     },
     "description": "ARN for AWS SNS topic",
     "required": true
    },
    "description": "Create new AWS SNS settings for account"
   },
   "delete": {
    "tags": [
     "Settings"
    ],
    "summary": "Delete Sns Integration",
    "operationId": "Settings_DeleteSnsIntegration_delete_/v2/settings/Sns",
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "description": "Delete SNS notifications for account"
   }
  },
  "/v2/settings/email-notification-filters/cloudAccounts": {
   "get": {
    "tags": [
     "Settings"
    ],
    "summary": "Get Email Notification Filters",
    "operationId": "Settings_GetEmailNotificationFilters_get_/v2/settings/email-notification-filters/cloudAccounts",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Models.EmailNotificationFiltersViewModel"
        }
       }
      }
     }
    },
    "description": "Get the cloud acounts set to receive email notifications"
   },
   "put": {
    "tags": [
     "Settings"
    ],
    "operationId": "Settings_UpdateEmailNotificationFilters_put_/v2/settings/email-notification-filters/cloudAccounts",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Models.EmailNotificationFiltersViewModel"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Models.EmailNotificationFiltersViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Models.EmailNotificationFiltersViewModel"
       }
      }
     },
     "required": true
    },
    "description": "",
    "summary": "Update Email Notification Filters"
   },
   "delete": {
    "tags": [
     "Settings"
    ],
    "summary": "Delete Email Notification Filters",
    "operationId": "Settings_DeleteEmailNotificationFilters_delete_/v2/settings/email-notification-filters/cloudAccounts",
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "description": "Set the cloud accounts to null so all events emails will be sent for all cloud accounts"
   }
  },
  "/v2/Settings": {
   "get": {
    "tags": [
     "Settings"
    ],
    "summary": "Get",
    "operationId": "Settings_Get_get_/v2/Settings",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Models.SettingsViewModel"
        }
       }
      }
     }
    },
    "description": "Get account settings"
   },
   "patch": {
    "tags": [
     "Settings"
    ],
    "summary": "Update Settings",
    "operationId": "Settings_UpdateSettings_patch_/v2/Settings",
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Models.SettingsViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Models.SettingsViewModel"
       }
      }
     },
     "required": true
    },
    "description": "Update account settings (partial)"
   }
  },
  "/v2/TenableAccount/{id}/Validate": {
   "post": {
    "tags": [
     "Tenable Account"
    ],
    "operationId": "TenableAccount_ValidatePermissions_post_/v2/TenableAccount/{id}/Validate",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "description": "",
    "summary": "Validate Permissions"
   }
  },
  "/v2/TenableAccount/Sync": {
   "post": {
    "tags": [
     "Tenable Account"
    ],
    "operationId": "TenableAccount_SyncVulnerabilities_post_/v2/TenableAccount/Sync",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Tenable.Account.TenableVulnerabilitySyncResultViewModel"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Tenable.Account.TenableVulnerabilitySyncViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Tenable.Account.TenableVulnerabilitySyncViewModel"
       }
      }
     },
     "required": true
    },
    "description": "",
    "summary": "Sync Vulnerabilities"
   }
  },
  "/v2/TenableAccount": {
   "get": {
    "tags": [
     "Tenable Account"
    ],
    "operationId": "TenableAccount_Get_get_/v2/TenableAccount",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.Tenable.Account.TenableAccountStatusViewModel"
        }
       }
      }
     }
    },
    "description": "",
    "summary": "Get"
   },
   "post": {
    "tags": [
     "Tenable Account"
    ],
    "operationId": "TenableAccount_Post_post_/v2/TenableAccount",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Tenable.Account.TenableAccountViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.Tenable.Account.TenableAccountViewModel"
       }
      }
     },
     "required": true
    },
    "description": "",
    "summary": "Post"
   },
   "delete": {
    "tags": [
     "Tenable Account"
    ],
    "operationId": "TenableAccount_Delete_delete_/v2/TenableAccount",
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "description": "",
    "summary": "Delete"
   }
  },
  "/v2/user/{id}": {
   "get": {
    "tags": [
     "User"
    ],
    "summary": "Get",
    "operationId": "User_Get_get_/v2/user/{id}",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "Can be 'me' or a numeric value",
      "required": true,
      "schema": {
       "type": "string",
       "default": "me"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Dome9.Web.Api.User.UserViewModel"
        }
       }
      }
     }
    },
    "description": "Get the user with the specified id."
   },
   "put": {
    "tags": [
     "User"
    ],
    "summary": "Put",
    "operationId": "User_Put_put_/v2/user/{id}",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "Can be 'me' or a numeric value",
      "required": true,
      "schema": {
       "type": "string",
       "default": "me"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.User.UserViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.User.UserViewModel"
       }
      }
     },
     "description": "Can update permissions with \"Permissions\", roles with \"RoleIds\" and SSO Enabled with \"SsoEnabled\"",
     "required": true
    },
    "description": "Update the user with the specified id"
   },
   "delete": {
    "tags": [
     "User"
    ],
    "summary": "Delete",
    "operationId": "User_Delete_delete_/v2/user/{id}",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "Can be 'me' or a numeric value",
      "required": true,
      "schema": {
       "type": "string",
       "default": "me"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "description": "Delete a user"
   }
  },
  "/v2/user/{id}/unlock": {
   "put": {
    "tags": [
     "User"
    ],
    "summary": "Unlock User",
    "operationId": "User_UnlockUser_put_/v2/user/{id}/unlock",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "Can be 'me' or a numeric value",
      "required": true,
      "schema": {
       "type": "string",
       "default": "me"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "description": "Unlock a user that was locked out after a certain number of failed authentications."
   }
  },
  "/v2/user/{id}/iam-safe/accounts/{accountId}/iamEntities": {
   "put": {
    "tags": [
     "User"
    ],
    "summary": "Put Iam Safe Account Iam Entities",
    "operationId": "User_PutIamSafeAccountIamEntities_put_/v2/user/{id}/iam-safe/accounts/{accountId}/iamEntities",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "Can be 'me' or a numeric value",
      "required": true,
      "schema": {
       "type": "string",
       "default": "me"
      }
     },
     {
      "name": "accountId",
      "in": "path",
      "description": "The cloud account id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.UserAndRole.IamSafe.UserIamSafeAccountPutViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.UserAndRole.IamSafe.UserIamSafeAccountPutViewModel"
       }
      }
     },
     "description": "The IAM entities to link",
     "required": true
    },
    "description": "Update IAM Safe entities for a user."
   }
  },
  "/v2/user/{id}/iam-safe/accounts/{cloudAccountId}/iamEntities": {
   "post": {
    "tags": [
     "User"
    ],
    "summary": "Post Iam Safe Account Iam Entities",
    "operationId": "User_PostIamSafeAccountIamEntitiesAsync_post_/v2/user/{id}/iam-safe/accounts/{cloudAccountId}/iamEntities",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "Can be 'me' or a numeric value",
      "required": true,
      "schema": {
       "type": "string",
       "default": "me"
      }
     },
     {
      "name": "cloudAccountId",
      "in": "path",
      "description": "Dome9 internal ID or AWS ID",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.UserAndRole.IamSafe.UserIamSafeAccountPutViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.UserAndRole.IamSafe.UserIamSafeAccountPutViewModel"
       }
      }
     },
     "description": "The IAM entities to link",
     "required": true
    },
    "description": "Add IAM Safe entities for a user."
   }
  },
  "/v2/user/{id}/iam-safe/accounts/{accountId}/deleteIamEntities": {
   "post": {
    "tags": [
     "User"
    ],
    "summary": "Delete Iam Safe Entities For User",
    "operationId": "User_DeleteIamSafeEntitiesForUser_post_/v2/user/{id}/iam-safe/accounts/{accountId}/deleteIamEntities",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "Can be 'me' or a numeric value",
      "required": true,
      "schema": {
       "type": "string",
       "default": "me"
      }
     },
     {
      "name": "accountId",
      "in": "path",
      "description": "The cloud account id",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.UserAndRole.IamSafe.UserIamSafeAccountPutViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.UserAndRole.IamSafe.UserIamSafeAccountPutViewModel"
       }
      }
     },
     "description": "The IAM entities to remove",
     "required": true
    },
    "description": "Delete iam entities for user"
   }
  },
  "/v2/user": {
   "get": {
    "tags": [
     "User"
    ],
    "summary": "Get",
    "operationId": "User_Get_get_/v2/user",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Dome9.Web.Api.User.UserViewModel"
         }
        }
       }
      }
     }
    },
    "description": "Get all Dome9 users for the Dome9 account."
   },
   "post": {
    "tags": [
     "User"
    ],
    "summary": "Post",
    "operationId": "User_Post_post_/v2/user",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.User.UserPostViewModel"
       }
      },
      "application/x-www-form-urlencoded": {
       "schema": {
        "$ref": "#/components/schemas/Dome9.Web.Api.User.UserPostViewModel"
       }
      }
     },
     "description": "The new user",
     "required": true
    },
    "description": "Create a new Dome9 user"
   }
  },
  "/v2/integration": {
   "post": {
    "tags": [
     "Integration"
    ],
    "operationId": "Integration_CreateIntegration_post_/v2/integration",
    "requestBody": {
     "x-name": "request",
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/IntegrationPostRequestModel"
       }
      }
     },
     "required": true,
     "x-position": 1
    },
    "responses": {
     "201": {
      "description": "",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/IntegrationViewModel"
        }
       }
      }
     }
    },
    "description": "",
    "summary": "Create Integration"
   },
   "get": {
    "tags": [
     "Integration"
    ],
    "operationId": "Integration_GetAllIntegrations_get_/v2/integration",
    "parameters": [
     {
      "name": "type",
      "in": "query",
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "nullable": true,
       "items": {
        "$ref": "#/components/schemas/IntegrationType"
       }
      },
      "x-position": 1
     }
    ],
    "responses": {
     "200": {
      "description": "",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/IntegrationViewModel"
         }
        }
       }
      }
     }
    },
    "description": "",
    "summary": "Get All Integrations"
   },
   "put": {
    "tags": [
     "Integration"
    ],
    "operationId": "Integration_UpdateIntegration_put_/v2/integration",
    "requestBody": {
     "x-name": "request",
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/IntegrationUpdateRequestModel"
       }
      }
     },
     "required": true,
     "x-position": 1
    },
    "responses": {
     "200": {
      "description": "",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/IntegrationViewModel"
        }
       }
      }
     }
    },
    "description": "",
    "summary": "Update Integration"
   }
  },
  "/v2/integration/{id}": {
   "get": {
    "tags": [
     "Integration"
    ],
    "operationId": "Integration_GetIntegrationById_get_/v2/integration/{id}",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "guid"
      },
      "x-position": 1
     }
    ],
    "responses": {
     "200": {
      "description": "",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/IntegrationViewModel"
        }
       }
      }
     }
    },
    "description": "",
    "summary": "Get Integration By Id"
   },
   "delete": {
    "tags": [
     "Integration"
    ],
    "operationId": "Integration_DeleteIntegration_delete_/v2/integration/{id}",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "guid"
      },
      "x-position": 1
     }
    ],
    "responses": {
     "200": {
      "description": "",
      "content": {
       "application/octet-stream": {
        "schema": {
         "type": "string",
         "format": "binary"
        }
       }
      }
     }
    },
    "description": "",
    "summary": "Delete Integration"
   }
  },
  "/v2/notification/{id}": {
   "get": {
    "tags": [
     "Notification"
    ],
    "operationId": "Notification_Get_get_/v2/notification/{id}",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "guid"
      },
      "x-position": 1
     }
    ],
    "responses": {
     "200": {
      "description": "",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ResponseNotificationViewModel"
        }
       }
      }
     }
    },
    "description": "",
    "summary": "Get"
   },
   "delete": {
    "tags": [
     "Notification"
    ],
    "operationId": "Notification_Delete_delete_/v2/notification/{id}",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "guid"
      },
      "x-position": 1
     }
    ],
    "responses": {
     "200": {
      "description": "",
      "content": {
       "application/octet-stream": {
        "schema": {
         "type": "string",
         "format": "binary"
        }
       }
      }
     }
    },
    "description": "",
    "summary": "Delete"
   }
  },
  "/v2/notification": {
   "get": {
    "tags": [
     "Notification"
    ],
    "operationId": "Notification_GetAll_get_/v2/notification",
    "parameters": [
     {
      "name": "name",
      "in": "query",
      "schema": {
       "type": "string",
       "nullable": true
      },
      "x-position": 1
     }
    ],
    "responses": {
     "200": {
      "description": "",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/ResponseNotificationViewModel"
         }
        }
       }
      }
     }
    },
    "description": "",
    "summary": "Get All"
   },
   "post": {
    "tags": [
     "Notification"
    ],
    "operationId": "Notification_Create_post_/v2/notification",
    "requestBody": {
     "x-name": "notification",
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/PostNotificationViewModel"
       }
      }
     },
     "required": true,
     "x-position": 1
    },
    "responses": {
     "201": {
      "description": "",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ResponseNotificationViewModel"
        }
       }
      }
     }
    },
    "description": "",
    "summary": "Create"
   },
   "put": {
    "tags": [
     "Notification"
    ],
    "operationId": "Notification_Update_put_/v2/notification",
    "requestBody": {
     "x-name": "notification",
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/PutNotificationViewModel"
       }
      }
     },
     "required": true,
     "x-position": 1
    },
    "responses": {
     "200": {
      "description": "",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ResponseNotificationViewModel"
        }
       }
      }
     }
    },
    "description": "",
    "summary": "Update"
   }
  }
 },
 "tags": [
  {
   "name": "AccessLease",
   "description": "Access Leases"
  },
  {
   "name": "AccessLeaseInvitation",
   "description": "Access Lease Invitations"
  },
  {
   "name": "Account"
  },
  {
   "name": "AccountLimitation"
  },
  {
   "name": "AccountPollingInterval"
  },
  {
   "name": "AccountRegistration"
  },
  {
   "name": "AccountTrust",
   "description": "Allow you to define a trust between accounts in order to allow users in a certain account to make changes and operation on another account.\nActions can be taken on a trustee account via a role which is defined on it. \nThe role should be assumed by a user from the trusted account."
  },
  {
   "name": "Agent"
  },
  {
   "name": "Agentless",
   "description": "Agentless Workload Posture"
  },
  {
   "name": "Alert"
  },
  {
   "name": "AlibabaCloudAccount",
   "description": "Alibaba Cloud Accounts"
  },
  {
   "name": "Application"
  },
  {
   "name": "Assessment",
   "description": "Run and View Compliance Assessments"
  },
  {
   "name": "AssessmentHistory"
  },
  {
   "name": "AssessmentHistoryV2",
   "description": "Compliance Assessment History"
  },
  {
   "name": "Audit",
   "description": "Audit logs"
  },
  {
   "name": "Auth"
  },
  {
   "name": "Aws Cloud Account",
   "description": "Manage AWS Cloud Accounts"
  },
  {
   "name": "AwsAppSync"
  },
  {
   "name": "AwsBackupVault"
  },
  {
   "name": "AwsConfigSettings"
  },
  {
   "name": "AwsCustomerGateway"
  },
  {
   "name": "AwsEcsTask"
  },
  {
   "name": "AwsEks"
  },
  {
   "name": "AwsElasticIp"
  },
  {
   "name": "AwsElasticsearchDomain"
  },
  {
   "name": "AwsEmrCluster"
  },
  {
   "name": "AwsInspectorFindings"
  },
  {
   "name": "AwsInspectorRuns"
  },
  {
   "name": "AwsLoadBalancersNetworkInterfaces"
  },
  {
   "name": "AwsOrganizations"
  },
  {
   "name": "AwsQuickSightAccount"
  },
  {
   "name": "AwsQuickSightGroup"
  },
  {
   "name": "AwsQuickSightUser"
  },
  {
   "name": "AwsQuickSightVpcConnections"
  },
  {
   "name": "AwsSageMaker"
  },
  {
   "name": "AwsSecurityGroup"
  },
  {
   "name": "AwsSecurityGroupPolicy"
  },
  {
   "name": "AwsSecurityGroupsIndex"
  },
  {
   "name": "AwsUnifiedOnboarding",
   "description": "Aws Unified Onboarding"
  },
  {
   "name": "AwsVpcEndpoint"
  },
  {
   "name": "AzureAnalysisService"
  },
  {
   "name": "AzureApplicationGateway"
  },
  {
   "name": "AzureApplicationSecurityGroup"
  },
  {
   "name": "AzureCloudAccount",
   "description": "Onboard Azure accounts"
  },
  {
   "name": "AzureComputeGalleryImage"
  },
  {
   "name": "AzureCosmosDbAccount"
  },
  {
   "name": "AzureDisk"
  },
  {
   "name": "AzureFunction"
  },
  {
   "name": "AzureKeyVault"
  },
  {
   "name": "AzureKubernetes"
  },
  {
   "name": "AzureLoadBalancer"
  },
  {
   "name": "AzureLock"
  },
  {
   "name": "AzureLogicApp"
  },
  {
   "name": "AzureLogProfile"
  },
  {
   "name": "AzurePolicyAssignment"
  },
  {
   "name": "AzureRedisCache"
  },
  {
   "name": "AzureResourceGroup"
  },
  {
   "name": "AzureRouteTable"
  },
  {
   "name": "AzureSecurityGroup"
  },
  {
   "name": "AzureSecurityGroupPolicy",
   "description": "Azure Network Security Group Policies"
  },
  {
   "name": "AzureSnapshot"
  },
  {
   "name": "AzureSqlDb"
  },
  {
   "name": "AzureSqlServer"
  },
  {
   "name": "AzureStorageAccounts"
  },
  {
   "name": "AzureStorageBlobContainer"
  },
  {
   "name": "AzureSubnet"
  },
  {
   "name": "AzureUser"
  },
  {
   "name": "AzureVirtualMachine"
  },
  {
   "name": "AzureVirtualMachineImage"
  },
  {
   "name": "AzureVirtualMachineScaleSet"
  },
  {
   "name": "AzureVirtualNetworkPeering"
  },
  {
   "name": "AzureWebApp"
  },
  {
   "name": "BigTable"
  },
  {
   "name": "BillableAssets",
   "description": "Retrieve billable assets data"
  },
  {
   "name": "BillableAssetsReport",
   "description": "Billable Assets Report"
  },
  {
   "name": "Billing"
  },
  {
   "name": "Clarity"
  },
  {
   "name": "CloudAcmCertificate"
  },
  {
   "name": "CloudAmi"
  },
  {
   "name": "CloudAutoScalingGroup"
  },
  {
   "name": "CloudDbInstance"
  },
  {
   "name": "CloudDirectConnect"
  },
  {
   "name": "CloudDynamoDb"
  },
  {
   "name": "CloudEcsCluster"
  },
  {
   "name": "CloudEcsService",
   "description": "Cloud Ecs Service"
  },
  {
   "name": "CloudEcsTaskDefinition"
  },
  {
   "name": "CloudEfs"
  },
  {
   "name": "CloudElastiCacheCluster"
  },
  {
   "name": "CloudFlowLogs"
  },
  {
   "name": "CloudFrontDistribution"
  },
  {
   "name": "CloudGuardDutyDetector"
  },
  {
   "name": "CloudIamAccountSummary"
  },
  {
   "name": "CloudIamCredentialReport"
  },
  {
   "name": "CloudIamGroup"
  },
  {
   "name": "CloudIamPasswordPolicy"
  },
  {
   "name": "CloudIamPolicy"
  },
  {
   "name": "CloudIamRole"
  },
  {
   "name": "CloudIamServerCertificate"
  },
  {
   "name": "CloudIamUser"
  },
  {
   "name": "CloudIamVirtualMfaDevice"
  },
  {
   "name": "CloudInfraUser",
   "description": "CloudInfra Users"
  },
  {
   "name": "CloudInstance",
   "description": "Cloud Instances"
  },
  {
   "name": "CloudInternetGateway"
  },
  {
   "name": "CloudKinesisStream"
  },
  {
   "name": "CloudKms"
  },
  {
   "name": "CloudKmsAlias"
  },
  {
   "name": "CloudLambdaFunction",
   "description": "Cloud Lambda Function"
  },
  {
   "name": "CloudLoadBalancer"
  },
  {
   "name": "CloudLogGroups"
  },
  {
   "name": "CloudMetricAlarm"
  },
  {
   "name": "CloudNacl"
  },
  {
   "name": "CloudNetworkInterfaces"
  },
  {
   "name": "CloudRedshiftCluster"
  },
  {
   "name": "CloudRegion"
  },
  {
   "name": "CloudRoute53Domain"
  },
  {
   "name": "CloudRoute53HostedZone"
  },
  {
   "name": "CloudRoute53RecordSetGroup"
  },
  {
   "name": "CloudRouteTable"
  },
  {
   "name": "CloudS3Bucket",
   "description": ""
  },
  {
   "name": "CloudSecurityGroup",
   "description": "AWS Security Groups"
  },
  {
   "name": "CloudSnsSubscription"
  },
  {
   "name": "CloudSnsTopic"
  },
  {
   "name": "CloudSql"
  },
  {
   "name": "CloudSqs",
   "description": ""
  },
  {
   "name": "CloudSubnet"
  },
  {
   "name": "CloudTrail",
   "description": "CloudTrail"
  },
  {
   "name": "CloudVolume"
  },
  {
   "name": "CloudVpc"
  },
  {
   "name": "CloudVpcPeeringConnection"
  },
  {
   "name": "CloudVPNConnection"
  },
  {
   "name": "CloudVpnGateway"
  },
  {
   "name": "CloudWAFRegional"
  },
  {
   "name": "CloudWatchEventsRule",
   "description": "CloudWatchEventsRule"
  },
  {
   "name": "ComplianceExclusion",
   "description": "Compliance Exclusions"
  },
  {
   "name": "CompliancePolicy"
  },
  {
   "name": "ComplianceRemediation",
   "description": "Compliance Remediation"
  },
  {
   "name": "ComplianceRemediationOld",
   "description": "Compliance Remediation - DEPRECATED - please use /Compliance/Remediation instead"
  },
  {
   "name": "ComplianceRuleset",
   "description": "ComplianceRuleset"
  },
  {
   "name": "ContinuousComplianceNotification",
   "description": "Continuous Compliance Notification Policies"
  },
  {
   "name": "ContinuousCompliancePolicy"
  },
  {
   "name": "ContinuousCompliancePolicyV2",
   "description": "Continuous Compliance Policies"
  },
  {
   "name": "EmergencyPolicy"
  },
  {
   "name": "EntityFetchStatus"
  },
  {
   "name": "EntityReport"
  },
  {
   "name": "ExclusionOld",
   "description": "Compliance Exclusions - DEPRECATED - please use /Compliance/Exclusion instead"
  },
  {
   "name": "ExternalFindings",
   "description": "Findings from External (3rd-party) systems"
  },
  {
   "name": "Fim"
  },
  {
   "name": "Finding",
   "description": "Compliance Findings"
  },
  {
   "name": "FindingsReport",
   "description": "Compliance Findings csv reports"
  },
  {
   "name": "GcpBigQuery"
  },
  {
   "name": "GcpDisk"
  },
  {
   "name": "GcpGkeCluster"
  },
  {
   "name": "GcpImage"
  },
  {
   "name": "GcpKmsKeyRing"
  },
  {
   "name": "GcpProjectInfo",
   "description": "Google Cloud Project Info"
  },
  {
   "name": "GcpPubSub"
  },
  {
   "name": "GcpSecurityGroup"
  },
  {
   "name": "GcpServiceAccount"
  },
  {
   "name": "GcpStorageBucket"
  },
  {
   "name": "GenericList",
   "description": "Generic Lists"
  },
  {
   "name": "GlobalSearch",
   "description": "Global search for all CloudGuard services"
  },
  {
   "name": "GoogleCloudAccount",
   "description": "Google Cloud Accounts"
  },
  {
   "name": "GoogleCloudFirewallRule"
  },
  {
   "name": "GoogleCloudFunction"
  },
  {
   "name": "GoogleCloudIamPolicy"
  },
  {
   "name": "GoogleCloudNetwork",
   "description": "Google Cloud Network"
  },
  {
   "name": "GoogleCloudSubnet"
  },
  {
   "name": "GoogleCloudVMInstance"
  },
  {
   "name": "Home"
  },
  {
   "name": "IamSafeLease",
   "description": "IAM Safety Leases"
  },
  {
   "name": "IncidentsStatus"
  },
  {
   "name": "InfrastructureAssessment"
  },
  {
   "name": "Intelligence",
   "description": "CloudGuard Intelligence allows you to visualize and analyze Account Activity and Network Traffic into and out of your cloud environment."
  },
  {
   "name": "IpAddressMetadata",
   "description": "IP Address Metadata"
  },
  {
   "name": "IpList",
   "description": "IP Lists"
  },
  {
   "name": "LicenseActivator"
  },
  {
   "name": "Licensing"
  },
  {
   "name": "ManagedGenericList"
  },
  {
   "name": "Msp"
  },
  {
   "name": "OrganizationalUnit",
   "description": "Manage Organizational Units"
  },
  {
   "name": "Permission"
  },
  {
   "name": "ProtectedAsset"
  },
  {
   "name": "ProtectedAssetsReport",
   "description": "Compliance Protected Asset csv reports"
  },
  {
   "name": "ProtegoStatistics",
   "description": "Protego statistics by dates"
  },
  {
   "name": "Role",
   "description": "CloudGuard Roles"
  },
  {
   "name": "RulesEngine"
  },
  {
   "name": "SecurityGroup"
  },
  {
   "name": "Serverless"
  },
  {
   "name": "ServerlessPolicy",
   "description": "Serverless policy"
  },
  {
   "name": "ServiceAccount",
   "description": "CloudGuard Service Accounts"
  },
  {
   "name": "ServicePort"
  },
  {
   "name": "Settings",
   "description": "Account Settings"
  },
  {
   "name": "ShiftLeft",
   "description": "ShiftLeft"
  },
  {
   "name": "SystemHealth"
  },
  {
   "name": "TenableAccount",
   "description": "Onboard Tenable accounts"
  },
  {
   "name": "User",
   "description": "CloudGuard account users"
  },
  {
   "name": "BaseImage",
   "description": ""
  },
  {
   "name": "ContainerRegistryAccount",
   "description": "Container Registry Account"
  },
  {
   "name": "ContainerRegistryAccountInternal",
   "description": ""
  },
  {
   "name": "ContainerRegistryImageAssurancePolicy",
   "description": "(deprecated: move to use /v2/vulnerability/policy)"
  },
  {
   "name": "Dashboard",
   "description": ""
  },
  {
   "name": "EcsConfiguration",
   "description": ""
  },
  {
   "name": "EcsImageAssurancePolicy",
   "description": "(deprecated: move to use /v2/vulnerability/policy)"
  },
  {
   "name": "EcsImageScan",
   "description": "ECS Image Scan Configuration"
  },
  {
   "name": "Environment",
   "description": ""
  },
  {
   "name": "ImageAdmissionExclusion",
   "description": "[Preview feature] Kubernetes Image admission exclusions"
  },
  {
   "name": "ImageAssuranceDashboard",
   "description": ""
  },
  {
   "name": "ImageAssuranceReport",
   "description": ""
  },
  {
   "name": "KubernetesAccount",
   "description": "Kubernetes Accounts"
  },
  {
   "name": "KubernetesAccountInternal",
   "description": ""
  },
  {
   "name": "KubernetesAccountOld",
   "description": "(deprecated: this api is deprecated, please use '/v2/kubernetes/account' instead)"
  },
  {
   "name": "KubernetesAdmissionControl",
   "description": "Kubernetes Admission Control"
  },
  {
   "name": "KubernetesAdmissionControlPoliciesSummary",
   "description": ""
  },
  {
   "name": "KubernetesClusterRole",
   "description": ""
  },
  {
   "name": "KubernetesImage",
   "description": ""
  },
  {
   "name": "KubernetesImageAdmissionExclusion",
   "description": "[Preview feature] Kubernetes Image admission exclusions (deprecated: this api is deprecated, please use '/v2/kubernetes/admissionControl/imageAdmissionExclusion' instead)"
  },
  {
   "name": "KubernetesImageAssurance",
   "description": "Kubernetes Image Assurance"
  },
  {
   "name": "KubernetesImageAssurancePolicy",
   "description": "Kubernetes Image Assurance Policy (deprecated: move to use /v2/vulnerability/policy)"
  },
  {
   "name": "KubernetesIngress",
   "description": ""
  },
  {
   "name": "KubernetesNetworkPolicy",
   "description": ""
  },
  {
   "name": "KubernetesNode",
   "description": ""
  },
  {
   "name": "KubernetesPod",
   "description": ""
  },
  {
   "name": "KubernetesPodGroup",
   "description": "Kubernetes Pod Groups"
  },
  {
   "name": "KubernetesPodGroupOwner",
   "description": ""
  },
  {
   "name": "KubernetesPodSecurityPolicy",
   "description": ""
  },
  {
   "name": "KubernetesRole",
   "description": ""
  },
  {
   "name": "KubernetesRuntimeAssurance",
   "description": ""
  },
  {
   "name": "KubernetesService",
   "description": ""
  },
  {
   "name": "KubernetesServiceAccount",
   "description": ""
  },
  {
   "name": "Shiftleft",
   "description": ""
  },
  {
   "name": "ShiftLeftAccount",
   "description": "ShiftLeft"
  },
  {
   "name": "ShiftLeftPolicy",
   "description": "ShiftLeft Policy (deprecated: move to use /v2/vulnerability/policy)"
  },
  {
   "name": "Workload",
   "description": ""
  },
  {
   "name": "WorkloadAccountSetting",
   "description": "Workload Account Setting"
  },
  {
   "name": "WorkloadChangeMonitoring",
   "description": ""
  },
  {
   "name": "WorkloadImageAssurance",
   "description": "Workload Image Assurance"
  },
  {
   "name": "WorkloadImageAssuranceInternal",
   "description": ""
  },
  {
   "name": "WorkloadInternal",
   "description": ""
  },
  {
   "name": "WorkloadRuntimeProtection",
   "description": ""
  },
  {
   "name": "Alerts",
   "description": ""
  },
  {
   "name": "Azure",
   "description": ""
  },
  {
   "name": "FindingOrchestration",
   "description": ""
  },
  {
   "name": "FindingsUpdate",
   "description": ""
  },
  {
   "name": "Gcp",
   "description": ""
  },
  {
   "name": "Remediation",
   "description": "Remediation Actions"
  },
  {
   "name": "Reports",
   "description": ""
  },
  {
   "name": "CloudInfraMigration",
   "description": "infinity-portal-connect"
  },
  {
   "name": "GslBuilder",
   "description": ""
  },
  {
   "name": "Infrastructure",
   "description": ""
  },
  {
   "name": "InternalLicense",
   "description": ""
  },
  {
   "name": "NotificationIntegrationInternal",
   "description": "(deprecated: This controller is deprecated and will be removed in the future)"
  },
  {
   "name": "OciCloudAccount",
   "description": "Onboard OCI accounts"
  },
  {
   "name": "PlatformReports",
   "description": ""
  },
  {
   "name": "Regions",
   "description": ""
  },
  {
   "name": "Spectral",
   "description": ""
  },
  {
   "name": "RestrictedWorkloadClientModules",
   "description": ""
  },
  {
   "name": "WorkloadClientModules",
   "description": ""
  },
  {
   "name": "WorkloadTelemetry",
   "description": ""
  },
  {
   "name": "Integration",
   "description": "Integration"
  },
  {
   "name": "IntegrationInternal",
   "description": ""
  },
  {
   "name": "Notification",
   "description": "Notification"
  },
  {
   "name": "NotificationInternal",
   "description": ""
  },
  {
   "name": "AssetMetadataSyncNow",
   "description": ""
  },
  {
   "name": "BusinessPriorityModifier",
   "description": "Business Priority Rules"
  },
  {
   "name": "CustomRuleset",
   "description": "Risk Management Rulesets"
  },
  {
   "name": "Dspm",
   "description": "DSPM Controller"
  },
  {
   "name": "Exposure",
   "description": ""
  },
  {
   "name": "GroupRiskManagement",
   "description": "Groups Risk Management"
  },
  {
   "name": "RemediationActions",
   "description": "Remediation Actions"
  },
  {
   "name": "RiskModifiers",
   "description": "Risk Modifiers"
  },
  {
   "name": "SecurityEvents",
   "description": ""
  },
  {
   "name": "SimilarAssetGroups",
   "description": ""
  },
  {
   "name": "Waf",
   "description": "WAF Protection"
  },
  {
   "name": "AwsOrganizationManagement",
   "description": "AwsOrganizationManagement"
  },
  {
   "name": "AwsOrganizationManagementOnboarding",
   "description": "AwsOrganizationManagementOnboarding"
  },
  {
   "name": "AzureOrganizationManagement",
   "description": "AzureOrganizationManagement"
  },
  {
   "name": "GcpOrganizationManagement",
   "description": "GcpOrganizationManagement"
  },
  {
   "name": "OnboardingManagement",
   "description": "OnboardingManagement"
  },
  {
   "name": "InternalSBOM",
   "description": ""
  },
  {
   "name": "InternalVulnerabilityAccountStatsBatch",
   "description": ""
  },
  {
   "name": "InternalVulnerabilityCleanup",
   "description": ""
  },
  {
   "name": "InternalVulnerabilityPolicy",
   "description": ""
  },
  {
   "name": "InternalVulnerabilityScanResults",
   "description": ""
  },
  {
   "name": "SBOM",
   "description": ""
  },
  {
   "name": "SBOMExport",
   "description": "SBOM Export"
  },
  {
   "name": "Vulnerabilities",
   "description": "Vulnerabilities"
  },
  {
   "name": "VulnerabilityAssessment",
   "description": ""
  },
  {
   "name": "VulnerabilityExclusions",
   "description": "Vulnerability Exclusions"
  },
  {
   "name": "VulnerabilityPolicy",
   "description": "Vulnerability Policy"
  },
  {
   "name": "VulnerabilitySBOM",
   "description": ""
  },
  {
   "name": "CloudApplicationLoadBalancer",
   "description": ""
  },
  {
   "name": "CloudNetworkLoadBalancer",
   "description": ""
  },
  {
   "name": "GcpMachineImage",
   "description": ""
  },
  {
   "name": "OciCompartment",
   "description": ""
  },
  {
   "name": "AssetLabelsService",
   "description": ""
  },
  {
   "name": "AssetOpenFindings",
   "description": ""
  },
  {
   "name": "EntityTypes",
   "description": "The entity types endpoint allows you to get the supported entity types and the platform they're supported for."
  },
  {
   "name": "EvidencePath",
   "description": "The evidence path endpoint allows you to get the evidence path for a given findingId."
  },
  {
   "name": "Exclusions",
   "description": "The exclusion endpoint provides API to perform CRUD operations on the resource."
  },
  {
   "name": "IgnoreCves",
   "description": "The ignore CVEs endpoint provides API to perform CRUD operations on the resource."
  },
  {
   "name": "IgnoreMalwares",
   "description": "The ignore malwares endpoint provides API to perform CRUD operations on the resource."
  },
  {
   "name": "Rules",
   "description": "The rules endpoint provides APIs to get the security rules data"
  },
  {
   "name": "SecurityGraphIssues",
   "description": "API for issue enrichments"
  },
  {
   "name": "SecurityGraphQuery",
   "description": "The query endpoint provides APIs to run queries (rules) to preview possible issues."
  },
  {
   "name": "EntitySchema",
   "description": "The entity schema endpoint presents schema of toxic issues entities."
  },
  {
   "name": "SecurityIssues",
   "description": "The Findings endpoint provides APIs query the findings store which contains findings such as security issues. It provides APIs to get, search and group findings."
  },
  {
   "name": "AutomatedActions",
   "description": "The Automated Actions resource provides API to perform CRUD operations on the resource."
  }
 ],
 "components": {
  "schemas": {
   "Dome9.Web.Api.Account.AccountTrustAssumableRolesViewModel": {
    "type": "object",
    "properties": {
     "accountName": {
      "description": "The trsuted account name",
      "type": "string"
     },
     "accountId": {
      "format": "int64",
      "description": "The trsuted account Id",
      "type": "integer"
     },
     "roles": {
      "description": "List of roles that can be assumed by a user in the trusted account",
      "type": "array",
      "items": {
       "type": "string"
      }
     }
    }
   },
   "Dome9.Web.Api.Account.AccountTrustViewModel": {
    "required": [
     "sourceAccountId",
     "description"
    ],
    "type": "object",
    "properties": {
     "id": {
      "format": "uuid",
      "description": "Account trust id",
      "type": "string",
      "example": "00000000-0000-0000-0000-000000000000"
     },
     "targetAccountName": {
      "description": "The trusting account name",
      "type": "string"
     },
     "sourceAccountName": {
      "description": "The trsuted account name",
      "type": "string"
     },
     "sourceAccountId": {
      "format": "uuid",
      "description": "The Dome9 account id to trust",
      "type": "string",
      "example": "00000000-0000-0000-0000-000000000000"
     },
     "description": {
      "description": "Description for the trust (a way to document the justification of the trust)",
      "type": "string"
     },
     "restrictions": {
      "$ref": "#/components/schemas/Dome9.Web.Api.Account.AccountTrustRestrictionsViewModel"
     }
    }
   },
   "Dome9.Web.Api.Account.AccountTrustRestrictionsViewModel": {
    "type": "object",
    "properties": {
     "roles": {
      "description": "A list of role names that can be assumed by a user in the trusted account, leave empty to allow all roles to be assumed",
      "type": "array",
      "items": {
       "type": "string"
      }
     }
    }
   },
   "Dome9.Web.Api.Account.AccountTrustPostViewModel": {
    "required": [
     "sourceAccountId",
     "description"
    ],
    "type": "object",
    "properties": {
     "sourceAccountId": {
      "format": "uuid",
      "description": "The Dome9 account id to trust",
      "type": "string",
      "example": "00000000-0000-0000-0000-000000000000"
     },
     "description": {
      "description": "Description for the trust (a way to document the justification of the trust)",
      "type": "string"
     },
     "restrictions": {
      "$ref": "#/components/schemas/Dome9.Web.Api.Account.AccountTrustRestrictionsViewModel"
     }
    }
   },
   "Dome9.Web.Api.Account.AccountTrustPutViewModel": {
    "required": [
     "description"
    ],
    "type": "object",
    "properties": {
     "description": {
      "description": "A description for the account trust",
      "type": "string"
     },
     "restrictions": {
      "$ref": "#/components/schemas/Dome9.Web.Api.Account.AccountTrustRestrictionsViewModel",
      "description": "Restrictions configuration for the account trust"
     }
    }
   },
   "Falconetix.Model.RuleEngine.Entities.TagRuleEntity": {
    "type": "object",
    "properties": {
     "key": {
      "type": "string"
     },
     "value": {
      "type": "string"
     }
    }
   },
   "Dome9.Web.Api.Models.AuditEntryViewModel": {
    "type": "object",
    "properties": {
     "id": {
      "type": "object"
     },
     "cell": {
      "type": "array",
      "items": {
       "type": "object"
      }
     },
     "metadata": {
      "type": "object",
      "additionalProperties": {
       "type": "string"
      }
     }
    }
   },
   "Falconetix.Model.Audit.ApiAuditResult": {
    "type": "object",
    "properties": {
     "user_name": {
      "type": "string"
     },
     "request_url": {
      "type": "string"
     },
     "http_method": {
      "type": "string"
     },
     "http_status": {
      "type": "string"
     },
     "time": {
      "format": "date-time",
      "type": "string"
     },
     "request_body": {
      "type": "string"
     },
     "request_parameters": {
      "type": "string"
     },
     "event_name": {
      "type": "string"
     },
     "client_ip": {
      "type": "string"
     }
    }
   },
   "Falconetix.Model.Audit.SystemAuditResult": {
    "type": "object",
    "properties": {
     "description": {
      "type": "string"
     },
     "time": {
      "format": "date-time",
      "type": "string"
     },
     "event_name": {
      "type": "string"
     },
     "cloud_account_id": {
      "type": "string"
     }
    }
   },
   "Falconetix.Model.Audit.CountAuditResult": {
    "type": "object",
    "properties": {
     "count": {
      "format": "int32",
      "type": "integer"
     }
    }
   },
   "Dome9.Web.Api.Models.AuditViewModel": {
    "type": "object",
    "properties": {
     "total": {
      "format": "int32",
      "description": "the number of pages in the view",
      "type": "integer"
     },
     "page": {
      "format": "int32",
      "description": "the current page number",
      "type": "integer"
     },
     "records": {
      "format": "int64",
      "description": "the total number of records (events) in all the pages",
      "type": "integer"
     },
     "rows": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/Dome9.Web.Api.Models.AuditEntryViewModel"
      }
     }
    }
   },
   "Dome9.Web.Api.BillableAssets.AccountBillableAssetsViewModel": {
    "type": "object",
    "properties": {
     "accountId": {
      "format": "int64",
      "type": "integer"
     },
     "accountName": {
      "type": "string"
     },
     "purcahseOrderInstances": {
      "format": "int32",
      "type": "integer"
     },
     "cloudAccountsData": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/Dome9.Web.Api.BillableAssets.CloudAccountBillableAssetsViewModel"
      }
     },
     "totals": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/Falconetix.Model.BillableAssets.AccountAssetsTotalData"
      }
     },
     "grandTotals": {
      "$ref": "#/components/schemas/Falconetix.Model.BillableAssets.GrandTotalData"
     }
    }
   },
   "Dome9.Web.Api.BillableAssets.CloudAccountBillableAssetsViewModel": {
    "type": "object",
    "properties": {
     "cloudVendor": {
      "type": "string"
     },
     "cloudAccountId": {
      "format": "uuid",
      "type": "string",
      "example": "00000000-0000-0000-0000-000000000000"
     },
     "assetsCount": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/Dome9.Web.Api.BillableAssets.AssetsViewModel"
      }
     }
    }
   },
   "Falconetix.Model.BillableAssets.AccountAssetsTotalData": {
    "type": "object",
    "properties": {
     "vendor": {
      "type": "string"
     },
     "assetType": {
      "type": "string"
     },
     "totalCount": {
      "format": "int32",
      "type": "integer"
     },
     "totalBillable": {
      "format": "int32",
      "type": "integer"
     },
     "totalNonBillable": {
      "format": "int32",
      "type": "integer"
     },
     "totalOnLineCount": {
      "format": "int32",
      "type": "integer"
     }
    }
   },
   "Falconetix.Model.BillableAssets.GrandTotalData": {
    "type": "object",
    "properties": {
     "grandTotalCount": {
      "format": "int32",
      "type": "integer"
     },
     "grandTotalBillable": {
      "format": "int32",
      "type": "integer"
     },
     "grandTotalNonBillable": {
      "format": "int32",
      "type": "integer"
     },
     "grandTotalOnLineCount": {
      "format": "int32",
      "type": "integer"
     }
    }
   },
   "Dome9.Web.Api.BillableAssets.AssetsViewModel": {
    "type": "object",
    "properties": {
     "assetType": {
      "type": "string"
     },
     "totalCount": {
      "format": "int32",
      "type": "integer"
     },
     "billableCount": {
      "format": "int32",
      "type": "integer"
     },
     "nonBillableCount": {
      "format": "int32",
      "type": "integer"
     }
    }
   },
   "Falconetix.Model.CloudInfra.CloudInfraUserViewModel": {
    "type": "object",
    "properties": {
     "id": {
      "type": "string"
     },
     "email": {
      "format": "email",
      "description": "Email Address",
      "type": "string",
      "example": "MyName@gmail.com"
     },
     "name": {
      "type": "string"
     },
     "role": {
      "type": "string"
     },
     "phone": {
      "type": "string"
     },
     "lastLogin": {
      "format": "date-time",
      "type": "string"
     },
     "createdAt": {
      "format": "date-time",
      "type": "string"
     },
     "existInDome9": {
      "type": "boolean"
     }
    }
   },
   "Dome9.Web.Api.UserAndRole.CreateDome9CloudInfraUserRequestViewModel": {
    "type": "object",
    "properties": {
     "usersToCreate": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/Falconetix.Model.CloudInfra.CloudInfraUserViewModel"
      }
     },
     "roleIds": {
      "type": "array",
      "items": {
       "format": "int64",
       "type": "integer"
      }
     }
    }
   },
   "Dome9.Web.Api.UserAndRole.CreateDome9CloudInfraUserResponseViewModel": {
    "type": "object",
    "properties": {
     "failedRecords": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/Dome9.Web.Api.UserAndRole.CloudInfraUserCreationFailureResult"
      }
     },
     "totalFailedRecords": {
      "format": "int32",
      "type": "integer",
      "readOnly": true
     },
     "totalSuccessfulRecords": {
      "format": "int32",
      "type": "integer"
     }
    }
   },
   "Dome9.Web.Api.UserAndRole.CloudInfraUserCreationFailureResult": {
    "type": "object",
    "properties": {
     "user": {
      "$ref": "#/components/schemas/Falconetix.Model.CloudInfra.CloudInfraUserViewModel"
     },
     "errorMessage": {
      "type": "string"
     }
    }
   },
   "Dome9.Web.Api.Compliance.ContinuousCompliance.ContinuousComplianceNotificationGetViewModel": {
    "required": [
     "name"
    ],
    "type": "object",
    "properties": {
     "id": {
      "format": "uuid",
      "type": "string",
      "example": "00000000-0000-0000-0000-000000000000"
     },
     "name": {
      "maxLength": 100,
      "minLength": 0,
      "type": "string"
     },
     "description": {
      "maxLength": 500,
      "minLength": 0,
      "type": "string"
     },
     "alertsConsole": {
      "type": "boolean"
     },
     "scheduledReport": {
      "$ref": "#/components/schemas/Dome9.Web.Api.Compliance.ContinuousCompliance.ScheduledReportNotificationViewModel"
     },
     "changeDetection": {
      "$ref": "#/components/schemas/Dome9.Web.Api.Compliance.ContinuousCompliance.ChangeDetectionNotificationViewModel"
     },
     "gcpSecurityCommandCenterIntegration": {
      "$ref": "#/components/schemas/Dome9.Web.Api.Compliance.ContinuousCompliance.GcpSecurityCommandCenterIntegrationViewModel"
     },
     "filter": {
      "$ref": "#/components/schemas/Dome9.Web.Api.Compliance.ContinuousCompliance.ContinuousComplianceNotificationFilterViewModel"
     },
     "sendOnEachOccurrence": {
      "type": "boolean"
     }
    }
   },
   "Dome9.Web.Api.Compliance.ContinuousCompliance.ScheduledReportNotificationViewModel": {
    "type": "object",
    "properties": {
     "emailSendingState": {
      "format": "email",
      "description": "Email Address",
      "enum": [
       "Disabled",
       "Enabled"
      ],
      "type": "string",
      "example": "MyName@gmail.com"
     },
     "scheduleData": {
      "$ref": "#/components/schemas/Falconetix.Model.RuleEngine.Entities.ContinuousComplianceNotificationEntity.ReportScheduleData",
      "description": "Set or Get Notification schedule"
     }
    }
   },
   "Dome9.Web.Api.Compliance.ContinuousCompliance.ChangeDetectionNotificationViewModel": {
    "type": "object",
    "properties": {
     "emailSendingState": {
      "format": "email",
      "description": "Email Address",
      "enum": [
       "Disabled",
       "Enabled"
      ],
      "type": "string",
      "example": "MyName@gmail.com"
     },
     "emailPerFindingSendingState": {
      "format": "email",
      "description": "Email Address",
      "enum": [
       "Disabled",
       "Enabled"
      ],
      "type": "string",
      "example": "MyName@gmail.com"
     },
     "snsSendingState": {
      "enum": [
       "Disabled",
       "Enabled"
      ],
      "type": "string"
     },
     "externalTicketCreatingState": {
      "enum": [
       "Disabled",
       "Enabled"
      ],
      "type": "string"
     },
     "awsSecurityHubIntegrationState": {
      "enum": [
       "Disabled",
       "Enabled"
      ],
      "type": "string"
     },
     "azureSecurityCenterIntegrationState": {
      "enum": [
       "Disabled",
       "Enabled"
      ],
      "type": "string"
     },
     "webhookIntegrationState": {
      "enum": [
       "Disabled",
       "Enabled"
      ],
      "type": "string"
     },
     "slackIntegrationState": {
      "enum": [
       "Disabled",
       "Enabled"
      ],
      "type": "string"
     },
     "teamsIntegrationState": {
      "enum": [
       "Disabled",
       "Enabled"
      ],
      "type": "string"
     },
     "eventarcIntegrationState": {
      "enum": [
       "Disabled",
       "Enabled"
      ],
      "type": "string"
     },
     "emailData": {
      "$ref": "#/components/schemas/Falconetix.Model.RuleEngine.Entities.ContinuousComplianceNotificationEntity.EmailNotificationData"
     },
     "emailPerFindingData": {
      "$ref": "#/components/schemas/Falconetix.Model.RuleEngine.Entities.ContinuousComplianceNotificationEntity.EmailPerFindingNotificationData"
     },
     "snsData": {
      "$ref": "#/components/schemas/Dome9.Web.Api.Compliance.ContinuousCompliance.SnsDataNotificationViewModel"
     },
     "ticketingSystemData": {
      "$ref": "#/components/schemas/Dome9.Web.Api.Compliance.ContinuousCompliance.TicketingSystemNotificationDataViewModel"
     },
     "awsSecurityHubIntegration": {
      "$ref": "#/components/schemas/Dome9.Web.Api.Compliance.ContinuousCompliance.AwsSecurityHubIntegrationNotificationViewModel"
     },
     "azureSecurityCenterIntegration": {
      "$ref": "#/components/schemas/Dome9.Web.Api.Compliance.ContinuousCompliance.AzureSecurityCenterIntegrationNotificationViewModel"
     },
     "webhookData": {
      "$ref": "#/components/schemas/Dome9.Web.Api.Compliance.ContinuousCompliance.WebhookNotificationDataViewModel"
     },
     "slackData": {
      "$ref": "#/components/schemas/Dome9.Web.Api.Compliance.ContinuousCompliance.SlackNotificationDataViewModel"
     },
     "teamsData": {
      "$ref": "#/components/schemas/Dome9.Web.Api.Compliance.ContinuousCompliance.TeamsNotificationDataViewModel"
     },
     "eventarcData": {
      "$ref": "#/components/schemas/Dome9.Web.Api.Compliance.ContinuousCompliance.EventarcNotificationDataViewModel"
     }
    }
   },
   "Dome9.Web.Api.Compliance.ContinuousCompliance.GcpSecurityCommandCenterIntegrationViewModel": {
    "type": "object",
    "properties": {
     "state": {
      "enum": [
       "Disabled",
       "Enabled"
      ],
      "type": "string"
     },
     "projectId": {
      "type": "string"
     },
     "sourceId": {
      "type": "string"
     }
    }
   },
   "Dome9.Web.Api.Compliance.ContinuousCompliance.ContinuousComplianceNotificationFilterViewModel": {
    "type": "object",
    "properties": {
     "severities": {
      "type": "array",
      "items": {
       "enum": [
        "Informational",
        "Low",
        "Medium",
        "High",
        "Critical"
       ],
       "type": "string"
      }
     },
     "entityTypes": {
      "type": "array",
      "items": {
       "type": "string"
      }
     },
     "entityTags": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/Falconetix.Model.RuleEngine.Entities.TagRuleEntity"
      }
     },
     "entityNames": {
      "type": "array",
      "items": {
       "type": "string"
      }
     },
     "entityIds": {
      "type": "array",
      "items": {
       "type": "string"
      }
     }
    }
   },
   "Falconetix.Model.RuleEngine.Entities.ContinuousComplianceNotificationEntity.ReportScheduleData": {
    "required": [
     "cronExpression",
     "recipients"
    ],
    "type": "object",
    "properties": {
     "cronExpression": {
      "type": "string"
     },
     "type": {
      "enum": [
       "Detailed",
       "Summary",
       "FullCsv",
       "FullCsvZip",
       "ExecutivePlatform"
      ],
      "type": "string"
     },
     "isIntelligence": {
      "type": "boolean"
     },
     "recipients": {
      "type": "array",
      "items": {
       "type": "string"
      }
     }
    }
   },
   "Falconetix.Model.RuleEngine.Entities.ContinuousComplianceNotificationEntity.EmailNotificationData": {
    "required": [
     "recipients"
    ],
    "type": "object",
    "properties": {
     "recipients": {
      "type": "array",
      "items": {
       "type": "string"
[...]
