openapi: 3.1.0
info:
  title: Check Point CloudGuard CNAPP REST API
  description: |
    Best-effort OpenAPI 3.1 description of the Check Point CloudGuard CNAPP
    REST API (originally Dome9). The API is used to onboard cloud accounts,
    run posture assessments, manage compliance bundles, retrieve findings,
    and configure notifications and policies across AWS, Azure, GCP, Alibaba,
    Oracle, and Kubernetes environments. Authentication uses HTTP Basic with
    the CloudGuard API key id as username and API key secret as password.
  version: '2.0'
  contact:
    name: Check Point CloudGuard
    url: https://docs.cgn.portal.checkpoint.com/reference
servers:
  - url: https://api.dome9.com
    description: CloudGuard CNAPP API (Dome9 endpoint)
security:
  - basicAuth: []
paths:
  /v2/cloudaccounts:
    get:
      summary: List AWS cloud accounts
      operationId: listAwsCloudAccounts
      tags: [CloudAccounts]
      responses:
        '200': { description: List of AWS accounts }
    post:
      summary: Add an AWS cloud account
      operationId: addAwsCloudAccount
      tags: [CloudAccounts]
      responses:
        '201': { description: Account added }
  /v2/cloudaccounts/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    get:
      summary: Get cloud account details
      operationId: getCloudAccount
      tags: [CloudAccounts]
      responses:
        '200': { description: Account details }
    delete:
      summary: Delete a cloud account
      operationId: deleteCloudAccount
      tags: [CloudAccounts]
      responses:
        '204': { description: Account deleted }
  /v2/cloudaccounts/name:
    put:
      summary: Update cloud account name
      operationId: updateCloudAccountName
      tags: [CloudAccounts]
      responses:
        '200': { description: Updated }
  /v2/cloudaccounts/credentials:
    put:
      summary: Update cloud account credentials
      operationId: updateCloudAccountCredentials
      tags: [CloudAccounts]
      responses:
        '200': { description: Updated }
  /v2/compliance/finding/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    get:
      summary: Get a specific finding
      operationId: getFinding
      tags: [Findings]
      responses:
        '200': { description: Finding details }
  /v2/compliance/findings/search:
    post:
      summary: Search findings
      operationId: searchFindings
      tags: [Findings]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize: { type: integer }
                sorting: { type: object }
                filter: { type: object }
      responses:
        '200': { description: Search results }
  /v2/compliance/finding/{id}/acknowledge:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    put:
      summary: Acknowledge a finding
      operationId: acknowledgeFinding
      tags: [Findings]
      responses:
        '200': { description: Acknowledged }
  /v2/compliance/finding/{id}/archive:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    post:
      summary: Archive a finding
      operationId: archiveFinding
      tags: [Findings]
      responses:
        '200': { description: Archived }
  /v2/compliance/finding/bulkacknowledge:
    put:
      summary: Bulk acknowledge findings
      operationId: bulkAcknowledgeFindings
      tags: [Findings]
      responses:
        '200': { description: Acknowledged }
  /v2/compliance/finding/bundle/{bundleId}:
    parameters:
      - in: path
        name: bundleId
        required: true
        schema: { type: string }
    get:
      summary: Get findings for a compliance bundle / rule
      operationId: getBundleFindings
      tags: [Compliance]
      responses:
        '200': { description: Bundle findings }
  /v2/notification:
    post:
      summary: Create a notification policy
      operationId: createNotification
      tags: [Notifications]
      responses:
        '201': { description: Notification created }
    put:
      summary: Update a notification policy
      operationId: updateNotification
      tags: [Notifications]
      responses:
        '200': { description: Notification updated }
  /v2/notification/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    get:
      summary: Get notification policy
      operationId: getNotification
      tags: [Notifications]
      responses:
        '200': { description: Notification details }
  /v2/awssecuritygroup:
    get:
      summary: List AWS security group entities
      operationId: listAwsSecurityGroups
      tags: [Policies]
      responses:
        '200': { description: List of security groups }
    post:
      summary: Create AWS security group policy
      operationId: createAwsSecurityGroup
      tags: [Policies]
      responses:
        '201': { description: Security group created }
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: |
        CloudGuard authentication uses HTTP Basic with the CloudGuard API
        key id as the username and the API key secret as the password.
